.assetListing  {
    .cta-filter-item {
        .cta-filter {
            h4{
                font-family:$MattelCorpPrimaryFontBold;
            }
        }
    }
    &.corp-container {
        .container-fluid {
            @media #{$medium-up} {
               padding: 0;
            }
        }
    }
    .grid-filter{    
        .category-group {            
            li {         
                input[type=checkbox] + label:before {               
                   background: url(#{$spriteLightPath}) #fff no-repeat -194px -48px;              
                }
                input[type=radio] + label:before {                
                    background: url(#{$spriteLightPath}) transparent no-repeat -67px -48px;                
                }
                input[type=checkbox]:checked + label:before {                
                    background: url(#{$spriteLightPath}) #fff no-repeat -218px -48px;                
                }
                input[type=radio]:checked + label:before {
                    background: url(#{$spriteLightPath}) transparent no-repeat -90px -48px;
                }
            }
        }
    }
}
.asset-listing-container{
    .showMoreBtn, .showLessBtn{
        .btn-cta-item{
            font: 22px $MattelCorpPrimaryFontBold;
        }
    }
}