.interstitial-modal {
    background-color: rgba(0,0,0,0.5) !important;
    .modal-dialog {    
        max-width: 700px;    
        .modal-content {       
            padding: 60px 40px 0 40px;
            min-height: 300px;    
            max-width: 700px;
            @media #{$small-down} {
                padding: 52px 20px 0;
            }
            .modal-header {                
                .close {
                    width: 25px;
                    height: 25px;
                    background-image:url($spriteLightPath);
                    background-position: -239px -466px; 
                    top: 18px;
                    right: 18px;                
                }
            }
            h2 {
                font:700 32px $MattelCorpPrimaryFontBold;
                text-align: left;
                margin: 0 0 16px 0 !important;
                line-height: 32px;
                @media #{$small-down} {
                    font-size: 20px;
                    margin: 0 0 5px 0 !important;
                    line-height: 24px;
                }
            }
            .main-title {
                border-bottom: 2px solid $black;
                margin-bottom: 22px !important;
            }
            .sub-title {
                font:700 18px $MattelCorpPrimaryFontBold;
                line-height: 24px;
                margin-bottom: 12px !important;
                @media #{$small-down} {
                    margin-bottom: 8px !important;
                }
            }
            .text-para {
                margin-bottom: 24px !important;
                @media #{$small-down} {
                    margin-bottom: 16px  !important;
                }
                p{
                    margin-bottom: 0 !important;
                    text-align: left;
                }
            }
            .modal-body {
                .gallery-tile {
                    margin-bottom: 60px;
                    @media #{$small-down} {
                        margin-bottom: 20px;
                        display: inline-block;
                    }
                    ul {
                        padding-left: 0;
                    }
                    
                } 
            }
        }
    }
}

