.ctaItem  {
    .btn-cta-item {
        min-width: 130px;
        font-family: $MattelCorpPrimaryFontBold;
        @media #{$small-down} {
            font-size: 16px;            
        }
        &.cta-filter {
            @media #{$small-down} {
                margin-top: 20px;         
            }
        }
    }
    &.left-arrow-cta {
        .btn-cta-item {
            min-width: auto;
        }
    }
    &.text-arrow {
        .btn-cta-item {
            min-width: auto;
            white-space: initial;
            text-align: left;
            @media #{$small-down} {
                font-size: 22px;            
            }
            &:before{
                right: -13px;
                top: initial;
                bottom: 4px;
            }
        }
    }    
}
.showMoreBtn {
    .btn-cta-item {
        &:before {
            background-image: unset;
            width: 0;
            height: 0;
        }        
    }
}

.asset-listing-container {
    .showMoreBtn, .viewAllBtn {
        text-align: center;
    }
}
.solid {
    .btn-cta-item{
        &:focus{
            @media #{$small-down} {
                color: $white;
                background-color: $primaryTextColor;
                border-color: $primaryTextColor;
            }
            @media #{$md-only} {
                color: $white;
                background-color: $primaryTextColor;
                border-color: $primaryTextColor;
            }
        }
    }    
}
