.search-outer-wrapper {
        #newsHeaderGrid{
        margin-bottom: 40px;
        position: relative;
        @media #{$small-down} {
            margin-bottom: 20px;
            float: left;
            width: 100%;
            }
    }
    .search-title{
        font-size: 42px;
        display: inline-block;
        margin-bottom: 10px;
        @media #{$small-down} {
            font-size: 24px;
            margin-bottom: 8px;
        }
    }
    .title-divider {
        position: absolute;
        border-bottom: 2px solid #000000;
        bottom: 0;
        width: 100%;
    }
    .search-desc {
        border-top: 2px solid #000000;
        font-size: 18px;
        margin: 0;
        padding: 40px 0 0px 0;
        @media #{$small-down} {
            padding: 20px 0 0 0;
        }
        
    }
    .total-search{
        display: contents;
        background: transparent;
        padding: 0;
        font-size: 16px;
        @media #{$small-down} {
        padding: 0;
        display: block;
        margin-bottom: 4px;
        }
    }
    .search-result  {
        .individual-search {
         border-bottom: 0;
         min-height: 110px;
         padding: 0!important;
         margin-bottom: 30px;
         float: left;
         width: 100%;
         @media #{$small-up} {
            display: flex;
            align-items: center;
         }
        
         @media #{$small-down} {
            padding: 0px!important;
            min-height: auto;
            margin-bottom: 20px;
         }

         position: relative;
        .icon-img 
        {
            position: relative;
            width: 110px;
            height: 110px;
            left: 0;
            top:  0;
            flex:none;
          
            > img {
                width:100%;
            }
            @media #{$small-down} {
                width:50px;
                height: 50px;
                overflow: hidden;
                position: static;
                margin-bottom: 8px;
              }
         }

         .news-title {
             font-size:22px;
             margin-bottom: 8px;
             @media #{$small-up} {
                margin-left: 35px;
             }

             > a {
                text-decoration:none;
                 &:hover {
                     text-decoration: underline;
                 }
             }

             @media #{$small-down} {
                font-size:20px;
             }
          }
         .news-descrip{
            font-size:16px;
            @media #{$small-down} {
                line-height:24px;
            }
         }
      }
   }

     .cta-button {
      margin-bottom: 0;
      text-align: center;
      .btn-cta-item {
          @media #{$small-down} {
              padding:11px 55px 11px 55px;
          }
       }
    }
}