.reusability-email-preferences {
    padding-bottom: 40px;
    .email-preferences-component {
        .email-preferences-content-block {
            width: 100%;
            .btn-primary{
                @media #{$small-up} {
                    padding: 17px 49px 18px 50px;
                }
            }
            .opaque-area {
                opacity: 0.5;
            }
            p  {
                font-family: $MattelCorpPrimaryFontRoman;
            }
            h1,h2,h3,h4,h5, .label, .label .title {
                font-family: $MattelCorpPrimaryFontBold !important;
            }
            h2 {
               font-size: 36px;
               line-height: 42px;
               @media #{$small-down} {
                    font-size: 24px;
                    line-height: 28px;
                }
            }
            h1 {
                    border-bottom: 2px solid $black;
                    padding-bottom: 15px;
                    margin-bottom: 50px;
                    @media #{$small-down} {
                        margin-bottom: 20px;
                        padding-bottom: 8px;
                    }
            }
            h5 {
                @media #{$small-down} {
                    font-size: 16px;
                }
            }
            .title-block {
                padding: 0 0 21px;
                .label {
                    margin-bottom: 15px;
                    @media #{$small-down} {
                        margin-bottom: 10px;
                    }
                    .title {
                        margin-bottom: 12px;
                        @media #{$small-up} {
                            font-size: 18px;
                        }
                    }
                }
                p{
                    @media #{$small-up} {
                        font-size: 18px;
                    }
                }
            }
            .subscription-opt {
                padding: 0;
                ul li {
                    border-top: 1px solid #979797;
                    padding: 21px 0 0 0;
                    @media #{$small-down} {
                        padding: 14px 0 0 0;
                    }
                    p{
                        margin: 0 0 21px 0;
                            @media #{$small-up} {
                                font-size: 16px;
                            }
                            @media #{$small-down} {
                                margin: 0 0 14px 0;
                            }
                    }
                }
                .change-email-pref-opt {
                    margin-top: 12px;
                    @media #{$small-down} {
                        margin-top: 0;
                    }
                    ul li {  
                        border: none;                      
                        .mattelBrandsList{ 
                            margin-bottom: 30px;
                            @media #{$small-down} {
                                margin-bottom: 20px;
                            }
                            li {                
                                background-color: #EBEBEB;               
                                padding: 20px;
                                margin-bottom: 6px;
                                @media #{$small-down} {
                                    margin-bottom: 10px;
                                    padding: 11px;
                                }
                                &:last-child{
                                    margin-bottom: 0;
                                }
                                &:nth-child(odd) {
                                    margin-right: 40px;
                                    @media #{$lg-only} {
                                        margin-right: 4%;
                                    } 
                                }
                                &.check-active {
                                    background: #cccccc;
                                }
                                .emailpref-checkbox {
                                    padding-left: 33px !important;
                                    .checkval {
                                        font-family: $MattelCorpPrimaryFontBold;
                                        display:block;
                                        margin-bottom:5px;
                                        @media #{$small-up} {
                                            font-size: 18px;
                                        }
                                        @media #{$small-down} {
                                            margin-bottom:0;
                                        }
                                    }
                                    .checkmark {
                                        margin-top: -2px;
                                    }
                                }
                                
                            }
                        }
                    }
                }
                .emailpref-radio {
                    padding-left: 29px;
                    @media #{$small-down} {
                        padding-left: 25px;
                    }
                    .checkval {
                        padding-top: 3px;
                        display: block;
                        margin-bottom: 4px;
                        @media #{$small-up} {
                            font-size: 18px;
                        }
                        @media #{$small-down} {
                            padding-left: 4px;
                            margin-bottom: 0;
                        }
                    }
                    p{
                        @media #{$small-down} {
                            font-style: italic;
                            padding-left: 4px;
                        }
                    }
                }
            }      
            #update-btn {
                margin: 0 !important;
                min-width: 210px;
                border-radius: 25px !important;
                font-family: 'Helvetica Neue Bold', Arial, sans-serif;
                font-size: 22px;
                padding-bottom: 11px;
                background-color: $mattel-red;
                border: 2px solid $mattel-red;
                &:hover {
                    color: $mattel-red;
                    background-color: $white !important;
                }
                @media #{$small-down} {
                    padding-top: 13px;
                    padding-bottom: 9px;
                }
            }
        }       
    }
}