<sly data-sly-test="${wcmmode.edit}">${'Category Banner / Drawer' @i18n}</sly>

<sly data-sly-test="${properties.isExpandable == 'unchecked'}">
	<sly data-sly-test="${wcmmode.edit}"><p>${'image banner' @i18n}</p></sly>
    <div class="plp-banner-sec flex-element ${(properties.isShowMobileBanner == 'checked' && !wcmmode.edit) ? 'hidden-sm hidden-md hidden-lg' : ''}" data-analytics-text ="${properties.bannerContentAnalyticsText}" id="plpbanner" style="background-color: ${properties.bannerBackgroundColor @context='html'}; background-image: url(${properties.bannerBackgroundImage @context='html'});">
    	<sly data-sly-resource="${'staticBanner' @ resourceType='wcm/foundation/components/responsivegrid'}"/>
    </div>
</sly>
<sly data-sly-test="${properties.isExpandable == 'checked'}">
	<sly data-sly-test="${wcmmode.edit}"><p>${'expandable banner' @i18n}</p></sly>
	<sly data-sly-include="expandablebanner.html"/>
</sly>


<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
	<sly data-sly-call="${clientlib.js @ categories='ecomm.categoryBanner'}"/>
</sly>