<sly data-sly-test="${wcmmode.edit}">${'Reset Password Component' @i18n}</sly>
<div class="row">
    <div class="form-wrapper col-md-5 forgot-password-comp">
        <h2>${properties.resetPasswordTitle @context='html'}</h2>
        ${properties.description @context='html'}
        <form class="create-new-password-form" data-success="${properties.successPath @extension='html'}">
            <div class="input-field required">
                <input class="form-input long-input" type="text" name="validationCode" value=""
                       id="validate-code-field" maxlength="" aria-required="true"
                       aria-describedby="emailValidateField" />
                <label class="placeholder-label" for="validate-code-field">${properties.validationCode}</label>
                <div class="help-block form-message" id="emailValidateField"></div>
            </div>
            <div>
                <div class="input-field required">
                    <input class="form-input long-input" type="password" name="password" value=""
                           id="reg-password" maxlength="" aria-required="true"
                           aria-describedby="newPasswordField">
                    <label class="placeholder-label" for="reg-password">${properties.newPassword}</label>
                    <div class="help-block hint-message" id="newPasswordField">
                        <ul class="textAlignLeft">
                            ${properties.passwordDescriptionText @context='html'}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="input-field required">
                <input class="form-input long-input" type="password" name="verifyPassword"
                       value="" id="reg-verify-password" maxlength="" aria-required="true" aria-describedby="passwordVerifyField" />
                <label class="placeholder-label" for="reg-verify-password">${properties.verifyPassword}</label>
                <div class="help-block form-message" id="passwordVerifyField"></div>
            </div>
            <input class="theme-btn forgot-password-submit" type="submit" value="${properties.changePasswordButtonLabel}">
        </form>

    </div>
</div>
<sly
        data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='ecomm.forgotPassword'}" />
</sly>

