
// Goldana - Regular
@font-face {
    font-family: "Goldana";
    src:url(#{$fontPath}/Goldana/font.eot);
    src:url(#{$fontPath}/Goldana/font.eot?#iefix) format("embedded-opentype"),
        url(#{$fontPath}/Goldana/font.ttf) format("truetype"),
        url(#{$fontPath}/Goldana/font.svg) format("svg"),
        url(#{$fontPath}/Goldana/font.woff) format("woff"),
        url(#{$fontPath}/Goldana/font.woff2) format("woff2");
    font-weight:$fontRegular;
    font-style: normal;
}
// Franklin-Gothic - Regular
@font-face {
    font-family: "Franklin-Gothic";
    src:url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Bk/font.eot);
    src:url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Bk/font.eot?#iefix) format("embedded-opentype"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Bk/font.ttf) format("truetype"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Bk/font.svg) format("svg"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Bk/font.woff) format("woff"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Bk/font.woff2) format("woff2");
    font-weight:$fontRegular;
    font-style: normal;
}

// Franklin-Gothic - Regular - Italic
@font-face {
    font-family: "Franklin-Gothic";
    src:url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-BkIt/font.eot);
    src:url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-BkIt/font.eot?#iefix) format("embedded-opentype"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-BkIt/font.ttf) format("truetype"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-BkIt/font.svg) format("svg"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-BkIt/font.woff) format("woff"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-BkIt/font.woff2) format("woff2");
    font-weight:$fontRegular;
    font-style: italic;
}

// Franklin-Gothic - Medium
@font-face {
    font-family: "Franklin-Gothic";
    src:url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Md/font.eot);
    src:url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Md/font.eot?#iefix) format("embedded-opentype"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Md/font.ttf) format("truetype"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Md/font.svg) format("svg"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Md/font.woff) format("woff"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-Md/font.woff2) format("woff2");
    font-weight:$fontMedium;
    font-style: normal;
}
// Franklin-Gothic - Medium - Italic
@font-face {
    font-family: "Franklin-Gothic";
    src:url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-MdIt/font.eot);
    src:url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-MdIt/font.eot?#iefix) format("embedded-opentype"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-MdIt/font.ttf) format("truetype"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-MdIt/font.svg) format("svg"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-MdIt/font.woff) format("woff"),
        url(#{$fontPath}/ITCFranklinGothic/FranklinGothicLTPro-MdIt/font.woff2) format("woff2");
    font-weight:$fontMedium;
    font-style: italic;
}

// Knapford - Light
@font-face {
    font-family: "Knapford";
    src:url(#{$fontPath}/Knapford/Knapford-Light.eot);
    src:url(#{$fontPath}/Knapford/Knapford-Light.eot?#iefix) format("embedded-opentype"),
        url(#{$fontPath}/Knapford/Knapford-Light.ttf) format("truetype"),
        url(#{$fontPath}/Knapford/Knapford-Light.svg) format("svg"),
        url(#{$fontPath}/Knapford/Knapford-Light.woff) format("woff"),
        url(#{$fontPath}/Knapford/Knapford-Light.woff2) format("woff2");
    font-weight:$fontLight;
    font-style: normal;
}

// Knapford - Regular
@font-face {
    font-family: "Knapford";
    src:url(#{$fontPath}/Knapford/Knapford-Regular.eot);
    src:url(#{$fontPath}/Knapford/Knapford-Regular.eot?#iefix) format("embedded-opentype"),
        url(#{$fontPath}/Knapford/Knapford-Regular.ttf) format("truetype"),
        url(#{$fontPath}/Knapford/Knapford-Regular.svg) format("svg"),
        url(#{$fontPath}/Knapford/Knapford-Regular.woff) format("woff"),
        url(#{$fontPath}/Knapford/Knapford-Regular.woff2) format("woff2");
    font-weight:$fontRegular;
    font-style: normal;
}

// Knapford - Bold
@font-face {
    font-family: "Knapford";
    src:url(#{$fontPath}/Knapford/Knapford-Bold.eot);
    src:url(#{$fontPath}/Knapford/Knapford-Bold.eot?#iefix) format("embedded-opentype"),
        url(#{$fontPath}/Knapford/Knapford-Bold.ttf) format("truetype"),
        url(#{$fontPath}/Knapford/Knapford-Bold.svg) format("svg"),
        url(#{$fontPath}/Knapford/Knapford-Bold.woff) format("woff"),
        url(#{$fontPath}/Knapford/Knapford-Bold.woff2) format("woff2");
    font-weight:$fontBold;
    font-style: normal;
}
.font-franklin{
    font-family: 'Franklin-Gothic',sans-serif;
}
.font-franklin-r {
    @extend .font-franklin;
    font-weight: $fontRegular;
}
.font-franklin-r-i {
    @extend .font-franklin-r;
    font-style: italic;
}
.font-franklin-m {
    @extend .font-franklin;
    font-weight: $fontMedium;
}
.font-franklin-m-i {
    @extend .font-franklin-m;
    font-style: italic;
}
.font-goldana{
    font-family: 'Goldana',sans-serif;
}
.font-goldana-r{
    @extend .font-goldana;
    font-weight: $fontRegular;
}
.font-knapford{
    font-family: 'Knapford',sans-serif;
}
.font-knapford-l{
    @extend .font-knapford;
    font-weight: $fontLight;
}
.font-knapford-r{
    @extend .font-knapford;
    font-weight: $fontRegular;
}
.font-knapford-b{
    @extend .font-knapford;
    font-weight: $fontBold;
}