.title.aem-GridColumn{
    .play-page-title{
        padding: 0;
        &>div{
            @extend .container;
            float: none;
            padding: 15px;
            margin-top: 1.5rem;
            @media #{$small-up}{
                margin-top: 2rem;
            }
            @media #{$small-down}{
                padding:.9375rem 1.25rem;
            }
        }
        h1{
           @extend .tf-heading-without-bgnd;
            &:empty{
                display: none;
            }
        }
        p{
            @extend .body-tag;
        }
        .btn-view-all{
            @extend .tf-btn;
        }
    }
}
.title-block{
    h2{
        @extend .tf-heading-without-bgnd;
        font-size: 1.125rem;
        margin-bottom: 0;
        @media #{$small-up}{
            font-size: 1.375rem;
        }
        &:empty{
            display: none;
        }
    }
    p{
        @extend .tf-description;
    }
}
#other-characters,
#title-with-bg{
    .play-page-title>div{
        margin-top: 0;
        padding: 0;
    }
    h1{
        @extend .tf-heading;
        @media #{$small-down}{
            margin-top: 1.875rem;
            margin-bottom: 1rem;
        }
        &:empty{
            display: none;
        }
    }
}