
h1,
.h1-tag{
    @extend .font-knapford;
    color: $black;
    margin: 0;
    font-weight: $fontBold;
    font-size: 1.5rem;
    line-height:1.75rem;
    @media #{$small-up}{
        font-size: 3rem;
        line-height:3.25rem;
    }
}
h2,
.h2-tag{
    @extend .font-goldana-r;
    color: $black;
    margin: 0;
    font-size: 1.875rem;
    line-height:1.625rem;
    @media #{$small-up}{
        font-size: 3rem;
        line-height:3.125rem;
    }
}
h3,
.h3-tag{
    @extend .font-knapford;
    color: $black;
    margin: 0;
    font-weight: $fontBold;
    font-size: 1.375rem;
    line-height:1.625rem;
    @media #{$small-up}{
        font-size: 1.875rem;
        line-height:2.125rem;
    }
}
h4,
.h4-tag{
    @extend .font-knapford;
    color: $black;
    margin: 0;
    font-weight: $fontBold;
    font-size: 1.125rem;
    line-height:1.375rem;
    @media #{$small-up}{
        font-size: 1.375rem;
        line-height:1.625rem;
    }
}
h5,
.h5-tag{
    @extend .font-knapford;
    color: $black;
    margin: 0;
    font-weight: $fontRegular;
    font-size: 1.125rem;
    line-height:1.25rem;
    @media #{$small-up}{
        font-size: 1.125rem;
    }
}
h6,
.h6-tag{
    @extend .font-knapford;
    color: $black;
    margin: 0;
    font-weight: $fontRegular;
    font-size: 1rem;
    line-height:1.125rem;
    @media #{$small-up}{
        font-size: 1rem;
    }
}
p,
.body-tag{
    @extend .font-franklin-r;
    font-size: .875rem;
    color: $black;
    line-height:1.125rem;
    @media #{$small-up}{
        font-size: 1rem;
        line-height:1.25rem;
    }
    @media #{$medium-up} {
        font-size: 1.125rem;
        line-height:1.5rem;
    }
}