<sly data-sly-test="${wcmmode.edit}">${'Carousel Component' @i18n}</sly>
<div class="cda-banner enable-carousel" data-slide-show="1" data-slide-scroll="1" data-dots="${properties.showpagination}" data-autoplay="true" data-arrows="${properties.showArrow}" style="background-color: ${properties.backgroundColor @context='html'}; background-image: url(${properties.backgroundImage @context='html'});">
	<div class="crm-container">
		<ul class="carousel-slides">
			<sly data-sly-use.multiItems="com.mattel.global.core.model.CarouselModel">
				<sly data-sly-list.carousel="${multiItems.carouselItemsList}">
					<li>
						<img src="${carousel.image}" alt="${carousel.imageAlttext}">
                            <div class="banner-copy ${carousel.textBackground ? 'white-bgnd' : ''}  ${carousel.textPositioning} text-sm-center" data-sly-test="${(carousel.overlayHeading || carousel.overlaySubHeading) && (carousel.heading || carousel.subHeading )}">
								<sly data-sly-test="${carousel.overlayHeading}"> ${carousel.heading @context='html'}</sly>
								<sly data-sly-test="${carousel.overlaySubHeading}"> ${carousel.subHeading @context='html'}</sly>
								
								 <sly data-sly-test="${carousel.ctaLabel && carousel.ctaPositioning == carousel.textPositioning}">
								<sly data-sly-test="${carousel.ctaRenderoption =='sameWindow'}">
									<a href="${carousel.external ? carousel.ctaLink : carousel.ctaLink @extension='html'}" alt="${carousel.ctaAltText}" class="${carousel.ctaStyling}" data-tracking-id="Click-Event|carousel|${carousel.ctaAltText}">${carousel.ctaLabel}
										<span class="right-arrow">&gt;</span>
									</a>
								</sly>
								<sly data-sly-test="${carousel.ctaRenderoption =='tabWindow'}">
									<a href="${carousel.external ? carousel.ctaLink : carousel.ctaLink @extension='html'}"  target="_blank" alt="${carousel.ctaAltText}" class="${carousel.ctaStyling}" data-tracking-id="Click-Event|carousel|${carousel.ctaAltText}">${carousel.ctaLabel}
										<span class="right-arrow">&gt;</span>
									</a>
								</sly>
								<sly data-sly-test="${carousel.ctaRenderoption =='newWindow'}">
									<a data-ctaLink="${carousel.external ? carousel.ctaLink : carousel.ctaLink @extension='html'}" style="cursor:pointer;" alt="${carousel.ctaAltText}" class="${carousel.ctaStyling}"  onclick="window.open(this.dataset.ctaLink,'AG','width=500, height=500');" data-tracking-id="Click-Event|carousel|${carousel.ctaAltText}">${carousel.ctaLabel @i18n}
										<span class="right-arrow">&gt;</span>
									</a>
								</sly>
							</sly>
							
							</div>

							  <sly data-sly-test="${carousel.ctaLabel && carousel.ctaPositioning != carousel.textPositioning}">
                              <div class="banner-btn ${carousel.ctaPositioning}">
								<sly data-sly-test="${carousel.ctaRenderoption =='sameWindow'}">
									<a href="${carousel.external ? carousel.ctaLink : carousel.ctaLink @extension='html'}" alt="${carousel.ctaAltText}" class="${carousel.ctaStyling}" data-tracking-id="Click-Event|carousel|${carousel.ctaAltText}">${carousel.ctaLabel}
										<span class="right-arrow">&gt;</span>
									</a>
								</sly>
								<sly data-sly-test="${carousel.ctaRenderoption =='tabWindow'}">
									<a href="${carousel.external ? carousel.ctaLink : carousel.ctaLink @extension='html'}"  target="_blank" alt="${carousel.ctaAltText}" class="${carousel.ctaStyling}" data-tracking-id="Click-Event|carousel|${carousel.ctaAltText}">${carousel.ctaLabel}
										<span class="right-arrow">&gt;</span>
									</a>
								</sly>
								<sly data-sly-test="${carousel.ctaRenderoption =='newWindow'}">
									<a data-ctaLink="${carousel.external ? carousel.ctaLink : carousel.ctaLink @extension='html'}" style="cursor:pointer;" alt="${carousel.ctaAltText}" class="${carousel.ctaStyling}"  onclick="window.open(this.dataset.ctaLink,'AG','width=500, height=500');" data-tracking-id="Click-Event|carousel|${carousel.ctaAltText}">${carousel.ctaLabel @i18n}
										<span class="right-arrow">&gt;</span>
									</a>
								</sly>
							</div>
							</sly>
						</li>
					</sly>
				</sly>
			</ul>
		</div>
	</div>
	<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
	<sly data-sly-call="${clientlib.js @ categories='crm.carousel'}"></sly>