$cdabanner:(main:(pos: relative,
        bgnd: #FF4136,
        isMobileDesignForiPadPortrait: true,
        isNoArrowCarousel:true),
    carouselSlides: (paddingBottom: 0,
        borderBottom: null,
        tabpaddingBottom: 0,
        tabborderBottom: none),
    promoCarousel: (maxWidth: 100%,
        marginBottom:40px),

    carouselslidesList: (pos: relative,
        margin: 0 em(7),
        flexTab: flex,
        flexDirTab: column-reverse,
        flexWrapTab: wrap,
        widthTab: 100%,
    ),

    bannerCopy:(pad: em(25),
        width: 100%,
        wordBreak: break-word,
        txtAlign: left,
        tabWidth: 42%,
        tabpadding: em(40) em(40) em(40) em(40),
        tabpos: relative,
        tabposTop: 0,
        tabposLeft: 0,
        tabposRight: 0,
        tabposBottom: 0,
        tabtxtAlign: left,
        bgnd: transparent,
        tabBgnd: #fff,
        moduledestxtColor: $white,
        tabModuledestxtColor: $black,
        mobModuledestxtColor: $black,
        mobPadding: em(40) em(26),
        moduledestxtfontSize: 21px,
        moduledestxtLineHeight: 26px,

    ),

    bannercopyH2: (margin: 0),

    cdabannerImage: (display: block,
        margin: 0,
        maxWidth: 100%,
        maxWidthTab:100%,
        maxWidthMob:100%,
        maxWidthTabLs:100%,
        maxHeight: 12rem),

    playcontainerslickPrev: (marginLeft: 21px),

    playcontainerslickNext: (marginRight: 21px),

    playcontainerslickprevNext: (bgnd:rgba(216, 216, 216, 0.5) !important,
        borderRadius: 50%,
        fntFamily: 'Font Awesome' !important,
        pad: 0,
        txtColor: $white,
        fntSize: 30px,
        beforeBgnd: none,
        tabposTop: 24%,
        desktopPosTop: 50%,
        mobPosTop: 13%,
        tabDisplay: none !important,
        buttonWidth: 66px,
        buttonHeight: 66px,
        buttonMobileWidth: 48px,
        buttonMobileHeight: 48px,
        //buttonOpacity: 0.5,
    ),

    slicknextBefore: (nextContent: "\f054",
        marginLeft: 5px,
        opacity: 1),

    slickprevBefore: (prevContent: "\f053",
        marginRight: 5px,
        opacity: 1),

    slickdotsActive: (bgnd: $white, //$slick-dots-active-btn-bg
        btnOpacity: 0.75,
    ),

    slickdotsButton: (bgndColor: #ffffff,
        width: em(20),
        height: em(20),
        opacity: 0.5,
        tabbgndColor: #D8D8D8,
        tabbgndColorActive: #E33824,
        circleBorder:1px solid #ffffff,
        mobileWidth: em(14),
        mobileHeight: em(14),
        mobileOpacity: 1,
    ),


    bannercopySpan:(bgndColor: null,
        borderColor: null, //em(3) solid $banner-border,
        txtColor: null, //$banner-txt,
        fntSize: null, //em(19),
        hoverBgnd: null, //$banner-border !important,
        hoverborderColor: null, //em(3) solid $banner-bg,
        display: inline-block,
        margin: 1.5rem 0 0,
        background: none,
        padding0: 0,
        textDecoration: underline,
        displayNone: none !important,
        textTransform: uppercase,
        fontFamily: 'MattelFounders',
        fontColor: $black !important,
        learnMoreMargin: 10px 0 0 0,
        widthTab: 100%,
    ),

    bannercopymoduleDesc: (txtColor: $white,
        isDefaultDesFont: true,
        fntFamily: 'MattelFounders',
        fntWeight: 300,
        fntSize: 30px,
        letterSpacing: 0,
        margin: .5em 0 em(16) 0,
        tabtxtColor: $white,
        lineHeight: 36px,
        fntSizeMob: $black,
    ),

    bannercopymoduleSpan: (display: block,
        txtColor: $module-txt,
        fntFamily: 'MattelFounders',
        fntWeight: 'Bold',
        fntSsize: inherit,
        tabtxtColor: $white !important,
        widthMob: 100%,
    ),

    bannercopymoduleTitle:(txtColor: $white,
        tabTxtColor: $white,
        mobTxtColor: #FF5100,
        maxWidth: 47vw,
        fntSize: em(72),
        fntWeight:$fontMedium,
        mobfntSize: em(40),
        tabFontSize: em(40),
    ),

    bannercopyPos:(posTransform: none,
        posTop: auto,
        posLeft: auto),

    bannercopypostopLeft:(posLeft: 7%,
        posTop: 8%),

    bannercopypostopRight:(posRight: 7%,
        posTop: 8%),


    bannercopyposbottomLeft:(posLeft: 7%,
        posBottom: 8%),

    bannercopyposbottomRight:(posRight: 7%,
        posBottom: 8%,
    ),

    bannercopyposmiddleLeft:(mattelComBanner: true,
        //posLeft: 5.5%,
        posTop: 50%,
        tabFontSize:84%,
        tabWidth:47%,
        transform: translateY(-50%),
        ipadtransform: none,
        ipadBorderBottom: 10px solid $mattelCom-yellow,
        textDecoration: underline,
    ),

    bannercopyposmiddleRight:(posRight: 5.5%,
        posTop: 50%,
        tabFontSize:84%,
        tabWidth:47%,
        transform: translateY(-50%),
        ipadtransform: none,
        headingFontSize: 48px !important,
        headingFontSizeDes: 24px !important,
        headingLineHeight: 30px !important,
        titleFontSizeTab: 30px !important,
        titleColorTab: #5C4388 !important,
        desFontSizeTab: 20px !important,
        textDecoration: none,
    ),

    bannercopypostopCenter:(mobposLeft: 5.686274509803922%,
        mobposTop: 50%,
        mobposTransform : translateY(-50%)),
    bannercopyposbottomCenter:(mobposLeft: 50%,
        mobposBottom: 8%,
        mobposTransform: translateX(-50%)),
    bannercopyposVcenter:(mobposLeft: 50%,
        mobposTop: 50%,
        mobposTransform: translateX(-50%) translateY(-50%),
    ),
    bannercopyBg:(mobBgnd: transparent),
    bannercopymodTitle:(mobMargin: 0,
        fntSize: 1.8em,
        mobfntSize: 1.5em,
        tabfntSize: 2em),
    bannercopymodSubtitle:(mobfntSize: 1.3em,
        tabfntSize: em(22),
        mobtxtAlign: center),
    carouselCTA: (ctaBgColor: $mattelCom-yellow,
        ctaTxtColor: $black,
        ctaFontFamily: 'MattelFounders',
        ctaFontSize: em(22),
        ctaTxtTransform: uppercase,
        ctaPadding: 15px 48px,
    ),
    heroimageBanner:(txtAlign: center),
    heroimageCrm:(display: inline-block,
        pos: relative,
        txtAlign: left),
    slickDots: (bottomBtn: 22px,
        margin: 0 12px !important,
        marginMobile: 0 4px !important,
    ),
    brandsBtn: (btnBackground: none !important,
        btnPadding: inherit !important,
        btnColor: #fff !important,
        btnFontWeight: 400 !important,
        btnFontSize: 20px !important,
        hoverColor: #fff,
        hoverUnderline: underline !important,
    ),
);