$imagetextcomponent:(imagetextTitle:(pad: 0,
    display: block,
    float:none,
    width: 100%,
    titlePadding: em(25),
    position:relative,
    z-index: 1),

  imagetextContainer: (margin: 0,
    pad: 0, //em(55) em(40) em(40),
    tabPad: null,
    mobPad: 0, //em(30) em(15),
    width: 100%,
    bgndDetail: none),
  imageBlock: (marginTop: -45px,
    mobMarginTop:0),
  imageBlockImg: (),
  imagetextblock: (pad: em(17) 0 em(21),
    tabPad: 49px 0 0 0,
    mobPad: 20px 0),
  fpemailBtn:(BgCol:$fp-blue,
    pad:0.85em 1.74em,
    borderRadius:0,
    fontSize:em(14),
    fontFamily: 'MattelFounders',
    letterSpacing: 1.29px,
    emailBtnMargin: 8px 0 20px 0,
  ),
  imagetextblockH2: (txtColor: $black,
    smalltxtColor: $black,
    margin:0,
    fntSize: em(16),
    tabFontSize: em(16),
    mobFontSize: em(16),
  ),

  imagetextblockP: (txtColor: $black,
    fntFamily: "MattelFounders",
    fntSize: em(14),
    fntWeight: 400,
    tabFontSize: em(14),
    mobFontSize: em(14),
    lineHeight:22px,
    marginTop:0,
    margin:0,
    padDesk:em(7) 0 em(19.5),
    SignUpmargin: em(3) 0 em(10) 0),

  imagetextblockLink: (txtColor: $violet,
    txtDecoration: underline),

  imagetextCta: (txtAlignLeft: left,
    txtAlignRight : right,
    txtAlignCenter: center,
    tabtxtAlign: center),

  textcomp: (margin:0 !important),
  emailP:(emailPMarginTop:0,
    emailPMarginBot:0,
    emailPpadding:em(7) em(0) em(19.5),
  ),
  textComponent: (isFisherPriceNav:true,
    padd: em(23.8) em(40),
    bgColor: #f7f7f7,
    fontSize: em(12),
    color: #000,
    textAlign: center,
    fntFamily: "MattelFounders",
    divPadding: 0,
    margin: 0,
    borderTop: 1px solid #E6E7E8,
    borderBottom: 1px solid #E6E7E8,
    lineHeight: 18px),
  recallcomponent: (textAlign: center,
    bgColor: #E6E7E8,
    mobpadding:em(11),
    padding: 8px,
    inlineBlock: inline-block,
    borderTop: 1px solid #BFBFBF,
    mobborderTop: none,
    marginTop: 0,
    tabmarginTop: 0,
    marginBottom: 0,
    tabmarginBottom: 0),
  recallcomponentMob:(btnBorder: none,
    btnFont: 23px,
    btnPos: absolute,
    btnRight: 5px,
    btnTop: 10px,
    btnBG: transparent,
    btnLine: 20px,
    btnHeight: 20px,
    btnFontFamily: 'Font Awesome',
    btnColor: #1a70d3,
    divNone:none,
    marginTop: 5px,
    divBlock:block,
    //Arrow
    arrowDown: '\f106',
    arrowUp:'\f107',
  ),
  recallAlert: (color: #C92228,
    fontFamily: "MattelFounders",
    fontSize: em(14),
    fontWeight: 700,
    letterSpacing: 0.2px,
    lineHeight: 18px,
    mobdisplay: block,
    mobcolor:#C92228,
    mobfontWeight:900,
    mobfontSize:em(14),
  ),
  recallAlertTxt: (color: #444344,
    fontFamily: "MattelFounders",
    fontSize: em(14),
    lineHeight: 19px,
    linkColor: rgb(255, 0, 0)),
  recallLink: (color: #444344,
    fontFamily: "MattelFounders",
    fontSize: em(14),
    fontWeight: 400,
    lineHeight: 19px,
    textDecoration: underline,
    mobtextDecoration: none,
    cursor: pointer,
    mobfontWeight: 700,
    mobfontFamily: "MattelFounders"
  ),
  titleDesc:(textAlign: center,
    Pad : em(41) 0,
    BgColor: #f7f7f7,
    TextColor: #000000,
    //Mobile view
    padTab:em(15),
    padMobile:em(28) em(32) em(28) em(20),
    mobileTextAlign: left,
  ),
  titleSeo:(textAlignSpan:center,
    padding:em(41) em(219),
    padTab: em(20) em(40),
    padMobile: em(20),
    textAlign:justify,
    titleWidth: 100%,
    fontFamily: 'MattelFounders',
    lineHeight: 22px,
    textAlignSpanMOB: left,
  ),
  titleText:(Disp: block,
    fontSize: em(16),
    fontWeight: bold,
    lineHght: em(22),
    marBot: em(6),
  ),

  TitlePrgh:(titleWidth: auto, //em(1024),
    titleMar: 0,
    titleDisplay: inline-block,
    titleFamily: "MattelFounders",
    titleFontSize: em(14),
    lineHeight:em(22),
    textAlign: justify,
    textWeight: normal,
    //Mobile view
    tabWith:88%,
    mobWidth:100%,
    mobileTextAlign: left,
  ),
  downloadImgText: (marginBottom: 30px),
  downloadImgTextH: (color: $black,
    fontFamily: "MattelFounders",
    fontSize: em(16),
    fontWeight: 700,
    lineHeight: em(22),
  ),
  downloadImgTextLiA: (color: $black,
    fontFamily: "MattelFounders",
    fontSize: em(14),
    fontWeight: 700,
    lineHeight: em(22),
    textDecoration: underline),
  downloadImgTextLi: (marginBottom: 10px),
  downloadImgTextLiSpan: (color: #444344,
    fontFamily: "MattelFounders",
    fontSize: em(14),
    fontWeight: 400,
    lineHeight: em(22),
    marginLeft: 15px,
    mobdisplay: block,
    mobmarginLeft: 32px),
  downloadImgTextLiBefore: (content: "\f15c",
    fontFamily: 'Font Awesome',
    fontSize: em(24),
    color: #0078c8,
    marginRight: 10px),
  imageWidthVideo: (ooPlayerBg: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.4) 100%)),
  textStrong: (fontFamily: "MattelFounders",
    fontWeight: 700),
  leftText: (leftTextBorder: 0,
    leftTextBackground: #fff,
    leftTextFontSize: 18px,
    leftTextPadBottom: 0,
    leftTextFontWeight: $fontLight,
    leftTextPaddingTopMob: 0,
    leftTextPaddingTab: 30px 125px 0px 125px,
    leftTextHeadingMob: 40px,
    leftTextLineHeightMob: 40px,
    leftTextFontSizeMob: 0 0 20px 0,
    headingFontSize: 72px,
    headingTextAlign: left,
    headingMargin: 0 0 10px 0,
    headingLineHeight: 90px,
    desTextAlign: left,
    desMargin: 0 0 0 0,
    desFontSizeMob: 18px,
    desLineHeightMob: 24px,
    fontWeightMob: $fontLight,
  ),

);