$richText:(main: (overflow: hidden,
		padding: 2px 8%,
		marBottom: 20px,
		fontSize: 18px,
		fontWeight: $fontLight,
		width : 100%,
		widthTab:100%,
		textAlignTab:left,
		paddingMob: 20px,
		widthMob: 100%,
	),
	richTxtP:(Pdisplay: block,
		POverflow: hidden,
		PMargin: 0,
		ImgDisplay: right,
		width: 70%,
		widthTab: 100%,
		leftMargin: 110px,
		leftMarginTab: 0,
	),
	richTxtHeading: (HeadingMargin: 0,
		HeadingPadding: 0,
		HeadingFontSize: 48px,
		HeadingFontSizeTab : 30px,
		HeadingLineHeight: 78px,
		HeadingLineHeightTab: 34px,
		HeadingColor: $violet,
		leftMargin: 110px,
		marginTab: 20px 0 15px 0px,
		leftMarginTab: 0,
		marginMob: 0 0 15px 0,
	),
);