/* MattelCom */

/* component bg image */
$game-gallery-bg: '';
$product-gallery-bg-path:'';
$img-txt-bg-path : '';
$header-bg-path : '';
$game-bg-path:$product-gallery-bg-path;
$accordion-bg:'';

/*FisherPrice images - $brandImgPath - in layout*/
$brandImgPath: '/content/dam/mattel/fisher-price/play-site';
$brandImgPathBg: '/content/dam/mattel/fisher-price/play-site/page-intro-images';
//$brandImgPath: '../img/fisherprice';

$babyVideoPageBbg:url('#{$brandImgPath}/FP-Kids_patt_Baby.jpg');
$babymobilevideoPagebg:url('#{$brandImgPath}/FP-Kids_patt_Baby.jpg');
$blueGradient:#0078c8 url('#{$brandImgPathBg}/FP-Kids_pageTitle_top_gradient.png');

$primaryColor: #0078C8;
$secondaryColor: #FBD635;
$violet: #5C2D91;

/* component colors */
$site-color-1:$primaryColor;
$site-color-2:$pink;
$site-color-3:$white;
$site-color-4:$black;
$site-color-5:$darkGrey;
$site-color-6:$dark-pink;
$site-color-7:$icegreen;
$site-color-8:$aqua-green;
$site-color-9:$white-shade;
$site-color-10:$indigo;
$site-color-11:$green;

//nav-links
$mob-nav-bg : $white;
$mob-nav-link-color : $primaryColor;
$nav-link-color : $primaryColor;
$sub-nav-link-bg: $white;

//global header
$global-header-bg:$site-color-3;
$global-header-anchor: $site-color-8;
$dropdown-menu-bg: $site-color-3;
$dropdown-bg:$site-color-9;
$hamburger-btn-color:$site-color-1;


//title & Sub-title
$page-title :$white;
$page-sub-title : $site-color-2;

$gallery-title-bg:$site-color-3;
$products-tile-bg:$site-color-1;
$products-tile-border:$site-color-1;

$text-block-title:$site-color-2;
$text-block-subtitle:$site-color-1;
$text-block-content:$site-color-1;
//footer
$go-to-top : $site-color-2;
$footer-link-txt:$site-color-3;
$footer-bg-color : $site-color-5;

//charcter label
$character-bg:$site-color-1;
$character-label:$site-color-1;
$character-label-bg:$site-color-3;

//*carousel*
//cda-banner
$cda-banner-bg:$site-color-3;
$slick-arrow-bg:$site-color-5;
$slick-arrow-color:$site-color-3;
$slick-dots-bg:$site-color-5;
$slick-dots-active-btn-bg:$site-color-1;

$banner-bg:$site-color-2;
$banner-border:$site-color-7;
$banner-txt:$site-color-3;

$module-txt:$site-color-3;
$module-txt-2: $site-color-2;

//category-nav
$nav-carousel-bg:$site-color-1;
$nav-carousel-link-txt:$site-color-3;
$nav-carousel-link-bg:$site-color-1;
$nav-carousel-link-border:$site-color-5;
$nav-carousel-link-hover-bg:$site-color-7;

// filter category nav
$filter-nav-carousel-bg:transparent;
$filter-nav-carousel-link-txt:$site-color-3;
$filter-nav-carousel-link-bg:$site-color-2;
$filter-nav-carousel-link-border:$site-color-11;
$filter-nav-carousel-link-hover-bg:$site-color-3;
$filter-nav-arrow-color: $site-color-1;

$char-tiles-bg:$site-color-4;
$char-tiles-link-hover-txt:$site-color-3;

$category-drpdown-txt:$site-color-1;
$category-drpdown-bg:$site-color-3;
$category-drpdown-arrow:$site-color-3;
$category-drpdown-border:$site-color-6;
$categorylist-bg:$site-color-3;

//char-details
$char-detials-bg:$site-color-3;
$char-details-title:$site-color-2;
$char-details-txt:$site-color-1;

//*buttons*
//btn showmore
$show-more-bg: $site-color-3;
$show-more-txt:$site-color-1;
$show-more-border:$site-color-6;
$show-more-block-bg:$site-color-5;
$show-more-block-char-bg: $site-color-1;

//btn : viewall
$btn-view-all-txt:$site-color-3;
$btn-view-all-bg:$site-color-1;
$btn-view-all-border:$site-color-2;

//btn primary
$btn-primary-txt:$site-color-3;
$btn-primary-bg:$site-color-1;
$btn-primary-border:$site-color-2;


//modal
$modal-content-bg:$site-color-3;
$modal-close:$site-color-1;
$modal-content-txt:$site-color-1;
$modal-opacity-bg:$site-color-10;

//error page
$errorCTABg: $pink;
$errorCTABorder: $green;

// AG color
$light-purple: #5E3769;
$light-black: #222222;
$classic-fb-bg : #3b5998;
$classic-pinterest-bg : #cb2027;
$charcoal: #4A4A4A;
$light-dim-grey: #666666;
$border-pink : #c91f4f;
$arrow-purple :#6A84C0;
$arrow-tony-pink:#C7688C;
$arrow-pink:#EC4E82;
$arrow-polo-blue:#8A8AC3;
$arrow-sea-green:#139A9B;
$arrow-pastel-green :#7F2A90;
$purple1: #771B65;
$green1 : #82AD42;
$dark-light-pink:#BE317A;
$article-border-blue:#4A90E2;
$article-bg-blue: #8dc9c9;

$rose1: #FF534D;

//Font Awesome
$FontAwesome: 'Font Awesome';


$font-size:1em;
$line-height:1.4;
$lines-to-show:3;

$imgColCount : 6;
$txtColCount : 6;


/* 
class name for each fonts
Usage
@param1 - class name
@param2 - font weight variations
Ex: @include fontVariations('noto-',r r-i b b-i); 
*/

@mixin fontVariations($className, $fontWeights) {
    @each $fontWeight in $fontWeights {
        &.#{$className}#{$fontWeight} {
            @extend .font-#{$fontWeight};
        }
    }
}

.font-l {
    font-weight: $fontLight;
}

.font-r {
    font-weight: $fontRegular;
}

.font-b {
    font-weight: $fontBold;
}

.font-m {
    font-weight: $fontMedium;
}