<sly data-sly-test="${wcmmode.edit}">${'Social Share Component' @i18n}</sly>
<span>
	<span class="sr-only">Contact us at</span>${properties.header @ i18n}
</span>
<ul>
	<sly data-sly-test="${properties.enableFb=='true'}">
		<li>
			<a class="facebook" aria-label="facebook opens a new window" target="_blank" href="${properties.fbPath}" data-tracking-id="Footer Clicks|click|Social Media|Facebook"></a>
		</li>
	</sly>
	<sly data-sly-test="${properties.enableTwitter=='true'}">
		<li>
			<a class="twitter" aria-label="twitter opens a new window" target="_blank" href="${properties.twitterPath}" data-tracking-id="Footer Clicks|click|Social Media|Twitter"></a>
		</li>
	</sly>
	<sly data-sly-test="${properties.enablePinterest=='true'}">
		<li>
			<a class="pinterest" aria-label="pinterest opens a new window" target="_blank" href="${properties.pinterestPath}" data-tracking-id="Footer Clicks|click|Social Media|Pintrest"></a>
		</li>
	</sly>
	<sly data-sly-test="${properties.enableInsta=='true'}">
		<li>
			<a class="instagram" aria-label="instagram opens a new window" target="_blank" href="${properties.instaPath}" data-tracking-id="Footer Clicks|click|Social Media|Instagram"></a>
		</li>
	</sly>
	<sly data-sly-test="${properties.enableYoutube=='true'}">
		<li>
			<a class="youtube" aria-label="youtube opens a new window" target="_blank" href="${properties.youtubePath}" data-tracking-id="Footer Clicks|click|Social Media|Youtube"></a>
		</li>
	</sly>
</ul>