a.skip-main {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
    text-align: center;
    font-family: inherit;
    padding: .5em 0;
    &:focus,
    &:active {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: auto;
        margin: 5px 5px 5px 5px;
        padding: 5px 5px 5px 5px;   
        text-align: center;
        font-size: 1.28571429em;
        z-index: 999999;
    }
}