.crm-brand-banner {
	 border-color: mapping($brand,main,borderColor);
	.module-title,h2 {
		color: mapping($brand,heading,color);
		text-align: mapping($brand,heading,align);
		font-size: mapping($brand,heading,fontSize);
		font-weight: mapping($brand,heading,fontWeight);
		font-family: mapping($brand,heading,font);
	}
	.module-image {
		li {
			@media #{$large-up} {
				width: mapping($brand,listStyle,width);
			}
		}
	}
	img {
		padding: mapping($brand,listStyle,imagePadding);
    }
	span {
		padding: mapping($brand,listStyle,imagePadding);
	}
		
}
