<sly data-sly-test="${wcmmode.edit}">${' Configure ReplacementParts Module' @ i18n}</sly>
<sly data-sly-use.pageProperties="com.mattel.ecomm.core.models.ReplacementPartsModel">
<sly data-sly-test=" ${pageProperties.enableReplacementParts}">


                          <sly data-sly-test="${properties.titleTextCtaButtonLink != null}">
                                <div class="replace-part">
                                    <span class="replace-title">${properties.title}</span>
                                    <a href="${properties.titleTextCtaButtonLink}?prodno=${pageProperties.productSKUId}&siteid=${properties.siteId}" class="button-part" data-sly-attribute.target="${properties.openLinkOptions}">
                                    <i class="fa fa-wrench"> </i>${properties.titleTextCtaButtonText} </a>
                                </div>
                           <sly>

            </sly>
        </sly>