<sly data-sly-test="${wcmmode.edit}">${'Edit Read More Component' @i18n}</sly>
<sly data-sly-test=${properties.readMoreLabel}>
	<div class="footer-control text-center">
		<a aria-expanded="false" href="javascript:void(0);" role="button" aria-label="Read more about Our Guarantee" id="footer-control-link" data-viewless="${properties.readLessLabel}" data-viewmore="${properties.readMoreLabel}" class="track-read-more">${properties.readMoreLabel @i18n}</a>
	</div>
	<sly data-sly-test=${properties.text}>
		<div class="secondary-footer container" style="display: none;">
			<p>${properties.text @context='html', i18n}</p>
		</div>
	</sly>
</sly>


