.recently_viewed-aemcomp {
    background: #fff;
	border-radius: 8px;
    margin: 90px 0;
    position: relative;
    overflow: hidden;
    display: none;
    @media #{$large-down}{
        margin: 30px auto;
        width: 100%;
    }
    a {
        &:focus {
            outline: none;
        }
    }
    .margin-right {
        margin-right: 100px;
    }
    .slick-slider {
        margin: 5px 0 0;
        padding: 0 0 20px 0;
        @media #{$medium-up}{
            margin: 5px 56px 0 56px;
        }
        .slick-slide {
            margin: 10px;
            a {
                img {
                    margin: 0 auto;
                }
            }
        }
    }
    .heading_text {
        p {
            font-family: "Source Sans Pro", sans-serif;
            font-weight: 500;
            font-size: 24px;
            color: #333333;
            text-align: center;
            line-height: 26px;
            padding-top: 15px;
            margin: 0;
            min-height: 46px;
            a {
                color: #c70a4c;
                font-size: 20px;
                line-height: 24px;
                margin-left: 14px;
                font-weight: 500;
                position: relative;
                &:after {
                    content: "\f054";
                    font-family: 'Font Awesome',sans-serif;
                    font-weight: 900;
                    display: inline-block;
                    font-style: normal;
                    font-variant: normal;
                    text-rendering: auto;
                    line-height: 1;
                    vertical-align: middle;
                    padding: 0;
                    font-size: 14px;
                    background: 0 0;
                    opacity: .75;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    position: absolute;
                    top: 7px;
                    right: -17px;
                }
            }
        }
    }
    .item {
        .productContainer {
            background: white;
            width: 20%;
            margin: 10px 8px;
            float: left;
            text-align: center;
        }
    }
    .product {
        margin: 10px;
        background: #FFFFFF;
        border-radius: 8px;
        position: relative;
        .product-image {
            img { 
                width: 100%;
            }
        }
    }
    .product-info {
        padding: 10px 0;
        margin-left: 15px;
        min-height: 160px;
    }
    .heading_text {
        p {
            &:after {
                content: "";

            }
        }
    }
    a {
        &.mini-carousel-slider-prev {
            left: 10px;
            z-index: 1;
            top: 42%;
            width: 42px;
            height: 42px;
            position: absolute;
            cursor: pointer;
            display: block;
            background: url('/content/dam/ag-dam/ag-global-dam/parent-site-dam/images/audience_stream_home/slider-arrow-left.png') no-repeat center center;
            background-size: 100%;
            @media #{$medium-up}{
                left: 15px;
            }
            &.slick-disabled {
                display: none !important;
            }
            &.slick-hidden {
                display: none;
            }
        }
        &:hover {
            &.mini-carousel-slider-prev {
                background: url('/content/dam/ag-dam/ag-global-dam/parent-site-dam/images/audience_stream_home/slider-arrow-left-active.png') no-repeat center center;
                background-size: 100%;
            }
        }
        &.mini-carousel-slider-next {
            right: 10px;
            top: 42%;
            width: 42px;
            height: 42px;
            cursor: pointer;
            display: block;
            position: absolute;
            background: url('/content/dam/ag-dam/ag-global-dam/parent-site-dam/images/audience_stream_home/slider-arrow-right.png') no-repeat center center;
            background-size: 100%;
            @media #{$medium-up}{
                right: 15px;
            }
            &.slick-disabled {
                display: none;
            }
            &.slick-hidden {
                display: none;
            }
        }
        &:hover {
            &.mini-carousel-slider-next{
                background: url('/content/dam/ag-dam/ag-global-dam/parent-site-dam/images/audience_stream_home/slider-arrow-right-active.png') no-repeat center center;
                background-size: 100%;
            }
        }
    }
}
@media (min-width: 1201px) {
    .right-margin {
        .recently_viewed-aemcomp {
            margin-right: 100px;
        }
    }
}
