body {
  .global-footer {
    .email-section {
      @media #{$medium-down} {
        .pull-left {
          font-size: 12.3px;
          h3 {
            padding: 0;
          }
          .signUpButton {
            border: none;
            padding: 0.5em 1.5em;
            width: auto;
          }
          .footer-email-disclaimer {
            em {
              font-weight: $fontRegular;
            }
          }
        }
      }
    }
  }
}
