.gift-trunk-container .footer{
    margin-top:0 !important;
}

.gift-trunk-container {
    .page-view {
        padding: 0;
        @media #{$small-down} {
            margin-top: 45px !important;
        }
        .ecomm-wrapper {
            max-width: 100%;
            .quizContainer {
                &.aem-GridColumn {
                    padding: 0 !important;
                }
            }
        }
    }
}

.gt-wrapper {
    background: $background-color 0 0 repeat;
    padding-top: em(30);
    padding-left: em(15);
    padding-right: em(15);
    
    .gt-container {
        //@extend .container;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        @media #{$small-up} {
            width: 750px;
        }
        @media #{$medium-up} {
            width: 970px;
        }
        @media #{$large-up} {
            width: 1170px;
        }
        &:before, &:after {
            display: table;
            content: " ";
        }
        &:after {
            clear: both;
        }
        @media (min-width: $screen-lg-min) {
            width: 100%;
            max-width: 1600px;
            padding-left: em(30);
            padding-right: em(30);
        }
        width: 100% !important;
        background-color: $background-color;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding-top: em(60);
        @media #{$small-down} {
            padding-top: em(32);
        }
        @media #{$medium-down} {
            width: 100% !important;
        }
        section {
            padding-left: 5px !important;
            padding-right: 5px !important;
        }
        .gt-common-holder {
            margin: 0;
            padding: 0 em(10);
            &.gt-bundle-selection-wrapper {
                @media #{$small-down} {
                    padding: 0;
                }
            }
            @media #{$small-up} {
                padding: 0 em(40);
            }
        }
        .gt-btn {
            //@extend .btn;
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
                touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                    user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            &:focus{
                outline: 5px auto -webkit-focus-ring-color;
                outline-offset: -2px;
                color: #333;
                text-decoration: none;
                &:active{
                    outline: 5px auto -webkit-focus-ring-color;
                    outline-offset: -2px;
                }
            }

            background-color: $theme-color;
            color: $background-color !important;
            font-size: em(16);
            font-weight: 600;
            @include border-radius(10px !important);
            margin-top: em(42);
            display: inline-block;
            padding: 15px 45px;
            line-height: 25px;
            @media #{$medium-down} {
                padding: 10px 30px;
                font-size: 16px;
                line-height: 20px;
            }
            &:after {
                font-family: inherit;
                font-weight: normal;
                display: inline-block;
                line-height: normal;
                font-size: 0;
                margin-left: 0;
                content: "";
            }
            &:focus {
                outline: none !important;
                border-radius: 10px !important;
                border-color: #9ecaed !important;
                box-shadow: 0px 0px 8px rgba(82, 168, 236, .8) !important;
            }
            a {
                &:active {
                    outline: none !important;
                    border-radius: 10px;
                    border-color: #9ecaed !important;
                    box-shadow: 0px 0px 8px rgba(82, 168, 236, .8) !important;
                }
            }
            &.summary {
                margin-top: em(25);
            }
            &.disabled {
                background-color: rgba(51, 51, 51, 0.5) !important;
            }
            @media #{$small-up} {
                font-size: em(20);
            }
        }
        .gt-link {
            color: $theme-color;
            font-size: em(20);
            font-weight: 600;
            display: inline-block;
            margin-top: em(20);
            @media #{$small-down} {
                font-size: em(16);
            }
            &:before {
                content: "\f053";
                @include font-awesome();
                font-size: em(12);
                font-weight: 600;
                padding-right: 6px;
            }
        }
        .full-width {
            width: 100%;
            float: left;
        }
        .align {
            text-align: center;
            margin: 5px 0;
            min-height: 20px;
            @media #{$small-down} {
                min-height: 15px;
            }
        }
        .product-image,
        .product-title,
        .product-desc,
        .product-age-range,
        .product-status,
        .product-status-detail,
        .gt-btn {
            @extend .align;
        }
        .product-image {
            max-width: 100%;
            height: auto;
            margin: 0 auto;
        }
        .product-title {
            font-size: 1.25em;
            font-weight: 600;
            line-height: 1.563em;
            @media #{$small-down} {
                font-size: 1.143em;
                line-height: 1.429em;
                margin: 0 0 5px 0;
            }
        }
        .product-desc {
            font-size: 1.125em;
            line-height: 1.438em;
            min-height: 70px;
            @media #{$small-down} {
                font-size: 1em;
                line-height: 1.286em;
                min-height: 55px;
            }
        }
        .product-age-range,
        .product-status span {
            font-size: 1em;
            line-height: 1.286em;
            @media #{$small-down} {
                font-size: 0.857em;
                line-height: 0.938em;
            }
        }
        .status-detail {
            color: $gtErrorRed;
            font-weight: 600;
        }
        .toggle-products {
            @extend .full-width;
            margin-bottom: 20px;
        }
        .view-all-products,
        .show-less-products {
            @extend .full-width;
            @extend .align;
            a {
                cursor: pointer;
                font-size: 1.25em;
                line-height: 1.563em;
                font-weight: 600;
                color: $light-pink;
                &:hover {
                    color: $light-pink !important;
                }
                @media #{$small-down} {
                    font-size: 1.143em;
                }
            }
        }
        .arrow-toggle:after {
            content: "\f078";
            margin: 0 5px;
            color: $light-pink;
            font-family: $iconFontFamily;
            font-size: 75%;
            cursor: pointer;
        }
        .show-less-products {
            .arrow-toggle:after {
                content: "\f077";
            }
        }
        @import 'gift-trunk-quiz';
        @import 'gift-trunk-letter';
        @import 'gift-trunk-product-recommend';
        @import 'gift-trunk-truly-me';
        @import 'gift-trunk-bundle-selection';
    }
}

@-moz-document url-prefix() {
    #messageBox {
        width: 390px !important; 
        line-height: 1.25em !important;
        @media #{$small-only} {
            width: 260px !important;
        }
    }
}

@media screen and (-ms-ime-align: auto) {
    #messageBox {
        width: 370px !important;
    }
}

@supports (-ms-ime-align: auto) {
    #messageBox {
        width: 370px !important;
    }
}

.footer.aem-GridColumn.aem-GridColumn--default--12 {
    padding: 0;
}

footer.global-footer {
    padding-bottom: 115px !important;
    @media #{$small-down} {
        padding-bottom: 225px !important;
    }
}