
.header{
	&.ag-ecomm-header{
		header {
			@media #{$medium-up} {
				min-height: 7.14286em;
				line-height: 7.14286em;
			}
			&.active{
				min-height: 4.28571em;
				height: 4.28571em;
				line-height: 4.28571em;
				.logoff {
					min-height: 4.28571em;
					line-height: 4.28571em;
				}
				#searchBox{
					line-height: 4.28571em;
				}
				.brand-logo{
					line-height: 4.28571em;
				}
			}
			.hamburger{
				color: $headingColor;
			}
		}
		.primary-nav{
			float: none;
			ul {
				line-height: 7.14286em;
			}
		}
		#searchBox{
			line-height: 7.35714em;	
		}
		.cart-icon {
			background: url(https://www.americangirl.com/wcsstore/MattelSAS/images/sprites.png) no-repeat;
			background-position: -30px -1606px;
			width: 30px;
			height: 44px;
			padding: 0 !important;
			margin: auto;
			margin-top: 18px;
			display: inline-block;
			vertical-align: middle;
			position: relative;
			margin-left: 10px;
		}
	
		.logoff {
			float: right;
			min-height: 7.35714em;
			line-height: 7.35714em;
		}
	
		#minishopcart_total {
			background: #c70a4c;
			width: 15px;
			color: white;
			letter-spacing: 1px;
			right: 0px;
			top: 12px;
			padding: 1px;
			border-radius: 100%;
			font-family: $primaryFontFamily;
			font-size: 12px;
			height: 15px;
			bottom: 0;
			display: inline-block;
			position: absolute;
			line-height: 14px;
			vertical-align: middle;
			text-align: center;
		}
	}
}
	
body {
  .global-footer {
    .email-section {
      @media #{$medium-down} {
        .pull-left {
          font-size: 12.3px;
          h3 {
            padding: 0;
          }
          .signUpButton {
            border: none;
            padding: 0.5em 1.5em;
            width: auto;
          }
          .footer-email-disclaimer {
            em {
              font-weight: $fontRegular;
            }
          }
        }
      }
    }
  }
}
