#pagination {
    margin: 1em 0;

    a {
        cursor: pointer;
        margin-right: 7px;
        font-size: 14px;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        color: #333 !important;
        padding: 0;

        &.page-first,
        &.page-next {
            &.disabled{
                opacity: .3;
            }
            &:before{
                @include font-awesome();
                color: #666;
                font-size: 120%;
            }
        }
        &.page-first:before{
            content: "\f053";
        }
        &.page-next:before{
            content: "\f054";
        }
    }

    span {
        &>.page-link {
            background: rgb(241, 241, 241);
            padding: 7px 10px;
            border-radius: 50%;
            width: 32px;
            display: inline-block;

            &.current {
                background: rgb(199, 10, 76);
                color: #fff !important;
            }
        }
    }
}