
// AEMECOM-10792 fixes
@media (-moz-touch-enabled: 1),
(pointer:coarse) {
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
        .enable-text-carousel.slick-slider {
            width: calc(95% - 40px)
        }
        .not-target.main-header {
            z-index: 1;
        }
    }
}

@media #{$large-down} {
    .not-target.main-header .brand-logo {
        -webkit-align-items: center;
    }
}
