.aem-recommend-widget{
    .product-price span {
        font: $fontBold 18px $secondaryFontFamily;
        &.actual-list-price {
            font: $fontMedium 16px $secondaryFontFamily;
        }
    }

    .product-price {
        color: $color-dark-grey;
        margin: auto;
        padding: 0;
        line-height: 24px;
        text-align: left;
    }

    .item-desc {
        font: $fontRegular 18px $primaryFontFamily;
        color: $color-dark-grey !important;
        margin: 0;
        display: block;
        text-transform: inherit;
        min-height: 0;
        line-height: 23px;
        text-align: left;
    }
}