$accordion:(
  main: (
    bgndColor: #26282C,
    //pad: em(55) em(40),
	pad: 5rem 2.85714em 4.5em 2.85714em, 
    tabPad: null,
    mobPad: em(30) em(15),
    titleBlockPad: 0 em(15) em(15) em(15),
    sectionBlockPad: 0 em(15)
  ),
  withbg: (
    bgndImg: $slateGrey url($accordion-bg) right center no-repeat,
    bgndSize: contain,
    //fntFamily: 'DecoturaICG',
    fntFamily: ("MattelFounders",sans-serif),
    //fntSize: em(30)
    fntSize:25px,
  ),
  title:(
    margin: 0px,
    pad: em(20,22) em(65, 22) em(20, 22) 0,
    fntWeight: strong,
    borderBottom: null,
    //borderTop: #545454 1px solid,
    borderTop:#242424 4px solid,
    txtColor:$black,
    fntSize: em(22),
    
	),
	accordionLastBorder: (
		isAccordionJurrasic: true,
		borderBottom: none,
		padding: 0,
		margin: 0 em(15),
		accordianBottom: #545454 1px solid
	),
	imgTextComp: (
		padd: 0
	),

  view: (
    fntSize: em(1),
    lineHeight: 200%,
    fntWeight: normal,
    txtAlign: left

  ),  
  accContent:(
    display: none,
    pad: 0 0 em(20)
  ),
  acccontentDefault:(
      display: block
  ),
  accContentHeading: (
    margin: 0,
  ),
  accContentP: (
    fntWeight: 300,
    txtColor: $lightGrey,
    fntSize: em(22),
    fntFamily: ('Sunflower',sans-serif),
    pad: 0 0 em(10),
    margin: 0
  ),
  accContentOlLi: (
    fntWeight: 300,
    txtColor: $lightGrey,
    fntSize: em(18),
    fntFamily: ('Sunflower',sans-serif),
    pad: 0 0 em(10),
    margin: 0
  ),
  accArrow:(
      marginLeft:0,
      display:inline-block,
      pos: absolute,
      posRight: em(10),
      //iconColor: $red,
      iconColor: #ee0024,
      cursor: pointer,
      brdr: $red 2px solid,
      brdrRadius: 100%,
      iconWidth: 32px,
      iconHeight: 32px
  )
);
