$cdabanner:(
main:(
    pos: relative,
    bgnd:$carousel-bg,
    isMobileDesignForiPadPortrait: true,
    isNoArrowCarousel:false,
    isNoDotsCarousel:false    
),

carouselSlides: ( 
    paddingBottom: 0,
    borderBottom: null,
    tabpaddingBottom: 0,
    tabborderBottom: none
),
promoCarousel: (
    maxWidth: 100%,
    marginBottom:40px
),

slickTrack: (
    fisherPriceTab:true,
    bgColor: transparent,
    bottomTab:22px,
    // mobileview:none!important,
    
),
mobBanner:(
    isContainsBorder:false,
    afterBdrcontent:"",
    afterBdrBgimage:$rhDashedLimeBorder,
    afterBdrBgrepeat:repeat-x,
    afterBdrBgSize:auto,
    afterBdrWidth:100%,
    afterBdrHeight: 8px,
    afterBdrDisp: inline-block,
    afterBdrPos: absolute,
    afterBdrPosBottom: 27px,
    afterBdrPosLeft: 0,
),

carouselslidesList: ( 
    pos: relative,
    margin: 0 em(7)
),

bannerCopy:(
    mobileViewFP:true,
    pad: em(25),
    width: 100%,
    wordBreak: break-word,
    txtAlign: center,
    tabWidth: 38%,
    tabpadding: em(40) em(30) em(46) em(30),
    tabpos: relative,
    tabposTop: 0,
    tabposLeft: 0,
    tabposRight: 0,
    tabposBottom: 0,
    tabtxtAlign: center,
    bgnd: $carousel-banner-bg,
    tabBgnd: inherit,
    moduledestxtColor: $carousel-desc-color,
    tabModuledestxtColor:$black,
    mobModuledestxtColor: $black,
    mobPadding:em(32),
    mobTxtAlign:center,
     
    //Mobile
    mobilePad:em(32) em(32) em(60) em(32),
    tabPad:em(20),
    mobDesMargin:em(12) 0 0 ,

),
carouselCTA:(
    ctaBgColor: $carousel-cta-bgcolor,
    ctaTxtColor:$carousel-cta-txtcolor !important,
    ctaFontFamily:$carousel-cta-font,
    ctaBgColorHover:$carousel-cta-bgcolorHover,
),

bannercopyH2: (
  margin: 0
),

cdabannerImage: (
  display: block,
  margin: 0,
  maxWidth: 100%,
  maxWidthTab:100%,
  maxWidthMob:100%,
  maxWidthTabLs:100%,
  maxHeight: 12rem
),

playcontainerslickPrev: (    
    marginLeft: 30px
),

playcontainerslickNext: (
    marginRight: 30px
),

playcontainerslickprevNext: (
    bgnd:transparent,
    borderRadius: 50%,
    fntFamily: $carousel-arrow-font,
    pad: 0,
    txtColor: $carousel-arrow-color, 
    fntSize: 40px,
    beforeBgnd: none,
    tabposTop: 50%,
    tabDisplay: none !important
),

slicknextBefore: (   
   nextContent: $carousel-arrow-next,
   marginLeft: 5px,
   opacity: 1
 ),

 slickprevBefore: (
    prevContent: $carousel-arrow-prev,
    marginRight: 5px,
    opacity: 1
),

slickdotsActive: (
    bgnd: #000,
    btnOpacity: 0.5,
),

slickdotsButton: (
    bgndColor:#000,
    width: em(14),
    height: em(14),
    opacity: 0.1,
    tabbgndColor: null,
    circleBorder:$carousel-dots-border,
),


bannercopySpan:(
    bgndColor: null,
    borderColor: null, 
    txtColor: null,
    fntSize: null, 
    hoverBgnd: null,
    hoverborderColor: null,
    display: inline-block,
    margin:0,
    marginMob:1.3125rem 0 0,
    
    //Mobile

    
),

bannercopymoduleDesc: (
    isFisherDesFont: true, 
    txtColor:$black,
    tabtxtColor: $black,
    fntFamily:"Noto Sans",
    fntWeight:300,
    fntSize:16px,
    fntSizeMob: 18px,
    letterSpacing: 0,
    margin:em(20) 0 0,
    lineHeight:1

),

bannercopymoduleSpan: (
    display: block,
    txtColor: $carousel-desc-color,
    fntFamily: $carousel-desc-font,
    fntWeight: 'Bold',
    fntSsize: inherit,
    tabtxtColor: $carousel-desc-color-tab ,
),

bannercopymoduleP: (
         marginBottom: 0,
),

bannercopymoduleTitle:( 
    txtColor: $black,
    tabTxtColor:$black,
    mobTxtColor:$black,
    mobTxtAlign:center,
    tabpadding:0 0 5px 0,
    maxWidth: 47vw,
    fntSize: em(28),
    fntWeight:$fontBold,
    mobfntSize: em(24),
    lineHeight:1,
    mobileTextColor:$black,
),

bannercopyPos:( 
  posTransform: none,
  posTop: auto,
  posLeft: auto
),

bannercopypostopLeft:( 
     posLeft: 7%,
     posTop: 8%
),

bannercopypostopRight:(    
     posRight: 7%,
     posTop: 8%
),


bannercopyposbottomLeft:(   
    posLeft: 7%,
    posBottom: 8% 
),

bannercopyposbottomRight:( 
    posRight: 7%,
    posBottom: 8%,
),

bannercopyposmiddleLeft:(
    fisherPriceBanner:true,
    posLeft:0%,
    posTop:0%,
    tabFontSize:84%,
    tabWidth:47%,
	transform: translateY(0%),
    ipadtransform: none,
    textAlign:center,
    bottomPos:0,
    ContainBG:transparent,
    titleWidth:em(352),
    marginTop:0,
    midDivdisplay: inline-block,
    MidDivtop: 50%,
    MidDivtransform: translateY(-50%),
      //Mobile
    mobileTop:0,
    MobileWidth:100%,
    mobileInher:inherit,
),

bannercopyposmiddleRight:( 
      posRight: 5.5%,
      posTop: 50%,
      tabFontSize:84%,
      tabWidth:47%,
	  transform: translateY(-50%),
	  ipadtransform: none
),

bannercopypostopCenter:( 
     mobposLeft: 5.686274509803922%,
     mobposTop: 50%,
     mobposTransform : translateY(-50%)
),
bannercopyposbottomCenter:(
    mobposLeft: 50%,
    mobposBottom: 8%,
    mobposTransform: translateX(-50%)
),
bannercopyposVcenter:(
    mobposLeft: 50%,
    mobposTop: 50%,
    mobposTransform: translateX(-50%) translateY(-50%),
),
bannercopyBg:(
    mobBgnd: transparent
),
bannercopymodTitle:(
   mobMargin: 0,
   fntSize: em(28),
   mobfntSize: em(20),
   mobFontColor:$white,
   tabfntSize: em(28),
),
bannercopymodSubtitle:(
   mobfntSize: 1.3em,
   tabfntSize: em(22),
   mobtxtAlign: center
),
heroimageBanner:(
   fisherPriceButton:true,
   txtAlign: center,
   fontColor:#1A70D3!important,
   textTrans:uppercase,
   btnHeight: 42px,
   btnWidth: 150px,
   bgColor:$white!important,
   btnMargin:em(45) auto 0 auto,
   dispInline:inline-block,
   // Mobile
   marginTop:em(45) auto ,
   mobMargin:em(20),
   btnColorHover:$light-white!important,
   disp:block, 
),  
heroimageCrm:(
  display: inline-block,
  pos: relative,
  txtAlign: left
),

imageAndVideo:(
    imgPosition: absolute,
    imgLeft: 0,
    imgTop: 0,
    imgHeight: 100%,
    imgWidth: 100%,
    imgPad: 0!important
    ),
videoContainer:(
    VideoConPos: relative,
    VideoConPad: 0,
    VideoBanPos: absolute,
    VideoBanTop: 0,
    VideoBanRight: 0,
    VideoBanBottom: 0,
    VideoBanLeft:0,
    VideoBanMin:235px,
    VideoMinheight:430px
)
);
