/*adobe font*/
@import url("https://use.typekit.net/fwq6ird.css");

/*Web font*/
@import url("https://use.typekit.net/tpf1qhq.css");



//$fontPath : "../css/fonts";
$fontPath : "../resources/fonts";

@font-face {
    font-family: 'Mattel Founders Medium';
    src: url('#{$fontPath}/MattelFounders/MattelFounders-Medium.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Mattel Founders';
    src: url('#{$fontPath}/MattelFounders/MattelFounders-Light.ttf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}