$header:(
  main:(
	  bgnd:$header-bgColor,
    boxShadow: null,
    minHeight: em(80),
    minHeightMob:em(50),
    minHeighttab:em(80),
    posTop: 0,
    posLeft:0,
    zIndex: 1000,
    pos: fixed,
    width: 100%,
    lineHeight:em(14),
    mobBgndSize: cover,
	  bgndSize: contain,
    headerBorderBottom: 1px solid #BFBFBF,
    //borderTop:4px solid #E0E0E0
  ),
  childDiv: (
    width: auto,
    padRight:0,
    padLeft:0,
    whyPlayHeader: false,
    whyPlaypadding: 0 200px,
    whyPlaypaddingMob: 0 10px,
    whyPlaypaddingTab: 0 13px 0 25px,
    txtAlign:left
  ),
  logo:(
    isNoLogo:false,
    pos: relative,
    padTop:5px,
    zIndex: 9999,
    disp:block,
    pad:12px 20px
  ),
  logoImage:(
    margin:0,
    width: em(140), //mob
    mobMargin:0,
    mobWidth: em(175), //des
    tabMargin: 0,
    tabWidth: em(175), //tab
	MaxWidth: 9.7em,
	mobMaxWidth: 12.5em
  )
);
