$articleComponent:(
    banner_inner_wrapper:(
        padding: (
            lg: null,
            md: em(68) em(147) em(48) em(147),
            sm: 0
        ),
        background: #EE0024,
    ),
    banner_title:(
        color: $white,
        font:($fontLight em(48) "Mattel Founders"),
        letter_spacing: em(.12),
        line_height: em(16.35),
    ),
    content_inner_wrapper:(
        padding: (
            lg: null,
            md: em(45) em(118) em(93) em(147),
            sm: em(15) em(15) em(15) em(15),
        ),
        display: flex,
    ),
    left_wrapper:(
        width_sm: 100%,
        width_md: 60%,
    ),
    left_wrapper_content_p:(
        color: $black,
        font:($fontLight em(16) "neue-haas-unica","sans-serif"),
        letter_spacing: em(.122),
        line_height: em(21),
    ),
    right_wrapper:(
        padding: (
            lg: null,
            md: em(0) em(0) em(0) em(119),
            sm: null,
        ),
        width_sm: 100%,
        width_md: 40%,
    ),
    contact_media:(
        border: em(1) solid #979797,
        padding: (
            lg: null,
            md: em(32) em(29) em(36) em(33),
            sm: null,
        ),
    ),
    contact_media_header:(
        padding: (
            lg: null,
            md: em(0) em(0) em(3) em(0),
            sm: null,
        ),
        margin: (
            lg: null,
            md: em(0) em(0) em(0) em(0),
            sm: em(0) em(0) em(0) em(0),
        ),
        font:($fontMedium em(24) "Mattel Founders"),
        letter_spacing: em(.123),
        line_height: em(16.34),
        position: relative,
    ),
    contact_media_header_after:(
        height: em(2.35),
        width: em(89.4),
        background_color: #EE0024,
        content: "",
        position: absolute,
        p_bottom: em(-2.2),
        p_left: 0,
    ),
    contact_media_content:(
        margin: (
            lg: null,
            md: em(18) em(0) em(0) em(0),
            sm: em(18) em(0) em(0) em(0),
        ),
    ),
    contact_media_para:(
        margin: (
            lg: null,
            md: em(0) em(0) em(0) em(0),
            sm: em(0) em(0) em(0) em(0),
        ),
        font:($fontLight em(16) "neue-haas-unica","sans-serif"),
        letter_spacing: em(.122),
        line_height: em(22.8),
    ),
    download_media:(
        margin: (
            lg: null,
            md: em(54) em(0) em(10) em(0),
            sm: em(0) em(0) em(0) em(0),
        ),
    ),
    download_media_header:(
        padding: (
            lg: null,
            md: em(0) em(0) em(3) em(0),
            sm: em(0) em(0) em(3) em(0),
        ),
        margin: (
            lg: null,
            md: em(0) em(0) em(12.5) em(0),
            sm: em(0) em(0) em(12.5) em(0),
        ),
        color: #000000,
        font: ($fontMedium em(24) "Mattel Founders"),
        letter_spacing: em(.125),
        line_height: em(16.35),
        position: relative,
    ),
    download_media_header_after:(
        height: em(1.8),
        width: em(103.2),
        background_color: #EE0024,
        content: "",
        position: absolute,
        p_bottom: em(-2.5),
        p_left:0,
    ),
    media_title:(
        color: #000000,
        font: ($fontMedium em(16) "neue-haas-unica","sans-serif"),
        letter_spacing: em(.125),
        line_height: em(21),
    ),
    media_description:(
        color: #000000,
        font: ($fontLight em(16) "neue-haas-unica","sans-serif"),
        letter_spacing: em(.125),
        line_height: em(21),
    ),
    media_button:(
        color: #000000,
        font: ($fontLight em(16) "neue-haas-unica","sans-serif"),
        letter_spacing: em(.125),
        line_height: em(27.2),
        position: relative,
        text_decoration: underline,
    ),
    view_and_download:(
        padding: (
            lg: null,
            md: em(0) em(7) em(0) em(7),
            sm: em(0) em(7) em(0) em(7),
        ),
    ),
    view_and_download_after:(
        height: em(16),
        width: em(1),
        background_color: #000000,
        content: "",
        position: absolute,
        p_left: 0,
        p_bottom: 0,
        p_top:em(5),
    ),
    view_and_download_first_child:(
        padding: (
            lg: null,
            md: em(0) em(7) em(0) em(0),
            sm: em(0) em(7) em(0) em(0),
        ),
        width: 0,
    )
);