$mainNav:(
  hamburger: (
    txtColor: $hamburger-btn-color,
    margin: em(10) em(12) 0,
    floating: right !important,
    tabLandscapeDisplay: block,
    tabDisplay:none,
    desktopDisplay: none,
    openStateIcon: "\f00d",
    iconFontSize: em(35),
    hoverColor: $fp-blue,
    focusColor:$fp-blue
  ),
  primaryNav: (  
    mobPosLeft: 0,
    mobPosTop: em(56),
    mobWidth: 100%,
    mobHeight: auto,
    mobBgndColor: $mob-nav-bg,
    mobMaxHeight:410px,  
    floating: right,
    desktopDisplay: inline-block !important,
    minHeight: em(30),
    bgnd: transparent,
    height:30px
  ),
  primaryNavUL: (
    fontFamily: 'Montserrat',
    mobBgndColor: $mob-nav-bg,
    /*deskDownBgImage: url('/../../../../../../../../content/dam/mattelweb/playsites/pollypocket/global/en-us/mobile-nav-bg.png'),*/
    mobMargin: em(15) 0 em(25),
    tabLandMargin: em(20) 0 0 0,
    desktopMargin : 0,
		desktopHeight:100%
  ),
  primaryNavUlLi: (
    mobPad: em(7) 1em
  ),
  primaryNavUlLiA: (
    mobAnchorColor: $mob-nav-link-color,
    desktopAnchorColor: $nav-link-color,
    desktopAnchorHoverColor: $fp-cyan,
    borderBottom: 0,
    desktopPad: 0,
    anchActiveBrdrBot: 0,
    anchorActiveColor:$fp-cyan,
    textDecoration: none,
    fontSize: em(14),
    fontWeight:$fontBold,
    textTransform: capitalize,
    mobPad:0,
    letterSpacing:normal,
    linkImgWidthDesk:em(92),
    linkImgMargin:0 em(8),
    showSubNavFontSize: em(34),
    showSubNavColor: $mob-nav-link-color,
    showSubNavWidth: 40px,
    showSubNavHeight: 40px,
    showSubNavFloat: right,
    showSubNavPad: 0,
    showSubNavLineHeight: normal,
    showSubNavTextAlign: center,
    showSubNavMarginTop: em(4)
  ),
  headerImage: (
    width:em(15),
    height:em(15),
    marRight:em(5)
  ),
  primaryNavUlLiUL: (
    bgndColor: rgba($sub-nav-link-bg, 0.8),
    posTop: em(70),
    posLeft: em(10),
    width: em(220),
    deskDownBgndColor: transparent,
    deskDownPos: relative,
    deskDownPosTop: 0,
    deskDownPosLeft: 0,
    deskDownWidth: auto
  ),
  primaryNavUlLiUlLi: (
    fontSize: em(10),
    pad:0 em(20),
    deskDownFontSize: em(12),
    deskDownPad: 0,
    deskDownBrdr: 0,
    deskDownTxtIndent: 1em
  ),
  primaryNavUlLiUlLiA: (
    txtColor: $mob-nav-link-color !important,
    borderBottom:none,
    pad:em(18) 0
  )
);
