<sly data-sly-test="${wcmmode.edit}">${'Log off Component' @i18n}</sly>
<sly data-sly-test="${properties.disableLogoffSection == 'false'}">
    <a href="#" class="signout hide" data-redirect="${properties.logOffsuccessPath @extension='html'}">${properties.logoffTitle}</a>
    <a href="${properties.loginSuccessPath}" class="signin-header">${properties.loginTitle}</a>
</sly>
<sly data-sly-test="${properties.disableCartSection == 'false'}">
    <a href="${properties.cartPageUrl}" class="cart-icon">
        <div id="minishopcart_total">0</div>
    </a>
</sly>
