<sly data-sly-test="${wcmmode.edit}">${'Configure Single Category/Image Navigation' @ i18n}

    <sly data-sly-use.navigation="${'com.mattel.ecomm.core.models.ContentNavigationModel' @ url=currentPage.Path}">
        <sly data-sly-list.categoryTitle="${navigation.primaryNavLinks}">

            <li><a href="${categoryTitle.pageUrl}">${categoryTitle.pageName @i18n}</a>
                <ul class="subMenu-container">
                    <li>
                        <section class="sub-nav ${categoryTitle.subLinkClass @i18n}">
                            <div>
                                <div class="link-list">
                                    <sly data-sly-list.category="${categoryTitle.childPageList}">

                                        <ul>
                                            <li>
                                                <a class="listTitle" href="${category.pageUrl}">${category.pageName @i18n}</a>
                                                <ul data-sly-list.subCategory="${category.childPageList}">
                                                    <li><a href="${subCategory.pageUrl}">${subCategory.pageName @i18n}</a></li>
                                                </ul>
                                            </li>
                                        </ul>

                                    </sly>
                                </div>

                                <sly data-sly-list.image="${navigation.imageSectionList}">
                                    <div class="img-list">
                                        <ul>
                                            <li>
                                                <a href="${image.promoUrl @i18n}">
                                                    <img src="${image.promoImagePath}" alt="${image.promoImageAltText  @i18n}">
                                                    <span class="label">${image.promoHeader  @i18n}</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                </sly>
                            </div>
                        </section>
                    </li>
                </ul>
            </li>
        </sly>
    </sly>
</sly>
