<sly data-sly-test="${wcmmode.edit}">${'Instagram Banner Component' @i18n}</sly>

<div class="cda-banner" style="background-image: url(${properties.imagePath @context='html'}); min-height:300px; background-position:center; background-repeat:no-repeat;">
	<div class="crm-container">
        <a class="track-instagram-banner" href="${properties.imgUrl}" target="_blank" style="width:100%;display:inline-block;min-height:300px;">
            <img src="${properties.imagePath}" class="sr-only" alt="${properties.imageAlttext}">
        </a>
	</div>
</div>