<sly data-sly-test="${wcmmode.edit}">${'Configure Product Categories' @ i18n}</sly>
<input type="hidden" id="currentPagePath" value="${currentPage.path}" />
<div class="products-landing-component" id="products-landing">

    <div class="products-gallery-list">
        <sly data-sly-test="${(properties.landingBgReference == null && properties.landingBgColor == null )|| (properties.landingBackOption =='image' && properties.landingBgReference == null ) || (properties.landingBackOption =='color' && properties.landingBgColor == null )}">
            <div id="play-products" class="play-tiles-gallery play-products" data-height-sync=".gallery-image">
        </sly>
        <sly data-sly-test="${properties.landingBackOption =='image' && properties.landingBgReference != null }">
            <div id="play-products" class="play-tiles-gallery play-products" data-height-sync=".gallery-image" style="background-image:url('${properties.landingBgReference @ context='styleString'}') ;">
        </sly>
        <sly data-sly-test="${properties.landingBackOption =='color' && properties.landingBgColor != null }">
            <div id="play-products" class="play-tiles-gallery play-products" data-height-sync=".gallery-image" style="background-color:${properties.landingBgColor @ context='styleString'};">
        </sly>
		<sly data-sly-test.templateCheck="${pageProperties.cq:template != '/conf/play/settings/wcm/templates/productdetailpage-template'}">
         <div class="category-title filtered-heading-name">
            <h2 style="display:none;"></h2>
         </div>
        </sly>
        <div class="gallery-tile">
            <ul class="product-list">

            </ul>
        </div>

        </div>
     </div>
</div>