header {
    min-height: em(70);
	top: 3.6em;
    left:0;
    z-index: 1025;
    position: fixed;
    width: 100%;
	line-height:em(14);
    background-size: cover;
    @media #{$large-up} {
        background-size: contain;
    }
    >div {
        @extend .container-fluid;
        width: auto;
    }
   .brand-logo {
        position: absolute;
        z-index: 9999;
        img {
            margin:em(10) 0 0 em(5);
            width: em(130);
            @media #{$small-up} {
                margin:em(10) 0 0 em(38);;
                width: em(140);
            }
            @media #{$small-down} {
                margin:em(10) 0 0;
                width: 7.285em;
                
            }
        }
    }
}
