$banner:(
	main:(
		bgndColor: $white-smoke
	),
	heading:(
		font: inherit,
		fontSize: em(34),
		fontSize-T: 1.5em,
		fontSize-M: 1.8em,
		fontWeight: $fontBold,
		fontWeightInherit: true,
		color: $purple,
		bgndColor: null
	),
	subHeading:(
		font: inherit,
		fontSize: em(18),
		fontSize-T: 1.3em,
		fontSize-M: null,
		fontWeight: $fontRegular,
		color: $purple,
		bgndColor: null
	)
);


