$brand:(
	main:(
		borderColor: $pink
	),
	heading:(
		font: null,
		fontSize: null,
		fontWeight: $fontBold,
		color: $black,
		align: center,
		bgndColor: null
	),
	listStyle:(
		width: em(120),
		imagePadding: em(15)
	)
);