$layout:(
	body:(
		font: "Raleway",
		fontWeight: $fontRegular 
	),
	heading:(
		font: "Raleway",
		fontWeight: $fontSemiBold	
	),
	themeBtn:(
		font: inherit,
		fontWeight: $fontBold,
		isDefaultTheme: true,
		bgndColor: $violet,
		borderColor: $violet,
		color: $white,
		borderRadius: 0 !important,
		btnPadding: 0.5em 1.05em,
		btnMargin:1em 0
	),
	dots:(
		fontSize: 14px,
        width: em(12),
		activeWidth: em(14),
        margin: 5px 7px,
        opacity: .5,
        borderRadius: em(20),
		focusColor: $light-green,
        height: em(12),
        activeHeight: em(14),
        bgndColor: $white,
        activeBgndColor: $violet,
        border: 1px solid $slick-gray,
        activeBorder: 1px solid $violet
	),
	arrow: (
		bgndColor: $violet
	)
);