
<template data-sly-template.socialShare="${@ title,description,mediaUrl,pageUrl,componentName}">
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5adf41fefb882ad4"></script>
        <ul class="social-icons addthis_toolbox">
            <li>

				<a href="#" class="addthis_button_facebook facebook" data-tracking-id="social-click|social share|facebook|${title}" addthis:url="${pageUrl}" addthis:title="${title}" addthis:media="${mediaUrl}" title="Facebook">
				</a>
               </li>

               <li>

					<a href="#" class="addthis_button_twitter twitter" data-tracking-id="social-click|social share|twitter|${title}" addthis:url="${pageUrl}" addthis:title="${title}" addthis:media="${mediaUrl}" title="Twitter">
					</a>
       			 </li>

               <li>

 				<a href="#" class=" addthis_button_linkedin linkedin" data-tracking-id="social-click|social share|linkedin|${title}" addthis:url="${pageUrl}" addthis:title="${title}" addthis:media="${mediaUrl}" title="LinkedIn">

                </a>
              </li>

            </ul>

</template>
