<sly data-sly-test="${wcmmode.edit}">${'Edit Banner Component' @i18n}</sly>

<div class="hero-banner mb-30 bgnd-repeat custom-height" data-src="${properties.fileReference}">
                        <div class="col-xs-12">
                            <section class="secondary-box-content transparent-bgnd">
                                <p>${properties.title}</p>
                                <h1>${properties.subTitle}</h1>
                            </section>
                        </div>
                    </div>
