
$imagePath: '../resources/img';
$spriteImagePath: "#{$imagePath}/nav_icons_sprite.png";
$fontPath: '../resources/fonts';

$germanYellow: #FFCF00;
$midnightBlue: #1A3668;
$sorbusOrange: #DF5A2A;
$alizarinRed: #DE2726;
$pacificBlue: #00A0DD;
$cobaltBlue: #005aa0;
$ceruleanBlue: #0064A8;
$ChateauGreen: #3bae49;
$GondolaGrey : #353535;
$whiteSmoke: #EFEFEF;