.article-details-page {
  .aem-GridColumn {
    padding: 0;
  }

  .columnControl {
    .image-text-container {
      .content-wrapper {
        .content-inner-wrapper {
          .left-wrapper {
            padding: 0;
            .richText {
              p {
                margin: 20px 0;
              }

              h4 {
                margin: 0;
              }

              ul, ol {
                padding-left: 20px;
                margin-bottom: 0;

                li {
                  list-style-type: inherit;
                  margin: 5px 0;
                  &:first-child {
                    margin-top: 0;
                  }
                  &:last-child {
                    margin-bottom:0;
                  }

                  p {
                    margin: 0;
                  }
                }
              }
            }

            .card {
              .image-container {
                img {
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .more-article {
    @media #{$medium-down} {
      display: none;
    }

    .articlecomponent-outer-wrapper {
      h3 {
        margin-top: 31px;
        margin-bottom: 12px;
      }

      .articlecomponent-container {
        margin: 0;

        li {
          width: 100%;
          padding: 0;

          .articlecomponent-info {
            padding: 0;

            .img-wrapper {
              img {
                height: auto;
                @media #{$medium-up} {
                  width:100%;
                }
              }
            }

            .articlecomponent-headline {
              h3 {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }

  .right-wrapper {
    @media #{$small-down} {
      padding: 0;
    }
    .target-carousal-component-outer-wrapper {
      &.target-recommended-product {
        @media #{$small-down} {
          width: 318px;
          margin: 0px auto;
        }
        @media #{$small-up} {
          width: 388px;
          margin: 0px auto;
        }
        @media #{$large-up} {
          width: auto;
        }
        .target-carousal-component-container {
          li {
            padding: 0 17px;
            .target-carousal-component-info {
              margin-bottom: 20px;
              @media #{$small-up} {
                margin-bottom: 23px;
              }
              @media #{$large-up} {
                margin-bottom: 23px;
              }
              .img-wrapper {
                img {
                  height: 280px;
                  @media #{$small-up} {
                    height: 350px;
                  }
                  @media #{$large-up} {
                    height: 350px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .card-component{
    min-height: 150px;
    @media #{$small-up} {
      min-height: 250px;
    }
    @media #{$large-up} {
      min-height: 350px;
    }
  }
}

.landing-page {
  .textOverlayComponent.text-overlay-with-title-image {
    .main-title {
      h1 {
        margin-bottom: 40px;

        @media #{$small-down} {
          margin-bottom: 30px;
        }
      }
    }
  }

  .breadcrumbs.text-center {
    .breadcrumb-container {
      .breadcrumb {
        padding: 18px 40px;
      }
    }
  }

  .carouselContainer {
    .main-title {
      margin: 0 0 28px 0;
    }

    .slick-dotted.slick-slider {
      padding-left: 0;
      margin-left: 0;
      margin-top: 0;

      @media #{$medium-down} {
        padding-left: 0;
        margin-left: 0;
        margin-top: 0px;
        margin-bottom: 12px;

      }
    }


      .flexible-carousel-component {
        .slider-content.carousal-autoWidth{
          margin-bottom: 0;
      .slick-arrow {
        margin-top: 0;
        top:calc(50% - 50px);
        &.slick-prev {
          left:0
        }
      }

      .slick-slide {
        .card-component .text-container {
          max-width: 150px;
          display: inline-block;

          .text-para {
            margin: 0;
          }
        }
      }

      .slick-dots {
        margin: 20px 0 0 0;
        line-height: 1;
      }
     }
    }
   }
 

  .columnControl {
    .textOverlayComponent.default-container{
      .mobile-bg {
        @media #{$small-down} { 
          padding: 20px;
        }
      }
    } 
  }
}

/*Divider style starts*/
.divider {
  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.article-landing-divider {
    padding: 30px 30px 32px 30px;

    @media #{$medium-only} {
      padding: 30px 21px 32px 21px;
    }

    @media #{$small-down} {
      padding: 21px 0 25px 0;
    }
  }

  &.category-landing-divider {
    padding: 26px 39px 39px 51px;

    @media #{$medium-only} {
      padding: 40px 21px 30px 35px;
    }

    @media #{$small-down} {
      padding: 30px 0;
    }
  }

  &.default-divider {
    padding: 0;
  }

  &.mobile-divider {
    display: none;

    @media #{$small-down} {
      display: block;
      padding: 0 0 30px 0;
    }
  }

  &.desktop-divider {
    display: block;

    @media #{$medium-down} {
      display: none;
    }
  }
}

.category-landing-page {
  .breadcrumbs.text-center {
    .breadcrumb-container {
      .breadcrumb {
        padding: 18px 40px;
      }
    }
  }

  .textOverlayComponent {
    .main-title {
      h1 {
        margin-bottom: 40px;

        @media #{$small-down} {
          margin-bottom: 30px;
        }
      }
    }
  }

  .enhanced-70-30 {

    .card {     
      &:last-child {
        padding: 0 31px 0 31px;
        &:not(.plain-70-30){
          @media #{$xl-only}{
            float: right;
          }
        }

        @media #{$medium-only} {
          padding: 24px 35px 0 35px;
        }

        @media #{$small-down} {
          padding: 15px 15px 0 15px;
        }
      }
    }
  }
}

/*RTE fonts*/
.maax-regular {
  @include font-properties($maax,$localFontVerdana);
  font-weight: 400;
}

.maax-medium {
  @include font-properties($maaxMedium,$localFontVerdana);
  font-weight: 500;
}

//AEMMP-4239 // Recommended carousel
.target-carousal-component-outer-wrapper {
  .target-carousal-component-container {
    margin-top: 0;
    li {
      .target-carousal-component-info {
        .img-wrapper {
          a {
            width: 100%;
            img {
              height: auto;
              width: 100%;
              max-width: 100%;
            }
          }
        }
      } 
    }
  }
  &.target-recommended-product {
    .target-carousal-component-container {
      li { 
        .target-carousal-component-info {
          .img-wrapper { 
            img {
              height: auto;
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
//AEMMP-4246 // Search Result Page
.related-grid-lists {
  .tag-not-available {
    display: none;
  }
}
// AEMMP-4395 - Adjusting padding for Target Carousal Title in ThankYou Page
.fp-cm-emailsubscription-page,
.fp-contentpage {
  .target-carousal-component-container{
    .target-carousal-title {
      h2{
        margin: 40px 0 0;
        @media #{$small-down} {
          margin: 20px 0 0;
        }
      }
    }
  }
}
