// Hamburger Styles
.hamburger {
    color: mapping($mainNav, hamburger, txtColor);
    margin: mapping($mainNav, hamburger, margin);
    float: mapping($mainNav, hamburger, floating);

    @if mapping($layout, main, isRescueHeroes)==true {
        width: mapping($mainNav, hamburger, hamburgerWidth);
        @include font-properties($maaxBold,$localFontVerdana);
        font-size: mapping($mainNav, hamburger, txtFontSize);
        min-height: mapping($mainNav, hamburger, minHeight);
    }

    @media #{$medium-up} {
        display: mapping($mainNav, hamburger, tabLandscapeDisplay);
    }

    @media #{$large-up} {
        display: mapping($mainNav, hamburger, desktopDisplay);
    }

    &:after {
        font-size: mapping($mainNav, hamburger, iconFontSize);

        @if mapping($layout, main, isRescueHeroes)==true {
            content: mapping($mainNav, hamburger, closeStateIcon);
            font-family: mapping($mainNav, hamburger, icnFontFamily);
            margin: mapping($mainNav, hamburger, icnMargin);
        }
    }

    &.open {
        &:after {
            content: mapping($mainNav, hamburger, openStateIcon);
        }
    }

    &:focus {
        color: mapping($mainNav, hamburger, focusColor);
    }

    &:hover {
        color: mapping($mainNav, hamburger, hoverColor);
    }

    @if mapping($layout, main, isWhyPlay)==true {
        @media #{$small-up} {
            margin: mapping($mainNav, hamburger, marginTab);
        }
    }
}

// Primary Navigation Styles
.primary-nav {

    @media #{$large-down} {
        display: none;
        position: absolute;
        left: mapping($mainNav, primaryNav, mobPosLeft);
        top: mapping($mainNav, primaryNav, mobPosTop);
        width: mapping($mainNav, primaryNav, mobWidth);
        height: mapping($mainNav, primaryNav, mobHeight);
        background-color: mapping($mainNav, primaryNav, mobBgndColor);
        box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.25);
        max-height: mapping($mainNav, primaryNav, mobMaxHeight);
        background-image: mapping($mainNav, primaryNav, deskDownBgImage);
        background-size: if(mapping($mainNav, primaryNav, bgSize), mapping($mainNav, primaryNav, bgSize), 7em);
        background-repeat: mapping($mainNav, primaryNav, bgRepeat);
        background-position: mapping($mainNav, primaryNav, bgPosition);
        overflow-y: if(mapping($mainNav, primaryNav, overflowscroll), mapping($mainNav, primaryNav, overflowscroll), scroll);

        ul {
            background-color: mapping($mainNav, primaryNavUL, mobBgndColor);
            background-image: mapping($mainNav, primaryNavUL, deskDownBgImage);
            background-position: 95% 90%;
            background-size: if(mapping($mainNav, primaryNavUL, bgSize), mapping($mainNav, primaryNavUL, bgSize), 7em);
            background-repeat: no-repeat;

            @media #{$small-down} {
                text-align: mapping($mainNav, primaryNavUL, textAlign);
                background-image: mapping($mainNav, primaryNavUL, mobBgImage);
            }

            @media #{$medium-down} {
                text-align: mapping($mainNav, primaryNavUL, textAlignTab);
            }
        }
    }

    @media #{$small-up} {
        top: mapping($mainNav, primaryNav, tabPosTop);
    }

    @media #{$large-up} {
        float: mapping($mainNav, primaryNav, floating);
        display: mapping($mainNav, primaryNav, desktopDisplay);
        min-height: mapping($mainNav, primaryNav, minHeight);
        background: mapping($mainNav, primaryNav, bgnd);
        height: mapping($mainNav, primaryNav, height);
    }

    ul {
        font-family: mapping($mainNav, primaryNavUL, fontFamily);
        margin: mapping($mainNav, primaryNavUL, mobMargin);

        @media #{$large-down} {
            margin: mapping($mainNav, primaryNavUL, tabLandMargin);
        }

        @media #{$large-up} {
            margin: mapping($mainNav, primaryNavUL, desktopMargin);
            height: mapping($mainNav, primaryNavUL, desktopHeight);
        }

        li {
            display: block;
            position: relative;
            vertical-align: middle;
            padding: mapping($mainNav, primaryNavUlLi, mobPad);

            @media (min-width: 768px) and (max-width: 1199px) {
                text-align: center;

                ul {
                    display: none;
                }
            }

            @media #{$small-up} {
                padding: mapping($mainNav, primaryNavUlLi, mobTabPad);
            }

            @media #{$large-up} {
                display: inline-block;
                padding: mapping($mainNav, primaryNavUlLi, mobPad);

                @if mapping($layout, main, isWhyPlay)==true {
                    padding: mapping($mainNav, primaryNavUlLi, deskPad);
                }

                height: mapping($mainNav, primaryNavUL, desktopHeight);

                &:hover,
                &:focus {

                    // &:focus-within  - not supported in IE
                    ul {
                        display: block;
                        visibility: visible;
                    }

                    >a {
                        color: mapping($mainNav, primaryNavUL, highlightParent);
                    }
                }
            }

            a {
                color: mapping($mainNav, primaryNavUlLiA, mobAnchorColor);
                @include font-properties($maaxBold,$localFontVerdana);
                letter-spacing: if(mapping($mainNav, primaryNavUlLiA, letterSpacing), mapping($mainNav, primaryNavUlLiA, letterSpacing), 1px);

                @if mapping($layout, main, isLilglee)==true {
                    line-height: 1em;
                }

                @if mapping($layout, main, isWhyPlay)==true {
                    line-height: 1.5em;
                }

                @if mapping($layout, main, isFisherPriceNav)==true {
                    line-height: mapping($mainNav, primaryNavUlLiA, lineHeight);
                }

                @media #{$large-up} {
                    color: mapping($mainNav, primaryNavUlLiA, desktopAnchorColor);
                    display: table-cell;
                    vertical-align: middle;
                    border-bottom: mapping($mainNav, primaryNavUlLiA, borderBottom);
                    padding: mapping($mainNav, primaryNavUlLiA, desktopPad);

                    &.active {
                        border-bottom: mapping($mainNav, primaryNavUlLiA, anchActiveBrdrBot);
                        color: mapping($mainNav, primaryNavUlLiA, anchorActiveColor);
                    }

                    &:hover {
                        color: mapping($mainNav, primaryNavUlLiA, desktopAnchorHoverColor);
                    }
                }

                display: block;
                text-decoration: mapping($mainNav, primaryNavUlLiA, textDecoration);
                font-size: mapping($mainNav, primaryNavUlLiA, fontSize);
                font-weight: mapping($mainNav, primaryNavUlLiA, fontWeight);
                text-transform: mapping($mainNav, primaryNavUlLiA, textTransform);
                padding:mapping($mainNav, primaryNavUlLiA, mobPad);

                @media #{$large-down} {
                    -webkit-text-stroke-width: mapping($mainNav, primaryNavUlLiA, strokeWidth);
                    -webkit-text-stroke-color: mapping($mainNav, primaryNavUlLiA, strokeColor);

                }

                img {
                    width: mapping($mainNav, primaryNavUlLiA, linkImgWidthDesk);
                    margin: mapping($mainNav, primaryNavUlLiA, linkImgMargin);
                }

                @if mapping($layout, main, isfisherprice)==true {
                    .fa-chevron-left {
                        margin-right: 5px;
                    }
                }

                @if mapping($layout, main, isWhyPlay)==true {
                    .fa-chevron-left {
                        display: none;
                    }
                }

                @if mapping($layout, main, isRescueHeroes)==true {
                    @media #{$medium-down} {
                        font-size: mapping($mainNav, primaryNavUlLiA, fontSizeMob);
                    }
                }

            }

            .header-img {
                width: mapping($mainNav, headerImage, width);
                height: mapping($mainNav, headerImage, height);
                margin-right: mapping($mainNav, headerImage, marRight);
            }

            ul {
                display: none;
                background-color: mapping($mainNav, primaryNavUlLiUL, bgndColor);
                position: absolute;
                top: mapping($mainNav, primaryNavUlLiUL, posTop);
                left: mapping($mainNav, primaryNavUlLiUL, posLeft);
                width: mapping($mainNav, primaryNavUlLiUL, width);
                -webkit-transition: 250ms cubic-bezier(.25, .75, .75, 1.25);
                -o-transition: 250ms cubic-bezier(.25, .75, .75, 1.25);
                transition: 250ms cubic-bezier(.25, .75, .75, 1.25);
                height: auto;

                li {
                    display: block;
                    font-size: mapping($mainNav, primaryNavUlLiUlLi, fontSize);
                    padding: mapping($mainNav, primaryNavUlLiUlLi, pad);

                    a {
                        color: mapping($mainNav, primaryNavUlLiUlLiA, txtColor);
                        border-bottom: mapping($mainNav, primaryNavUlLiUlLiA, borderBottom);
                        padding: mapping($mainNav, primaryNavUlLiUlLiA, pad);
                    }
                }
            }
        }
    }

    @media #{$large-down} {
        ul {
            li {
                a {
                    &.show-sub-nav {
                        font-size: mapping($mainNav, primaryNavUlLiA, showSubNavFontSize);
                        color: mapping($mainNav, primaryNavUlLiA, showSubNavColor);
                        width: mapping($mainNav, primaryNavUlLiA, showSubNavWidth);
                        height: mapping($mainNav, primaryNavUlLiA, showSubNavHeight);
                        float: mapping($mainNav, primaryNavUlLiA, showSubNavFloat);
                        padding: mapping($mainNav, primaryNavUlLiA, showSubNavPad);
                        line-height: mapping($mainNav, primaryNavUlLiA, showSubNavLineHeight);
                        text-align: mapping($mainNav, primaryNavUlLiA, showSubNavTextAlign);
                        margin-top: mapping($mainNav, primaryNavUlLiA, showSubNavMarginTop);

                        @if mapping($mainNav, primaryNavUlLiA, isHideSubnav)==true {
                            display: none;
                            position: absolute;
                            right: 15px;
                        }
                    }
                }

                ul {
                    display: none;
                    background-color: mapping($mainNav, primaryNavUlLiUL, deskDownBgndColor);
                    position: mapping($mainNav, primaryNavUlLiUL, deskDownPos);
                    top: mapping($mainNav, primaryNavUlLiUL, deskDownPosTop);
                    left: mapping($mainNav, primaryNavUlLiUL, deskDownPosLeft);
                    width: mapping($mainNav, primaryNavUlLiUL, deskDownWidth);

                    li {
                        font-size: mapping($mainNav, primaryNavUlLiUlLi, deskDownFontSize);
                        padding: mapping($mainNav, primaryNavUlLiUlLi, deskDownPad);
                        border: mapping($mainNav, primaryNavUlLiUlLi, deskDownBrdr);
                        text-indent: mapping($mainNav, primaryNavUlLiUlLi, deskDownTxtIndent);
                    }
                }
            }
        }
    }
}




@if mapping($layout, main, isfisherprice)==true {
    @media #{$small-up} {
        .hamburger {
            display: none;
        }

        .primary-nav {
            display: block;
            top: 0;
            text-align: right;
            box-shadow: none;
            height: auto;
            float: right;

            ul {
                margin: 0;
            }
        }
    }
}

@if mapping($layout, main, isWhyPlay)==true {
    .primary-nav {
        @media #{$medium-up} {
            li>a:not(:only-child):after {
                content: ' ▾';
            }
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            li>a:after {
                display: none;
            }
        }
    }

}