.mq-wrapper {
    .row {
        .mq-banner-copy {
            .mq-banner-text {
                @include font-properties($maaxBold,$localFontVerdana);
                font-weight: 700;
            }
        }
        .quizQuestion {
            section {
                .mq-question-info {
                    >h1, >h2, >h3, >h4, >h5, >h6 {
                        @include font-properties($letsBeGlyphs,$localFontInfo);
                    }
                }
                .mq-question-counter{
                    @include font-properties($maaxMedium,$localFontVerdana);
                    font-weight: 500;
                    span{
                        @include font-properties($maaxMedium,$localFontVerdana);
                        font-weight: 500;
                    }
                }
            }
        }
        .mq-thankyou {
            .mq-thanks-txt-msg{
                .card{
                    .card-component{
                        .text-container{
                            .content {
                                .main-title{
                                    @include font-properties($letsBeGlyphs,$localFontInfo);
                                }
                                .sub-title{
                                    @include font-properties($letsBeGlyphs,$localFontInfo);
                                }
                                .text-para {
                                    p{
                                        @include font-properties($maax,$localFontVerdana);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .mq-recomm {
                .mq-recomm-block {
                    ul {
                        li{
                            .product-info {
                                .grid-title-wrapper {
                                    p{
                                        @include font-properties($maax,$localFontVerdana);
                                    }
                                }
                                .product-price {
                                    @include font-properties($maaxBold,$localFontVerdana);
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .ctaItem {
		.cta-item {
			a {
				&.btn-cta-item {
                    @include font-properties($maax,$localFontVerdana);
                }
            }
        }
    }
}