.recommendedProducts {

    .recommendation-title {
        background-color: mapping($recommendedProducts, recommendationTitle, bgColor);
        padding: mapping($recommendedProducts, recommendationTitle, padding);
        margin-bottom: mapping($recommendedProducts, recommendationTitle, marginBottom);
        height: mapping($recommendedProducts, recommendationTitle, height);
        width: mapping($recommendedProducts, recommendationTitle, width);
        float: mapping($recommendedProducts, recommendationTitle, float);

        h1 {
            font-size: mapping($recommendedProducts, recommendationTitle, fontSize);
            color: mapping($recommendedProducts, recommendationTitle, color);
            text-transform: mapping($recommendedProducts, recommendationTitle, textTransform);
            margin: mapping($recommendedProducts, recommendationTitle, margin);
            text-align: mapping($recommendedProducts, recommendationTitle, textAlign);
            display: mapping($recommendedProducts, recommendationTitle, display);
            line-height: mapping($recommendedProducts, recommendationTitle, lineHeight);
        }
    }
}