.ticker-outer-wrapper {
    .ticker-component {
        .ticker-content {
            .ticker-button{
                .ctaItem{
                    .btn-cta-item{
                        height: auto;
                        width: auto;
                        min-height: 36px;
                        min-width: 124px;
                        @media #{$md-only} {
                            margin-right: 45px;
                        }
                    }
                    &.large-cta, &.medium-cta, &.small-cta {
                        .btn-cta-item{
                            min-width: 130px;
                            @media #{$small-up} {
                                margin: 7px 0;
                            }
                        }
                    } 
                    &.large-cta .btn-cta-item{
                        min-height: 61px;
                    }
                    &.medium-cta .btn-cta-item{
                        min-height: 53px;
                    }
                    &.small-cta .btn-cta-item{
                        min-height: 43px;
                    }
                }
            }
        }
    }
}
.light-theme{
    .ticker-outer-wrapper {
        .ticker-component {
            .ticker-content {
                .ticker-button{
                    .ctaItem.solid{
                        .btn-cta-item{
                            line-height: normal;
                            &:hover{
                                color: $white;
                                background-color: $lbk-red;
                            }
                        }
                    }
                    .ctaItem.outline{
                        .btn-cta-item{
                            line-height: normal;
                            &:hover{
                                color: $white;
                                background-color: $lbk-red;
                                border: 2px solid transparent;
                            }
                        }
                    }
                    .ctaItem.text-arrow{
                        .btn-cta-item{
                            background-color: transparent;
                            color: $black;
                            padding: 0;
                            width: inherit;
                            display: inline;
                            &:before{
                                right: -15px;
                                top: 2px;
                            }
                            &:hover{
                                color: $lbk-red;
                            }
                        }
                    }
                    .ctaItem.text-primary, .ctaItem.text-secondary{
                        .btn-cta-item{
                            background-color: transparent;
                            color: $black;
                            padding: 0;
                            width: auto;
                            display: inline;
                            border-bottom-width: 2px;
                            &:hover{
                                color: $lbk-red;
                                border-bottom-width: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}
.dark-theme{
    .ticker-outer-wrapper {
        .ticker-component {
            .ticker-content {
                .ticker-button{
                    .ctaItem.solid{
                        .btn-cta-item{
                            line-height: normal;
                            background-color: $white;
                            color: $lbk-nav-blue;
                            &:hover{
                                color: $white;
                                background-color: $lbk-red;
                            }
                        }
                    }
                    .ctaItem.outline{
                        .btn-cta-item{
                            line-height: normal;
                            background-color: $white;
                            color: $lbk-nav-blue;
                            border:2px solid $lbk-nav-blue;
                            &:hover{
                                color: $white;
                                background-color: $lbk-red;
                                border: 2px solid transparent;
                            }
                        }
                    }
                    .ctaItem.text-arrow{
                        .btn-cta-item{
                            background-color: transparent;
                            color: $white;
                            padding: 0;
                            width: inherit;
                            display: inline;
                            &:before{
                                right: -15px;
                                top: 2px;
                            }
                            &:hover{
                                color: $lbk-red;
                            }
                        }
                    }
                    .ctaItem.text-primary, .ctaItem.text-secondary{
                        .btn-cta-item{
                            background-color: transparent;
                            color: $white;
                            padding: 0;
                            width: auto;
                            display: inline;
                            border-bottom-width: 2px;
                            &:hover{
                                color: $lbk-red;
                                border-bottom-width: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}
