.nav-carousel-slides {
    background-color: mapping($categarynav,main,bgndColor);
    // padding: mapping($categarynav,main,pad);
    // margin: mapping($categarynav,main,margin);
    li {
        display: mapping($categarynav,categarynavList,display);
        margin-right: mapping($categarynav,categarynavList,marginRight);
        a {
            display: mapping($categarynav,categarynavLink,display);
            // color: mapping($categarynav,categarynavLink,txtColor);
            // background-color: mapping($categarynav,categarynavLink,bgndColor);
            font-weight: mapping($categarynav,categarynavLink,fntWeight);
            // padding: mapping($categarynav,categarynavLink,pad);
            text-transform: mapping($categarynav,categarynavLink,txtTransform);
            text-align: mapping($categarynav,categarynavLink,txtAlign);
            white-space: mapping($categarynav,categarynavLink,whitSpace);
            width:  mapping($categarynav,categarynavLink,width);
            min-width: mapping($categarynav,categarynavLink,minWidth);
            // @include border-radius(mapping($categarynav,categarynavLink,borderRadius));
            // border: mapping($categarynav,categarynavLink,borderColor);
            &:hover,
            &:focus,
            &.active {
                // color: mapping($categarynav,categarynavLink,hovertxtColor);
                // background-color: mapping($categarynav,categarynavLink,hoverbgndColor);
                // border: mapping($categarynav,categarynavLink,hoverborderColor);
            }
             
        }
    }
    .slick-track {
        margin-left: mapping($categarynav,categaryslickTrack,marginLeft);
    }
    .slick-prev,
    .slick-next {
        @if mapping($layout,main,isMonsterHigh) == true {
            background-color: mapping($categarynav,categaryslickprevNext,bgndColor);
        }
        &:before {
            font-family: mapping($categarynav,categaryslickprevNext,fntFamily);
            background-color: mapping($categarynav,categaryslickprevNext,bgndColor);
            
            @if mapping($layout,main,isMonsterHigh) == true {
                font-size: mapping($categarynav,categaryslickprevNext,arrowFontSize); 
                color: mapping($categarynav,categaryslickprevNext,arrowColor); 
            }
        }
    }
    .slick-prev {
        &:before {
            content: mapping($categarynav,categaryslickPrev,prevContent);
        }
    }
    .slick-next {
        &:before {
            content: mapping($categarynav,categaryslickNext,nextContent);
        }
    }
    &.char-tiles {
        padding: mapping($categarynav,categarytile,pad);
        @if mapping($categarynav,categarytile,isEnchantCharList) == true {
            @extend .container;
        }
        @media #{$medium-down} {
            .slick-prev, .slick-next{
                top:50%;
                transform: translate(0,-50%);
                &.slick-disabled{
                    &:focus{
                        outline: 1;
                    }
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
        @media #{$medium-up} {
             .slick-prev, .slick-next{
                &.slick-disabled{
                    &:focus{
                        outline: 1;
                    }
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }

        li {
            margin-right: mapping($categarynav,categarytileList,marginRight);
            background-color: mapping($categarynav,categarytileList,bgndColor);
            a {
                position: mapping($categarynav,categarytileLink,pos);
                border-radius: mapping($categarynav,categarytileLink,borderRadius);
                border: mapping($categarynav,categarytileLink,borderColor);
                padding: mapping($categarynav,categarytileLink,pad);
                text-align: mapping($categarynav,categarytileLink,txtAlign);
                &:hover,
                &:focus,
                &.active {
                    background: mapping($categarynav,categarytileLink,hoverBgnd);
                    color: mapping($categarynav,categarytileLink,hovertxtColor);
                    border:mapping($categarynav,categarytileLink,hoverborderColor);
                    // opacity: mapping($categarynav,categarytileLink,hoveropacity);
                    opacity: unset;
                }
                span {
                    position: mapping($categarynav,categarytileSpan,pos);
                    z-index: mapping($categarynav,categarytileSpan,z-index);
                    left: mapping($categarynav,categarytileSpan,posLeft);
                    bottom: mapping($categarynav,categarytileSpan,posBottom);
                    display: mapping($categarynav,categarytileSpan,display);

                    width: mapping($categarynav,categarytileSpan,width);
                    padding: mapping($categarynav,categarytileSpan,pad);
                    margin: mapping($categarynav,categarytileSpan,margin);

                    background-color: mapping($categarynav,categarytileSpan,bgndColor);
                    color: mapping($categarynav,categarytileSpan,txtColor);
                    
                    font-size: mapping($categarynav,categarytileSpan,fntSize);
                    line-height: mapping($categarynav,categarytileSpan,lineHeight);
                    letter-spacing: mapping($categarynav,categarytileSpan,letterSpacing);
                    white-space: mapping($categarynav,categarytileSpan,whitSpace);
                    text-align: mapping($categarynav,categarytileSpan,txtAlign);
                    text-transform: mapping($categarynav,categarytileSpan,txtTransform);

                    cursor: mapping($categarynav,categarytileSpan,cursor);
                    
                    @include transform(mapping($categarynav,categarytileSpan,transform));
                    @include transition(mapping($categarynav,categarytileSpan,transition)); 
                    @include border-radius(mapping($categarynav,categarytileSpan,borderRadius));
 
                }
            }
        }
    }
}

.enable-carousel-nav {
    @media #{$small-down} {
        padding:0;
        margin-top:0;
    }
    .category-drpdown-display {
        display: mapping($categarynav,categarycarouseldropDown,display);
    }
    @media #{$small-down} {
        .crm-container {
            position: mapping($categarynav,carouselcrmContainer,mobPos);
        }
        .category-drpdown-display {
            display: mapping($categarynav,categarydropDown,display);
            text-align: mapping($categarynav,categarydropDown,txtAlign);
            width: mapping($categarynav,categarydropDown,width);
            border: mapping($categarynav,categarydropDown,borderColor);
            border-radius: mapping($categarynav,categarydropDown,borderRadius);
            background: mapping($categarynav,categarydropDown,bgnd);
            color: mapping($categarynav,categarydropDown,txtColor);
            font-weight: mapping($categarynav,categarydropDown,fntWeight);
            padding: mapping($categarynav,categarydropDown,pad);
            float: mapping($categarynav,categarydropDown,float);
            margin-bottom: mapping($categarynav,categarydropDown,marginBottom);
            position: mapping($categarynav,categarydropDown,pos);
            span {
                position: mapping($categarynav,categarydropdownSpan,pos);
                width: mapping($categarynav,categarydropdownSpan,width);
                height: mapping($categarynav,categarydropdownSpan,height);
                background: mapping($categarynav,categarydropdownSpan,bgnd);
                right: mapping($categarynav,categarydropdownSpan,posRight);
                top: mapping($categarynav,categarydropdownSpan,posTop);
                &:before {
                    border-left: mapping($categarynav,categarydropdownspanBefore,posborderLeft);
                    border-right: mapping($categarynav,categarydropdownspanBefore,posborderRight);
                    border-top: mapping($categarynav,categarydropdownspanBefore,posborderTop);
                    margin: mapping($categarynav,categarydropdownspanBefore,margin);
                    content: mapping($categarynav,categarydropdownspanBefore,beforeContent);
                    display: mapping($categarynav,categarydropdownspanBefore,display);
                    width: mapping($categarynav,categarydropdownspanBefore,width);
                    margin-top: mapping($categarynav,categarydropdownspanBefore,marginTop);
                }
            }
        }
        .nav-carousel-slides {
             &.nav-categorylist{
                display: mapping($categarynav,slidescategoryList,display);
                background: mapping($categarynav,slidescategoryList,bgnd);
                padding: mapping($categarynav,slidescategoryList,pad);
                position: mapping($categarynav,slidescategoryList,pos);
                z-index: mapping($categarynav,slidescategoryList,zIndex);
                top: 46px;
                border: mapping($categarynav,slidescategoryList,borderColor);
                width: mapping($categarynav,slidescategoryList,width);
                li {
                    text-align: mapping($categarynav,slidescategoryListL,txtAlign);
                    /*background: $white;*/
                    border-bottom: mapping($categarynav,slidescategoryListL,borderBottom);
                    border-top: mapping($categarynav,slidescategoryListL,borderTop);
                    width: mapping($categarynav,slidescategoryListL,width);
                    margin: mapping($categarynav,slidescategoryListL,margin);
                    display: mapping($categarynav,slidescategoryListL,display);
                    @media #{$small-down} {
                        width: mapping($categarynav,slidescategoryListL,mobWidth);
                        margin:mapping($categarynav,slidescategoryListL,mobMargin);
                    	
                    }
                    &:hover,
                    &:active {
                        // background: mapping($categarynav,slidescategoryListL,hoverbgnd);
                        color: mapping($categarynav,slidescategoryListL,hovertxtColor);
                        border: mapping($categarynav,slidescategoryListL,hoverborderColor);
                        width: mapping($categarynav,slidescategoryListL,hoverWidth);
                        // padding-left: mapping($categarynav,slidescategoryListL,hoverpaddingLeft);
                        // outline: mapping($categarynav,slidescategoryListL,hoverOutline);
                    }
                    a {
                        width: mapping($categarynav,slidescategoryListLink,width);
                        min-width: mapping($categarynav,slidescategoryListLink,minWidth);
                        margin: mapping($categarynav,slidescategoryListLink,margin);
                        color: mapping($categarynav,slidescategoryListLink,txtColor);
                        border-radius: mapping($categarynav,slidescategoryListLink,borderRadius);
                        border: mapping($categarynav,slidescategoryListLink,borderColor);
                        text-align: mapping($categarynav,slidescategoryListLink,txtAlign);
                        &:hover,
                        &:active {
                            background: mapping($categarynav,slidescategoryListLink,hoverBgnd);
                            color: mapping($categarynav,slidescategoryListLink,hovertxtColor);
                        }
                        &.active {
                            background: mapping($categarynav,slidescategoryListLink,hoverBgnd);
                             @media #{$small-down} {
             				 background: mapping($categarynav,slidescategoryListLink,mobBgnd);
             				}
                        }
                         @media #{$small-down} {
             				color: mapping($categarynav,slidescategoryListLink,mobtxtColor);
                             text-align: center;
             			}

                    }
                    &:last-child a {
                        border-bottom: mapping($categarynav,slidescategoryListLink,borderBottom);
                    }
                    &:last-child {
                        border-bottom: mapping($categarynav,slidescategoryListLink,borderBottom);
                    }
                   
                }
            }
        }
    }
}
