/*
  Noto sans - Fonts Usage
-------------------
 Regular - 400
 Bold - 700
*/


/*
  Swiss Fonts Usage
-------------------
 Light - 300
 Regular - 400
 Medium - 500
 Semi bold - 600
 Bold - 700
*/
// $fontPath : "../resources/fonts";
// $fontPath : "../css/fonts";
$fontPath : "../fonts";



// @font-face {
//     font-family: "Swiss";
//     src: url(#{$fontPath}/Swiss721Blk.eot);
//     src: url(#{$fontPath}/Swiss721Blk.eot?#iefix) format("embedded-opentype"),
// 	//url(#{$fontPath}/Swiss721Blk.woff2) format("woff2"),url(#{$fontPath}/Swiss721Blk.woff) format("woff"),url(#{$fontPath}/Swiss721Blk.ttf) format("truetype"),url(#{$fontPath}/Swiss721Blk.svg) format("svg");
// 	url(#{$fontPath}/Swiss721Blk.ttf) format("truetype"),url(#{$fontPath}/Swiss721Blk.svg) format("svg");
// 	font-weight:$fontLight;
// }

// @font-face {
//     font-family: "Swiss";
//     src: url(#{$fontPath}/Swiss721BT-BlackRounded.eot);
//     src: url(#{$fontPath}/Swiss721BT-BlackRounded.eot?#iefix) format("embedded-opentype"),
// 	//url(#{$fontPath}/Swiss721BT-BlackRounded.woff2) format("woff2"),url(#{$fontPath}/Swiss721BT-BlackRounded.woff) format("woff"),url(#{$fontPath}/Swiss721BT-BlackRounded.ttf) format("truetype"),url(#{$fontPath}/Swiss721BT-BlackRounded.svg) format("svg");
// 	url(#{$fontPath}/Swiss721BT-BlackRounded.ttf) format("truetype"),url(#{$fontPath}/Swiss721BT-BlackRounded.svg) format("svg");
// 	font-weight: $fontRegular;
// }

// @font-face {
//     font-family: "Swiss";
//     src: url(#{$fontPath}/Swiss721BT-BoldRounded.eot);
//     src: url(#{$fontPath}/Swiss721BT-BoldRounded.eot?#iefix) format("embedded-opentype"),
// 	//url(#{$fontPath}/Swiss721BT-BoldRounded.woff2) format("woff2"),url(#{$fontPath}/Swiss721BT-BoldRounded.woff) format("woff"),url(#{$fontPath}/Swiss721BT-BoldRounded.ttf) format("truetype"),url(#{$fontPath}/Swiss721BT-BoldRounded.svg) format("svg");
// 	url(#{$fontPath}/Swiss721BT-BoldRounded.ttf) format("truetype"),url(#{$fontPath}/Swiss721BT-BoldRounded.svg) format("svg");
// 	font-weight: $fontBold;
// }

// @font-face {
//     font-family: "Arial";
//     src: url(#{$fontPath}/ArialRoundedMTBold.eot);
//     src: url(#{$fontPath}/ArialRoundedMTBold.eot?#iefix) format("embedded-opentype"),
// 	//url(#{$fontPath}/ArialRoundedMTBold.woff2) format("woff2"),url(#{$fontPath}/ArialRoundedMTBold.woff) format("woff"),url(#{$fontPath}/ArialRoundedMTBold.ttf) format("truetype"),url(#{$fontPath}/ArialRoundedMTBold.svg) format("svg");
// 	url(#{$fontPath}/ArialRoundedMTBold.ttf) format("truetype"),url(#{$fontPath}/ArialRoundedMTBold.svg) format("svg");
// 	font-weight: $fontBold;
// }
// // MattelFounders Font
@font-face {
    font-family: "MattelFounders";
    src: url(#{$fontPath}/MattelFounders/MattelFounders-Medium.eot);
    src: url(#{$fontPath}/MattelFounders/MattelFounders-Medium.eot?#iefix) format("embedded-opentype"),
    url(#{$fontPath}/MattelFounders/MattelFounders-Medium.ttf) format("truetype"),
	  url(#{$fontPath}/MattelFounders/MattelFounders-Medium.svg) format("svg");
	font-weight: $fontMedium;
}
@font-face {
    font-family: "MattelFounders";
    src: url(#{$fontPath}/MattelFounders/MattelFounders-Light.eot);
    src: url(#{$fontPath}/MattelFounders/MattelFounders-Light.eot?#iefix) format("embedded-opentype"),
	url(#{$fontPath}/MattelFounders/MattelFounders-Light.ttf) format("truetype"),url(#{$fontPath}/MattelFounders/MattelFounders-Light.svg) format("svg");
    font-weight: $fontLight;
}
@font-face {
    font-family: "MattelFounders";
    src: url(#{$fontPath}/MattelFounders/MattelFounders-MediumItalic.eot);
    src: url(#{$fontPath}/MattelFounders/MattelFounders-MediumItalic.eot?#iefix) format("embedded-opentype"),
	  url(#{$fontPath}/MattelFounders/MattelFounders-MediumItalic.ttf) format("truetype"),url(#{$fontPath}/MattelFounders/MattelFounders-MediumItalic.svg) format("svg");
    font-weight: $fontMedium;
    font-style: italic;
}
