// Global Styles
@import '../../../../clientlibs/clientlib-base/sass/variables/_image-path';
@import '../../../../clientlibs/clientlib-base/sass/variables/_colors';
@import '../../../../clientlibs/clientlib-base/sass/variables/_utility';
@import '../../../../clientlibs/clientlib-base/sass/variables/_media-queries';
@import '../../../../clientlibs/clientlib-base/sass/variables/_typography';
@import '../../../../clientlibs/clientlib-base/sass/mixins/mixins';


//Bootstrap styles
@import '../../../../clientlibs/clientlib-base/sass/vendors/bootstrap/bootstrap/_variables';
@import '../../../../clientlibs/clientlib-base/sass/vendors/bootstrap/bootstrap/_mixins';
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800|Oswald"); /* Including theme fonts */

// instead .col-md-4 use the below one
// @include make-md-column(4);
// @include make-sm-column(4);
// @include make-xs-column(4);


@import '../../../../clientlibs/crm/sass/utils/_variables';

// Define Local Variables
@import 'utils/_variables';

// Define Fonts
@import 'components/_fonts';

@import 'utils/_layout-variables';
@import '../../../../clientlibs/crm/sass/theme-override/_layout';

@import 'utils/_form-variables';
@import '../../../../clientlibs/crm/sass/theme-override/_form';

@import 'utils/_banner-variables';
@import '../../../../clientlibs/crm/sass/theme-override/_cda-banner';

@import 'utils/_brand-banner-variables';
@import '../../../../clientlibs/crm/sass/theme-override/_brand-banner';

@import 'utils/_footer-variables';
@import '../../../../clientlibs/crm/sass/theme-override/_footer';

@import 'utils/_image-text-variables';
@import '../../../../clientlibs/crm/sass/theme-override/_imageblock-text';

