.btn-oval {
    background: $white;
    -webkit-border-radius: em(30);
    -moz-border-radius: em(30);
    border-radius: em(30);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: "Noto Sans",sans-serif;
    font-weight: 600;
    font-size: em(16);
    line-height: em(10);
    color: $btn-light-green;
    border: 1px solid $white;    
    padding: em(12);
    text-align: center;
    font-style: italic;
    display: inline-block;
}
.btn-rounded-rectangle {
    background: $btn-red;
    -webkit-border-radius: em(30);
    -moz-border-radius: em(30);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: "Noto Sans",sans-serif;
    font-weight: 500;
    font-size: em(12);
    line-height: em(10);
    color: $white;
    border: em(2) solid $btn-red;
    padding: em(8);
    text-align: center;
    border-radius: em(5);
    

}
.btn-rounded-bordered-rectangle {
    background: transparent;
    -webkit-border-radius: em(30);
    -moz-border-radius: em(30);
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    font-family: "Noto Sans",sans-serif;
    font-weight: 500;
    font-size: em(12);
    line-height: em(2);
    color: $black;
    border: 1px solid $black;
    padding: em(12);
    text-align: center;
    border-radius: em(5);
}
.btn-rectangle-chevron {
    font-family: 'Noto Sans',sans-serif;
    font-weight: 700;
    font-size: em(14);
    line-height: 1;
    font-style: italic;
    color: $btn-light-blue;
    vertical-align: top;
    display: inline-block;
     background: none;
    border: none;
    padding: em(8);
}
.btn-rectangle-chevron:after {
    font-family: 'Font Awesome', sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    content: "\f105";
    margin-left:em(10);
    font-size: em(16);
}
.btn-curved-rectangle {
    background: linear-gradient(135deg, transparent 10px, $btn-dark-blue 0) top left, linear-gradient(225deg, transparent 10px, $btn-dark-blue 0) top right, linear-gradient(315deg, transparent 10px, $btn-dark-blue 0) bottom right, linear-gradient(45deg, transparent 10px, $btn-dark-blue 0) bottom left;
    background-size: 51% 52%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 0, rgba(204,0,0,0) 8px, $btn-dark-blue 7px), radial-gradient(circle at 100% 0, rgba(204,0,0,0) 8px, $btn-dark-blue 7px), radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 8px, $btn-dark-blue 7px), radial-gradient(circle at 0 100%, rgba(204,0,0,0) 8px, $btn-dark-blue 7px);
    border:none;
    padding: em(8) em(12);
    color: white;
    line-height: 1;
}
.btn-curved-rectangle-with-icon {
    background: linear-gradient(135deg, transparent 10px, $btn-blue 0) top left, linear-gradient(225deg, transparent 10px, $btn-blue 0) top right, linear-gradient(315deg, transparent 10px, $btn-blue 0) bottom right, linear-gradient(45deg, transparent 10px, $btn-blue 0) bottom left;
    background-size: 51% 52%;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle at 0 0, rgba(204,0,0,0) 8px, $btn-blue 7px), radial-gradient(circle at 100% 0, rgba(204,0,0,0) 8px, $btn-blue 7px), radial-gradient(circle at 100% 100%, rgba(204,0,0,0) 8px, $btn-blue 7px), radial-gradient(circle at 0 100%, rgba(204,0,0,0) 8px, $btn-blue 7px);
    border:none;
    padding: em(8) em(12);
    color: $white;
    line-height: 1.5;
    span {
        border: 1px solid $white;
    background: $white;
    margin-left:em(8);
    }
    span:after {
    font-family: 'Font Awesome', sans-serif;
    font-weight: 700;
        display: inline-block;
        content: "\f357";
        transform: rotate(45deg);
        border: 1px solid $btn-blue;
        
    }
}
.btn-rectangle , .btn-rectangle-with-right-arrow {
    font-family: 'Noto Sans',sans-serif;
    font-size: 1em;
    line-height: 1;
    color: $white;
    vertical-align: top;
    display: inline-block;
    background: $black;
    border: 1px solid $black;
    padding: em(8)
}
.btn-rounded-rectangle-chevron {
font-family: 'Noto Sans',sans-serif;
    font-weight: 700;
    font-size: em(14);
    line-height: 1;
    color:$white;
    vertical-align: top;
    display: inline-block;
     background: $btn-orange;
    border: $btn-orange;
    padding: em(8);
    border-radius: em(15);

}
.btn-rounded-rectangle-chevron:after {
    font-family: 'Font Awesome', sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    content: "\f105";
    margin-left:em(10);
    font-size: em(16);
    color:$white;
}
.btn-rectangle-with-right-arrow:after {
    font-family: 'Font Awesome', sans-serif;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: middle;
    content: "\f061";
    margin-left: em(5);
    font-size: em(10);
    color:$btn-light-pink;
}
.btn-rectangle-with-right-arrow.btn-pink {
    background:$btn-light-pink;
    color:$white;
    border:1px solid $btn-light-pink;
}
.btn-rectangle-with-right-arrow.btn-pink:after {
    color:$white;
}
.btn-arrow-right,
.btn-arrow-left {
    position: relative;
    margin-left: 20px;
    color: #fff;
    font-size: 1em;
    z-index: 10;
    padding: 10px 26px 9px 25px;
    background: none;
    border: none;
}
a.btn-arrow-right,
a.btn-arrow-left {
    padding: 9px 26px 10px 25px;
    display: inline-block;
    span {
        line-height: normal;
    }
}
.btn-arrow-right:before,
.btn-arrow-right:after,
.btn-arrow-left:before,
.btn-arrow-left:after { /* make two squares (before and after), looking similar to the button */    
    border:1px solid $btn-orange;
    border-left-color: transparent; /* hide left border */
    border-bottom-color: transparent; /* hide bottom border */
    background:$btn-orange;
    border-radius: 2px;
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    transition: all 1s;
    height: 20px;
    z-index: -1;
}
.btn-arrow-left::before {
    transform: skew(45deg);
    bottom: 0;
}
.btn-arrow-left::after {
    transform: skew(-45deg);
    top: 0;
}
.btn-arrow-right::before {
    transform: skew(45deg);
    top: 0;
}
.btn-arrow-right::after{
    transform: skew(-45deg);
    bottom: 0;
}
.btn-parallelogram {
  background:#FA8B21;
  display:inline-block;
  color:$white;
  font-size: 1em;
  font-weight:500;
  padding: .1em 1em;
  text-decoration:none;
  transform: skew(-20deg);
  border:1px solid #FA8B21;
    span {
        display:inline-block;
        transform: skew(20deg);
    }
}
