.gem-wrapper {
    .no-padding{padding: 0;}
    /*-----------------font start---------------*/
    .notosans{
        font-family: 'Noto Sans', sans-serif;
        span {
            font-family: 'Noto Sans', sans-serif;
        }
    }
    .archer{
        font-family: 'Archer', sans-serif;
        span {
            font-family: 'Archer', sans-serif;
        }
    }
    @media #{$medium-down} {
        cursor: pointer;
    }
        &.aem-GridColumn{
            padding: 0;
        }
        .aem-GridColumn{
            padding: 0;
        }
    .gem-left{
        float: left;
        width: 60%;
        padding-top:5em;
        padding-left: 6em;
        min-height:48.5em;
        @media #{$medium-only} {
            padding-left: 3em;
            padding-right: 1.5em;
        }
        @media #{$small-down} {
            padding: 3.6em 1.8em 0em 1.8em;
            width: 100%;
        }
        .image-block-wrapper{
            text-align: left;
            width:100%;
            padding: 0;
            .image-block{
                a {
                    display: inline-block;
                    img{
                        max-width: 100%;
                    }
                    }
                    img{
                    width: 130px;
                }
                margin-bottom: 6.5em;
            }
        }
        .rich-text{
            padding:0;
        }
        h2 {
            margin: 0 0 1em;
            &.gem-title{
                font-family: 'Archer', sans-serif;
                font-weight: $fontSemiBold;
                font-size: 2.95em;
                color: #0a8ee1;
                @media #{$medium-only} {
                    font-size: 2em;
                }
                @media #{$small-down} {
                    font-size: 2.6em;
                }
            }
        }
            
        p {
            padding: 0;
            margin: 0 0 1em;
            &.gem-pcont{
                font-family: 'Noto Sans', sans-serif;
                font-size:1.2em;
                color:$dark-gray;
                font-weight:$fontRegular;
                margin:0 0 1.3em 0;
            }
        }
    }
    .gem-right{
        float: right;
        width: 40%;
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
        bottom: 0;
        background-size:cover !important;
    }
}



/*----------font start----------------*/

.outer-wrapper{
    .inner-wrapper{
        .page-view{
            padding: 0;
                div{
                    &.gem-wrapper {
                    width: 100%;
                    max-width: 1440px;
                    margin: 0 auto;
                }
            }
        }
    }
}  
.gemwrapper{
    .aem-GridColumn{
        padding: 0;
        @media #{$small-down} {
            padding: 0em 1.3em;
        }
    }
}
footer{
    clear: both;
}

