.gem-wrapper {
    footer{
        background: $bg-color;
        padding: 2em 0 2.3em 6em;
        @media #{$medium-only} {
            text-align:center;
            padding: 2em 0 2.3em 0em;
        }
        @media #{$small-down} {
            padding:1em 1.7em 2.1em 1.6em;
        }
        .crm-mega-footer{
            width: 100%;
            padding: 0;
            .footer-logo{
                display:none;
            }
             .footer-links{
                padding: 0;
                 @media #{$medium-up} {
                     float: left;
                     width:58%;
                 }
                ul {
                    float: left;
                    width:100%;
                     margin-bottom: 1em;
                    @media #{$small-down} {
                        margin-bottom: 1.3em;
                        }
                        @media #{$medium-only} {
                            margin-bottom: 1em;
                            }
                    li {
                        padding: 0 3.8em 0 0;
                         @media #{$medium-up} {
                            padding: 0 2em 0 0;
                        }
                        @media #{$medium-only} {
                            padding:0;
                        }
                         @media #{$small-down} {
                              padding: 0.3em 0;
                         }
                        $medium-up: "(min-width: 992px)";
                        a{
                            color: $dark-gray;
                            font-size: 0.95em;
                            font-family: 'Noto Sans', sans-serif;
                            font-style:normal;
                            @media #{$medium-only} {
                                padding:0 1.8em;
                            }
                            @media #{$small-down} {
                                padding:0 0.8em;
                            }
                            &:hover{
                               border:none;
                            }
                            &:before{
                                display: none;
                            }
                        }
                    }
                }
                p {
                    color: $dark-gray;
                    font-size: 0.95em;
                    font-family: 'Noto Sans', sans-serif;
                    font-style:normal;
                }
            }
            .crm-socials{
                padding: 0;
                margin-top: 0.5em;
                @media #{$small-down} {
                    margin-top: 1.3em;
                    }
                @media #{$medium-only} {
                    margin-top: 1.3em;
                }
                .stay-in-touch{
                    font-family: "Archer", sans-serif;
                    color: $dim-light-blue;
                    font-size:1.3em;
                    font-style:normal;
                    display: inline-block;
                     @media #{$small-down} {
                        display: block;
                    }
                     @media #{$medium-only} {
                        display: block;
                    }
                    @media #{$medium-up} {
                        position: relative;
                        top: -15px;
                    }
                    @media #{$medium-only} {
                        padding-left:0;
                    }
                }
                ul{
                    margin-bottom:0;
                    display: inline-block;
                    @media #{$small-down} {
                        padding-left:1em;
                    }
                    @media #{$medium-only} {
                        padding-left:1em;
                    }
                    li{
                        float: left;
                        display: block;
                        padding-right: 1em;
                        a{
                            background: none;
                            width: 40px;
                            border-radius: 0;
                            height: 40px;
                            &:after{
                                content:"";
                            }
                            &.youtube{
                                background: url('../resources/img/youtube.png') no-repeat;
                                background-size: cover;
                            }
                            &.facebook{
                                background: url('../resources/img/facebook.png') no-repeat;
                                background-size: cover;
                            }
                            &.instagram{
                                background: url('../resources/img/instagram.png') no-repeat;
                                background-size: cover;
                            }
                            &.twitter{
                                background:url('../resources/img/twitter.png') no-repeat;
                                background-size: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}

