.gem-wrapper {
    .gem-left{
         .country-drop-down{
             .bootstrap-select{
                     width: 16.5em;
                     max-width: 100%;
                     height:3.3em;
                     border:2px solid $light-gray;
                    
                     font-family: 'Noto Sans', sans-serif;
                     font-size: 1.3em;
                     color:$sky-darkblue;
                     font-weight:$fontBold;
                     padding: 0;
                     margin-bottom:2.7em; 
                     -moz-appearance: none;
                     -webkit-appearance: none;
                     cursor:pointer;
                     .dropdown-toggle{
                         border: none;
                         height: 2.79em;
                         line-height: 2.2em;
                         font-family: 'Noto Sans', sans-serif;
                         font-size: 1.1em;
                         color:$sky-darkblue;
                         font-weight:$fontBold;
                         background-size: 1.5em;
                         padding-right: 1em;
                         .caret{
                             border-top: 13px dashed;
                             border-right: 13px solid transparent;
                             border-left: 13px solid transparent;
                             top: 42%;
                         }
                         .filter-option-inner-inner{
                             font-weight:$fontBold;
                             letter-spacing: 1px;
                         }
                     }
                     .btn-default{
                         &:hover, &:active,  &:focus{
                             background-color:$white;
                             border-color:$white;
                         }
                     }
                     .dropdown-menu{
                         &.open{
                             width: 16.5em !important;
                             max-width:100%!important;
                             border-radius: 0!important;
                             min-width:auto !important;
                             @media #{$small-down} {
                                 width: 16.5em !important;
                                 max-width:100%!important;
                                 min-width:auto !important;
                             }
                         }
                         .inner{
                             overflow-x: hidden !important;
                         }
                     } 
                 .dropdown-menu{
                     li{
                         a{
                             letter-spacing: 1px;
                             span{
                                 &.text{
                                     white-space: pre-wrap;
                                     word-break: break-word;
                                     font-size: 0.8em;
                                     font-weight: $fontBold;
                                     font-style: italic;
                                 }
                             }
                             &:hover {
                                 color: $sky-darkblue;
                             }
                         } 
                     } 
                 }
                 &.dropup{
                     .caret{
                         border-bottom: 13px dashed;
                         border-top: 0px dashed !important;
                     }
                 }
             }
             select::-ms-expand {
                 display: none;
             }
         }
     }
 }
 
 