.inner-wrapper{
    .header-logo{
        padding: 0;
        text-align: center;
        img{
            width: auto;
        }
    }
    .image-block-wrapper:first-child{
        @extend .header-logo;
    }
}