/*--
the below styles are created and applied only for the image-block component. adjustment will affect the image-block, image-block-wrapper, img
--*/


.image-block-wrapper{
  padding:10px;

  margin:0 auto !important; /* remove if not required*/
  width:98%;
}
.image-block{
  img {
    width:100%;
  }
}   