<sly data-sly-test="${wcmmode.edit}">
${'Edit Special Serivce Container' @i18n}
</sly>
	<div class="grid-module service-grid-module" data-height-sync="section">
		<div class="container">
			<sly data-sly-test="${properties.containerHeading != null }">
				<div>
					<h2 class="module-title">${properties.containerHeading}</h2>
				</div>
			</sly>
			<div>
				<div class="col-3-md row">
					<div data-sly-resource="${'columnOne' @ resourceType='wcm/foundation/components/parsys'}"></div>
					<div data-sly-resource="${'columnTwo' @ resourceType='wcm/foundation/components/parsys'}"></div>
					<div data-sly-resource="${'columnThree' @ resourceType='wcm/foundation/components/parsys'}"></div>
				</div>
			</div>
		</div>
	</div>
