
$form:(
	main:(
		fontFamily: "Arial",
		fontInheritChildren: false
	),
	heading : (
		color : $thomas-orange,
		fontSize: em(22),
		fontWeight: $fontBold,
		align: center,
		fontFamily: "Arial",
	),
	placeholder: (
		textCol:$slick-gray,
		fontSize:0.79em !important,
	),
	input : (
		color : $light-blue,
		fontSize: 0.79em,
		fontWeight: $fontBold,
		maxWidth: em(240,10),
		borderRadius: 4px,
		borderColor: $very-light-grey,
		borderErrorColor: null,
		placeholderColor: $slick-gray,
		placeholderFontsize: 0.9em,
		// fontFamily: null,
	),
	select : (
		fontSize: em(10),
		maxWidth: em(240,10),
		arrowWidth: null,
		arrowFontSize: em(16),
		arrowColor: $very-light-grey,
		color : $dark-grey,
		borderColor : $very-light-grey,
		placeholderColor: $slick-gray,
		textCol:$slick-gray,
		placeholderFontsize: 0.9em,
		customCountryColor : em(13)
	),
	radio : (
		bgColor : $white,
		defaultColor: $very-light-grey,
		checkedColor: $thomas-orange
	),
	checkbox :(
		checkboxBg: $white,
		checkboxBorderCol:$very-light-grey,
		checkboxW:15px,
		checkboxH:15px,
		checkboxPos:absolute,
		checkboxCont:'',
		checkboxLeft:15px,
		checkboxTop:4px,
		checkOpacity:0
	),
	checkboxCH :(
		checkboxPos: absolute,
		checkboxCont:'\f00c',
		checkboxLeft:17px,
		checkboxTop:3px,
		checkboxFam:Fontawesome,
		checkboxFon:0.8em,
		checkboxCol:$thomas-orange,
		checkboxZ:1,
	),
	label : (
		color : $slick-gray,
		fontSize: em(11),
		fontWeight: $fontRegular
	),
	error : (
		color : $thomas-error,
		borderColor : $thomas-orange,
		fontSize: em(9.2),
		fontWeight: $fontRegular
	),
	addChild : (
		color : $thomas-orange,
		fontSize: em(18),
		fontWeight: null
	),
	agree : (
		color: null,
		linkColor: $thomas-orange,
		fontSize:em(12),
		linkFontWeight:$fontBold,
		linkUnderline: underline,
		linkColorp:$slick-gray

	),
	legend : (
		color : $dim-gray,
		fontSize: em(13),
		fontWeight: $fontRegular
	),
	subLegend :(
		fontSize: em(10.9),
		color:$slick-gray
	),
	required :(
		color : $thomas-orange,
		fontSize : 6px
	),
	cta : (
		align: right,
		fontSize : em(14),
		fontWeight : $fontBold,
		borderSize : 2px,
		submitBgnd : $thomas-orange,
		submitColor : $white,
		submitBorder : $thomas-orange,
		submitColorHover: $thomas-orange,
		submitBgndHover : $white,
		submitBorderHover :$thomas-orange,
		resetBgnd : transparent,
		resetColor : $dim-gray,
		resetBorder : $dim-gray,
		resetBgndHover : transparent,
		resetColorHover : $dim-gray,
		resetBorderHover : $dim-gray,
		borderRadius: false,
		paddingBool: true,
		padding: 0.5em 1.05em,
		minWidth:134px
	)
);