$layout:(
	body:(
		font: "Arial",
		fontWeight: $fontRegular 
	),
	heading:(
		font: "AachanBold",
		fontWeight: $fontSemiBold	
	),
	themeBtn:(
		font: 'Raleway',
		fontWeight: $fontBold,
		isDefaultTheme: true,
		bgndColor: $thomas-orange,
		borderColor: $thomas-orange,
		color: $white,
		btnPadding:0.5em 1.05em,
		btnMargin:1em 0,
		borderRadius: 0 !important
	),
	dots:(
		fontSize: 14px,
        width: em(12),
		activeWidth: em(14),
        margin: 5px 7px,
        opacity: .5,
        borderRadius: em(20),
		focusColor: $light-green,
        height: em(12),
        activeHeight: em(14),
        bgndColor: $white,
        activeBgndColor: $thomas-dot-ora,
        border: 1px solid $slick-gray,
        activeBorder: 1px solid $thomas-dot-ora
	),
	arrow: (
		bgndColor: $violet
	)
);