// font path
$fontPath: "../resources/fonts";

$thomas-blue:#0063b0;
$thomas-orange:#dc2c20;
$thomas-error:#ee2e22;
$thomas-dot-ora:#ee3124;
$thomas-darkblue:#103783;
$foot-gray:#757575;
$slick-gray:#666666;