$accord-comp:(
    accordionMain: (
        margin: (
            lg: null,
            md: em(15) 0 0 0,
            sm: null
        )
    ),
    accordWrapper:(
         padding: (
            lg: null,
            /*md: em(30) em(15) em(16) em(15),*/
            md: 2.1em 1.07143em 0.657em 1.07143em,
            sm: em(30) 0
        ),
        background-color: $color-extra-light-grey,
        border:(
            enabled: true,
            position: top,
            size: 1px,
            color: $borderColor
        )
    ),
    accordWrapperMargin: (
        margin:(
            lg: em(15) 0 0 0,
            md: 0,
            sm: 0
        )
    ),
    accordBorder: (
        border: 1px solid $color-grey,
    ),
    accordFont: (
        font:($fontLight em(30) $primaryFontFamily),        
    ),
    accordColor: (
        color: $headingColor,
        background-color: $white !important
    ),
    accordIcon: (        
        font: ($fontRegular em(18,14) $primaryFontFamily),
        padding: (
            lg: null,
            md: null,
            sm: em(8) 0 
        )
    ),
    accordText: (
        padding: (
            lg: null,
            md: 0 em(15) 0 em(15),
            sm: 0 0 em(15) 0
        ),
        font:($fontRegular em(18,14) $primaryFontFamily), 
    ),
    accordTextGap: (
        padding: (
            lg: null,
            md: null,
            sm: 0 0 em(15) 0
        ),
    ),
    skuText: (
        font:($fontRegular em(14) $primaryFontFamily), 
    ),
    videoWrapper: (
        padding: (
            lg: em(16) 0 0 em(7),
            md: null,
            sm: em(16) 0 em(14) em(7)
        ),
    )
    
);