$checkfilter:(
        h2:(
            font-family: $primaryFontFamily,
            font-size: 16px,
            font-weight: 300,
            float:left,
            padding: 30px 0
        ),
        h3:(
            float:right,
            line-height:0,
            margin:0,
            padding:0,
            font-weight:600
        ),
         position-rel:(
            position:relative,
            display:none,
            clear:both,
            overflow: hidden,
            cursor:pointer,
            border-bottom: 1px solid $borderColor,
            border-top: 1px solid $borderColor,
            z-index:99999,
            color:#333333
        ),
        font-glyph:(
            font-family: $iconFontFamily,
            font-size: 80%,
            padding-left: em(28)
        ),
        slide-div:(
            position: absolute,
            z-index: 2,
            background-color: white,
            width: 100%,
            font-size:30px,
            left: -9999px,
            color: $primary-color,
            font-weight:bold

        ),
        sliding-mask:(
            background-color: black,
            width: 100%,
            opacity: 0.5,
            z-index: -1,
            top: 0,
            font-size: 16px,
            font-weight: normal
        ),
        sort-label:(
            font-size: 15px,
            padding: 5px,
            margin-top: 15px
        )

);