// ShortHand Properties:
// font : font-style, font-variant, font-weight, font-size, line-height, and font-family. 
$contactPreference:(
    list:(
        margin: (
            lg: null,
            md: null,
            sm: 0 0 em(15) 0
        )
    ),
    infoText:(
        color: $descriptionColor,
        margin: (
            lg: null,
            md: null,
            sm: em(15) 0 em(15) 0
        )   
    ),
    valueLabel : (
        font: ($fontSemiBold em(16) $primaryFontFamily)
    )
);