$form:(
    wrapper:(
        main:(
            padding: (
                lg: 2% 3%,
                md: 2%,
                sm: 2%
            ),
        ),
        heading:(
            font: (
                lg: em(30),
                md: em(24),
                sm: (300 em(24) $primaryFontFamily)
            ),
            padding: (
                lg: 0 0 em(16.69,30) 0,
                md: 0 0 em(16.69,24) 0,
                sm: 0 0 em(16.69,24) 0
            ),
            margin: (
                lg: 0 0 em(10,30) 0,
                md: 0 0 em(10,24) 0,
                sm: 0 0 em(10,24) 0
            ),

            border:(
                enabled: true,
                position: bottom,
                size: 2px,
                color: $borderColor
            ),
        ),
        description:(
            font: (300 em(15) $primaryFontFamily),
            margin: (
                lg: null,
                md: null,
                sm: 0 0 em(24.25,15) 0
            ),
        ),
    ),
    input:(
        color:$theme-color,
        font: em(6),
        padding: (
            lg:null,
            md: null,
            sm: 0 0 0 em(2),
        ),
        margin: (
            lg: null,
            md: null,
            sm: 0 0 0 em(3),
        )
    ),
    placeholderLabel:(
        font:($fontRegular em(16) $primaryFontFamily),
        color: $descriptionColor,
        padding: (
            lg: null,
            md: null,
            sm: em(11),
        ),
    ),
    select:(
        font:($fontRegular em(14) $primaryFontFamily),
        margin: (
            lg: null,
            md: null,
            sm: 0.5em 0,
        ),
        smallBox: (
            margin: (
                lg: null,
                md: null,
                sm: 0 em(12) 0 0,
            ),
        )
    ),
    selectPlaceholder:(
         font:($fontBold em(6) $primaryFontFamily),
         margin: (
            lg: null,
            md: null,
            sm:  1em 0 0 .7em
        ),
         padding: (
            lg:null,
            md: null,
            sm: 0
        ),
    ),
    fieldset:(
        margin: (
            lg: null,
            md: null,
            sm:  em(10.5) 0
        ),
        background-color: $theme-color,
    ),
    legend:(
        font:($fontRegular em(15) $primaryFontFamily),
         margin: (
            lg: null,
            md: null,
            sm:  0 0 em(8)
        )
    ),
    dropdown:(
        padding: (
            lg: null,
            md: null,
            sm:  0
        ),
    ),
    dropdownSelect:(
        margin: (
            lg: null,
            md: null,
             sm:  0 !important
        ),
    ),
    dropdownPlaceholder:(
        font:($fontBold 11.3px $primaryFontFamily),
        padding: (
            lg: null,
            md: null,
            sm:  0
        ),
        margin: (
            lg: null,
            md: null,
            sm:  0.5em 0 0 1.1em
        ),
    ),
    dropdownToggle:(
        color:$theme-color,
        background:transparent,
        padding: (
            lg: null,
            md: null,
            sm:  em(12) em(10) em(10)
        ),
    ),
    dropdownToggleSmallinput:(
        padding: (
            lg: null,
            md: null,
            sm:  em(17) em(0) em(5) em(10)
        ),
    ),
    dropdownToggfilter:(
        color: $descriptionColor
    ),
    dropdownMenu:(
        padding: (
            lg: null,
            md: null,
            sm:  0 10px,
        ),
        color: $color-dark-grey
    ),
    radioButton:(
        color: $descriptionColor
    ),
    radiobuttonBefore:(
        background:$white
    ),
    radiobuttonAfter:(
        background:$theme-color
    ),
    checkboxBefore:(
        background:$white
    ),
    checkboxAfter:(
        color:$white,
        background:$theme-color
    ),
    themeBtn:(
        padding: (
            lg: null,
            md: null,
            sm:  em(8)
        ),
        margin: (
            lg: null,
            md: null,
            sm:  0
        ),
        borderRadius: 0,
        font:(600 em(16) $primaryFontFamily),
        color: $white,
        background: $theme-color,
        hover:(
            color: $white,
            background: $theme-color,
        )
    ),
    transparentBtn:(
        color: $descriptionColor,
        background: transparent,
        hover:(
            color: $descriptionColor,
            background: transparent,
        )
    ),
    nobgBtn:(
        color: $theme-color,
        background: $white,
        hover:(
            color: $theme-color,
            background: $white,
        ),
        padding: (
            lg: null,
            md: null,
            sm:  0 em(50),
        )
    ),
    transparentbtnBorder:(
        color: $descriptionColor,
        background: $white
    )
);