$grid : (
    mainHeading:(
        font: ($fontLight em(30) $primaryFontFamily),
        padding: (
            lg: em(15, 30) em(15, 30) em(15, 30) 0,
            md: em(15, 30) em(15, 30) em(15, 30) 0,
            sm: 0 em(15, 30) em(15, 30) 0
        ),
        margin: (
            lg: em(18) 0 0 0,
            md: 0 0 0 -15px,
            sm: 0 0 0 -15px
        )
    ),
    list:(
        margin: (
            lg: null,
            md: em(14) 0 em(46) 0,
            sm: em(14) 0 em(5) 0
        )
    ),
    subList:(
        border:(
            enabled: true,
            position: bottom,
            size: 1px,
            color: $borderColor
        ),
        minHeight: (
            lg: null,
            md: em(170),
            sm: em(188)
        ),
        padding: (
            lg: null,
            md: null,
            sm: em(11.14) 0
        )
    ),
    productTitle:(
        font: ($fontRegular em(18) $primaryFontFamily),
        color: $night-rider !important,
        margin: (
            lg: null,
            md: null,
            sm: 0
        ),
        wrapperStyle:(
            minHeight: em(32.75),
            margin: (
                lg: null,
                md: null,
                sm: em(5) em(5) em(3) auto
            ),
        )
    ),
    promoText:(
        font: ($fontSemiBold em(16) $primaryFontFamily),
        color: $light-pink,
        margin: (
            lg: null,
            md: null,
            sm: em(5) 0 0 0
        ),
        height: em(23.3281,16),
        lineHeight: em(24.3281,16)
    ),
    actualPrice:(
        font: ($fontMedium em(16, 18) $secondaryFontFamily),
        color: $night-rider,
        padding: (
            lg: null,
            md: null,
            sm: 0 0 0 em(5, 16)
        ),
    ),
    finalPrice:(
        margin:  (
            lg: null,
            md: null,
            sm: auto
        ),
        padding:  (
            lg: null,
            md: null,
            sm: 0
        ),
        font: ($fontBold em(18) $secondaryFontFamily),
        bottom: em(15),
        minHeight: em(24),
        color: $night-rider,
    ),
    inventoryStatus:(
        font: ($fontSemiBold em(14) $primaryFontFamily),
        strongColor: $orange
    ),
    totalReviews: (
        font: ($fontLight em(12.6) $primaryFontFamily),
        padding: (
            lg: null,
            md: null,
            sm: 0 0 0 em(6, 12.6)
        ),
        color: $color-medium-grey,
    ),
    starRating:(
        background: transparent url(#{$imagePath}/sprite_img_3.png) no-repeat 1100% 200%,
        width: em(105),
        height: em(18),
        margin: (
            lg: null,
            md: null,
            sm:  em(5) auto 0 em(-3)
        ),
    ),
    productImage:(
        previewHeight: em(170.81, 13)
    ),
    quickView:(
        font: ($fontSemiBold em(12.6) $primaryFontFamily),
        width: em(160, 12.6),
        padding: (
            lg: null,
            md: null,
            sm:  em(10, 12.6)
        ),
        color: $white !important,
        margin: (
            lg: null,
            md: null,
            sm:  auto
        ),
        top: 30%,
        left: 50%,
        hoverEffect: (
            background: rgba($black, 0.65),
        )
    ),
    playIcon:(
        font: ($fontSemiBold em(60) $primaryFontFamily),
        color: $white,
        content:"\f144"
    ),
    videoPlayer:(
        padding: (
            lg: null,
            md: null,
            sm: 0 em(15)
        ),
    ),
    seeMore:(
        margin: (
            lg: null,
            md: null,
            sm: em(42) 0 em(28)
        ),
    ),
    transparentButton:(
        font: ($fontSemiBold em(20) $primaryFontFamily),
        padding: (
            lg: null,
            md: null,
            sm: em(8, 20) em(20, 20) em(10, 20)
        ),
    ),
    previewDate:(
        border:(
            enabled: true,
            position: bottom,
            size: 1px,
            color: $borderColor
        ),
        padding: (
            lg: null,
            md: null,
            sm: 1em
        ),
        label: (
            font: ($fontRegular 1.4286em $primaryFontFamily),
            padding: (
                lg: null,
                md: null,
                sm: 0 15px 0 0
            ),
        ),
        inputGroup: (
            width: em(200),
            margin: (
                lg: null,
                md: null,
                sm: 0 em(15) 0 0
            ),
        ),
        inputField:(
            padding: (
                lg: null,
                md: null,
                sm: 10px
            ),
        )
    )
);

$previewPlaceholder:(
    animation: shimmer 1.2s ease-in-out infinite,
    image:(
        height: (
            lg: em(174),
            md: em(214.22),
            sm: em(194)
        ),
        background: #eef0f5
    ),
    text:(
        background: rgba($black, .05),
        height: em(10),
        margin: (
            lg: null,
            md: null,
            sm: em(7) 0
        )
    ),
    price:(
        height: em(8),
        margin: (
            lg: null,
            md: null,
            sm: em(4) 0
        ),
        width: 80%
    ),
    avatar:(
        background: rgba($black, .05),
        borderRadius: 100%,
        margin: (
            lg: null,
            md: null,
            sm: 0 em(10) 0 0
        ),
        width: em(32),
        height: em(32)
    )
);
