$logoGiftCard: (
    logoGiftCardNav: (
        background: $white,
        padding: (
            lg: null,
            md: null,
            sm: 0
        ),
        color: $theme-color,
        font: ($fontLight em(16) $primaryFontFamily)
    ),
    logoGiftCardNavLi: (
        color: $primary-color,
        padding: (
            lg: null,
            md: null,
            sm: 0 em(15) em(10) 0
        ),
    ),
    logoGiftCardContainer: (
        background: $color-extra-light-grey,
        padding: (
            lg: em(15) em(30),
            md: em(15) em(30),
            sm: em(15)
        ),
        width: 100%
    ),
    productCallout: (
        color: $theme-color,
        font: ($fontSemiBold em(16) $primaryFontFamily),
        margin: (
            lg: null,
            md: null,
            sm: 0
        )
    ),
    header: (
        color: $headingColor,
        font: ($fontLight em(30) $primaryFontFamily),
        margin: (
            lg: null,
            md: null,
            sm: 0
        ),
        padding: (
            lg: null,
            md: null,
            sm: 0
        )
    ),
    gridSection: (
        margin: (
            lg: null,
            md: null,
            sm: 0 0 em(28) 0
        ),
        color: $theme-color,
        font: ($fontSemiBold em(14) $primaryFontFamily)
    ),
    productReview: (
        margin: (
            lg: null,
            md: null,
            sm: em(15) 0
        )
    ),
    productReviewStatus: (
        margin: (
            lg: null,
            md: 0 em(15),
            sm: 0.5em 0em 0.5em 0.5em
        )
    ),
    fieldset: (
        margin: (
            lg: null,
            md: null,
            sm: em(14) 0
        )
    ),
    input: (
        width: 100%,
        height: em(46),
        font: ($fontSemiBold em(16) $primaryFontFamily),
        border: 1px solid $borderColor,
        padding: (
            lg: null,
            md: null,
            sm: em(17.5, 16) em(11, 16) em(4, 16) em(16, 16)
        )
    ),
    amountInput: (
        padding: (
            lg: null,
            md: null,
            sm: em(17.5, 16) em(11, 16) em(4, 16) em(25, 16)
        )
    ),
    errorIcon: (
        margin: (
            lg: null,
            md: null,
            sm: 0 em(5) 0 0
        )
    ),
    placeholder: (
        font: ($fontRegular em(14) $primaryFontFamily),
        padding: (
            lg: null,
            md: null,
            sm: em(14, 14) em(14, 14) em(14, 14) em(16, 14)
        )
    ),
    messageBoxContainer: (
        margin: (
            lg: null,
            md: null,
            sm: 0 em(30)
        )
    ),
    messageBoxInput: (
        height: em(40, 16),
        font: ($fontRegular em(16) $primaryFontFamily),
        color: $descriptionColor,
        margin: (
            lg: null,
            md: null,
            sm: em(14, 16) 0 0 0
        ),
        padding: (
            lg: null,
            md: null,
            sm: em(10)
        )
    ),
    dropDownToggle: (
        border: 1px solid $theme-color
    ),
    customDropdown: (
        background: $white,
        padding: (
            lg: null,
            md: null,
            sm: 0 em(10)
        ),
        height: em(52),
        outline: 2px auto $theme-color,
        font: ($fontRegular em(16) $primaryFontFamily),
        color: $primary-color,
        border: 1px solid $borderColor
    ),
    customDropdownPlaceHolder: (
        margin: (
            lg: null,
            md: null,
            sm: em(16, 16) em(6, 16)
        )
    ),
    dropdownTitleTxt: (
        font: ($fontRegular em(14) $primaryFontFamily),
        color: $primary-color
    ),
    dropdownDtlsTxt: (
        font: ($fontSemiBold em(16) $primaryFontFamily),
        color: $headingColor
    ),
    bsCaret: (
        margin: (
            lg: null,
            md: null,
            sm: 0 em(6)
        ),
        fontSize: em(14),
        color: $descriptionColor
    ),
    outerDropDownMenu: (
        margin: (
            lg: null,
            md: null,
            sm: 0
        ),
        padding: (
            lg: null,
            md: null,
            sm: 0
        ),
        minWidth: 100%
    ),
    innerDropDownMenu: (
        margin: (
            lg: null,
            md: null,
            sm: em(5) 0
        ),
        padding: (
            lg: null,
            md: null,
            sm: em(5) 0
        ),
        height: em(28),
        background: $color-extra-light-grey,
        color: $headingColor,
        backgroundColor: $white,
        font: ($fontRegular em(14, 13) $primaryFontFamily)
    ),
    innerDropDownMenuTxt: (
        margin: (
            lg: null,
            md: null,
            sm: 0 0 em(5, 13) em(5, 13)
        )
    ),
    innerDropDownMenuAnchor: (
        padding: (
            lg: null,
            md: null,
            sm: em(3, 13) em(25, 13)
        )
    ),
    buttonWrapper: (
        margin: (
            lg: null,
            md: null,
            sm: em(15) 0
        ),
        padding: (
            lg: null,
            md: em(10) 0 0 0,
            sm: 0
        ),
        background: $white,
        backgroundColor: $color-extra-light-grey
    ),
    button: (
        margin: (
            lg: null,
            md: null,
            sm: 0 auto
        ),
        font: ($fontSemiBold em(20) $primaryFontFamily),
        background: $theme-color,
        color: $white,
        width: 100%
    ),
    termsCondtions: (
        margin: (
            lg: null,
            md: null,
            sm: em(15) 0 0 0
        ),
        padding: (
            lg: 0,
            md: 0,
            sm: 0 em(10)
        ),
        color: $headingColor,
        font: (italic $fontRegular em(14) $primaryFontFamily)
    )
);