// ShortHand Properties:
// font : font-style, font-variant, font-weight, font-size, line-height, and font-family. 
$myaccountnav:(
    myaccnavWrapper:(
         padding: (
            lg: null,
            md: em(20) em(30) 0 em(20),
            sm: 0
        )
    ),
    h2:(
        font: ($fontLight em(20) $primaryFontFamily),
        color:  $descriptionColor,
        border:(
            enabled: true,
            position: bottom,
            size: 1px,
            color: $color-grey,
        ),
        padding: (
            lg: null,
            md: null,
            sm: 0 0 em(18,20) 0
        ),
        margin: (
            lg: null,
            md: 0 0 em(13) 0,
            sm: 0
        )
    ),
     navheader:(
        background:$white,
        color:  $descriptionColor,
        font: ($fontLight $primaryFontFamily),
        padding: (
            lg: null,
            md: null,
            sm: em(15) 0 em(17) em(17),
        ),
        margin: (
            lg: null,
            md: null,
            sm: 0
        ),
        border:(
            enabled: true,
            position: bottom,
            size: 1px,
            color: $color-grey,
        ),
    ),
    navheaderMobile:(
        color:$white
    ),
    navheaderbtn:(
        background:transparent,
        color: $descriptionColor,
        hover: (
            background: transparent,
        ),
         padding: (
            lg: null,
            md: null,
            sm: 0 0.4em 0 0.2em
        )
    ),
    navheaderbtnDevice:(
        color:$night-rider,
        font: (500 em(22) $primaryFontFamily),
    ),
    h3:(
        font: (italic $fontRegular em(16) $primaryFontFamily),
        color: $descriptionColor,
        padding: (
            lg: null,
            md: null,
            sm: 0 0 0 0
        ),
        margin: (
            lg: null,
            md: 0 0 em(15) 0,
            sm: 0
        )
    ),
    h3Mscreen:(
        color:$night-rider,
        font: (600 em(14) $primaryFontFamily),
        background:$color-light-grey,
        padding: (
            lg: null,
            md: null,
            sm: em(15) em(18) em(13) em(20)
        ),
         border:(
            enabled: true,
            position: top,
            size: 1px,
            color: $white,
        )
    ),
    h3active:(
        background:$white,
        border:(
            enabled: true,
            position: left,
            size: 5px,
            color: $theme-color,
        ),
    ),
    dropmenu:(
        padding: (
            lg: null,
            md: null,
            sm: 0
        ),
        margin: (
            lg: null,
            md: null,
            sm: 0
        )
    ),
    dropmenuli:(
        padding: (
            lg: null,
            md: null,
            sm: 0
        ),
        margin: (
            lg: null,
            md: null,
            sm: 0
        ),
        border:(
            enabled: true,
            position: top,
            size: 1px,
            color: $athens-grey,
        )
    ),
    anchor:(
        border:(
            enabled: true,
            position: bottom,
            size: 1px,
            color: $borderColor
        ),
        padding: (
            lg: null,
            md: 0 0 em(16) 0,
            sm: em(14) 0 em(13) em(47)
        ),
        color: $color-dark-grey,
        font: ($fontRegular em(16) $primaryFontFamily),
        fontMedium:($fontRegular em(14) $primaryFontFamily),
        hover:$theme-color
    ),
    anchorli:(
         margin: (
            lg: null,
            md: null,
            sm: 0 0 em(5) 0
        )
    ),
    anchorSubmenu: (
        color: $night-rider
    )

);