$myorderhis:(
    wrapperSelect:(
        margin: (
            lg: null,
            md: null,
            sm: 0 0 em(7) 0
        )
    ),
    orderhislabel:(
        font: ($fontRegular em(15) $primaryFontFamily),
        padding: (
            lg: null,
            md: null,
            sm: em(8) em(8) 0 em(5),
        )
    ),
    formGap: (
        padding: (
            lg: null,
            md: null,
            sm: 0 em(18) 0 em(20)
        )
    ),
    orderhislabelSmall:(
        padding: (
            lg: null,
            md: null,
            sm: em(8) em(4) 0 0,
        ),
        font: ($fontRegular em(14) $primaryFontFamily),
    ),
    input:(
        padding: (
            lg: null,
            md: null,
            sm: em(5) em(10) em(5),
        )
    ),
    link:(
        color:$descriptionColor
    ),
    selectGap: (
        padding: (
            lg: null,
            md: null,
            sm: em(7)
        )
    ),
    selectBox:(
        width: em(186),
        min-width:11.6em !important,
        border: 1.5px solid $borderColor
    ),
    maxWidth:(
        width: 100%
    ),
    searchMaxWidth: (
        width: em(585)
    ),
    inputHeight: (
        height: em(44)
    ),
    selectSection: (
        width: 48%
    ),
    searchSection: (
        width: 51%
    ),
    tableSpaceBottom: (
        padding: (
            lg: null,
            md: null,
            sm: 0 0 em(15) 0,
        ),
        border: (
            enabled: true,
            position: bottom,
            size: 1px,
            color: $light-grey
        )
    ),
    tableSpaceTop: (
        padding: (
            lg: null,
            md: null,
            sm: em(15) 0 0 0,
        )
    ),
    gridGap: (
        padding: (
            lg: null,
            md: null,
            sm: 0 em(10)
        )
    ),
    noMargin: (
        margin: (
            lg: null,
            md: null,
            sm: 0
        )
    )    
);