// ShortHand Properties:
// font : font-style, font-variant, font-weight, font-size, line-height, and font-family. 
$personalInfo:(
    childrendetLi:(
        margin: (
            lg: null,
            md: null,
            sm: 0 em(15) em(8) 0
        ),
        font: ($fontRegular em(10) $primaryFontFamily),
    ),
    userinfoEdit:(
        border:(
            enabled: true,
            position: top,
            size: 1px,
            color: $borderColor
        ),
        padding: (
            lg: null,
            md: null,
            sm: em(15) 0 0 0
        )
    ),
    detailListMargin:(
        margin: (
            lg: null,
            md: null,
            sm: 0 0 em(34) 0
        )
    ),
    valueLabelMargin:(
        margin: (
            lg: null,
            md: null,
            sm: 0 0 em(12) 0
        )
    ),
    radioUl:(
        margin: (
            lg: null,
            md: null,
            sm: 0
        )
    ),
    radioli:(
        margin: (
            lg: null,
            md: null,
            sm: 0 em(16) em(8) 0
        )
    ),
    themeBtn:(
        margin: (
            lg: null,
            md: null,
            sm: em(25) 0 0 0
        )
    ),
    privacyTxt:(
        margin: (
            lg: null,
            md: null,
            sm: em(12) 0
        )
    ),
    addChild:(
       color:$theme-color,
       padding: (
            lg: null,
            md: null,
            sm: 0 0 0 em(10, 14)
        ),
        font: ($fontRegular em(16) $primaryFontFamily),
    ),
    input:(
        margin: (
            lg: null,
            md: null,
            sm: 0,
        ),
        display: inline-block,
        width: em(210)
    ),
    fieldGap: (
        margin: (
            lg: null,
            md: null,
            sm: em(14) 0,
        ),
        color: $primary-color
    ),
    headerh2: (
        font: (italic $fontRegular em(14) $primaryFontFamily)
    ),
    headerh3: (
        font: (italic $fontRegular em(14) $primaryFontFamily)
    ),
    emailModal: (
        font: ($fontRegular em(16, 21) $primaryFontFamily),
        padding: (
            lg: null,
            md: null,
            sm: em(14) 0 0 0
        )
    ),
    editLinkFont: (
        font: ($fontRegular em(13) $primaryFontFamily)
    )
);