$productCategory:(
    main:(
        padding: (
            lg: em(7) 0 em(14) 0,
            md: em(7) 0 em(14) 0,
            sm: em(14) 0 0 0
        ),
        border:(
            enabled: true,
            position: bottom,
            size: 1px,
            color: $borderColor
        ),
    ),
    heading:(
        padding: (
            lg: 0,
            md: em(14) 0 em(15) 0,
            sm: 0
        ),
    ),
    // navList:(

    // )
);