$productSlider:(
    main: (
        margin: margin 0 auto,
        width: 48em,
        height: em(690),
        padding: (
            lg: null,
            md: em(0) em(0) em(50) em(0),
            sm: em(0) em(0) em(70) em(0)
        )
    ),
    swatchComp: (
        width: em(90),
        height: em(90),
        background-color: $color-light-grey,
        cursor: pointer
    ),
    swatchThumb: (
        border-radius: em(50),        
    ),
    s7ArrowBtn: (
        font:($fontRegular em(24) "FontAwesome", sans-serif),
        left: 50%,
        top: 50%,
        transform: translate(-50%, -50%),
        text-rendering: auto,
        display: inline-block,
    ),
    s7ZoomBtn: (
        font:($fontRegular em(16) "FontAwesome", sans-serif),
        display: inline-block,

    )
);