$skuBundle:(
    skuNav:(
        font:($fontLight 16px $primaryFontFamily)
    ),
    productPrice:(
        font:($fontSemiBold 16px $primaryFontFamily)
    ),
    productCallout:(
        font:($fontLight 30px $primaryFontFamily)
    ),
    h2:(
        font:($fontSemiBold 30px $primaryFontFamily)
    ),
    priceStrike:(
        font:($fontLight 16px $primaryFontFamily)
    ),
    reviewText:(
        font:($fontSemiBold 14px $primaryFontFamily)
    ),
    priceSpan:(
        font:(bold 24px $secondaryFontFamily)
    ),
    saveDesc:(
        font:($fontRegular 16px $primaryFontFamily)
    ),
    addBag:(
        font:(bold 16px $primaryFontFamily)
    ),
    shopBag:(
        font:($fontRegular 14px $primaryFontFamily)
    ),
    bundleFont:(
        font:($fontRegular 20px $primaryFontFamily)
    ),
    btnAdd:(
        font:($fontSemiBold 20px $primaryFontFamily)
    )
);