<sly data-sly-test="${wcmmode.edit}">${' Configure Image Facet Module' @i18n}</sly>

<!-- LOOPING SECTION -->
            <div class="imageFacetColor">
                <input class="custom-check" type="checkbox" data-action="q1=${properties.q1};x1=${properties.x1}">
                <div class="faveMarBottom">
                    <div class="FaveImg">
                         <img alt="${properties.imageFacetAltText @i18n}" src="${properties.fileReferenceImageFacet @i18n}">

                    </div>
                    <div class="facetImgCaption"><span>${properties.title @i18n}</span></div>
                </div>
            </div>
  <!-- END LOOPING SECTION -->


