/* pollypocket */

/* component bg image */
$product-gallery-bg-path:'';
$game-bg-path:$product-gallery-bg-path;
$game-gallery-bg:'';

/*colors*/
$violet : #5f259f;
$litviolet:#C1A7E2;
$pink : #df1995;
$dark-pink: #f10196;
$icegreen: #C4D600;
$aqua-green:#9dcbd7;
$white-shade:#f7f7f7;
$indigo:#1a0135;
$white: #ffffff;
$black: #000000;
$light-green : #dfe61e;
$light-violet:#c7a4e6;
$green: #c7d34f;
$deep-pink: #ED6EBB;
$bluebg:#00a3e0;

$base-theme-color:$violet;

/* component colors */
$site-color-1:$violet;
$site-color-2:$pink;
$site-color-3:$white;
$site-color-4:$black;
$site-color-5:$litviolet;
$site-color-6:$dark-pink;
$site-color-7:$icegreen;
$site-color-8:$aqua-green;
$site-color-9:$white-shade;
$site-color-10:$indigo;
$site-color-11:$green;


//nav-links
$mob-nav-bg : $site-color-1;
$mob-nav-link-color : $site-color-3;
$nav-link-color : $site-color-1;
$sub-nav-link-bg: $site-color-4;


//global header
$global-header-bg:$site-color-3;
$global-header-anchor: $site-color-8;
$dropdown-menu-bg: $site-color-3;
$dropdown-bg:$site-color-9;
$hamburger-btn-color:$site-color-1;


//title & Sub-title
$page-title : $site-color-1;
$page-sub-title : $site-color-2;

$gallery-title-bg:$site-color-3;
$products-tile-bg:$site-color-1;
$products-tile-border:$site-color-1;

$text-block-title:$site-color-2;
$text-block-subtitle:$site-color-1;
$text-block-content:$site-color-1;
//footer
$go-to-top : $site-color-2;
$footer-link-txt:$site-color-3;
$footer-bg-color : $site-color-1;

//charcter label
$character-bg:$site-color-1;
$character-label:$site-color-1;
$character-label-bg:$site-color-3;

//*carousel*
//cda-banner
$cda-banner-bg:$site-color-3;
$slick-arrow-bg:$site-color-5;
$slick-arrow-color:$site-color-3;
$slick-dots-bg:$site-color-5;
$slick-dots-active-btn-bg:$site-color-1;

$banner-bg:$site-color-2; 
$banner-border:$site-color-7;
$banner-txt:$site-color-3;

$module-txt:$site-color-3;
$module-txt-2: $site-color-2;

//category-nav
$nav-carousel-bg:$site-color-1;
$nav-carousel-link-txt:$site-color-3;
$nav-carousel-link-bg:$site-color-1;
$nav-carousel-link-border:$site-color-5;
$nav-carousel-link-hover-bg:$site-color-7;

// filter category nav
$filter-nav-carousel-bg:$site-color-3;
$filter-nav-carousel-link-txt:$site-color-3;
$filter-nav-carousel-link-bg:$site-color-2;
$filter-nav-carousel-link-border:$site-color-11;
$filter-nav-carousel-link-hover-bg:$site-color-3;
$filter-nav-arrow-color: $site-color-1;

$char-tiles-bg:$site-color-4;
$char-tiles-link-hover-txt:$site-color-3;

$category-drpdown-txt:$site-color-1;
$category-drpdown-bg:$site-color-3;
$category-drpdown-arrow:$site-color-3;
$category-drpdown-border:$site-color-6;
$categorylist-bg:$site-color-3;

//char-details
$char-detials-bg:$site-color-3;
$char-details-title:$site-color-2;
$char-details-txt:$site-color-1;

//*buttons*
//btn showmore
$show-more-bg: $site-color-3;
$show-more-txt:$site-color-1;
$show-more-border:$site-color-6;
$show-more-block-bg:$site-color-5;
$show-more-block-char-bg: $site-color-1;

//btn : viewall
$btn-view-all-txt:$site-color-3;
$btn-view-all-bg:$site-color-1;
$btn-view-all-border:$site-color-2;

//btn primary
$btn-primary-txt:$site-color-3;
$btn-primary-bg:$site-color-1;
$btn-primary-border:$site-color-2;


//modal
$modal-content-bg:$deep-pink;
$modal-close:$site-color-1;
$modal-content-txt:$site-color-1;
$modal-opacity-bg:$site-color-10;

//error page
$errorCTABg: $pink;
$errorCTABorder: $green;

$fontAwesome:'Font Awesome';
