$banner:(
	main:(
		bgndColor: $white-smoke
	),
	heading:(
		font: "Akzidenz-Grotesk-BoldIt",
		fontSize: em(27),
		fontSize-T: 1.5em,
		fontSize-M: 1.8em,
		fontWeight: $fontBold,
		fontStyle:italic,
		fontWeightInherit: true,
		color: $black,
		bgndColor: null,
	),
	subHeading:(
		font: "Akzidenz-Grotesk-BoldCondensed",
		fontSize: em(18),
		fontSize-T: 1.3em,
		fontSize-M: null,
		fontWeight: $fontRegular,
		color: $hw-blue,
		bgndColor: null
	)
);


