$brand:(
	main:(
		borderColor: $hw-blue
	),
	heading:(
		font: "Akzidenz-Grotesk-BoldCondensed",
		fontSize: null,
		fontWeight: $fontBold,
		color: $black,
		align: center,
		bgndColor: null
	),
	listStyle:(
		width: em(120),
		imagePadding: em(15)
	)
);