
$form:(
	main:(
		fontFamily: "Akzidenz-Grotesk-Cn",
		fontInheritChildren: false
	),
	heading : (
		color : $black,
		fontSize: em(25),
		fontWeight: $fontRegular,
		align: center,
		fontFamily: "Akzidenz-Grotesk-Cn",
		fontStyle:italic
	),
	placeholder: (
		textCol:$placeholder-color,
		letterSpace:2,
	),
	input : (
		color : $light-blue,
		fontSize: 0.79em,
		fontWeight: $fontBold,
		maxWidth: em(240,10),
		borderRadius: 4px,
		borderColor: $very-light-grey,
		borderErrorColor: null,
		placeholderColor: $placeholder-color,
		placeholderFontsize: 0.95em,
		placefontFamily: "Akzidenz-Grotesk-Md",
		letterSpace:0.8px,
		transForm:skew(-15deg)
		// fontFamily: null,
	),
	select : (
		fontSize: 0.8em,
		maxWidth: em(240,10),
		arrowWidth: null,
		arrowFontSize: em(16),
		arrowColor: $very-light-grey,
		textCol : $placeholder-color,
		borderColor : $very-light-grey,
		placefontFamily: "Akzidenz-Grotesk-Md",
		letterSpace:0.8px,
		customCountryColor : em(13),
		transForm:skew(-15deg)
	),
	radio : (
		bgColor : $white,
		defaultColor: $very-light-grey,
		checkedColor: $hw-blue
	),
	checkbox :(
		checkboxBg: $white,
		checkboxBorderCol:$very-light-grey,
		checkboxW:15px,
		checkboxH:15px,
		checkboxPos:absolute,
		checkboxCont:'',
		checkboxLeft:15px,
		checkboxTop:4px,
		checkOpacity:0
	),
	checkboxCH :(
		checkboxPos: absolute,
		checkboxCont:'\f00c',
		checkboxLeft:17px,
		checkboxTop:3px,
		checkboxFam:Fontawesome,
		checkboxFon:0.8em,
		checkboxCol:$hw-blue,
		checkboxZ:1,
	),
	label : (
		color : $slick-gray,
		fontSize: em(11),
		fontWeight: $fontRegular
	),
	error : (
		color : $hw-error,
		borderColor : $hw-blue,
		fontSize: em(9.2),
		fontWeight: $fontRegular
	),
	addChild : (
		color : $hw-blue,
		fontSize: em(18),
		fontWeight: null
	),
	agree : (
		color: null,
		linkColor: $hw-blue,
		fontSize:em(12),
		linkFontWeight:$fontBold,
		linkUnderline: underline,
		linkColorp:$slick-gray

	),
	legend : (
		color : $dim-gray,
		fontSize: em(13),
		fontWeight: $fontRegular
	),
	subLegend :(
		fontSize: em(10.9),
		color:$slick-gray
	),
	required :(
		color : $hw-blue,
		fontSize : 6px
	),
	cta : (
		align: right,
		fontSize : em(14),
		fontWeight : $fontBold,
		borderSize : 2px,
		submitBgnd : $hw-blue,
		submitColor : $white,
		submitBorder : $hw-blue,
		submitColorHover: $hw-blue,
		submitBgndHover : $white,
		submitBorderHover :$hw-blue,
		resetBgnd : transparent,
		resetColor : $dim-gray,
		resetBorder : $dim-gray,
		resetBgndHover : transparent,
		resetColorHover : $dim-gray,
		resetBorderHover : $dim-gray,
		borderRadius: false,
		paddingBool: true,
		letterSpace:0.3px,
		upperCase:uppercase,
		padding: 0.7em 1.05em,
		minWidth:134px
	)
);