$imageText:(
	main:(
		bgndColor: $hw-blue,
		roundedBgndColor: $hw-blue,
	),
	heading:(
		font: "Akzidenz-Grotesk-BoldCondensed",
		fontSize: em(30),
		fontSize-T: null,
		fontSize-M: null,
		fontWeight: $fontBold,
		color: $black,
		bgndColor: null
	),
	subHeading:(
		font: "Akzidenz-Grotesk-BoldCondensed",
		fontSize: em(18),
		fontSize-T: 1.3em,
		fontSize-M: null,
		fontWeight: $fontMedium,
		color: $black,
		bgndColor: null
	),
	tileHeading:(
		font: "Akzidenz-Grotesk-BoldCondensed",
		fontSize: em(16),
		fontSize-T: null,
		fontSize-M: null,
		fontWeight: $fontMedium,
		color: $night-rider,
		bgndColor: null
	),
	tileDescription:(
		font: "Akzidenz-Grotesk-BoldCondensed",
		fontSize: em(16),
		fontSize-T: null,
		fontSize-M: null,
		fontWeight: $fontMedium,
		color: $night-rider,
		bgndColor: null
	),
	roundedHeading:(
		font: "Akzidenz-Grotesk-BoldCondensed",
		fontSize: em(30),
		fontSize-T: null,
		fontSize-M: null,
		fontWeight: $fontBold,
		color: $white,
		bgndColor: null
	),
	roundedSubHeading:(
		font: "Akzidenz-Grotesk-BoldCondensed",
		fontSize: em(18),
		fontSize-T: null,
		fontSize-M: null,
		fontWeight: $fontMedium,
		color: $white,
		bgndColor: null
	),
	roundedtileHeading:(
		font: "Akzidenz-Grotesk-BoldCondensed",
		fontSize: em(16),
		fontSize-T: null,
		fontSize-M: null,
		fontWeight: $fontMedium,
		color: $white,
		bgndColor: null
	),
	roundedtileDescription:(
		font: "Akzidenz-Grotesk-BoldCondensed",
		fontSize: em(16),
		fontSize-T: null,
		fontSize-M: null,
		fontWeight: $fontMedium,
		color: $white,
		bgndColor: null
	)
);