// font path
$fontPath: "../resources/fonts";
$hw-btnblue:#009bd7;
$hw-blue:#276297;
$hw-lightblue:#44b5e5;
$hw-yellow:#fff02a;
$hw-orange:#f4893e;
$placeholder-color:#aaaaaa;
$slick-gray:#666;
$hw-error:#d9534f;