<sly data-sly-test="${wcmmode.edit}">${'Footer Container Component' @i18n}</sly>

<div class="row col-4 text-center mb-30 top-row">
<sly data-sly-resource="${'contactUs' @ resourceType='/apps/mattel/ecomm/ag/components/content/contactUs'}"></sly>
</div>
<div class="hr-divider"></div>
<div class="row col-2 mt-30 mb-30">
<div class="hidden-xs footer-purchase-guarantee">
<sly data-sly-resource="${'guaranteeText' @ resourceType='/apps/mattel/ecomm/ag/components/content/guaranteeText'}"></sly>
</div>
<div class="email-section">
<sly data-sly-resource="${'signUp' @ resourceType='/apps/mattel/ecomm/ag/components/content/signUp'}"></sly>
</div>
</div>
<div class="row col-4-md">
<sly data-sly-resource="${'footerLinks' @ resourceType='/apps/mattel/ecomm/ag/components/content/footerLinks'}"></sly>
</div>
<div class="hr-divider"></div>
<div class="row col-2-md mt-30 bottom-row ${properties.hideApps?'social-center':''}">
    <div class="socials extra-social">
        <sly data-sly-resource="${'socialShare' @ resourceType='/apps/mattel/ecomm/ag/components/content/socialShare'}"></sly>
    </div>
    <div data-sly-test="${!properties.hideApps}" class="store-section">
        <sly data-sly-resource="${'appStore' @ resourceType='/apps/mattel/ecomm/ag/components/content/appStore'}"></sly>
    </div>

<div class="socials">
<sly data-sly-resource="${'socialShare' @ resourceType='/apps/mattel/ecomm/ag/components/content/socialShare'}"></sly>
</div>
</div>

<div class="copyright">
<sly data-sly-resource="${'disclaimer' @ resourceType='/apps/mattel/ecomm/ag/components/content/disclaimer'}"></sly>
</div>
<div class="read-more-footer">
<sly data-sly-resource="${'readMore' @ resourceType='/apps/mattel/ecomm/ag/components/content/readMore'}"></sly>
</div>
