

// Color Variables
$white: #ffffff;
$black: #000000;
$grey: #878787;
$athens-grey: #dcdddf;
$dark-grey : #767676;
$medium-grey: #979797;
$light-grey: #dddddd;
$very-light-grey: #cacaca;
$color-extra-dark-grey : #949494;
$dim-gray: #707070; //666666, 676767
$very-dark-gray : #B1B1B1;
$very-dim-light: #d8d8d8;
$very-dim-light-grey: #9b9b9b;
$silver-grey: #bbbbbb;
// $white-smoke: #F1F1F1; //EAEAEA, eeeeee
$night-rider: #333333;
$white-smoke: #eeeeee;
$light-white: #f7f7f7;
$light-pink: #c70a4c;
$mortar: #555555;
$navy-blue : #0b80ca; //0078C8
$pelorous-blue: #2E81C3;
$dark-turquoise : #00C1D5;
$light-red : #ed4322; //ef4123, ed4122
$red : #eb3845;
$dark-red: #dc2c20;
$pure-red: #FF0707;
$light-blue : #0a8ee1;
$outline-blue : #66afe9;
$link-blue: #23527c;
$light-green : #869791;
$pink: #EC4399;
$dark-pink: #D70080;
$light-rose: #f15e79;
$rose : #f15e79;
$rose1: #FF534D;
$cyan : #00eeee;
$light-violet: #ffe8fd;
$violet: #de1c85;
$purple-heart: #5F259F;
$purple: #723D97;
$dark-purple: #771B65;
$turquoise: #49c3d0;
$orange: #f36621;
$very-light-pink: #e284a5;
$dim-light-pink: #ae0842;
$yellow: #fbd635;
$sky-blue: #f0f0f0;
$gray-white : #EAEAEA;
$light-purple: #5E3769;
$charcoal: #4A4A4A;
$light-black: #222222;
$classic-fb-bg : #3b5998;
$classic-pinterest-bg : #cb2027;
$border-pink : #c91f4f;
$arrow-purple :#809CDD;
$arrow-tony-pink:#EC8FB2;
$arrow-pink:#EC4E82;
$arrow-polo-blue:#8A8AC3;
$arrow-sea-green:#67C8C9;
$arrow-pastel-green :#7F2A90;
$purple1: #771B65;
$green1 : #82AD42;
$dark-light-pink:#BE317A;
$slick-dots-active-btn-bg: #f75baa;
// ----- Global Reusability Mixins - For temp tracking
$bay-blue: #343479;
$gainsboro: #e6e6e6;
$eclipse-grey: #3d3d3d;
$grey-smoke: #EBEBEB;
$denim-blue: #147bd1;
$blue-navy: #0078c8;
$fernGreen: #41873F;
$lbk-nav-blue:#1377C9;
$lbk-red:#E51C06;

//MiniQuiz
$thunderbird: #DE2510;
$scarlet: #e51c06;
$denim: #1377C9;
$pampas: #EFECE8;

// ----- Global Reusability Mixins - For temp tracking
$mattel-red:#ff0028;
$primaryTextColor: #EE0024;

//Theme color
$light-bg:$gainsboro!default;
$light-color:$black!default;
$lightAlt-bg:$gainsboro!default;
$lightAlt-color:$black!default;
$dark-bg:$black!default;
$dark-color:$white!default;
$darkAlt-bg:$eclipse-grey!default;
$darkAlt-color:$white!default;

//Video Variable
$videoLabelBg: rgba(248, 246, 245, 0.7) !default;
$webkitScrollBg: $grey-smoke !default;
$webkitScrollColor: $blue-navy !default;
$activeGalleryImg: $blue-navy !default;
$playText:rgba($black, 0.7) !default;
$videoccordionBg: $denim-blue !default;
$videoAccordionColor: $white !default;

//Carousal Variable
$bulletLight: $black!default;
$bulletDark:$white!default;