// Media Queries
// UP
$xsmall-up: "(min-width: 544px)";
$small-up: "(min-width: 768px)";
$medium-up: "(min-width: 992px)";
$large-up: "(min-width: 1200px)";
$xlarge-up: "(min-width: 1366px)";
// DOWN
$xsmall-down: "(max-width: 543px)";
$small-down: "(max-width: 767px)";
$medium-down: "(max-width: 991px)";
$large-down: "(max-width: 1199px)";
// BETWEEN
$medium-only: "(min-width: 768px) and (max-width: 991px)";
$large-only: "(min-width: 992px) and (max-width: 1199px)";
$lg-only: "(min-width: 1024px) and (max-width: 1199px)";
$md-only: "(min-width: 768px) and (max-width: 1023px)";
$sm-only: "(min-width:320px) and (max-width: 767px)";
$xs-only: "(max-width: 479px)";
$tablet-mobile: "(max-width: 1024px)";
$desktop: "(min-width: 1025px)";
// variable clone
$xlarge-only: $large-up;
$xl-only: $large-up;
$mobile-down-only: $small-down;
$mobile-up-only: $small-up;
$xsmall-only: $xsmall-down;
$small-only: $small-down;
// Landscape
$AndLandscape: "(orientation: landscape)";