/*fisherprice nav*/
$fpn-grey: #878787;
$fpn-green: #1bbdd5;

/*rescueHeroes*/
$rhGreen: #b5d203;
$rhCircleRed: #db5134;
$rhCircleBlack: #445966;
$rhBloodRed: #ed4323;
$rhRed: #ea0a2a;
$rhRedHover: #ff2801;
$rhDarkGrey: #212b31;
$rhLiteBlack: #231f20;
$rhDescGrey: #5e5e5e;
$rhGrey: #c7c7c7;
$rhAquaGrey: #ccd4d9;

/*enchantimals*/
$enchanpurple: #430097;
$enchangreen: #21d2c5;
$enchanpink: #cd25b0;
$enchanred: #f14b5d;
$enchanblue: #bbe0ff;
$enchanlightblue: #e0edf9;
$enchangrey: #484848;
$enchantextpur: #3f0199;

/*fisherprice*/
$fp-blue: #0078c8;
$fp-darkBlue: #0068ae;
$fp-yellow: #ffd200;
$fp-red: #de2510;
$fp-darkRed: #c81400;
$fp-cyan: #00c1d5;
$fp-grey: #e0e0e0;
$fp-dim-white: #f2f2f2;

/* MattelCom */
$mattelCom-yellow:#fbd635;
//$mattelCom-yellow: #fcd02f;

/***/

$white: #ffffff;
$black: #000000;
$athens-grey: #dcdddf;
$dark-grey: #767676;
$medium-grey: #979797;
$light-grey: #dddddd;
$very-light-grey: #cacaca;
$dim-gray: #707070; //666666, 676767
$very-dark-gray: #b1b1b1;
$very-dim-light: #d8d8d8;
$very-dim-light-grey: #9b9b9b;
$silver-grey: #bbbbbb;
$white-smoke: #f1f1f1; //EAEAEA, eeeeee
$night-rider: #333333;
$white-smoke: #eeeeee;
$light-white: #f7f7f7;
$light-pink: #c70a4c;
$mortar: #555555;
$navy-blue: #0b80ca; //0078C8
$bay-blue: #343479;
$pelorous-blue: #2e81c3;
$prussian-blue: #0f0033;
$dark-turquoise: #00c1d5;
$light-red: #ed4322; //ef4123, ed4122
$dark-red: #dc2c20;
$pure-red: #ff0707;
$light-blue: #0a8ee1;
$outline-blue: #66afe9;
$link-blue: #23527c;
$light-rose: #f15e79;
$rose: #f15e79;
$cyan: #00eeee;
$purple-heart: #5f259f;
$purple: #723d97;
$dark-purple: #771b65;
$turquoise: #49c3d0;
$orange: #f36621;
$atomicOrange: #ff8d6c;
$very-light-pink: #e284a5;
$dim-light-pink: #ae0842;
$yellow: #fbd635;
$blue: #4f95cb;
$red: #d24632;
$violerRed: #da1584;
$lightBlue: #57d0dc;
$slateGrey: #25292c;
$darkestGrey: #1a1c21;
$darkGrey: #26282c;
$grey: #949799;
$lightGrey: #e0e0e0;
$shuttle-grey: #5c6670;
$violet: #5f259f;
$litviolet: #c1a7e2;
$pink: #df1995;
$dark-pink: #f10196;
$icegreen: #c4d600;
$aqua-green: #9dcbd7;
$white-shade: #f7f7f7;
$indigo: #1a0135;
$light-green: #dfe61e;
$light-violet: #c7a4e6;
$green: #c7d34f;
$fernGreen: #41873f;
$lightGreen: #99ea78;
$lightMdGreen: #91e86f;
$appleGreen: #6cc04a;
$pigmentGreen: #8883d6;
$dollyGreen: #f5ea70;
$nowyMint: #d7f1cd;
$brightGrey: #595b5d;
$iron: #c6c8c8;
$lilyWhite: #eff0ef;
$razmatRed: #cb007b;
$magenta: #cb007b;
$lightVio: #8883d6;
$goldenYellow: #f4eb60;
$navyBlue: #343479;
$tomatina: #ff8d6c;
$deepBlue: #00082b;
