$gallery: (
  main: (
    bgnd: none,
    isDefaulTitleForRetailer: true,
    isCharTitleForEnchantimals: false,
    sameasDefaultBtn: true
  ),
  heading: (
    isDefaultHeadingFont: true,
    bgColor: transparent,
    color: #5c4388,
    tabColor: #5c4388,
    colorOpt: #5c4388,
    headingLineHeightMob: 34px,
    headingMarginMob: 30px 0px 22px 0px,
    fontSize: em(48),
    tabFontSize: em(30),
    mobFontSize: em(30),
    fontFamily: 'MattelFounders',
    fontWeight: $fontMedium,
    align: left,
    margin: 20px 0 0 0,
    marginTab: 10px 0 0 0,
    padding: 0,
    transform: none,
    definedTitlePadMob: 0,
    definedTitlePadTab: 0,
    definedTitlePad: 0 10px,
    // lineHeight: em(30, 22),
      lineHeight: 66px,
      tabLineHeight: 40px,
    // lineHeight: 36px,
      titleBgColor: transparent,
    disp: block
  ),
  homepageGallery: (
    pad: 0,
    tabPadding: 0,
    mobilePadding: 0
  ),
  galleryTileList: (
    txtAlign: left
  ),
  charactersPage: (
    isEnchantCharacterPageGallery: false,
    bgnd: null,
    galHeadingColor: null,
    txtAlignLeft: left,
    txtColor: null
  ),
  description: (
    isDefaultDesFont: true,
    bgColor: transparent,
    fontSize: 24px,
    color: $white,
    fontFamily: 'MattelFounders',
    fontWeight: $fontRegular,
    align: left,
    padding: 0,
    mobilepadding: 0,
    descMargin: 0 0 0,
    fontFamilyDes: 'MattelFounders',
    fontWeightDes: $fontLight
  ),
  defaultListTitle: (
    bgnd: $white,
    fontSize: em(22),
    color: null,
    fontFamily: 'MattelFounders',
    fontWeight: $fontMedium,
    align: left,
    padding: 0,
    margin: 0
  ),
  defaultListCol: (
    desItem: 4,
    // 3 col
      tabItem: 2,
    // 2 col
      mobItem: 1,
    // 1 col
      itemToShow: 4,
    tabItemToShow: 4,
    mobItemToShow: 4,
    isViewAllHide: true,
    listShowCSS: true,
    padTop: 0,
    pad: 40px,
    mobPadBtm: 20px,
    mobPadLft: 0,
    mobPadRit: 0,
    hideNthItemCol: 3,
    //itemToShowCol2 throwing null plus 1 error
      //itemToShowCol2:2,
      itemToShowCol3: 3,
    itemToShowCol4: 4,
    widthCol2: 50%,
    widthCol3: 33.33333%,
    widthCol4: 25%,
    dispNth: none
  ),
  download: (
    isDefaultHeadingFont: false,
    isDefaultDesFont: false,
    isColConfigTrue: false,
    isImageWidthAuto: false,
    labelMargin: 15px 0 15px,
    labelSize: em(14),
    labelHeight: auto,
    LabelWrapPad: 0,
    LabelPadding: 0,
    labelBgColor: transparent,
    labelColor: $white,
    labelFontSize: 1em,
    labelFontSizeDesk: em(20),
    labelFontSizeDeskMob: 16px,
    LabelLineHeightMob: 16px,
    LabelMarTopMob: 12px,
    LabelFontColor: $black,
    LabelFontWeightDesk: $fontMedium,
    labelFontFamily: 'MattelFounders',
    LabelFontWeight: 700,
    LabelLineHeight: 26px,
    LabelTxtAlign: left,
    galleryTitleBottom: em(0),
    galleryTitlePaddingMob: 1px 21px,
    // galleryTitlePadding: em(9) em(40) em(5) em(40),
      galleryTitlePadding: 9px 50px 5px 50px,
    LabelTextOverflow: unset,
    LabelWhiteSpace: normal,
    //LabelOverflow:auto,
      downloadBgColor: $fp-blue !important,
    downloadBdrRadius: 0 !important,
    downloadPad: 10px !important,
    fpDownloadTitleBgColor: null /*  LabelWidth:
            LabelPadding: 
        */
  ),
  plpDownload: (
    tileLiTxtAlign: center,
    widthMob: 100%,
    charLablPad: 0,
    titleTxtAlign: center,
    titleFontSize: em(16),
    titleFontSizeDesk: em(22),
    titleLineHeightDesk: em(30, 22),
    titlePad: 0,
    titleMargin: 15px 0 15px 0,
    mobTitleMargin: 0 !important,
    descMargin: 0,
    descTxtAlign: center,
    imgPadLeft: 0,
    imgPadRight: 0
  ),
  downloadGalWrapper: (
    pad: 100px 90px,
    padTab: 50px 20px,
    padMob: 50px 20px
  ),
  downloadTileTitle: (
    // txtColor:$gallery-thumb-title-color,
      txtFontSize: em(26),
    // titleMargin: 20px 0 10px,
      titleMargin: 15px 0 10px,
    titlePad: 0,
    titleHeight: auto,
    // titleMaxHeight:32px
  ),
  downloadTileDesc: (
    txtColor: $white,
    txtDisp: block !important,
    txtFontSize: em(18) !important,
    margin: 0 0 em(20) 0,
    floatLeft: left
  ),
  downloadListCol: (
    desItem: 2,
    // col-lg-5+1 // 2 col
      tabItem: 2,
    // 2 col
      mobItem: 1,
    // 1 col
      itemToShow: 2,
    tabItemToShow: 4,
    mobItemToShow: 4,
    isViewAllHide: true
  ),
  retailers: (
    isDefaultHeadingFont: true,
    titleTxtSizeMob: 30px,
    titleTxtLineHeightMob: 40px,
    isDefaultDesFont: true,
    isColConfigTrue: true,
    applyBordrToParnt: true,
    tileBgnd: transparent,
    tileDisplay: flex,
    tabtileDisplay: table-cell,
    tilewidth: auto,
    tileMargin: 0 0 1em 0,
    tileAlign: center,
    isImageAfter: true,
    afterBgnd: none,
    afterBgndSize: 100%,
    afterBgndHght: 35vw,
    afterBgndSizeMob: contain,
    afterBgndBottom: 0,
    afterBgndZindx: 0,
    padding: 9em 0 0,
    titleTxtColor: #5c4388,
    titleTxtSize: em(48),
    titleTxtSizeTab: em(30),
    titleTxtLineHeightTab: 40px,
    fontFamily: 'MattelFounders',
    paddingRetailers: 0,
    fpnavoverflow: hidden,
    largeOnlypadding: 0 20em,
    fpbgColor: #f7f7f7,
    marginBottom: 20px,
    mobtilepadding: 0px 6em
  ),
  retailersCurls: (),
  retailersListCol: (
    desItem: 5,
    // col-lg-5+1 // 2 col
      tabItem: 2,
    // 2 col
      mobItem: 1,
    // 1 col
      /*itemToShow: 4,
        tabItemToShow: 4,
        mobItemToShow: 4,*/ isViewAllHide: true,
    showAllList: true,
    fpnItem: 40%,
    fpndesItem: 12%,
    fpnDisplay: inline-block !important,
    fpnVericalAlign: middle,
    fpnpadd: 20px 20px 0 20px !important,
    fpnfloat: none
  ),
  characters: (
    isDefaultMargin: true,
    isclearDiv: true,
    bgnd: transparent,
    showMoreBgnd: transparent,
    isDefaultHeadingFont: true,
    isDefaultDesFont: true,
    isColConfigTrue: true,
    tileTitleFamily: 'MattelFounders',
    tileTitleWeight: $fontBold,
    tileBgnd: transparent,
    tileTitleColor: $white,
    tileTitleSize: em(21),
    tileTitleDisplay: block,
    tileTitlePadding: 15px 0,
    tileAlign: left,
    tileWidth: calc(100% - 4px),
    tileMargin: auto,
    padding: 9em 0 0,
    imgAlign: center
  ),
  charactersListCol: (
    desItem: 4,
    // col-lg-5+1 // 2 col
      tabItem: 2,
    // 2 col
      mobItem: 1,
    // 1 col
      itemToShow: 4,
    tabItemToShow: 4,
    mobItemToShow: 4,
    isViewAllHide: true
  ),
  galleryHeadings: (
    pad: em(55) em(65) em(50) em(65)
  ),
  retailerSection: (
    isRounded: false,
    titleBgnd: transparent,
    fntweight: $fontBold
  ),
  galleryheadingsH2: (
    txtColor: $black,
    txtTransform: none,
    margin: 0 0 21px 0,
    txtAlign: left,
    fntSize: em(38.76),
    display: block,
    lineHeight: 1
  ),
  galleryheadingsP: (
    txtColor: $black,
    marginTop: 0,
    txtAlign: left,
    fntSize: em(21),
    fntFamily: 'MattelFounders',
    fntWeight: $fontBold,
    margin: 0,
    lineHeight: 1
  ),
  galleryTileWrap: (
    mobPad: 0 35px,
    backgroundColor: #fbd635,
    padding: 17px 48px,
    margin: 0 0 20px 0,
    textAlign: left,
    fontSize: 20px,
    textTransform: uppercase,
    fontWeight: 500,
    fontColor: $black,
    txtDecoration: none,
    MarBottomMob: 30px,
    paddingMob: 10px 28px,
    textAlignMob: left,
    fontSizeMob: 16px,
    fontFamily: 'MattelFounders',
    fontWeigh: 500
  ),
  overlayTxt: (
    overlayTxtDisplay: inline-block !important,
    overlayTxtPos: absolute,
    overlayTxtBorder: 2px solid white,
    overlayTxtNone: none !important,
    overlayTxtColor: #fff !important,
    overlayTxtPad: 12px 26px !important,
    overlayTxtFontSize: 16px !important,
    overlayRadius: 0 !important,
    overlayLeft: 50%,
    overlayRight: 50%,
    overlayMar: -38px 0 0 -75px !important,
    overlayHovBorder: 2px solid white !important
  ),
  gallerytileUl: (
    display: block,
    width: 100%,
    margin: 0,
    rowDisplay: none !important
  ),
  gallerytileulList: (
    txtAlign: center,
    //padding:10px,
      pad: 0,
    margin: 0,
    pos: relative,
    display: none,
    tabWidth: 50%,
    mobWidth: 100%
  ),
  gallerytileLink: (
    display: block,
    pos: relative,
    margin: em(15),
    primarybtnColor: $white,
    hoverOpacity: 1,
    txtAlign: left
  ),
  gallerytileImage: (
    bgndColor: #5c4388,
    opac: 1,
    maxHeight: 100%,
    maxWidth: 100%
  ),
  gallerytilelink: (
    linkMargin: em(15),
    linkMarginTab: em(15) em(20) em(20) em(20),
    linkMarginMob: em(0)
  ),
  gallerytilelinkSpan: (
    txtTransform: uppercase,
    fntSize: em(28.01),
    pad: 0 em(2.5),
    txtColor: $character-label,
    bgndColor: $character-label-bg,
    display: block,
    txtAlign: left,
    letterSpacing: em(1),
    transition: 350ms ease
  ),
  gallerytilespanprimaryBtn: (
    fntSize: em(14),
    fntWeight: $fontBold,
    txtAlign: center,
    maxWidth: 100%,
    minWidth: 150px,
    pad: 10px 5px,
    display: inline-block,
    txtColor: $violet,
    borderColor: $pink,
    bgndColor: $white,
    hovertxtColor: $pink,
    hoverborderColor: $violet
  ),
  galleryImage: (
    imgOpacity: 0.5
  ),
  galleryImg: (
    imgBdr: 0,
    isHoverEffect: true,
    hoverOpac: 0.8 !important,
    mobhoverOpac: 0.8 !important
  ),
  galleryviewallBtn: (
    maxWidth: 100%,
    minWidth: 162px,
    whitSpace: normal,
    txtDecoration: none,
    txtColor: $pink !important,
    bgnd: $white,
    borderColor: em(3) solid $icegreen,
    margin: 10px 0,
    txtTransform: none,
    pad: 0.5em 1.45em,
    fntSize: em(19),
    borderRadius: 2em !important,
    transition: 0.5s,
    hoverborderColor: $pink !important,
    hovertxtColor: $black,
    hoverBgnd: $btn-view-all-border !important
  ),
  galleryviewAll: (
    display: none,
    txtAlign: right,
    margin: em(20) 0,
    mobtxtAlign: center
  ),
  showMore: (
    display: none,
    width: 100%,
    txtAlign: center,
    pad: em(24)
  ),
  showmoreLink: (
    minWidth: 240px,
    txtAlign: center,
    display: inline-block,
    txtColor: $white,
    borderColor: 5px solid $icegreen,
    borderRadius: 62px,
    bgndColor: $pink,
    fntSize: em(19),
    pad: 33px,
    lineHeight: 1.4em,
    transition: 0.5s,
    hoverborderColor: $pink,
    hoverbgndColor: $icegreen,
    outline: none,
    mobhoverborderColor: $icegreen,
    mobhoverbgndColor: $pink,
    mobactiveborderColor: $pink,
    mobactivebgndColor: $icegreen
  ),
  showmorelinkBefore: (
    fntFamily: 'Font Awesome',
    fntWeight: 700,
    beforeContent: '\f055',
    margin: 10px,
    fntSize: em(19),
    verticalAlign: middle
  ),
  showmorelinkbeforeActive: (
    activeContent: '\f056'
  ),
  marginLR0: (
    marginLeft: 0 !important,
    marginRight: 0 !important
  ),
  downloadBtn: (
    txtAlign: center,
    fntSize: em(12),
    fntFamily: 'MattelFounders',
    fntWeight: $fontBold,
    bgndColor: $light-pink,
    borderStyle: none,
    pad: em(4),
    txtColor: $white,
    display: block,
    txtTransform: none,
    width: 50%
  ),
  primaryBtn: (
    isExtendSecondaryBtn: true,
    isExtendPrimaryBtn: false,
    maxWidth: 100%,
    minWidth: 150px,
    txtDecoration: none,
    txtcolor: $violet,
    bgndColor: $white,
    borderColor: 4px solid $pink,
    pad: 5px 15px,
    fntFamily: 'MattelFounders',
    fntWeight: $fontBold,
    fntSize: em(21),
    borderRadius: 2em !important,
    hoverborderColor: 4px solid $violet,
    hoverbgndColor: $white,
    hovertxtColor: $pink,
    fntCase: none
  ),
  tilesCenter: (
    pad: em(6)
  ),
  playtilesgalleryMain: (
    pad: 0,
    width: 100%,
    margin: 0 auto !important,
    bgndColor: $white,
    tabWidth: 100%
  ),
  playtilesGallery: (
    bgndColor: transparent
  ),
  playcharlandulList: (
    display: block !important
  ),
  playcharlandulplayOverlay: (
    pos: absolute,
    posTop: 0,
    posBottom: 0,
    posLeft: 0,
    posRight: 0
  ),
  playcharlandulplayoverlaySpan: (
    pos: absolute,
    posTop: 7px,
    posLeft: 7px,
    fntSize: 1em,
    fntFamily: 'MattelFounders',
    whitSpace: nowrap,
    display: inline-block,
    pad: em(7),
    txtColor: $character-label,
    bgndColor: $character-label-bg,
    z-index: 1,
    letterSpacing: 1px
  ),
  playGame: (
    bgnd: null //url($game-gallery-bg) 0 0 repeat,
  ),
  playgamegallerytileH2: (
    txtColor: $white,
    pad: 0 em(45),
    marginTop: em(25),
    fntSize: 2.5em
  ),
  playgameUl: (
    pad: 0 em(35) em(35) em(35)
  ),
  playgameulList: (
    pad: em(15)
  ),
  gallerytiledefaultSpan: (
    txtColor: $white,
    bgndColor: $violet
  ),
  playRetailer: (
    margin: 0px auto
  ),
  playretailgallerytileH2: (
    txtAlign: center
  ),
  playretailgallerytileUl: (
    mobPadding: 0 em(50)
  ),
  playretailgallerytileulList: (
    margin: 0px auto,
    mobPadding: 0 em(25),
    mobWidth: 50%,
    mobFloat: left,
    mobMargin: 0
  ),
  playretailgallerytilelistLink: (
    margin: 0
  ),
  playretailgallerytilelinkSpan: (
    display: inline
  ),
  playretailgallerytilelinkImage: (
    bgndColor: transparent
  ),
  playretailgallerytileviewAll: (
    display: none !important
  ),
  playchargallerytileulList: (
    pad: 0px,
    bgndColor: $character-bg
  ),
  playchargallerytileullistLink: (
    margin: 0,
    hoverOpacity: 0.7
  ),
  playchargallerytileullistlinkSpan: (
    z-index: 1024,
    width: auto,
    pos: absolute,
    margin: 0 auto,
    posLeft: 50%,
    posBottom: em(20),
    posTransform: translateX(-50%),
    lineHeight: normal,
    borderRadius: 5px,
    display: block
  ),
  playcharshowMore: (
    bgndColor: $show-more-block-bg
  ),
  playProducts: (
    bgnd: null,
    imgbgnd: $black,
    imgPad: 10px,
    titleColor: null
  ),
  playprodgalleryTitle: (
    bgndColor: $white
  ),
  playprodgalleryTile: (
    pad: em(50) em(30) em(16)
  ),
  playprodgallerytileList: (
    marginBottom: em(10),
    hoverborderColor: 0px
  ),
  playprodgallerytilelistLink: (
    borderRadius: 50%,
    borderColor: 2px solid transparent,
    overflow: hidden,
    bgnd: none,
    imgmarginBottom: em(10),
    imgborderRadius: 50%,
    imgborderColor: 2px solid transparent,
    imghoverOpacity: 1
  ),
  playprodgallerytilelistSpan: (
    borderRadius: 5px,
    display: inline,
    txtAlign: center
  ),
  playimagegalleryTile: (
    bgndColor: $litviolet,
    pad: em(10) em(20)
  ),
  playimagegallerytileulList: (
    txtAlign: left
  ),
  playimagegallerytilelistlinkSpan: (
    width: 100%,
    pad: 0
  ),
  playdowncharLabel: (
    pad: 0 em(3) em(3),
    fntSize: 1em,
    lineHeight: 1.4,
    linestoShow: 3
  ),
  playdowncharlabelH2: (
    txtOverflow: ellipsis,
    overflow: hidden,
    width: 100%,
    height: 32px,
    whitSpace: nowrap,
    fntSize: em(21),
    margin: em(0),
    pad: em(3) em(0)
  ),
  playdowncharlabelP: (
    display: none
  ),
  playdowncharlabelparafirstChild: (
    display: block,
    /* Fallback for non-webkit */ webkitDisplay: -webkit-box,
    width: 100%,
    height: $font-size * $line-height * $lines-to-show,
    /* Fallback for non-webkit */ margin: 0 auto,
    fntSize: $font-size,
    lineHeight: $line-height,
    lineClamp: $lines-to-show,
    boxOrient: vertical,
    overflow: hidden,
    txtOverflow: ellipsis
  ),
  playdowncharlabelulList: (
    marginBottom: em(10)
  ),
  playdowncharlabelullistLink: (
    margin: 5px,
    txtColor: $white,
    tabMargin: 0,
    imgbgndColor: transparent
  ),
  playdowncharlabelullistOverlay: (
    pos: absolute,
    posTop: 0em,
    posLeft: 0,
    posBottom: 0,
    posRight: 0,
    bgnd: rgba(95, 37, 159, 0.5),
    z-index: 99,
    opacity: 0,
    width: 100%,
    margin: auto,
    transition: 350ms ease
  ),
  playdowncharlabelullistoverlayBtn: (
    posTransform: translate(-50%, -50%),
    posTop: 50%,
    posLeft: 50%,
    pos: absolute,
    pad: 0.5em,
    fntFamily: 'MattelFounders',
    fntSize: em(12),
    letterSpacing: 1px,
    hoveroverlayOpacity: 1
  ),
  playgamesgallerytileUl: (
    pad: 30px
  ),
  playgamesgallerytileulList: (
    pad: 25px
  ),
  playgamesgallerytileullistLink: (
    margin: 0
  ),
  playgamesgallerytileullistlinkSpan: (
    txtAlign: center,
    bgndColor: $violet,
    txtColor: $white,
    fntSize: em(14),
    fntFamily: 'MattelFounders',
    pad: em(12)
  ),
  playtilesplaylistLink: (
    margin: 0
  ),
  playtilesplaylistlinkSpan: (
    fntSize: 1em,
    fntFamily: 'MattelFounders',
    pad: em(12),
    txtColor: $white,
    bgndColor: $violet
  ),
  playtilesplaylistlinkOverlay: (
    bgndColor: rgba(0, 0, 0, 0.7)
  ),
  playtilesplaylistlinkoverlaySpan: (
    txtColor: $violet,
    bgndColor: $white,
    pad: em(7)
  ),
  listTitle: (
    padding: 10px,
    fontWeight: $fontBold,
    align: left,
    margin: 0 auto,
    fontSize: em(16),
    lineHeight: em(16),
    txtCase: none,
    pos: relative,
    posBtm: 0,
    float: none,
    bgnd: transparent,
    txtColor: $white,
    txtAlignLeft: left
  ),
  charListTitle: (
    padding: 0,
    fontWeight: $fontBold,
    align: center,
    margin: 10px auto,
    fontSize: em(30),
    lineHeight: normal,
    txtCase: none,
    pos: relative,
    posBtm: 0,
    float: none,
    bgnd: transparent,
    txtColor: $white,
    txtAlignLeft: left
  ),
  playCharacters: (
    bgnd: null,
    othersCharBgnd: null,
    txtAlignLeft: left,
    txtColor: null
  ),
  playCharacterPlus: (
    txtAlignLeft: left
  ),
  charactersName: (
    pos: relative,
    margin: 10px auto 0,
    posBtm: 0,
    txtAlign: left,
    txtCase: none,
    fntSz: em(16),
    lnHght: em(16),
    padng: 0
  ),
  fpVideoGal: (
    bgnd: transparent
  ),
  showMoreDiv: (
    pad: 0 0 0 0
  ),
  whereToFind: (
    brandWidth: 25%,
    brandPadding: 0 0 0 20px !important,
    brandWidthMob: auto !important,
    brandImgWidth: auto !important,
    brandImgMar: 0px,
    brandImgMinWidth: auto !important,
    titleTab: 0px 20px,
    borderTop: 10px solid #fbd635
  ),
  whereToFindUL: (
    padding: 0 2.375rem 1.25rem,
    paddingMob: 0 21px,
    displayMob: inherit !important,
    displayTab: 0px,
    flexTab: flex,
    textAlignTab: left
  )
);

$globalCauses: (
  main: (
    wrapBgColor: #5c4388
  ),
  title: (
    titleTxtColor: $mattelCom-yellow,
    titleMobMargin: 30px 0 15px 0,
    titleMobileMargin: 18px 0 15px 0 !important,
    titleMobileWidth: 70%,
    titleMobFntSize: 30px !important,
    titleTabLineHeight: 40px,
    titleMobLineHeight: 34px,
    titleTabMargin: 10px 0 12px 0
  ),
  desc: (
    descTxtColor: $white,
    descLineHeight: em(20),
    descMargin: 0 0 30px 0,
    descFontSize: 20px,
    mobFntSize: 18px,
    mobMarginBottom: 30px,
    tabMarginBottom: 22px,
    mobLineHeight: 24px
  ),
  listlink: (
    liAnchorMargin: 1.07143em,
    liAnchorMarginMobile: 0,
    liAnchorMarginDesktop: 0px 40px 30px 40px,
    liAnchorMarginTab: 0px 47px 30px 47px
  ),
  listlinkLabel: (
    descColor: 0 0 40px 0,
    descLineheight: 24px,
    titleFontSize: 30px,
    titleColor: $white,
    descFontSize: 18px !important,
    backgroundNone: none !important,
    btnPadding: 0 !important,
    btnColor: #fff !important,
    btnMar: 6px 0 30px -71px !important,
    tabMar: 6px 0 30px -65px !important,
    mobbtnMar: 0px 0 0px -86px !important,
    btnHovUnderline: underline !important,
    btnHovColor: #fff !important,
    btnHovBtn: block !important,
    // btnpaddingMob: 0 21px 20px 21px !important,
      btnpaddingMob: 0 21px 35px 21px !important,
    btnDisplay: block !important,
    titleLineheight: 56px,
    btnClear: both
  ),
  titleblk: (
    titleMobPadding: 0 !important
  )
);
