$header: (
  main: (
    bgnd: $white,
    boxShadow: null,
    minHeight: em(84),
    minHeightMob: em(69),
    minHeighttab: em(69),
    posTop: 0,
    posLeft: 0,
    zIndex: 1025,
    pos: fixed,
    width: 100%,
    lineHeight: em(14),
    mobBgndSize: cover,
    bgndSize: contain,
    headerBorderBottom: 10px solid #fbd635
  ),
  childDiv: (
    width: auto,
    padRight: 0,
    whyPlayHeader: true,
    // whyPlaypadding: 0 100px,
      whyPlaypadding: 0 25px 0 100px,
    whyPlaypaddingMob: 0 10px,
    whyPlaypaddingTab: 0 13px 0 25px
  ),
  logo: (
    pos: absolute,
    padTop: 6px,
    zIndex: 9999
  ),
  logoImage: (
    margin: 5px 0 0 13px,
    width: 64px,
    //mob
      mobMargin: 0 0 0 7px,
    mobWidth: 37px,
    //des
      tabMargin: 0,
    tabWidth: 40px,
    //tab
      padTopMob: 6px,
    widthMob: 40px,
    heightMob: 40px
  )
);
