$mainNav: (
  hamburger: (
    txtColor: $black,
    margin: em(22) em(12) 0 0,
    marginTab: em(29) em(12) 0 0,
    floating: right !important,
    tabLandscapeDisplay: block,
    // none,
    mobileMargin: 14px 0 0 0,
    mobileMarginTab: 9px 0 0 0,
    mobilePadding: 0 5px 0 0,
    tabMargin: 27px 10px 0 0,
    tabDisplay: none,
    desktopDisplay: none,
    openStateIcon: '\f00d',
    closeStateIcon: '\f0c9',
    iconFontSize: 25px,
    hoverColor: $black,
    focusColor: $black
  ),
  primaryNav: (
    mobPosLeft: 0,
    mobPosTop: em(50),
    tabPosTop: em(51),
    mobWidth: 100%,
    mobHeight: auto,
    mobBgndColor: $mob-nav-bg,
    mobMaxHeight: 410px,
    floating: right,
    desktopDisplay: inline-block !important,
    minHeight: em(74),
    bgnd: transparent,
    height: 74px
  ),
  primaryNavUL: (
    fontFamily: 'MattelFounders',
    mobBgndColor: $white,
    //deskDownBgImage: url('/../../../../../../../../content/dam/mattelweb/playsites/pollypocket/global/en-us/mobile-nav-bg.png'),
      mobMargin: 0,
    tabLandMargin: 0 0 15px 0,
    desktopMargin: 0,
    desktopHeight: 100%,
    textAlign: center,
    textAlignTab: center,
    //mobColor: $black,
  ),
  primaryNavUlLi: (
    mobPad: 0,
    // deskPad:em(7) 2em
      deskPad: 5px 32px 7px 32px
  ),
  primaryNavUlLiA: (
    fontFamily: MattelFounders,
    mobAnchorColor: $black,
    textAlign: left,
    desktopAnchorColor: #000000,
    desktopAnchorHoverColor: #0b007f,
    borderBottom: 0,
    desktopPad: 0,
    anchActiveBrdrBot: 0,
    anchorActiveColor: inherit,
    textDecoration: none,
    fontSize: em(33),
    mobFontSize: em(30),
    tabFontSize: em(36),
    fontWeight: $fontMedium,
    textTransform: capitalize,
    mobPad: 6px 28px,
    letterSpacing: normal,
    linkImgWidthDesk: 51px,
    linkImgMargin: 0 em(8),
    showSubNavFontSize: em(34),
    showSubNavColor: $white,
    showSubNavWidth: 40px,
    showSubNavHeight: 40px,
    showSubNavFloat: right,
    showSubNavPad: 0,
    showSubNavLineHeight: normal,
    showSubNavTextAlign: center,
    showSubNavMarginTop: 0,
    lineHeight: 39px,
    mobLineHeight: 50px,
    tabLineHeight: 60px,
    isHideSubnav: true
  ),
  headerImage: (
    width: em(15),
    height: em(15),
    marRight: em(5)
  ),
  primaryNavUlLiUL: (
    bgndColor: $white,
    posTop: em(72),
    posLeft: em(10),
    width: em(220),
    deskDownBgndColor: transparent,
    deskDownPos: relative,
    deskDownPosTop: -14px,
    tabDownPosTop: -14px,
    deskDownPosLeft: 0,
    deskDownWidth: auto,
    paddingTopBottom: em(15) 0 em(17) 0,
    borderBottom: em(10) solid #fbd635,
    deskDownPadding: 0,
    deskDownMargin: 0
  ),
  primaryNavUlLiUlLi: (
    fontSize: em(10),
    pad: 0 em(27),
    deskDownFontSize: em(12),
    deskDownPad: 0,
    deskDownBrdr: 0,
    deskDownTxtIndent: 14px,
    deskDownTxtAPadding: 6px 17px,
    deskDownTxtALineHeight: 1.5em
  ),
  primaryNavUlLiUlLiA: (
    txtColor: $black !important,
    borderBottom: none,
    textUnderline: underline,
    navChildFont: MattelFounders,
    fontWeight: $fontLight,
    fontSize: 18px,
    lineHeight: 35px,
    mobileA: 34px,
    mobileFontWeight: $fontRegular
  )
);
