$richText:(main: (background: #92ccd9,
		overflow: hidden,
		padding: 20px 50px 40px 50px,
		marBottom: 20px,
		displayFlexMob: flex,
		flexDirMob: row-reverse,
		paddingMob: 20px,
		heightMob:226px,
	),
	richTxtP:(Pdisplay: block,
		POverflow: hidden,
		PMargin: 0,
		ImgDisplay: right,
	),
	richTxtHeading: (HeadingMargin: 0,
		HeadingPadding: 0,
		HeadingFontSize: 72px,
		HeadingLineHeight: 78px,
		HeadingColor: $black,
		HeadingFontSizeMob: 40px,
		HeadingLineHeightMob: 44px,
		widthMob: 85%,
		widthTab: 55%,
		leftAlignMob: left,
		leftPaddingTab: 25px,
		marginTopTab: 25px,
	),
);