<!-- Related article starts -->

<div class="grid-module grid-lazyload-module">
    <input type="hidden" value="${pageProperties.primaryTags}" id="primaryTags" />
    <input type="hidden" value="${pageProperties.secondaryTags}" id="secondaryTags" />
    <input type="hidden" id="resourcePath" value="${currentPage.getPath}" />
    <div class="container">
        <h2 class="module-title text-center">${properties.relatedArticleHeader ? properties.relatedArticleHeader : 'Related Articles' @i18n}</h2>
        <div class="article-list-wrapper">
            <ul class="col-3 article-list">
                <!-- dynamic articles -->
            </ul>
        </div>

    </div>
</div>
<!-- Related article ends -->
