<sly data-sly-test.author="${wcmmode.edit}">
    <sly data-sly-test.active="active"></sly>
</sly>
<sly data-sly-use.quizResponse="com.mattel.ecomm.core.models.BasicInformationModel">
    <section class=" animated ${properties.containerAnimation} delay-1s form-section ${active}" data-page="4">
        <div class="sub-brand-logo">
            <picture>
                <sly data-sly-test="${properties.subBrandLogoImageParameterMobileForEyeColor @ context='unsafe'}">
                    <source srcset="${properties.subBrandLogoImageParameterMobileForEyeColor @ context='unsafe'}"
                        media="(max-width:768px)" />
                </sly>
                <img alt="Doll Hospital logo"
                    src="${properties.subBrandLogoImageParameterForEyeColor @ context='unsafe'}" />
            </picture>
        </div>
        <sly data-sly-test="${author}">
            <h2>${properties.questionForEyeColor}</h2>
        </sly>
        <sly data-sly-test="${!author}">
            <sly
                data-sly-use.ecommUtil="${'com.mattel.ecomm.core.utils.EcomUtil' @ template=properties.questionForEyeColor}">
                <h2> ${ecommUtil.getDynamicTemplate @ context='html'} </h2>
            </sly>
        </sly>

        <sly data-sly-test="${properties.helperPopoverTextForEyeColor}">
            <p class="helper-text" data-toggle="popover" data-position-lg="${properties.locationforEyeColor}"
                data-position-sm="${properties.locationforEyeColorMobile}"
                data-content="${properties.helperPopoverCopyForEyeColor}">${properties.helperPopoverTextForEyeColor}<i
                    class="fa fa-info-circle" tabindex="0"><span class="sr-only">Info</span></i></p>
        </sly>


        <div class="main-content-section">
            <div class="main-inner-content">
                <form>
                    <div class="dh-eye-option-group" data-control-type="radio" data-binder-name="dh-display-eyeColor"
                        data-mandate="true">
                        <fieldset>
                            <legend class="sr-only">Doll Eye color options</legend>

                            <sly data-sly-test.tagObjList="${quizResponse.getEyeColorTagList}">
                                <sly data-sly-list.tagObj="${tagObjList}">
                                    <input type="radio" name="dollEyeColor" id="${tagObj.tagID}"
                                        value="${tagObj.name}"><label
                                        for="${tagObj.tagID}"><span>${tagObj.title}</span></label>
                                </sly>
                            </sly>
                        </fieldset>
                    </div>
                    <sly data-sly-test="${properties.noOfButtons == 'singleButton'}">
                        <div class="dh-btn-span"
                            style="background-color: ${properties.backgroundColor @ context='unsafe'}">
                            <button type="submit" class="dh-next-btn disabled"
                                aria-disabled="true">${properties.nextButtonText}</button>
                        </div>
                    </sly>
                    <sly data-sly-test="${properties.noOfButtons == 'twoButtons'}">
                        <div class="dh-btn-span"
                            style="background-color: ${properties.backgroundColor @ context='unsafe'}">
                            <button type="reset" class="dh-back-btn">${properties.backButtonText}</button><button
                                type="submit" class="dh-next-btn disabled"
                                aria-disabled="true">${properties.nextButtonText}</button>
                        </div>
                    </sly>
                </form>
            </div>
        </div>
    </section>
</sly>