<sly data-sly-test="${wcmmode.edit}">${'Rescue Heroes footer' @i18n}</sly>
  <div id="footer-content"></div>

<sly data-sly-use.playPageModel="com.mattel.play.core.model.PlayPageModel" data-sly-test="${playPageModel.expFrLocaleRH=='en-us'}">
  		<script type="text/javascript">   
            var emailsignup_params = emailsignup_params || [];
            emailsignup_params.push({ _clientId: '0fleZ0bfZX8dpc72GVKVaLuZ6nVjTXiT' });
            emailsignup_params.push({ _clientSecret: '-P90EsksBHMB_VDZqaazRsm624Lv842U' });
            emailsignup_params.push({ _sourceId: '10181' });
            emailsignup_params.push({ _countryCode: 'US' });
        </script>
</sly>

<sly data-sly-use.playPageModel="com.mattel.play.core.model.PlayPageModel" data-sly-test="${playPageModel.expFrLocaleRH=='en-ca'}">
  		<script type="text/javascript">   
            var emailsignup_params = emailsignup_params || [];
            emailsignup_params.push({ _clientId: 'WArI_dNzHE9Cc-FrOJLqOTzUaiA0iEJc' });
            emailsignup_params.push({ _clientSecret: '8fHP31sAIrVuJK0RGLZ6vWGAWCcrk2OY' });
            emailsignup_params.push({ _sourceId: '10115' });
            emailsignup_params.push({ _countryCode: 'CA' });
        </script>
</sly>

<sly data-sly-use.playPageModel="com.mattel.play.core.model.PlayPageModel" data-sly-test="${playPageModel.expFrLocaleRH=='es-mx'}">
  		<script type="text/javascript">   
            var emailsignup_params = emailsignup_params || [];
            emailsignup_params.push({ _clientId: 'WArI_dNzHE9Cc-FrOJLqOTzUaiA0iEJc' });
            emailsignup_params.push({ _clientSecret: '8fHP31sAIrVuJK0RGLZ6vWGAWCcrk2OY' });
            emailsignup_params.push({ _sourceId: '10116' });
            emailsignup_params.push({ _countryCode: 'MX' });
        </script>
</sly>

<sly data-sly-use.playPageModel="com.mattel.play.core.model.PlayPageModel" data-sly-test="${playPageModel.expFrLocaleRH=='pt-br'}">
  		<script type="text/javascript">   
            var emailsignup_params = emailsignup_params || [];
            emailsignup_params.push({ _clientId: 'WArI_dNzHE9Cc-FrOJLqOTzUaiA0iEJc' });
            emailsignup_params.push({ _clientSecret: '8fHP31sAIrVuJK0RGLZ6vWGAWCcrk2OY' });
            emailsignup_params.push({ _sourceId: '10117' });
            emailsignup_params.push({ _countryCode: 'BR' });
        </script>
</sly>

<link href="https://user.mattel.com/Content/css/email-signup-fisherPrice.css" rel="stylesheet" />
<script src="https://user.mattel.com/Scripts/emailsignup-client.js"></script>

<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
          <sly data-sly-call="${clientlib.js @ categories='play.rescueFooter'}"/>
</sly>


