<sly data-sly-test="${wcmmode.edit}">${'Interstitial component' @i18n}</sly>
<div id="addthis_sharing_toolbox" class="addthis_sharing_toolbox hidden" data-title="" data-description="" data-media="" data-url=""></div>
<script src="//s7.addthis.com/js/300/addthis_widget.js#async=1" type="text/javascript"></script>
<script type="text/javascript">
                        var addthis_config = addthis_config || {};
                        addthis_config.pubid = 'barbiecollector';                           
                    </script>
