.coral-Form-fieldwrapper.coral-Form-fieldwrapper--rowresume {
    width: 44%; 
    display: inline-grid;
    margin: 0 3%;
}

.white-background{
    background: white;
}
.changeMargin coral-selectlist {
    top: 70px;
    position: relative;
    z-index: 99999999;
}