<div data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-use.baseModel="com.mattel.ag.ecomm.core.model.BasePageModel"
     data-sly-test="${image.src}"
     data-sly-test.customId="${baseModel.imageId}"
     id="div-${customId}"
     data-cmp-is="image"
     data-cmp-lazy="${image.lazyEnabled}"
     data-cmp-src="${image.srcUriTemplate ? (image.lazyEnabled && image.fileReference ? image.fileReference : image.srcUriTemplate) : (image.lazyEnabled && image.fileReference ? image.fileReference : image.src)}"
     data-cmp-widths="${image.widths}"
     data-asset="${image.fileReference}"
     data-asset-id="${image.uuid}"
     data-tab-portrait="${properties.tabPortrait ? 'true' : 'false'}"
     data-title="${image.title || image.alt}"
     class="cmp-image${!wcmmode.disabled ? ' cq-dd-image' : ''}"
     itemscope itemtype="http://schema.org/ImageObject">
    <a data-sly-unwrap="${!image.link}"
       class="cmp-image__link" href="${image.link}"
       data-cmp-hook-image="link">
        <noscript data-sly-unwrap="${!image.lazyEnabled && image.widths.length <= 1 && !image.areas}" data-cmp-hook-image="noscript">
            <sly data-sly-test.usemap="${'{0}{1}' @ format=['#', resource.path]}"></sly>
            <img src="${image.fileReference}" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image"
                 data-sly-attribute.usemap="${image.areas ? usemap : ''}"
                 id="img-${customId}"
                 alt="${image.alt || true}" title="${image.displayPopupTitle && image.title}"/>
            <map data-sly-test="${image.areas}"
                 data-sly-list.area="${image.areas}"
                 name="${resource.path}"
                 data-cmp-hook-image="map">
                <area shape="${area.shape}" coords="${area.coordinates}" href="${area.href}" target="${area.target}" alt="${area.alt}"
                      data-cmp-hook-image="area" data-cmp-relcoords="${area.relativeCoordinates}">
            </map>
        </noscript>
    </a>
    <span class="cmp-image__title" itemprop="caption" data-sly-test="${!image.displayPopupTitle && image.title}">${image.title}</span>
    <meta itemprop="caption" content="${image.title}" data-sly-test="${image.displayPopupTitle && image.title}">
</div>
<sly data-sly-test="${properties.mobilefileReference}">
    <script>
      (function(){
          var device = "Desktop";
          var isTouchDevice = ("ontouchstart" in window) || window.DocumentTouch && document instanceof DocumentTouch;
          var lazyEnabled =  ${image.lazyEnabled @context='unsafe'};
          var tabPortrait = $('#div-${customId @ context='unsafe'}').attr('data-tab-portrait');
          function imageDeviceDetection(){
              if (navigator.userAgent
                  .match(/Mobile|Windows Phone|Lumia|Android|webOS|iPhone|iPod|Blackberry|PlayBook|BB10|Opera Mini|\bCrMo\/|Opera Mobi/i) && window.innerWidth <= 767) {
                  device = "Mobile";
                  if(lazyEnabled){
                      try { document.getElementById("div-${customId @context='unsafe'}").setAttribute("data-cmp-src", "${properties.mobilefileReference @context='unsafe'}"); } catch(err) { console.log("self executing div", err); }
                  } else{
                      try { document.getElementById("img-${customId @context='unsafe'}").setAttribute("src", "${properties.mobilefileReference @context='unsafe'}"); } catch(err) { console.log("dom content loaded image", err); }
                  }
              } else if (tabPortrait=='true' && window.innerWidth <= 991) {
                      device = "TabletPotrait";
      				if(lazyEnabled) {
      				try { document.getElementById("div-${customId @context='unsafe'}").setAttribute("data-cmp-src", "${properties.mobilefileReference @context='unsafe'}"); } catch(err) { console.log("self executing div", err); }
      				}
      				else{
      				try { document.getElementById("img-${customId @context='unsafe'}").setAttribute("src", "${properties.mobilefileReference @context='unsafe'}"); } catch(err) { console.log("dom content loaded image", err); }
      				}
              }
      		else{
      			if(lazyEnabled) {
                      try { document.getElementById("img-${customId @context='unsafe'}").setAttribute("data-cmp-src", "${image.fileReference @context='unsafe'}"); } catch(err) { console.log("dom content loaded image", err); }
                  }
      			else{
      				try { document.getElementById("img-${customId @context='unsafe'}").setAttribute("src", "${image.fileReference @context='unsafe'}"); } catch(err) { console.log("dom content loaded image", err); }
      			}
      		}
          }
          imageDeviceDetection();
          $(window).on('resize', function(){
              isTouchDevice && imageDeviceDetection();
          });
      })();
   </script>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !image.src, classAppend = 'cmp-image cq-dd-image'}"></sly>
<sly data-sly-test="${!baseModel.disableClientLibs}">
    <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
    <sly data-sly-call="${clientlib.js @ categories='core.wcm.components.image.v2'}"></sly>
</sly>