
<sly data-sly-test="${wcmmode.edit}">${'Rescue Heroes Global Header' @i18n}</sly>
<div class="global-mattel-header height-md" role="banner">
	<div class="global-header-wrapper">
		<div id="promo-wrapper"></div>
		<div id="header-content"></div>
	</div>
</div>


<!--<sly data-sly-test="${wcmmode.edit}">${'Rescue Heroes Global Header' @i18n}</sly>
<div class="global-mattel-header height-md" role="banner">
	<div class="global-header-wrapper">
		<div class="email-signUp-tile">
			<div id="emailSignupContainer"></div>-->
			<!-- only for us -->
			<!--<sly data-sly-use.playPageModel="com.mattel.play.core.model.PlayPageModel" data-sly-test="${playPageModel.pageLocale=='en-us'}">
				<div class="desktop-tile"> <span class="click-link" style="display:none"></span>
					<a data-toggle="modal" href="?email-pop-up">
						<h2><span style="text-decoration:none">Sign up for our e-mails and get free parenting advice, playtime ideas and more - </span><span class="spanImage"><img alt="" src="https://www.fisher-price.com/resources/images/signup-button/SignUp.png"></span></h2>
						
					</a>
				</div>
				<div class="mobile-tile">
					<p><a href="#sign-up-btn" class="see-details"><span onclick=" $('.click-link')[0].click();">Sign up for our e-mails and get free parenting advice, playtime ideas and more – </span><span class="spanImage" onclick=" $('.click-link')[0].click();"><img alt="" src="https://www.fisher-price.com/resources/images/signup-button/SignUp.png"></span></a>
					</p>
					<div id="sign-up-btn" class="form-group collapse">
						<input type="email" class="form-control" id="emailMobile" placeholder="Enter your email"> <a href="#" data-toggle="modal" class="emailShow" onclick="GetStarted('true');utag.link({  eve_cat:'Sign Up' , eve_act:'Email', eve_lab:'Email Capture - Step 1', eve_des:'New Email Sign Up',eve_pos:'Header' });"><input type="button" class="btn btn-default" value=">"></a>
						<span id="emailErrorMobile" class="help-block hidden"></span>
					</div>
				</div>
			</sly>
			<!-- only for us -->
		<!--</div>
		<div id="header-content"></div>
	</div>
</div>-->
