$characterlanding:(
	charactersPage: (
		isEnchantCharacterLanding: true,
		bgnd: $productscharbg $enchanblue no-repeat,
		bgndMob:$productscharbgMob $enchanblue no-repeat,
		galHeadingColor: $enchanpurple,
		txtAlignLeft:left,
		txtColor:$enchanpurple
	),
	childDiv:(
		pad: 0,
		txtAlign: center,
		pos: relative,
		marginLeft:0,
		marginRight:0,
		marginBottom:10px
	),
	charSection: (
		txtAlign: center,
		pos:relative
	),
	playList:(
		deskPad: 0 2em 2em,
		tabPad: 0 2em,
		mobPad:0 1em
	),
	charSpan: (   
		bgndColor: transparent,
		borderRadius: 0,
		txtAlign: left,
		pad: em(10) 0,
		fntSize: em(16),
		txtcolor: $enchanpurple,
		pos: relative,
		posBottom: 0,
		posLeft: 0,
		posTransform:none,
		disp:block,
		fntCase:capitalize,
		fntWeightTR: 700
	)

);
