/*fisherprice nav*/
$fpn-grey:#878787;
$fpn-green:#1BBDD5;


/*rescueHeroes*/
$rhGreen:#B5D203;
$rhCircleRed:#db5134;
$rhCircleBlack:#445966;
$rhBloodRed:#ED4323;
$rhRed:#EA0A2A;
$rhRedHover:#FF2801;
$rhDarkGrey:#212B31;
$rhLiteBlack:#231F20;
$rhDescGrey:#5e5e5e;
$rhGrey:#c7c7c7;
$rhAquaGrey:#ccd4d9;

/*enchantimals*/
$enchanpurple: #430097;
$enchangreen: #21D2C5;
$enchanpink: #CD25B0;
$enchanred: #F14B5D;
$enchanblue: #BBE0FF;
$enchanlightblue: #E0EDF9;
$enchangrey: #484848;
$enchantextpur:#3F0199;

/*fisherprice*/
$fp-blue:#0078C8;
$fp-darkBlue:#0068AE;
$fp-yellow:#FFD200;;
$fp-red:#DE2510;
$fp-darkRed:#C81400;
$fp-cyan:#00C1D5;
$fp-grey:#E0E0E0;
$fp-dim-white:#f2f2f2;

/* MattelCom */
$mattelCom-yellow: #FBD635;


/*Corporate*/
$corpColor: #EE0024;
$corSecBg: #EFEFEF;
$corpReadMore: #444344;
$coprLoaderBg: rgba(0,120,200,0);


/***/

$white: #ffffff;
$black: #000000;
$athens-grey: #dcdddf;
$dark-grey : #767676;
$medium-grey: #979797;
$light-grey: #dddddd;
$very-light-grey: #cacaca;
$dim-gray: #707070; //666666, 676767
$very-dark-gray : #B1B1B1;
$very-dim-light: #d8d8d8;
$very-dim-light-grey: #9b9b9b;
$silver-grey: #bbbbbb;
$white-smoke: #F1F1F1; //EAEAEA, eeeeee
$night-rider: #333333;
$white-smoke: #eeeeee;
$light-white: #f7f7f7;
$light-pink: #c70a4c;
$mortar: #555555;
$navy-blue : #0b80ca; //0078C8
$bay-blue: #343479;
$pelorous-blue: #2E81C3;
$prussian-blue: #0f0033;
$dark-turquoise : #00C1D5;
$light-red : #ed4322; //ef4123, ed4122
$dark-red: #dc2c20;
$pure-red: #FF0707;
$light-blue : #0a8ee1;
$outline-blue : #66afe9;
$link-blue: #23527c;
$light-rose: #f15e79;
$rose : #f15e79;
$cyan : #00eeee;
$purple-heart: #5F259F;
$purple: #723D97;
$dark-purple: #771B65;
$turquoise: #49c3d0;
$orange: #f36621;
$atomicOrange: #FF8D6C;
$very-light-pink: #e284a5;
$dim-light-pink: #ae0842;
$yellow: #fbd635;
$blue: #4F95CB;
$red: #D24632;
$violerRed: #da1584;
$lightBlue: #57D0DC;
$slateGrey: #25292c;
$darkestGrey: #1a1c21;
$darkGrey: #26282C;
$grey:#949799;
$lightGrey:#E0E0E0;
$shuttle-grey: #5C6670;
$violet : #5f259f;
$litviolet:#C1A7E2;
$pink : #df1995;
$dark-pink: #f10196;
$icegreen: #C4D600;
$aqua-green:#9dcbd7;
$white-shade:#f7f7f7;
$indigo:#1a0135;
$light-green : #dfe61e;
$light-violet:#c7a4e6;
$green: #c7d34f;
$fernGreen: #41873F;
$lightGreen: #99EA78;
$lightMdGreen: #91E86F;
$appleGreen: #6CC04A;
$pigmentGreen: #8883D6;
$dollyGreen: #f5ea70;
$nowyMint: #D7F1CD;
$brightGrey: #595B5D;
$iron: #C6C8C8;
$lilyWhite: #EFF0EF;
$razmatRed: #CB007B;
$magenta: #CB007B;
$lightVio: #8883D6;
$goldenYellow: #F4EB60;
$navyBlue: #343479;
$tomatina: #FF8D6C;
$deepBlue: #00082B;

/*Play Barbie*/

$playbarbiepink:#DE1C85;
$playbarbieblue:#6F2E91;