$esrbmodal:(main:(pad: 0 !important),

    modalDialog: (width: 750px,
        posTop: calc(50% - 283px - 30px),
        tabWidth: 94%,
        margin: 10px auto !important),

    modalContent: (boxShadow: none,
        borderRadius: 0,
        pad:1.42857em,
        bgndColor:white,
        bgndImage: $modelBg,
        bgndSize:cover,
        bgndRepeat:no-repeat,
        bgndPosition:bottom center,
        minHeight:500px,
        mobbgndImage: $modelBg,
        mobbgndPos:bottom left),

    modalHeader:(borderRadius: 0px, //em(30),
        borderBottom:0 none !important,
        height:auto,
        bgndClip: padding-box,
        bgndImage:none,
        bgndSize:cover,
        bgndRepeat:no-repeat,
        bgndPosition:bottom center,
        mobbgndImage:none !important),
    heading: (txtAlign: center,
        txtColor: #DE1C85 !important,
        fntSize: 32px,
        margin: 10px 0 0 0,
        fntFamily: ('Raleway', sans-serif),
        fntWeight: null),

    modalheaderClose: (opacity: 1,
        txtColor: $white,
        closeContent: "\00d7",
        fntFamily: ("Font Awesome",sans-serif),
        closetxtColor: $white,
        float: right,
        fntSize: 2.4em,
        fntWeight: $fontBold,
        lineHeight: 1.5,
        textShadow: none,
        closeOpacity: 1,
        hovertxtColor: $white,
        marginRight: 0,
        marginTop: -8px,
    ),

    modalbody: (marginRight: 0,
        mobPadding: 0,
        tabPadding: 0,
        tabWidth: auto,
        tabFloat: none,
        tabMargin: auto,
        tabbgndSize: contain),

    modalbodyH2: (txtAlign: center,
        txtColor: $enchanpurple,
        fntSize: 32px,
        margin: 0,
        fntFamily: null,
        fntWeight: null),

    playRetailer: (bgndColor: transparent),

    playretailerulList: (bgnd: $white,
        borderRadius: em(15),
        display:block),

    gallerytileUl:(display: inline-table,
        displayFlex:flex,
        txtAlign: center,
        margin: em(40) 0,
        pad: 0,
        mobmargin: 0),

    gallerytileulList: (display:inline-block,
        float:none,
        margin:0 em(10),
        pad:0,
        overflow:hidden,
        width:22%,
        mobWidth:100%,
        mobMargin:em(16) em(7),
        typeDisplay:inline-block,
        marginLeft:0,
        marginRight: 0),

    modalbodyP: (spanContent:"",
        mobfntSize: 18px,
        txtAlign:center,
        txtColor: #6F2E91,
        fntSize: 18px,
        margin: 0,
        fntWeight:$fontRegular,
        paddingBottom:em(3),
        fntFamily: ('Raleway', sans-serif),
        lineHeight: 28px),

    modalbodyLink: (txtDecoration:none,
        imgWidth:100%,
        imgHeight:auto),

    modalbtnWrap: (width: 100%,
        display: block,
        txtAlign: center),

    modalbodygobackcontinueBtn:(txtAlign:center,
        pad: em(20) em(40),
        display:inline-block,
        borderColor:0,
        borderRadius: em(30),
        fntSize:em(24),
        fntFamily:Arial,
        fntWeight:700,
        transition: 0.5s),

    modalbodygobackBtn:(margin: em(10),
        display: inline-block,
        txtColor: $white,
        bgnd: #DE1C85,
        hovertxtColor: null,
        hoverBgnd: $enchanpurple,
        hoverborderColor: 0),

    modalbodycontinueBtn: (margin: em(10),
        txtColor: $white,
        bgnd: #6F2E91,
        hoverBgnd: $enchanred,
        hovertxtColor: $white,
        hoverborderColor: 0,
        sameasSecondaryBtn: false,
        sameasPrimaryBtn: true,
        secondaryPadding: 20px 40px, //em(13, 30) em(35, 30) em(15, 30) em(35, 30),
        isArrowWithBtn: false,
    ),

    modalFooter: (borderTop: 0,
        bgnd: $fernGreen));