$footer:(

main:(
	bgndColor: $playbarbiepink,
	borderTop: darken($playbarbiepink, 10%) 0px solid,
	bgndSize: cover,
	pad: em(35) 0 em(11),
	pos: relative
),

mainDiv: ( 
 tabpaddingTop: em(30)
),

playmattelLogo: ( 
 tabtxtAlign: right,
 tabmarginRight: em(20)
),

playesrbLogo:(
   labposRight: 50px,
   labposBottom: 15px,
   labposzindex: 1,
   tabtxtAlign: left,
   tabmarginLeft: em(20) 
),

playesrblogoLink:(
	height: em(80)
),

playfooterLink:(
  paddingTop: em(25),
  txtAlign: center,
  tabClear: both,
  tabpaddingLeft: em(4),
  tabpaddingRight: em(4)
),

playfooterUL:(
  txtAlign: center,
  display: inline-block,
  tabmarginBottom: 0px 
),

playfooterulList: (
   display: block,
   fntSize: em(14),
   pad: em(8) em(12),
   mobPadding: 0 em(25),
   mobDisplay: inline-block
),

playfooterulLink:(
    txtColor: $footer-link-txt,
    fntFamily: ('Raleway',Arial,sans-serif),
    fntWeight: $fontBold
),

playfooterSpan:(
   fntFamily: "Arial",
   fntWeight: $fontBold,
   fntSize: em(12),
   pad: 0 em(12),
   display: block,
   paddingTop: em(10),
   tabDisplay: inline-block,
   tabpaddingTop: 0  
 )

);
