
$gallery:(
    main : (
        bgnd:none,
        isDefaulTitleForRetailer: true,
        isCharTitleForEnchantimals: true,
        isCurlnHead:true,
        sameasDefaultBtn: true
    ),
    heading : (
        isDefaultHeadingFont: true, 
        bgColor: transparent,
        color : #DE1C85,
        fontSize: null,
        fontFamily: ('Raleway', sans-serif) !important,
        fontWeight: null,
        align: center,
        margin: 0,
        padding: 0,
        transform:capitalize
    ),
    homepageGallery:(
        pad:0
    ),
	videosGalleryPlaylist:(
		isLazyload: true,
		tabPad:1em,
		mobPad:0
	),
    charactersPage: (
		isEnchantCharacterPageGallery: true,
		bgnd: $productsbg $enchanblue no-repeat,
        galHeadingColor: $enchanpurple,
        txtAlignLeft:left,
        txtColor:$enchanpurple,
        activeOpacity: 0.9
	),
    description : (
        isDefaultDesFont: true,
        bgColor: transparent,
        fontSize: null,
        color : $white,
        fontFamily: null,
        fontWeight: null,
        align: center,
        padding: 0,
        mobilepadding:0
    ),
    defaultListTitle:(
        bgnd: $white,
        fontSize: em(22),
        color : #6F2E91,
        fontFamily:  ('Raleway', sans-serif),
        fontWeight: $fontMedium,
        align: left,
        padding: 0,
        margin:0
    ),
    defaultListCol: (
        desItem: 4, // 3 col
        tabItem: 2, // 2 col
        mobItem: 1, // 1 col
        itemToShow: 4,
        tabItemToShow: 4,
        mobItemToShow: 4,
        isViewAllHide: true,
	    pad:15px
    ),
	
    download:(
        isDefaultHeadingFont: true,
        isDefaultDesFont: true,
        isColConfigTrue: true,
        isImageWidthAuto: true,
        labelMargin: 15px 0,
     ),
     downloadListCol: (
         desItem: 2, // col-lg-5+1 // 2 col
         tabItem: 2, // 2 col
         mobItem: 1, // 1 col
         itemToShow: 2,
         tabItemToShow: 4,
         mobItemToShow: 4,
         isViewAllHide: true
     ),
    retailers:(
        isDefaultHeadingFont: true,
        isDefaultDesFont: true,
        isColConfigTrue: true,
        applyBordrToParnt: true,
        tileBgnd: $white,
        tileDisplay: inline-block,
        tilewidth: auto,
        tileMargin: 0 0 2em 0,
        tileAlign: center,
        isImageAfter: true,
        paddingRetailers: 0 15%,
        Display:block,
        padding:9em 0 0,
        titleTxtColor:#DE1C85 !important
    ),
    retailersCurls: (
        
    ),
    retailersListCol: (
        desItem: 4, // col-lg-5+1 // 2 col
        tabItem: 2, // 2 col
        mobItem:1, // 1 col
        /*itemToShow: 4,
        tabItemToShow: 4,
        mobItemToShow: 4,*/
        isViewAllHide: true,
        showAllList:true,
        float:left
    ),
    characters:(
        isDefaultMargin: true,
        isclearDiv:  true,
        bgnd: transparent,
        showMoreBgnd: transparent,
        isDefaultHeadingFont: true,
        isDefaultDesFont: true,
        isColConfigTrue: true,
        tileTitleFamily:  ('Raleway', sans-serif),
        tileTitleWeight: $fontBold,
        tileBgnd: transparent,
        tileTitleColor: #DE1C85 !important,
        tileTitleSize: 48px !important,
        tileTitleDisplay:block,
        tileTitlePadding: 15px 0,
        tileAlign: left,
        tileWidth: calc(100% - 4px),
        tileMargin: auto,
        padding:9em 0 0,
        imgAlign:center,
        tabHeight: 90px
    ),
    charactersListCol: (
        desItem: 4, // col-lg-5+1 // 2 col
        tabItem: 2, // 2 col
        mobItem: 1, // 1 col
        itemToShow: 4,
        tabItemToShow: 4,
        mobItemToShow: 4,
        isViewAllHide: true
    ),
    galleryHeadings:( 
        pad:em(55) em(65) em(50) em(65)
    ),
    retailerSection: (
        isRounded : false,
        titleBgnd: transparent,
        fntweight:$fontBold
    ),
    galleryheadingsH2: ( 
        txtColor:$page-title,
        txtTransform:uppercase,
        margin:0 0 21px 0,
        txtAlign:left,
        fntSize:em(38.76),
        display:block,
        lineHeight:1
    ),

    galleryheadingsP: ( 
        txtColor:$page-sub-title,
        marginTop:0,
        txtAlign:left,
        fntSize:em(21),
        fntFamily:  ('Raleway', sans-serif),
        fntWeight:$fontBold,
        margin:0,
        lineHeight:1
    ),  

    gallerytileUl:(
    display:block,
    width:100%,
    margin:0,
    rowDisplay: none !important
    ),

    gallerytileulList: (
        txtAlign:center,
        //padding:10px,
        pad:0,
        margin:0,
        pos:relative,
        display:none,
        tabWidth: 50%,
        mobWidth: 100%
    ),

    gallerytileLink: (
        display:block,
        pos:relative,
        margin:em(15),
        primarybtnColor: $white,
        hoverOpacity: 1
    ),

    gallerytileImage: ( 
        bgndColor:transparent,
        opac:1,
        maxHeight:100%,
        maxWidth:100%
    ),

    gallerytilelinkSpan:( 
        txtTransform:uppercase,
        fntSize:em(28.01),
        pad:0 em(2.5),
        txtColor:$character-label,
        bgndColor:$character-label-bg,
        display:block,
        txtAlign:left,
        letterSpacing:em(1),
        transition: 350ms ease
    ),

    gallerytilespanprimaryBtn: (
        fntSize:em(14),
        fntWeight: $fontBold,
        txtAlign:center,
        maxWidth:100%,
        minWidth:150px,
        pad:10px 5px,
        display:inline-block,
        txtColor:$violet,
        borderColor:$pink,
        bgndColor:$white,
        hovertxtColor:$pink,
        hoverborderColor:$violet
    ),

    galleryImage:(    
        imgOpacity: 0.5
    ),

    galleryviewallBtn:(   
        maxWidth:100%,
        minWidth:162px,
        whitSpace:normal,
        txtDecoration:none,
        txtColor:$pink !important,
        bgnd:$white,
        borderColor:em(3) solid $icegreen,
        margin:10px 0,
        txtTransform:uppercase,
        pad:0.5em 1.45em,
        fntSize:em(19),
        borderRadius: 2em !important,
        transition :0.5s,
        hoverborderColor:$pink !important,
        hovertxtColor:$white !important,
        hoverBgnd:$btn-view-all-border !important
    ),

    galleryviewAll:( 
        display:none,
        txtAlign:right,
        margin:em(20) 0,
        mobtxtAlign: center
    ),

    showMore:( 
        display:none,
        width:100%,
        txtAlign:center,
        pad:em(24)
    ),

    showmoreLink:( 
        minWidth:240px,
        txtAlign:center,
        display:inline-block,
        txtColor:$white,
        borderColor:5px solid $icegreen,
        borderRadius: 62px,
        bgndColor:#6F2E91,
        fntSize:em(19),
        pad:33px,
        lineHeight:1.4em,
        transition: 0.5s,

        hoverborderColor:$pink,
        hoverbgndColor:$icegreen,
        outline:none,
        mobhoverborderColor:$icegreen,
        mobhoverbgndColor:$pink,
        mobactiveborderColor:$pink,
        mobactivebgndColor:$icegreen    
    ),

    showmorelinkBefore:( 
        fntFamily: ("Font Awesome",sans-serif),
        fntWeight:700,
        beforeContent:"\f055",
        margin:10px,
        fntSize:em(19),
        verticalAlign:middle
    ),

    showmorelinkbeforeActive:(
        activeContent:"\f056"
    ),

    marginLR0: (    
        marginLeft:0 !important,
        marginRight:0 !important
    ),

    downloadBtn: (
        txtAlign:center,
        fntSize:em(12),
        fntFamily:  ('Raleway', sans-serif),
        fntWeight:$fontBold,
        bgndColor:$light-pink,
        borderStyle:double,
        pad:em(4),
        txtColor:$white,
        display:block,
        txtTransform:uppercase,
        width:50% 
    ),

    primaryBtn: (
        isExtendSecondaryBtn: true,
        isExtendPrimaryBtn: false,
        maxWidth:100%,
        minWidth:150px,
        txtDecoration:none,
        txtcolor:$violet,
        bgndColor:$white,
        borderColor:4px solid $pink,
        pad:5px 15px,
        fntFamily:  ('Raleway', sans-serif),
        fntWeight:$fontBold,
        fntSize:em(21),
        borderRadius: 2em !important,
        hoverborderColor: 4px solid $violet,
        hoverbgndColor:$white,
        hovertxtColor:$pink,
        fntCase:uppercase
    ),

    tilesCenter: (
        pad:em(6)
    ),

    playtilesgalleryMain: (
        pad:0,
        width:100%,
        margin:0 auto !important,
        bgndColor:$white,
        tabWidth: 100%
    ),

    playtilesGallery: (
        bgndColor:transparent
    ),

    playcharlandulList:(
        display:block !important
    ),

    playcharlandulplayOverlay: ( 
        pos:absolute,
        posTop:0,
        posBottom:0,
        posLeft:0,
        posRight:0 
    ),

    playcharlandulplayoverlaySpan: ( 
        pos:absolute,
        posTop:7px,
        posLeft:7px,
        fntSize:1em,
        fntFamily:"Arial",
        whitSpace:nowrap,
        display:inline-block,
        pad:em(7),
        txtColor:$character-label,
        bgndColor:$character-label-bg,
        z-index:1,
        letterSpacing:1px
    ),

    playGame: (
        bgnd:null //url($game-gallery-bg) 0 0 repeat, 
    ),

    playgamegallerytileH2: (
        txtColor:$white,
        pad:0 em(45),
        marginTop:em(25),
        fntSize:2.5em
    ),

    playgameUl: (
        pad:0 em(35) em(35) em(35)
    ),

    playgameulList: (
        pad:em(15)
    ),

    gallerytiledefaultSpan: (
        txtColor:$white,
        bgndColor:$violet
    ),

    playRetailer: (
        margin:0px auto
    ),

    playretailgallerytileH2: (
        txtAlign:center
    ),

    playretailgallerytileUl:(
        mobPadding: 0 em(50),
    ),

    playretailgallerytileulList:(
        margin:0px auto,
        mobPadding:0 em(25),
        mobWidth:50%,
        mobFloat:left,
        mobMargin:0
    ),

    playretailgallerytilelistLink: (
        margin:0
    ),

    playretailgallerytilelinkSpan: (
        display:inline
    ),

    playretailgallerytilelinkImage: (
        bgndColor:transparent
    ),

    playretailgallerytileviewAll: (
        display:none !important
    ),

    playchargallerytileulList: (
        pad:0px,
        bgndColor:$character-bg
    ),

    playchargallerytileullistLink: (
        margin: 0,
        hoverOpacity: 0.9
    ),

    playchargallerytileullistlinkSpan:(
        z-index:1024,
        width:auto,
        pos:absolute,
        margin:0 auto,
        posLeft:50%,
        posBottom:em(20),
        posTransform : translateX(-50%),
        lineHeight:normal,
        borderRadius: 5px,
        display:block
    ),

    playcharshowMore: (
        bgndColor:#6F2E91
    ),

    playProducts: (
        bgnd:$productsbg,//url($product-gallery-bg-path) 0 0 repeat 
        imgbgnd:$white,
        imgPad:10px,
        titleColor:$enchanpurple
    ),

    playprodgalleryTitle: (
        bgndColor:$white
    ),

    playprodgalleryTile: (
        pad:em(50) em(30) em(16)
    ),

    playprodgallerytileList: (
        marginBottom: em(10),
        hoverborderColor: 0px
    ),

    playprodgallerytilelistLink: (
        borderRadius: 50%,
        borderColor:2px solid transparent,
        overflow:hidden,
        bgnd:none,
        imgmarginBottom:em(10),
        imgborderRadius: 50%,
        imgborderColor :2px solid transparent,
        imghoverOpacity: 1
    ),

    playprodgallerytilelistSpan: (       
        borderRadius: 5px,
        display:inline,
        txtAlign:center
    ),

    playimagegalleryTile: (
        bgndColor:$litviolet,
        pad:em(10) em(20)
    ),

    playimagegallerytileulList: (
        txtAlign:left  
    ),

    playimagegallerytilelistlinkSpan: (
        width:100%,
        pad:0
    ),

    playdowncharLabel: (
        pad:0 em(3) em(3),
        fntSize:1em,
        lineHeight:1.4,
        linestoShow:3

    ),

    playdowncharlabelH2: (
        txtOverflow:ellipsis,
        overflow:hidden,
        width:100%,
        height:32px,
        whitSpace:nowrap,
        fntSize:em(21),
        margin:em(0),
        pad:em(3) em(0)
    ),

    playdowncharlabelP: (  
        display:none
    ),   

    playdowncharlabelparafirstChild: (
            display:block,
            /* Fallback for non-webkit */
            webkitDisplay:-webkit-box,
            width:100%,
            height:$font-size*$line-height*$lines-to-show,
            /* Fallback for non-webkit */
            margin:0 auto,
            fntSize:$font-size,
            lineHeight:$line-height,
            lineClamp:$lines-to-show,
            boxOrient:vertical,
            overflow:hidden,
            txtOverflow:ellipsis
    ),

    playdowncharlabelulList: (
        marginBottom:em(10)    
    ),

    playdowncharlabelullistLink: (
        margin:5px,
        txtColor:$white,
        tabMargin:0,
        imgbgndColor:transparent
    ),

    playdowncharlabelullistOverlay:(
        pos:absolute,
        posTop:0em,
        posLeft:0,
        posBottom:0,
        posRight:0,
        bgnd:rgba(95, 37, 159, .5),
        z-index:99,
        opacity:0, 
        width:100%,
        margin:auto,
        transition: 350ms ease,
    ),

    playdowncharlabelullistoverlayBtn: (
        posTransform:translate(-50%, -50%),
        posTop:50%,
        posLeft:50%,
        pos:absolute,
        pad:.5em,
        fntFamily:  ('Raleway', sans-serif),
        fntSize:em(12),
        letterSpacing:1px,
        hoveroverlayOpacity: 1
    ),

    playgamesgallerytileUl: (
        pad:30px
    ),

    playgamesgallerytileulList: (
        pad:25px
    ),

    playgamesgallerytileullistLink: (
        margin:0
    ),

    playgamesgallerytileullistlinkSpan: (
        txtAlign:center,
        bgndColor:$violet,
        txtColor:$white,
        fntSize:em(14),
        fntFamily: "Arial",
        pad:em(12)
    ),

    playtilesplaylistLink: (
        margin:0
    ),

    playtilesplaylistlinkSpan: (
        fntSize:1em,
        fntFamily: 'Raleway',
        pad:em(12),
        txtColor:$white,
        bgndColor:$violet
    ),

    playtilesplaylistlinkOverlay: (
        bgndColor:rgba(0, 0, 0, 0.7)
    ),

    playtilesplaylistlinkoverlaySpan: (
        txtColor:$violet,
        bgndColor:$white,
        pad:em(7)
    ),
    listTitle: (
        padding:10px,
        fontWeight: $fontBold,
        align: left,
        margin: 0 auto,
        fontSize: 18px,
        lineHeight:26px,
        txtCase: none,
        pos:relative,
        posBtm:0,
        float:none,
        bgnd:transparent,
        txtColor:$white, 
        txtAlignLeft:left
    ),
    charListTitle:(
        padding: 0,
        fontWeight: bold,
        align: center,
        margin: 10px auto,
        fontSize: 18px,
        lineHeight: 26px,
        txtCase: none,
        pos:relative,
        posBtm:0,
        float:none,
        bgnd:transparent,
        txtColor:#6F2E91,
        txtAlignLeft:left
    ),
    playCharacters: (
        bgnd:#EEE6F2 !important, 
        othersCharBgnd : $othercharbg repeat,
        txtAlignLeft:left,
        txtColor:$enchanpurple
    ),
	playMainCharacters:(
		mainCharBg:$maincharbg,
		bgndColor: #EEE6F2 !important, 
		bgndRepeat:no-repeat,
        bgndSize:100%
	),
    playCharacterPlus: (
        txtAlignLeft:left
    ),
    charactersName: (
        pos:relative,
        margin:10px auto 0,
        posBtm:0,
        txtAlign:left,
        txtCase:capitalize,
        fntSz:em(16),
        lnHght:em(16),
        padng:0,
    )
    
);
