$header:(
  main:(
	bgnd: $playbarbiepink,// $purpleWavebdrImg no-repeat right bottom,
	bgndColor: $playbarbiepink,
    boxShadow: null,
    minHeight: 95px,
    posTop: 3.6em,
    posLeft:0,
    zIndex: 1025,
    pos: fixed,
    width: 100%,
    lineHeight:em(14),
    mobBgndSize: cover,
	bgndSize: contain,
	mobBgndColor: $playbarbiepink,
  ),
  childDiv: (
    width: auto !important
  ),
  logo:(
    pos: absolute,
    zIndex: 9999
  ),
  logoImage:(
    margin: 12px 0 0 0,
    width: 135px, //mob
    mobMargin: 12px 0 0 0,
    mobWidth: em(200), //des
    tabMargin: 8px 0 7px 0,
    tabWidth: 96px !important, //tab
  )
);