$layoutImgPath:'../img/playbarbie';
//$layoutImgPath:'../img/enchantimals;
$purpleWavebdr:  url('#{$layoutImgPath}/header/scallop-border-purple.png');
$pinkWavebdr:  url('#{$layoutImgPath}/scallop-violet@2x.png'); 
$greenWavebdr:  url('#{$layoutImgPath}/scallop-teal@2x.png');
$blueWavebdr:  url('#{$layoutImgPath}/scallop-border-blue.png');
$redWavebdr:  url('#{$layoutImgPath}/scallop-coral@2x.png');
$charPageBg: url('#{$layoutImgPath}/characters-background.jpg');

$layout:(
	body:(
		font: ('ArialRoundedMTBold',Arial,sans-serif),
		fontWeight: $fontRegular,	
		bgnd: null,
		bgndPosition: top,
		bgndSize: auto
	),
	main: (
		titleMargin: 2.5rem 3.375rem 2rem 3.375rem, //5rem 3.375rem 3.125rem 3.375rem,
		tabTitleMargin: 30px 0 0 0,
		mobTitleMargin: 2.25rem 1.25rem 1.25rem,
		sectionMargin: 0 42px 0 42px,
		sectionTopPadding: 0em,
		tabSectionMargin: 0,
		mobSectionMargin: 0,
		loadingGIFColor: $enchanpurple,
		isTransparenGIF:true,
		isEnchantimals:true
	),
	heading:(
		font:  ('Raleway', sans-serif),
		fontWeight: $fontBold,
		fontSize: em(40),
		color: #DE1C85,
		align: center,
		fntCase:capitalize,
		transform:capitalize,
		fontSizeh1: 32px,
		mobFontSize: 28px
	),
	description:(
        font:"Arial",
        fontWeight:$fontRegular,
        fontSize: em(16)
    ),
	linkS:(
		linkColor:$white,
	),
	themeBtn:(
        isDefaultHeadingFont: true,
		fontSize: 22px,
		width:  236px,
		mobFontSize : 1.24286em,
		padding:  12px 20px,
		//height: 50px,
		fontFamily:  ('Raleway', sans-serif),
        fontWeight:null,
		fontCase:uppercase,
        iscurveShape:false,
        bgndColor: #DE1C85, //viewall-bg
        //hoverBgndColor:$enchanpurple,
        clipPath:none, //polygon(10% 0 100% 0 100% 100% 0 100% 0 40%),
        color: $white,
        //hoverColor:$enchanred  !important,
		border: 0,
		borderRadius: 25px,
		letterSpacing: 0.7px,
		isnextArrw: false,
		nextContent:"",
		transform:uppercase,
		contentFamily:"",
		contentWeight: "",
		contentMargin: ""
	),
	secThemeBtn:(
		isSecondaryBtn: true,
		isFontAwesomeIcon:true,
		iconContent:'\f055',
		iconHoverContent: '\f056',
		bgndColor: #6F2E91, //$white,
		isArrow: false,
		padding: 12px 20px,
		isPlus: true,
		hoverBgndColor: #6F2E91, //$dollyGreen,  
		color: $white, //$violerRed,
		hoverColor: $white, //$violerRed !important,
		border:0, //2px solid $violerRed,
		ArrowfontSize: 22px,
		ArrowlineHeight: .2,
		ArrowtopVal: -1px,
		iconPlus:"\f055",
		iconMinus:"\f056",
		iconFontFamily: ("Font Awesome",sans-serif)
	),
	themeBtn3:(
		fontSize: 22px,
		mobFontSize : em(18),
		padding: 12px 20px,
		fontFamily:null,
		fontWeight: null,
		iscurveShape: false,
		bgndColor: #6F2E91,
		hoverBgndColor: #6F2E91,  
		clipPath: null,
		color: $white,
		//hoverColor: $enchanred !important,
		borderSize: 0,
		borderRadius: 50px,
		border:0,
		letterSpacing: 0,
		isnextArrw: false,
		transform: uppercase
	),
	viewAll: (
		isOverwritePrimaryBtn: true,
		linkcolor:$white,
		fntCase:uppercase,
		bgndColor: $enchanpurple,
        bgndColorHover:$enchanpurple,
        color: $white,
		colorHover:$enchanred,
		padding: 1.15em 2em 0.50em
	),
	dots:(
		fontSize: 14px,
        opacity:1,
        focusColor:$light-green,
        bgndColor:rgba($lightGreen, .4),
        activeBgndColor:$lightGreen,
        margin:0 6px !important,
		bottomPositon: 15px,
		bottomPad: 10px
	),
	arrow: (
		color:$white,
        opacity:1,
		isCircleBgnd: true,
		circleBgnd: rgba($enchanred, .8),
		circleHoverBgnd: rgba($enchanred, .8),
		mobArwColor:$enchangreen
  ),
  gototop: (
        bgndColor:$playbarbieblue,
        brdrColor:$playbarbieblue 1px solid,
        fntColor:$white,
        fntFamily:('ArialRoundedMTBold',Arial,sans-serif),
        fntSize:em(14),
        arrowShape:10px solid $white,
		fntCase:uppercase, 
		arrowShapeLeft: 7px solid transparent,
		arrowShapeRight: 7px solid transparent
		
  ),
  grid:(
		// border:7px solid $violerRed,
		// borderRadius: 4px
    ),
	pageTitle:(
		padding: 5.2em 0 2.8em 0,
		paddingMob:1.5em 0 0em 0em,
	),
	
	waveBorder:(
		isWaveBtmBdr: true,
		waveBdrWidth: 100%,
		waveBdrHeight: 21px,
		waveBdrMarginTop: -1px,
		waveBdrPurple: $purpleWavebdr,
		waveBdrPink: $pinkWavebdr,
		waveBdrGreen: $greenWavebdr,
		waveBdrBlue: $blueWavebdr,
		waveBdrbgndRptX: repeat-x,
		waveBdrDisplay:inline-block,
		waveBdrPosition: absolute,
		waveBdrsize: 150%, //contain,
		waveBdrMarignTop:-7px,
        waveBdrPositionRel: relative,
		wavemarginTop: -2px
	)
);
