$mainNav:(
  hamburger: (
    txtColor: $hamburger-btn-color,
    margin: em(11) em(10) 0 em(25),
    floating: right !important,
    tabLandscapeDisplay: block,
    desktopDisplay: none,
    openStateIcon: "\f00d",
    iconFontSize: em(35),
    padding: em(2) 0
  ),
  primaryNav: (  
    mobPosLeft: 0,
    mobPosTop: 4.5em,
    mobWidth: 100%,
    mobHeight: auto,
    mobBgndColor: #fdedf6,
    mobMaxHeight:410px,  
    floating: right,
    desktopDisplay: inline-block !important,
    minHeight: 60px,
    bgnd: transparent !important,
    height: 95px
  ),
  primaryNavUL: (
    fontFamily: ('ArialRoundedMTBold',Arial,sans-serif),
    mobBgndColor: #fdedf6,
    deskDownBgImage: none,
    mobMargin: em(15) 0 em(25),
    tabLandMargin: em(20) 0 0 0,
    desktopMargin : 0,
		desktopHeight:100%
  ),
  primaryNavUlLi: (
    mobPad: 0
  ),
  primaryNavUlLiA: (
    mobAnchorColor: $mob-nav-link-color,
    desktopAnchorColor:$white,
    desktopAnchorHoverColor: $enchangreen,
    borderBottom: 0,
    desktopPad: 0 28px 0 28px,
    anchActiveBrdrBot: 0,
    anchorActiveColor:$enchangreen,
    textDecoration: none,
    fontSize: 1.52857em,
    textTransform: uppercase,
    mobPad:1.7143em 0 .35714em,
    showSubNavFontSize: em(34),
    showSubNavColor: $mob-nav-link-color,
    showSubNavWidth: 40px,
    showSubNavHeight: 40px,
    showSubNavFloat: right,
    showSubNavPad: 0,
    showSubNavLineHeight: normal,
    showSubNavTextAlign: center,
    showSubNavMarginTop: em(4)
  ),
  headerImage: (
    width: auto,
    height: auto,
    marRight:em(5)
  ),
  primaryNavUlLiUL: (
    bgndColor: rgba($sub-nav-link-bg, 0.8),
    posTop: em(70),
    posLeft: em(10),
    width: em(220),
    deskDownBgndColor: transparent,
    deskDownPos: relative,
    deskDownPosTop: 0,
    deskDownPosLeft: 0,
    deskDownWidth: auto
  ),
  primaryNavUlLiUlLi: (
    fontSize: em(10),
    pad:0 em(20),
    deskDownFontSize: em(12),
    deskDownPad: 0,
    deskDownBrdr: 0,
    deskDownTxtIndent: 1em
  ),
  primaryNavUlLiUlLiA: (
    txtColor: $mob-nav-link-color !important,
    borderBottom:none,
    pad:em(18) 0
  )
);
