//Media queries
$xmedium-only: "(max-width: 1023px)";
//fonts
$siteMainFontBold:$MattelCorpPrimaryFontBold;
$siteMainFont:$MattelCorpPrimaryFontRoman;
$siteSubFont:$MattelCorpPrimaryFontLight;
//colors
$mattel-red:#ff0028;
$primaryTextColor: #EE0024;
$black: #000;
$white: #fff;
$corp-gray:#878686!default;
$ada-red:#ee0024!default;
$primaryColor: #B5D203!default;
$secondaryColor: #EA0A2A!default;
$corpColor: #EE0024!default;
$corSecBg: #EFEFEF!default;
$corpReadMore: #444344!default;
$coprLoaderBg: rgba(0,120,200,0)!default;
$siteTitleFont: $siteMainFontBold!default;
$siteDescFont: $siteMainFont!default;
$corSecBg: #EFEFEF!default;
$corpReadMore: #444344!default;
$coprLoaderBg: rgba(0,120,200,0)!default;



//Sprite image.
$spriteLightPath: '/content/dam/corporate-sites/homepage/reusability/M-Corp_Sprite_Sheet_Extras_Desktop_v5.svg';
$DarkspriteLightPath: '/content/dam/corporate-sites/homepage/reusability/M-Corp_Sprite_Sheet_Theme-Dark_Desktop_V-3.svg';

$globalspriteLightPath: '/content/dam/mattel/mattel-global/global/icons/Sprite_Sheet_Theme-Light_Desktop.svg'!default;

// Text-arrow button
$btn-font-size: 22px;
$arrow-text-iconPos: -377px -3px;
$arrow-text-hoverPos:-377px -3px;
$arrow-txtHover:$mattel-red;
$arrow-btnBorder:transparent;
$arrow-btnHoverborder:transparent;

$btn-line-height:1.20;
$btn-border-width: 1px;
$btn-border-radius: 25px;

//Default button padding
$btn-padding-xl: 14px 55px 8px 55px;
$btn-padding-lg: 14px 55px 8px 55px;
$btn-padding-md: 14px 55px 8px 55px;
$btn-padding-sm: 10px 22px 4px 22px;
$btn-padding-xs: 10px 22px 4px 22px;

//Outline button style
$outline-btn-color:$black;
$outline-btnHover:$primaryTextColor;
$outline-btnBg:$white;
$outline-btnBorder:$primaryTextColor;
$outline-btnBgHover:$white;
$outline-btnHoverborder:$white;

//Dark outline button style
$dark-outline-btn-color:$black;
$dark-outline-btnHover:$primaryTextColor;
$dark-outline-btnBg:$white;
$dark-outline-btnBorder:$primaryTextColor;
$dark-outline-btnBgHover:$white;
$dark-outline-btnHoverborder:$primaryTextColor;

//Light outline button style
$light-outline-btn-color:$black;
$light-outline-btnHover:$primaryTextColor;
$light-outline-btnBg:$white;
$light-outline-btnBorder:$primaryTextColor;
$light-outline-btnBgHover:$white;
$light-outline-btnHoverborder:$primaryTextColor;

//Large button size
$largebtn-padding-xl:14px 55px 8px 55px;
$largebtn-padding-lg:14px 55px 8px 55px;
$largebtn-padding-md:14px 55px 8px 55px;
$largebtn-padding-sm:14px 55px 8px 55px;
$largebtn-padding-xs:14px 55px 8px 55px;

//Medium button size
$mediumbtn-padding-xl:14px 40px 13px 40px;
$mediumbtn-padding-lg:14px 40px 13px 40px;
$mediumbtn-padding-md:14px 40px 13px 40px;
$mediumbtn-padding-sm:14px 40px 13px 40px;
$mediumbtn-padding-xs:14px 40px 13px 40px;

//Small button size
$smallbtn-padding-xl:7.5px 45px 7.5px 45px;
$smallbtn-padding-lg:7.5px 45px 7.5px 45px;
$smallbtn-padding-md:7.5px 45px 7.5px 45px;
$smallbtn-padding-sm:7.5px 45px 7.5px 45px;
$smallbtn-padding-xs:7.5px 45px 7.5px 45px;


//Solid button
$solid-btn-color:#ffffff;
$solid-btnHover:#EE0024;
$solid-btnBg:#EE0024;
$solid-btnBorder:#EE0024; ;
$solid-btnBgHover:#ffffff;
$solid-btnHoverborder:#ffffff;

$dark-solid-btn-color:#000000;
$dark-solid-btnHover:#EE0024;
$dark-solid-btnBg:#ffffff;
$dark-solid-btnBorder:#ffffff;
$dark-solid-btnBgHover:#ffffff;
$dark-solid-btnHoverborder:#EE0024;

$light-solid-btn-color:#ffffff;
$light-solid-btnHover:#EE0024;
$light-solid-btnBg:#EE0024;
$light-solid-btnBorder:#EE0024;
$light-solid-btnBgHover:#ffffff;
$light-solid-btnHoverborder:#EE0024;

// Dark text-arrow button
$dark-arrow-txt-color:#ffffff;
$dark-arrow-txtHover:#ffffff;
$dark-arrow-btnBorder:transparent;
$dark-arrow-btnHoverborder:transparent;

$light-arrow-txt-color:#000000;
$light-arrow-txtHover:#EE0024;
$light-arrow-btnBorder:transparent;
$light-arrow-btnHoverborder:transparent;

$secondary-txt-color:#000000;
$secondary-txtHover:#000000;
$secondary-btnBorder:#000000;
$secondary-btnHoverborder:#000000;

//Dark secondary button
$dark-secondary-txt-color:#000000;
$dark-secondary-txtHover:#EE0024;
$dark-secondary-btnBorder:#EE0024;
$dark-secondary-btnHoverborder:#EE0024;

//Light secondary button
$light-secondary-txt-color:#000000;
$light-secondary-txtHover:#EE0024;
$light-secondary-btnBorder:#EE0024;
$light-secondary-btnHoverborder:#EE0024;

//textoverlay padding
$textoverlay-container-pad-xl:40px 40px 50px 40px;
$textoverlay-container-pad-lg:40px 40px 50px 40px;
$textoverlay-container-pad-md:40px 40px 50px 40px;
$textoverlay-container-pad-sm:20px 20px 40px 20px;
$textoverlay-container-pad-xs:20px 20px 40px 20px;


$corpAssetListing:(	
    gridDefault: (
		padding: (
            xl: 40px 15px 0 15px,
            lg: 40px 15px 0 15px,
            md: 20px 20px 10px 20px,
            sm: 20px 0 0 0,
            xs: 20px 0 0 0,
        )
    )
);

