				<ul class="details-list row">
                    <li class="details-list-item">
                        <sly data-sly-test="${properties.nameLabel}">
                        	<h2 class="header-label">${properties.nameLabel}:</h2>
                        </sly>
                        <span class="value-label">{{personalInfo.firstName}} {{personalInfo.lastName}}</span>
                        <a href="#" data-edit="editNameTemp" class="edit-link">${properties.editLabel}  <span class="sr-only">Name</span></a>
                    </li>
                    <li class="details-list-item">
                        <sly data-sly-test="${properties.phoneLabel}">
                        	<h2 class="header-label">${properties.phoneLabel}:</h2>
                        </sly>
                        <span class="value-label phonenumber-label">{{personalInfo.phone1}}</span>
                        <a href="#" data-edit="editPhoneTemp" class="edit-link">${properties.editLabel} <span class="sr-only">Phone</span></a>
                    </li>
                    <li class="details-list-item">
                        <sly data-sly-test="${properties.emailLabel}">
                        	<h2 class="header-label">${properties.emailLabel}:</h2>
                        </sly>
                        <span class="value-label">{{personalInfo.email1}}</span>
						<a href="#" data-edit="editEmailTemp" class="edit-link">${properties.editLabel} <span class="sr-only">Account email &amp login</span></a>
                    </li>
                    <li class="details-list-item">
                        <sly data-sly-test="${properties.passwordLabel}">
                        	<h2 class="header-label">${properties.passwordLabel}:</h2>
                        </sly>
                        <span class="value-label">********</span>
                        <a href="#" data-edit="editPassTemp" class="edit-link">${properties.editLabel} <span class="sr-only">Password</span></a>
                    </li>
                </ul>