.addons-module {
	margin-bottom:30px;
	.module-description {
		font-size:em(18);
		margin:0px 0px em(23) 0;
	}
	section {
		float:left;
		.title-name {
			font-size:em(22);
			margin:0 0 em(6) 0;
			font-weight:300;
		}
		img {
			float:left;
			margin-right:em(15);
			max-width:200px;
		}
		p {
			margin:0 0 em(10) 0;
		}
		.info {
			font-style:italic;
		}
	}
		
}
