.hc-content-section{
	.crm-brand-banner {
        margin-bottom: 50px;
        .module-title {
            text-align:center;
        }
        a{
            color:$night-rider;
            span {
                display: inline-block;
                width: 100%;
                text-align: center;
            }
        }
        .module-image {
            @media #{$large-up} {
                display:block;
            }
            @media #{$small-down} {
            margin: 0 auto;
            } 
            display:table;
            padding:em(6) 1em;
            margin-bottom:0;
            li {
                float: none !important;
                @include make-md-column(2.3);
                padding:0 1em;
                margin:0;
                display: inline-block;
                width:auto;
                a {
                    display: block;
                    float: left;
                }
            }
        } 
	}
}

