footer {
    padding: em(60) 0 0 0;
    .form-group.required {
      label {
        font-weight: $fontRegular;
        &:after {
          color: $white;
          font-size: em(5);
        }
      }
    }
    .footer-links ul li:first-child p {
      margin-top: 0;
    }
    #teconsent {
      a {
        color: $light-pink;
      }
    }
    @media #{$medium-only}{
      padding: 0;
        .footer-icon {
          display: inline-block;
          padding-top:2.05em;
          span{
            font-size: 1.4em;
          }
        }
        .call-info {
          font-size: 1.05em;
        }
        .icon-des{
          font-size: 1.05em;
        }
    }
  }
  