.grid-social-share {
    ul {
        li {
            @media #{$small-up} {
                width: 50%;
            }
            >div {
                background-color: transparent;
                max-width: 100%;
                box-shadow: none;              
            }
            img {                
                box-shadow: 0 1px 7px 3px rgba(0,0,0,.16), 0 1px 6px 4px rgba(0,0,0,.12);
            }  
            .tile-content {
                padding: 0;
                width: 100%;
                min-height: 90px;
                a{
                     .tile-name {
                        &.tile-anchor{
                        color:$light-pink;
                        }
                     }
                }
                    .cursor-pointer{
                        cursor: pointer;
                    }
                .tile-name {
                    font-style: italic;
                    font-size: em(18);
                    color: $light-black;
                    font-weight: 400;
                    width: 64%;
                    float: left;
                    /*color: $light-pink;*/
                    margin: 1em 0;
                    border: none;
                }
                .social-icons {
                    margin-top: 1em;
                    float: right;
                    li {
                        float: left;
                        a {
                            color: $white;
                            display: block;
                            width: 3.5em;
                            text-align: center;
                            padding: 0.8em 1em;
                            border-radius: 4px;
                            &.facebook {
                                background-color: $classic-fb-bg;
                                margin-right: 10px;
                            }
                            &.pinterest {
                                background-color: $classic-pinterest-bg;
                                padding-top: 0.7em;
                                &:after {
                                    font-size: 1.3em;
                                }
                            }
                        }
                        
                    }
                }
            }          
        }
    }
}

