.modal#selectLocationModal {
    .modal-title {
        font-weight: 600;
    }
    .modal-body {
        padding: em(15) 0;
    }
    .modal-header {
        background: $white-smoke;
        color: $night-rider;
        padding: em(15) em(25);

        h2 {
            margin:0;
             font-size:em(18);
              font-weight:600;
        }
        p {
            margin:0;
            font-size:em(18);
            font-weight:600;
        }

        .close {
            margin-top: 2px;
            padding: 0 5px;
            &:after {
                @include font-awesome;
                content: "\f00d";
                font-size: em(21);
            }
        }
    }
    .select-location {
        display: block;
        padding: em(7,15.634) em(25,15.634);
        font-size: em(15.634);
        color: $night-rider;
        font-weight: 600;
        &:hover {
            color: $light-pink;
            background: $white-smoke;
        }
        span {
            font-weight: 300;
        }
    }
    .international {
        font-size: em(15.6);
        font-weight: 300;
        margin-top: em(10,15.6);
        padding-left: em(10,15.6);
    }
}
