.map-module {
	margin-bottom:30px;
	section {
		height: 300px;
		@extend .card;
		#map {
			min-height: 300px;
			.store-address {
				cursor: default;
				font-family: Roboto, Arial, sans-serif;
				font-size: em(12);
				box-shadow: rgba(0, 0, 0, 0.298) 0px 1px 4px -1px;
				margin: em(10,12);
				padding: em(10,12);
				border: 1px solid rgb(221, 221, 221);
				background: $white;
				z-index: 0;
				position: absolute;
				left: 0px;
				top: 0px;
				width: em(160,12);
				&>a{
					display:block;
				}
				*{
					font-family: Roboto, Arial, sans-serif;
				}
				strong {
				   font-size: em(14);
				}
			}
		}
	}
}
