.extend-sub-heading{
	font-weight: 300;
	font-size: em(29.0859);
	margin-top: 20px;
	margin-bottom: 10px;
}
.party-option{
	&.back-button{
		overflow: hidden;
		.container{
			margin-top: em(25);
			margin-bottom: em(25);
		}
		a{
			font-weight: 600;
		    font-size: em(19.63);
		    line-height: normal;
		    i{
				&:before{
					vertical-align:middle;
					position: relative;
    				top: -1px;
				}
		    }
		}
	}
	.tile-name{
		font-weight: 300;
		font-size: em(22.0859);			
	}
	.grid-module{
		.module-header{
			p,h3{
				@extend .extend-sub-heading;
			}
		}
		.tile-content{
			.tile-name{
				margin:0;
			}
		}
	}
}
// .personal-shopper{
// }