.service-grid-module {
	section {
	@media #{$medium-down} { 
		height:auto !important
	 }
        padding: 0 em(15);
			p {
				margin:0;
				padding:0 0 em(10) 0;
				font-size: em(16);
				line-height: normal;
			}
            img {
				position: absolute;
				max-width: em(45);
				top: 0;
				bottom: 0;
				margin: auto 0;
            }
            .title-content {
				padding: em(15) 0 em(10) 0;
				border-bottom: 1px solid $light-grey;
				margin-bottom:em(10);
				position: relative;
			}
			.title-name {
				font-size: em(22);
				vertical-align:middle;
				font-weight:300;
				padding-left: em(50,22);
				margin:0;
			}
			.fa-info-circle {
				color: $light-pink;
				content: "\f05a";
				background:none;
				border:none;
				padding:0;
			}
			.fa-info-circle:hover {
				cursor: pointer;
			}
			a {
				font-weight:600;
			}
	}
	.popover{
		font-size: em(12);
		max-width: em(390);
	}
	.module-title {
		margin-bottom: 25px;
		margin-top: 0;
	}
}
