#video-player-component {
	.video-player-container {
		width: 90%;
		text-align: center;
		margin: 0 auto;
		.oo-player-container {
			.oo-player {
			z-index: 1 !important;
			}
		}
	}
	#video-youtube-player  {
		text-align: center;
		iframe {
		width: 90%;
		height: 500px;
		margin: 0 auto;
			@media #{$small-down} {
				width: 100%;
				height: 180px;
			}
		}
		
	}
	h2 {
		font-size:em(28);
		color:$light-black;
	}
	p {
		color:$grey;
		font-size:em(16);
		line-height:em(20);
	}
}
