.list-wrapper {
    &.with-see-more {
        li {
            display: none;
        }
    }
    @include print-css(
        map-merge((
            width: 100%,
            display: inline-block,
        ), 
        if(variable-exists(list) and map-has-key($list, listWrapper), 
            map-get($list,listWrapper), ()
        )
    ));

    .list-page-title {
        @include print-css(
            map-merge((
		        width: 100%,
                display: inline-block,
            ), 
            if(variable-exists(list) and map-has-key($list, listPageTitle), 
                map-get($list,listPageTitle), ()
            )
        ));

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            @include print-css(
                map-merge((
                    margin: 0,
                    padding: 0
                ), 
                if(variable-exists(list) and map-has-key($list, listPageTitleAndDesc), 
                    map-get($list,listPageTitleAndDesc), ()
                )
            ));
        }

        .main-title {
            @include print-css(
                map-merge((
                    margin: (
                        defaultVal: 40px 0 10px 0,
                        smOnly: 30px 0 10px 0,
                        xsOnly: 30px 0 10px 0,
                    )
                ), 
                if(variable-exists(list) and map-has-key($list, mainTitle), 
                    map-get($list,mainTitle), ()
                )
            ));
        }

        .sub-title {
            @include print-css(
                map-merge((
                    margin: 0 0 10px 0
                ), 
                if(variable-exists(list) and map-has-key($list, subTitle), 
                    map-get($list,subTitle), ()
                )
            ));
        }

        .text-para {
            @include print-css(
                map-merge((
                    margin: 0
                ), 
                if(variable-exists(list) and map-has-key($list, description), 
                    map-get($list,description), ()
                )
            ));
        }
    }

    @media #{$xl-only} {
        &.list-xl-1 {
            .list-content {
                width: 100%;
            }
        }

        &.list-xl-2 {
            .list-content {
                width: 50%;
            }
        }

        &.list-xl-3 {
            .list-content {
                width: 33.33%;
            }
        }

        &.list-xl-4 {
            .list-content {
                width: 25%;
            }
        }

        &.list-xl-5 {
            .list-content {
                width: 20%;
            }
        }

        &.list-xl-6 {
            .list-content {
                width: 16.66%;
            }
        }

        &.list-xl-7 {
            .list-content {
                width: 14.28%;
            }
        }

        &.list-xl-8 {
            .list-content {
                width: 12.5%;
            }
        }

        &.list-xl-9 {
            .list-content {
                width: 11.11%;
            }
        }

        &.list-xl-10 {
            .list-content {
                width: 10%;
            }
        }

        &.list-xl-11 {
            .list-content {
                width: 9.09%;
            }
        }

        &.list-xl-12 {
            .list-content {
                width: 8.33%;
            }
        }
    }

    @media #{$lg-only} {
        &.list-lg-1 {
            .list-content {
                width: 100%;
            }
        }

        &.list-lg-2 {
            .list-content {
                width: 50%;
            }
        }

        &.list-lg-3 {
            .list-content {
                width: 33.33%;
            }
        }

        &.list-lg-4 {
            .list-content {
                width: 25%;
            }
        }

        &.list-lg-5 {
            .list-content {
                width: 20%;
            }
        }

        &.list-lg-6 {
            .list-content {
                width: 16.66%;
            }
        }

        &.list-lg-7 {
            .list-content {
                width: 14.28%;
            }
        }

        &.list-lg-8 {
            .list-content {
                width: 12.5%;
            }
        }

        &.list-lg-9 {
            .list-content {
                width: 11.11%;
            }
        }

        &.list-lg-10 {
            .list-content {
                width: 10%;
            }
        }

        &.list-lg-11 {
            .list-content {
                width: 9.09%;
            }
        }

        &.list-lg-12 {
            .list-content {
                width: 8.33%;
            }
        }
    }

    @media #{$md-only} {
        &.list-md-1 {
            .list-content {
                width: 100%;
            }
        }

        &.list-md-2 {
            .list-content {
                width: 50%;
            }
        }

        &.list-md-3 {
            .list-content {
                width: 33.33%;
            }
        }

        &.list-md-4 {
            .list-content {
                width: 25%;
            }
        }

        &.list-md-5 {
            .list-content {
                width: 20%;
            }
        }

        &.list-md-6 {
            .list-content {
                width: 16.66%;
            }
        }

        &.list-md-7 {
            .list-content {
                width: 14.28%;
            }
        }

        &.list-md-8 {
            .list-content {
                width: 12.5%;
            }
        }

        &.list-mdd-9 {
            .list-content {
                width: 11.11%;
            }
        }

        &.list-md-10 {
            .list-content {
                width: 10%;
            }
        }

        &.list-md-11 {
            .list-content {
                width: 9.09%;
            }
        }

        &.list-md-12 {
            .list-content {
                width: 8.33%;
            }
        }
    }

    @media #{$sm-only} {
        &.list-sm-1 {
            .list-content {
                width: 100%;
            }
        }

        &.list-sm-2 {
            .list-content {
                width: 50%;
            }
        }

        &.list-sm-3 {
            .list-content {
                width: 33.33%;
            }
        }

        &.list-sm-4 {
            .list-content {
                width: 25%;
            }
        }

        &.list-sm-5 {
            .list-content {
                width: 20%;
            }
        }

        &.list-sm-6 {
            .list-content {
                width: 16.66%;
            }
        }

        &.list-sm-7 {
            .list-content {
                width: 14.28%;
            }
        }

        &.list-sm-8 {
            .list-content {
                width: 12.5%;
            }
        }

        &.list-sm-9 {
            .list-content {
                width: 11.11%;
            }
        }

        &.list-sm-10 {
            .list-content {
                width: 10%;
            }
        }

        &.list-sm-11 {
            .list-content {
                width: 9.09%;
            }
        }

        &.list-sm-12 {
            .list-content {
                width: 8.33%;
            }
        }
    }

    @media #{$xs-only} {
        &.list-xs-1 {
            .list-content {
                width: 100%;
            }
        }

        &.list-xs-2 {
            .list-content {
                width: 50%;
            }
        }

        &.list-xs-3 {
            .list-content {
                width: 33.33%;
            }
        }

        &.list-xs-4 {
            .list-content {
                width: 25%;
            }
        }

        &.list-xs-5 {
            .list-content {
                width: 20%;
            }
        }

        &.list-xs-6 {
            .list-content {
                width: 16.66%;
            }
        }

        &.list-xs-7 {
            .list-content {
                width: 14.28%;
            }
        }

        &.list-xs-8 {
            .list-content {
                width: 12.5%;
            }
        }

        &.list-xs-9 {
            .list-content {
                width: 11.11%;
            }
        }

        &.list-xs-10 {
            .list-content {
                width: 10%;
            }
        }

        &.list-xs-11 {
            .list-content {
                width: 9.09%;
            }
        }

        &.list-xs-12 {
            .list-content {
                width: 8.33%;
            }
        }
    }

    .brand-header {
        @include print-css(
            map-merge((
                background-color: #f7f7f7,
                width: 100%,
                padding: 7px 0,
                text-align: center,
                float: left,
                margin: 0 0 28px 0
            ), 
            if(variable-exists(list) and map-has-key($list, brandHeader), 
                map-get($list,brandHeader), ()
            )
        ));

        .brand-title {
            @include print-css(
                map-merge((
                    display: inline-block,
                    font-size: 22px,
                    font-weight: bold,
                    text-transform: uppercase,
                    color: #1a70d3
                ), 
                if(variable-exists(list) and map-has-key($list, brandTitle), 
                    map-get($list,brandTitle), ()
                )
            ));
        }
    }

    .list-default {
        @include print-css(
            map-merge((
                display: flex,
                justify-content: center,
                flex-wrap: wrap,
                margin-bottom: 0,
                padding: (
                    largeUp: 20px 15px 0 15px,
                    largeOnly: 20px 15px 0 15px,
                    mediumOnly: 20px 15px 0 15px,
                    smOnly: 10px 10px 0 10px,
                    defaultVal: 10px 10px 0 10px,
                ),
            ), 
            if(variable-exists(list) and map-has-key($list, listDefault), 
                map-get($list,listDefault), ()
            )
        ));
        .list-content {
            @include print-css(
                map-merge((
                    float: left
                ), 
                if(variable-exists(list) and map-has-key($list, listContent), 
                    map-get($list,listContent), ()
                )
            ));

            .list-inner {
                @include print-css(
                    map-merge((
                        margin: (
                            largeUp: 0 15px 30px 15px,
                            largeOnly: 0 15px 30px 15px,
                            mediumOnly: 0 15px 30px 15px,
                            smOnly: 0 10px 20px 10px,
                            defaultVal: 0 10px 20px 10px,
                        ),
                        overflow: hidden
                    ), 
                    if(variable-exists(list) and map-has-key($list, listInnerContent), 
                        map-get($list,listInnerContent), ()
                    )
                ));

                a {
                    @include print-css(
                        map-merge((
                            display: inline-block
                        ), 
                        if(variable-exists(list) and map-has-key($list, listAnchor), 
                            map-get($list,listAnchor), ()
                        )
                    ));

                    .brand-title {
                        @include print-css(
                            map-merge((
                                margin-top: 10px,
                                font-size: 16px,
                                text-align: center
                            ), 
                            if(variable-exists(list) and map-has-key($list, listTitle), 
                                map-get($list,listTitle), ()
                            )
                        ));
                    }
                }
            }
        }
    }

    .showMoreBtn,
    .showLessBtn {
        display: none;
        .cta-item {
            @include print-css(
                map-merge((
                    margin: 0
                ), 
                if(variable-exists(list) and map-has-key($list, showToggleCTA), 
                    map-get($list,showToggleCTA), ()
                )
            ));
        }

        .btn-cta-item {
            @include print-css(
                map-merge((
                    margin-bottom: (
                        defaultVal: 40px,
                        smOnly: 30px,
                        xsOnly: 30px
                    ),
                    margin-top: 10px,
                    margin-right: 0
                ), 
                if(variable-exists(list) and map-has-key($list, showToggleCTABtn), 
                    map-get($list,showToggleCTABtn), ()
                )
            ));
        }

    }

    .viewAllBtn {
        display: none;
        .cta-item {
            @include print-css(
                map-merge((
                    margin: 0
                ), 
                if(variable-exists(list) and map-has-key($list, viewAllCTA), 
                    map-get($list,viewAllCTA), ()
                )
            ));
        }

        .btn-cta-item {
            @include print-css(
                map-merge((
                    margin-top: (
                        defaultVal: -10px,
                        smOnly: 10px,
                        xsOnly: 10px
                    ),
                    margin-bottom: 10px,
                    margin-right: 0
                ), 
                if(variable-exists(list) and map-has-key($list, viewAllCTABtn), 
                    map-get($list,viewAllCTABtn), ()
                )
            ));
        }
    }

    .slick-arrow {
        @include print-css(
            map-merge((
                display: none !important,
            ), 
            if(variable-exists(list) and map-has-key($list, arrowProp), 
                map-get($list,arrowProp), ()
            )
        ));
    }

    .slick-dots {
        @include print-css(
            map-merge((
                position: inherit,
                bottom: (
                    defaultVal: inherit,
                    mediumOnly: -30px
                ),
                margin-bottom: 32px,
                height: 8px,
            ), 
            if(variable-exists(list) and map-has-key($list, dots), 
                map-get($list,dots), ()
            )
        ));
        li {
            @include print-css(
                map-merge((
                    width: 8px,
                    height: 8px,
                    margin: 0 6px,
                    display: inline-block,
                    vertical-align: top
                ), 
                if(variable-exists(list) and map-has-key($list, dotsLi), 
                    map-get($list,dotsLi), ()
                )
            ));

            &.slick-active {
                button {
                    @include print-css(
                        map-merge((
                            opacity: 1,
                            width: inherit,
                            height: inherit,
                            background-color: $black
                        ), 
                        if(variable-exists(list) and map-has-key($list, dotsActive), 
                            map-get($list,dotsActive), ()
                        )
                    ));
                }
            }

            button {
                @include print-css(
                    map-merge((
                        padding: 0,
                        margin: 0,
                        width: 8px,
                        height: 8px,
                        background-color: $bulletLight,
                        opacity: .2,
                        border-radius: 50%
                    ), 
                    if(variable-exists(list) and map-has-key($list, dotsBtn), 
                        map-get($list,dotsBtn), ()
                    )
                ));
                &:before {
                    @include print-css(
                        map-merge((
                            content: none
                        ), 
                        if(variable-exists(list) and map-has-key($list, dotsBtnBefore), 
                            map-get($list,dotsBtnBefore), ()
                        )
                    ));
                }
            }
        }
    }
}