$brandImageContainer:(

brandHeader:(
    headerBG: #F7F7F7,
    headerHeight: auto,
    headerPad:em(7) 0,
    headerAlign: center,
    headerMarTop: em(32) 0 em(36) 0,
    headerWidth:100%,
    Float:left,
    //All Brands
    brandHeaderBG:$white,
   brandHeaderMB:0 0 em(-35) 0,
   mobBrandHeaderMB:0 0 em(14),
   minHeight:em(48),
   mobBrandPad:em(20) 0 em(28) 0,
   tabBrandPad:0 0 em(28) 0,
),
brandTitle:(
    titleDis: inline-block,
	titlefontFamily: $title-txt-font,
    titleFontSize: em(22),
    titleBold:bold,
    titleColor: #1A70D3,
    titleTransform: uppercase,

    //All Brands
    brandHeaderColor:$black,
    brandHeaderFont:em(32),
    tabFontSize:em(16),
    moblineHeight:em(34),

),
brandCon:(
    brandWidth: 100%,
    brandPad:0 em(26),
    brandAlign: center,
    mgnBottom: 0,
    // Mobile
   
    tabPad: 0 em(10),
   tabMarBot:0,
    mobDisplay:none,
    mobbrandHeaderFont:em(20)!important,

    
),
allBrandList:(
    bgColor:#ffffff,
    headerHeight: auto,
    padHeader:0,
    marHeader: 0 0 em(20),
    mobHeaderMar:0 0 em(14),
    mobLineHeight:em(24),
),
allBrandTitle:(
    allBrandFontSize:em(32),
    allBrandColor:$black,
),
brandlistContainer: (
	width: 16.5%,
),
listContainer:(
    listWidth: 16.35%,
    listDisplay: inline-block,
    listHeight:auto,
        //Tab
        tabwidth:24.5%,
    listMargin:0 em(16) em(22) em(16),
        //Mobile
    mobWidth: 49%,
    tabMargin:0 em(13) em(26) em(13),
    mobMargin:0 em(10) em(28) em(10),
	focusBorder: 1px solid #000
),

titleText:(
	titleTextfontFamily: $title-txt-font,
    titleTextFont:em(16),
    titleTextAlign: center,
    titleTextColor:$black,
    titleTextBold: bold,
    titleTextline: em(22),
    titleTextHeight:em(20),
    titleTextMarTop:em(8),
    disTable:table,
),

);
