$newsSearch:(
  searchIcon: (
    bgnd: transparent,
    border: 0,
    padding: 0,
    outline: 0,
    mobDisplay: none,
    fontSize: 24px,
    iconPadding: 33px 29px 21px 0,
    iconMargin: -8px,
  ),
  searchInputField: (
    position: absolute,
    right: 29px,
    width: 440px,
    top: 16px,
    mobWidth: 280px,
    left: 0,
    display: table !important,
    borderBottom: 1px solid #D8D8D8,
    marginLeft: 20px,
  ),
  addOn: (
    bgColor: #fff,
    bordeRadius: 0,
    zindex: 3,
    position: relative,
    borderColor: #BFBFBF !important,
    borderWidth: 1px 0px 1px 1px,
    borderTopStyle: solid,
    borderRightStyle: initial,
    borderBottomStyle: solid,
    borderLeftStyle: solid,
    mobBorder: 0,
    mobOutline: 0,
    mobPaddingLeft: 0,
    fontSize: 20px,
    mobFontSize: 24px,
    color: $black,
  ),
  closeIcon: (
    position: absolute,
    display: block,
    border: 1px solid transparent,
    bgColor: transparent,
    verticalAlign: middle,
    right: 15px,
    outline: 0,
    cursor: pointer,
    top: 13px,
    width: 20px,
    height: 20px,
    zIndex: 50,
    mobDisplay: none,
  
    content: "\f057",
    fontFamily: 'Font Awesome',
    fontSize: 20px,
    disp: block,
    pos: absolute,
    borderRadius: 50%,
    backgroundColor: #fff,
    zindex: 4,
    bottom: 0,
    margin: auto,
    padding: 2px,
    color: #979797,
    left: 0,
    lineHeight: 21px,
  ),

  searchInput: (
    boxSizing: border-box,	
    height: 40px,	
    border: 1px solid #BFBFBF,	
    bgColor: #FFFFFF,
    borderWidth: 1px 1px 1px 0px,
    borderTopStyle: solid,
    borderRightStyle: solid,
    borderBottomStyle: solid,
    borderLeftStyle: initial,
    boxShadow: none,
    paddingLeft: 0,

    mobBorder: 0,
    mobOutline: 0,
    mobColor: $black,
    mobFontSize: 20px,
    mobFontStyle: italic,
    mobFontWeight: 300,
    moblineHeight: 23px,
  ),

  formControl: (
    height: 40px,
    padding: 6px 30px 6px 0,
    font: ($fontLight 16px "neue-haas-unica",sans-serif)
  ),

  typeAhead: (
    webkitApp: none,
    color: #989898,
  ),

  twitterTypeahead : (
    display: block !important,
    color: $black,
    left: -1px !important,
    font: ($fontLight 16px "neue-haas-unica",sans-serif),
    mobFont: ($fontLight 20px "neue-haas-unica",sans-serif),
    fontStyle: italic
  ),

  ttMenu :(
    background: rgb(255, 255, 255),
    right: 0px,
    top: 40px !important,
    left: -44px !important,
    zIndex: 1000 !important,
    mobTop: 42px !important,
    mobLeft: -37px !important,
  ),

  ttDataset : (
    padding: 11px 31px 0 32px,
    bgColor: #fff,
    minHeight: 194px,
    height: 194px,	
    width: 438px,
    overflow: auto,
    boxShadow: 0 2px 6px 0 rgba(0,0,0,0.5),
    mobBoxShadow: none,
    mobWidth: 260px,
    mobPadding: 14px 31px 0 39px,
  ),

  ttSuggestion: (
    display: block,
    color: $black,
    font: ($fontLight 16px "neue-haas-unica",sans-serif),
    fontStyle: italic,
    padding: 0 0 12px 0,
    cursor: pointer,
    mobFont: (700 1em "neue-haas-unica",sans-serif),
    mobFontStyle: italic,
  ),

  searchOverlay: (
    position: fixed,
    left: 0,
    background: rgba(0,0,0,0.3),
    right: 0,
    width: 100%,
    top: 0,
    bottom: 0,
    zIndex: 1
  )

);