$esrbmodal:(main:(pad: 0 !important),

    modalDialog: (width: 42.5%,
        proWidth: 55%,
        posTop: 5%,
        tabTop: 20%,
        proTop: 20%,
        tabWidth: 80%,
        mobTop: 10%,
        mobWidth: 90%,
        margin: 10px auto !important),

    modalContent: (boxShadow: none,
        bordorNone: none,
        pad: 15px 50px,
        bgndColor:white,
        bgndImage: none,
        bgndSize:cover,
        bgndRepeat:no-repeat,
        bgndPosition:bottom center,
        minHeight:566px,
        mobbgndImage: none,
        mobbgndPos:bottom left,
        hasBorder:true,
        borderWidth: 0 0 10px 0,
        borderStyle: solid,
        borderColor:#fcd02f,
        borderRadius: 0px,
        modelPaddingMob: 15px 20px,
        modelPaddingTab: 15px 60px,
    ),

    modalHeader:(borderRadius: 0px, //em(30),
        borderBottom:0 none !important,
        height:auto,
        bgndClip: padding-box,
        bgndImage:none,
        bgndSize:cover,
        bgndRepeat:no-repeat,
        bgndPosition:bottom center,
        mobbgndImage:none !important),
    heading: (txtAlign: center,
        txtColor:#5C4388,
        fntSize: em(48),
        margin: em(25, 32) 0 0,
        fntFamily: "MattelFounders",
        fntWeight: $fontRegular,
        textAlign: center,
        marginlineHeight: 60px,
        mobTitleFontSize: 30px,
        mobTitleLineHeight: 34px,
        fontInherit: inherit,
    ),

    modalheaderClose: (opacity: 1,
        txtColor: $black,
        closeContent: "\f00d",
        fntFamily: 'Font Awesome',
        closetxtColor: $black,
        float: right,
        fntSize: 32px,
        fntWeight: 400,
        lineHeight: 1,
        textShadow: none,
        closeOpacity: 1,
        hovertxtColor:$fp-blue,
        marginRight: 0,
        isPosApplied:true,
        posVal:absolute,
        posRight:28px,
        posTop:22px,
        outline: 1px solid #ffffff,
    ),

    modalbody: (pad:100px 0 0,
        marginRight: 0,
        mobPadding: 99px 0 0,
        tabPadding: 10px 0 0,
        tabWidth: auto,
        tabFloat: none,
        tabMargin: 35px,
        tabbgndSize: contain),

    modalbodyH2: (txtAlign: center,
        txtColor: #5C4388,
        fntSize: em(36),
        margin: 0,
        fntFamily: "Mattel Founders",
        lineHeight: 48px,
        fntWeight: null),

    playRetailer: (bgndColor: transparent),

    playretailerulList: (bgnd: $white,
        borderRadius: em(15),
        display:block),

    gallerytileUl:(display: inline-table,
        txtAlign: center,
        margin: em(10) 0 0,
        pad: 0,
        mobmargin: 0,
        width: 100%,
        mobWidth: 200px,
    ),

    gallerytileulList: (display:inline-block,
        float:none,
        margin:0 em(10),
        pad:0,
        overflow:hidden,
        width:40%,
        mobWidth:47%,
        mobMargin:em(16) em(7),
        typeDisplay:inline-block,
        marginLeft:0,
        marginRight: 0,
        outline: 1px solid #0078C8 !important,
        imgOpacity: 1 !important),


    modalbodyP: (spanContent:"",
        mobfntSize: em(18),
        txtAlign:center,
        txtColor:#484848,
        fntSize:em(24),
        margin:0 0 em(35) 0,
        fntWeight:$fontLight,
        paddingBottom:em(3),
        fntFamily:null,
        lineHeight:em(20)),

    modalbodyLink: (txtDecoration:none,
        imgWidth:100%,
        imgHeight:auto),

    modalbtnWrap: (width: 100%,
        display: block,
        txtAlign: center),

    modalbodygobackcontinueBtn:(txtAlign:center,
        pad: 0,
        display:inline-block,
        borderColor:0,
        borderRadius: 0,
        fntSize:em(14),
        fntFamily:'Noto Sans Bold',
        fntWeight:700,
        transition: 0.5s),

    modalbodygobackBtn:(margin: 0,
        proMargin: 60px 0 0 0,
        tabMargin: 85px 0 0 0,
        mobMargin: 85px 0 0 0,
        display: inline-block,
        txtColor: $black,
        bgnd: transparent,
        hovertxtColor: $black !important,
        hoverBgnd: transparent,
        hoverborderColor: 0),

    modalbodycontinueBtn: (margin: 0,
        mobMargin: 0 70px 0 0,
        txtColor: $white,
        bgnd: #674b93,
        hoverBgnd:#674b93,
        hovertxtColor: $white,
        hoverborderColor: 0,
        sameasSecondaryBtn: false,
        sameasPrimaryBtn: false,
        secondaryPadding: 6px 12px, //em(13, 30) em(35, 30) em(15, 30) em(35, 30),
        isArrowWithBtn: false,
        contentNone: none,
        secondaryDisplayMob: block !important,
        secondaryWidthMob: auto,
        secondaryMaxWidthMob: 65%,
        secondaryMarLeftMob: auto !important,
        secondaryMarRightMob: auto !important,
    ),

    goBackcontinueBtnBefore: (btnfontAwesomeimg: true,
        txtColor: $black,
        fntSize: 30px,
        fntWeight: 600,
        fntFamily:"Font Awesome",
        continueContent: "\f105 ",
        goBackcontent: "\f104",
        marginLeft: 10px,
        marginRight: 10px,

        icnSize:19px,
        icnFont:"Font Awesome",
        icnColor: $fp-blue,
        icnPos:relative,
        icnPosTop:2px),

    modalFooter: (borderTop: 0,
        bgnd: $fernGreen));