/*adobe font*/
@import url("https://use.typekit.net/fwq6ird.css");


//$fontPath : "../css/fonts";
//$fontPath : "sass/fonts";
//$fontPath : "../resources/fonts";
$fontPath : "../resources/fonts";

/* Webfont: NotoSans */
@font-face {
    font-family: 'Noto Sans'; //regular
    src: url('#{$fontPath}/NotoSans/NotoSans-Regular.eot');/* IE9 Compat Modes */
    src: url('#{$fontPath}/NotoSans/NotoSans-Regular.ttf') format('truetype'),
         url('#{$fontPath}/NotoSans/NotoSans-Regular.woff') format('woff'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Noto Sans Bold'; //Bold
    src: url('#{$fontPath}/NotoSans/NotoSans-Bold.eot');/* IE9 Compat Modes */
    src: url('#{$fontPath}/NotoSans/NotoSans-Bold.ttf') format('truetype'),
         url('#{$fontPath}/NotoSans/NotoSans-Bold.woff') format('woff'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Noto Sans Itlaic'; //Itlaic
    src: url('#{$fontPath}/NotoSans/NotoSans-Italic.eot');/* IE9 Compat Modes */
    src: url('#{$fontPath}/NotoSans/NotoSans-Italic.ttf') format('truetype'),
         url('#{$fontPath}/NotoSans/NotoSans-Italic.woff') format('woff'); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Noto Sans BoldItlaic'; //BoldItlaic
    src: url('#{$fontPath}/NotoSans/NotoSans-BoldItalic.eot');/* IE9 Compat Modes */
    src: url('#{$fontPath}/NotoSans/NotoSans-BoldItalic.ttf') format('truetype'),
         url('#{$fontPath}/NotoSans/NotoSans-BoldItalic.woff') format('woff'); /* Safari, Android, iOS */
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'Archer Medium';
    src: url('#{$fontPath}/ArcherFont/Archer-Medium.otf') format('truetype'); /* Safari, Android, iOS */
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility;
}


@font-face {
    font-family: 'Mattel Founders';
    src: url('#{$fontPath}/MattelFounders/MattelFounders-Medium.eot');
    src: url('#{$fontPath}/MattelFounders/MattelFounders-Medium.eot?#iefix') format('embedded-opentype'),
        url('#{$fontPath}/MattelFounders/MattelFounders-Medium.woff2') format('woff2'),
        url('#{$fontPath}/MattelFounders/MattelFounders-Medium.woff') format('woff'),
        url('#{$fontPath}/MattelFounders/MattelFounders-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mattel Founders';
    src: url('#{$fontPath}/MattelFounders/MattelFounders-Light.eot');
    src: url('#{$fontPath}/MattelFounders/MattelFounders-Light.eot?#iefix') format('embedded-opentype'),
        url('#{$fontPath}/MattelFounders/MattelFounders-Light.woff2') format('woff2'),
        url('#{$fontPath}/MattelFounders/MattelFounders-Light.woff') format('woff'),
        url('#{$fontPath}/MattelFounders/MattelFounders-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
