$imagetextcomponent:(
  
imagetextTitle:(
    pad: 0,
    display: block,
    float:none,
    width: 100%,
    titlePadding: em(25)
),

 imagetextContainer: ( 
    margin: 0,
    pad: 0,//em(55) em(40) em(40),
    tabPad: null,
    mobPad: 0,//em(30) em(15),
    width: 100%,
    bgndDetail: none
 ), 
 
imageBlock: (
   marginTop: -45px,
   mobMarginTop:0
 ),
 imageBlockImg: (
  //width: 80%
 ),
 imagetextblock: (
  pad: 0 em(40),
  tabPad: em(15),
  mobPad: em(15)
 ),

 imagetextblockH2: (
    txtColor: $white,
    smalltxtColor: $white,
    margin:0,
    fntSize: em(40),
    tabFontSize: em(40),
		mobFontSize: em(35),
 ),

 imagetextblockP: (
   txtColor: $enchanpurple,
   fntFamily: ('MattelFounders',Arial),
   fntSize: em(16),
   tabFontSize: 1em,
		mobFontSize: 1em,
    lineHeight:24px,
    marginTop:-10px,
 ),

 imagetextblockLink: (  
   txtColor: $violet,
   txtDecoration: underline  
 ),

 imagetextCta: (   
     txtAlignLeft: left,
     txtAlignRight : right,
     txtAlignCenter: center,
     tabtxtAlign: center
  ),

  textcomp: (
    margin:0 !important
  )

);
