$newsSearchLanding:(
    search_outer_wrapper:(
        margin: (
            lg: null,
            md: em(80) em(198) em(80) em(201),
            sm: em(80) em(25) em(80) em(26),
        )
    ),
    search_title:(
        color: $black,
        font: ($fontMedium em(28) "Mattel Founders"),
        letter_spacing: em(.12),
        line_height: em(16.5)
    ),
    total_search:(
        margin: (
            lg: null,
            md: em(0) em(0) em(0) em(0),
            sm: em(0) em(-25) em(0) em(-26),
        ),
        padding: (
            lg: null,
            md: em(6) em(15) em(6) em(15),
            sm: em(5) em(26) em(5) em(26),
        ),
        color: $black,
        font: ($fontLight em(16) "neue-haas-unica",sans-serif),
        font_style: italic,
        letter_spacing: em(.13),
        line_height: em(22.7),
        background_color: $corSecBg
    ),
    search_result:(
        font_size: em(14)
    ),
    individual_search:(
        padding: (
            lg: null,
            md: em(19) em(11) em(30) em(11),
            sm: em(15) em(0) em(16) em(0),
        ),
        border_bottom: 1px solid $medium-grey
    ),
    news_doc_type:(
        color: $black,
        font: ($fontLight em(16) "neue-haas-unica",sans-serif),
        letter_spacing: em(.13),
        line_height: em(22.7),
        display: block
    ),
    news_title:(
        margin: (
            lg: null,
            md: em(9) em(0) em(0) em(0),
            sm: em(0) em(0) em(0) em(0),
        ),
        color: $black,
        font: ($fontMedium em(16) "Mattel Founders"),
        letter_spacing: em(.13),
        line_height: em(19.3)
    ),
    news_title_md:(
        font: ($fontMedium em(20) "Mattel Founders"),
        letter_spacing: em(.12),
        line_height: em(16.1)
    ),
    read_more:(
        margin: (
            lg: null,
            md: em(9) em(0) em(0) em(0),
            sm: em(5) em(0) em(0) em(0),
        ),
        color: $corpReadMore,
        font: ($fontLight em(16) "Noto Sans"),
        letter_spacing: em(.123),
        line_height: em(22.8),
        display: block,
        text_decoration: underline
    ),
    read_more_md:(
        font: ($fontLight em(14) "Noto Sans"),
        letter_spacing: em(.14),
        line_height: em(22),
    ),
    cta_button:(
        margin: (
            lg: null,
            md: em(35) em(0) em(0) em(0),
            sm: em(35) em(0) em(0) em(0),
        )
    ),
    view_all_btn:(
        cursor: pointer,
        color: $white,
        font: ($fontMedium em(21) "Mattel Founders"),
        letter_spacing: em(.40),
        text_align: center,
        margin: auto,
        background: $corpColor,
        border_radius: em(25),
        width:em(140),
        height:em(33.3),
        display: flex,
        align_items: center,
        justify_content: center
    ),

    loader_outer:(
        display: none,
        position: fixed,
        p_top: 0,
        p_bottom:0,
        p_left:0,
        p_right:0,
        z_index: 99999
    ),
    loader:(
        position: absolute,
        p_left: 45%,
        p_top: 28%,
        font_size: em(10),
        margin: em(50) auto,
        text_indent: -9999em,
        width: em(70),
        height: em(70),
        border_radius: 50%,
        webkit_animation: load3 1.4s infinite linear,
        animation: load3 1.4s infinite linear,
        webkit_transform: translateZ(0),
        ms_transform: translateZ(0),
        transform: translateZ(0)
    ),
    loader_before:(
        width: 50%,
        height: 50%,
        background: $corpColor,
        border_radius: 100% 0 0 0,
        position: absolute,
        p_top: 0,
        p_left: 0,
        content: ''
    ),
    loader_after:(
        background: $white,
        width: 75%,
        height: 75%,
        border_radius: 50%,
        content: '',
        margin: auto,
        position: absolute,
        p_top: 0,
        p_left: 0,
        p_bottom: 0,
        p_right: 0
    ),
    loader_load3:(
        webkit_transform_1: rotate(1deg),
        transform_1: rotate(1deg),
        webkit_transform_100: rotate(360deg),
        transform_100: rotate(360deg)
    ),

);