$fpProductInfo:(
	brandTitle: (
		brdTitleDisplay:inline-block,
		brdTitleFontFamily: "Noto Sans",
		brdTitleFontSize: 1em, //14px
		brdTitleFontWeight: 400,
		brdTitleLineHeight: em(22),
		brdTitleTxtColor: #444344,
		brdTitleTxtAlign:left,
		brdTitleTxtDecoration: underline,
		brdTitleMarginBottom:em(10),
		brdTitleWrapMarginBottom:em(10),
		brdTitleWrapDisplay:block,
	),
	productBadges: (
		prdBadgesDisplay: inline-block,
		prdBadgesFontFamily: "Noto Sans Bold",
		prdBadgesFontSize: 1em,
		prdBadgesFontWeight: 700,
		prdBadgesLineHeight: em(19),
    prdBadgesLetterSpacing: 0.2px,
    /*prdBadgesBackgroundColor: $fp-red,*/
		prdBadgesTxtColor: #FFFFFF,
    prdBadgesTextAlign: center,
    prdBadgesMarginBottom:em(10),
		prdBadgesPadding:em(3) em(15),		
		/*prdBadgesBorder: 1px solid $fp-red,*/
		prdBadgesBorderRadius: em(50) !important,
	),
  productBadgesImg: (
      vericalAlign:top,
      marginRight:10px,
  ),
	productTitle: (
		prdTitleDisplay:block,
		prdTitleFontFamily: "Noto Sans Bold",
		prdTitleFontSize: em(20),
    prdTitleFontSizeDesk: em(32),
		prdTitleFontWeight: 700,
    prdTitleLineHeight: em(24,20),
    prdTitleLineHeightDesk: em(36,32),
		prdTitleTxtColor: #000000,
		prdTitleTxtAlign:left,
		prdTitleMarginBottom:em(10,20),
		prdTitleMarBottom:9px,
	),
	productImage: (
		prdImgTxtAlign:center,
		prdImgMarginBottom:em(10),
		prdImgWidth:auto,
		prdImgHeight:auto,
  ),
  productInfoBlock:(
    piblkMarginBottom:em(10),
    piblkPad:0 em(20),
  ),
  recallProductMsg:(
    color: #000000,
    fontFamily: "Noto Sans",
    fontSize: 14px,
    lineHeight: 22px
  ),
  productPrice:(
    prdPriceDisplay:block,
    prdPriceFontFamily: "Noto Sans Bold",
    prdPriceFontSize: em(22), //14px
    prdPriceFontWeight:900,
    prdPriceLineHeight:em(24,22),
    prdPriceTxtColor: #000000,
    prdPriceMarginBottom:6px,
    prdPricePaddingTop:10px,
    prdPriceDeviceMarginBottom:30px,
    prdPriceDevicePaddingTop:0px,
  ),
  ageBadges:(
    ageBadgesDisplay: inline-block,
    ageBadgesFontFamily: "Noto Sans Bold",
    ageBadgesFontSize: 1em,
    ageBadgesFontWeight: 700,
    ageBadgesLineHeight: em(22),
    ageBadgesLetterSpacing: 0.2px,
    ageBadgesTxtColor: $fp-blue,
    ageBadgesTextAlign: center,
    ageBadgesMarginBottom:em(10),
    ageBadgesPadding:em(4) em(10) em(4) em(18),
    ageBadgesBorder: 3px solid $fp-blue,	
    ageBadgesBorderRadius: em(23) !important,
    ageBadgesPosition:relative,
  ),
  productSummary: (
    prdSummaryBlkDisp:block,
    prdSummaryBlkWidth:100%,
    prdSummaryBlkMargin:em(10) 0,

    prdSummaryFontFamily: "Noto Sans",
    prdSummaryFontSize: 1em,
    prdSummaryLineHeight: em(22),
    prdSummaryTxtColor: #000000,
    prdSummaryLgDisplay:inline,
    prdSummaryParaDisplay:inline,
  ),
  readMore: (
    readMoreDisplay:block,
    readMoreFontFamily: "Noto Sans",
    readMoreFontSize: 1em,
    readMoreFontWeight:400 ,
    readMoreLineHeight: em(22),
    readMoreTxtColor: #444344,
    readMoreTxtDecoration: underline,
    readMoreLgDisplay:inline,
  ),
  CTAlink: (
    CTAlinkDisplay:block,
    CTAlinkFontFamily: "Noto Sans",
    CTAlinkFontSize: 1em,
    CTAlinkFontWeight:400,
    CTAlinkLineHeight: em(22),
    CTAlinkTxtColor: #444344,
    CTAlinkTxtDecoration: underline,
    CTAlinkMargin:em(24) 0,
  ),
  waringMsg: (
    waringMsgFontFamily: "Noto Sans",
    warningMsgFontSize:1em,
    warningMsgLineHeight:em(18),
    waringMsgTxtColor:#000000,
	waringMsgIconDisplay:block,
	waringMsgIconWidth: 15px,
	waringMsgIconfloat: left,                      
    waringMsgIconMargin:1px 5px 0px 0px,
    marginBottom:10px
  ),
  waringMsgTxt: (
	waringMsgWidth: 92%,
	waringMsgIconfloat: left
  ),
  ageBadgesInfo: (
	border: none,
	background: none,
	pointerEvents: none,
	outline: 1px solid #0078c8
  ),
  toolTip:(
    toolTipPosition:static,
    toolTipDisplay:inline-Block,
	
	
    /*toolTipTxt*/
    toolTipTxtonHover:visible,
    toolTipTxtVisibility: hidden,
    toolTipTxtPosition: absolute,
    toolTipTxtZindex: 10,
    toolTipTxtTop: 60%,
    toolTipTxtLeft: -7px,
    toolTipTxtMarginTop: 25px,
    toolTipTxtPadding: 10px 20px,
    toolTipTxtWidth:auto,
    toolTipTxtDisplay: inline-block,    
    toolTipTxtFontFamily: "Noto Sans",	
    toolTipTxtFontSize: 1em,	
    toolTipTxtLineHeight: em(18),
    toolTipTxtBackgroundColor: white,
    toolTipTxtColor: #000000,	
    toolTipTxtTextAlign: left,
    toolTipTxtTextDecoration: none,
    toolTipTxtWhiteSpace: normal,
    toolTipTxtBorder: 1px solid #BFBFBF,
    toolTipTxtBorderRadius: 6px,
    toolTipTxtBoxShadow:1px 3px 5px 0px #ccc,

    /*toolTip inner title*/
    toolTipTxtTitlePadding:0,
    toolTipTxtTitleMargin:0,
    toolTipTxtTitleDisplay: inline,
    toolTipTxtTitleFontSize:1em,
    toolTipTxtTitleLineHeight: em(18),
    toolTipTxtTitleColor:$fp-blue,

    /*toolTip medium and larger devices*/
    toolTipTxtMLDevicesTop: 0,
    toolTipTxtMLDevicesLeft: 97%,
    toolTipTxtMLDevicesMarginTop: 0,
    toolTipTxtMLDevicesPadding: 18px 24px,
    toolTipTxtMLDevicesWidth: 405.93px,
    toolTipTxtMLDevicesTransform: translate(5%,-30%),

    /*toolTip tablet Landscape view*/
    toolTipTxtTabLanViewWidth:275px,
    toolTipTxtTabLanViewTransform: translate(5%,-40%),

    /*tootTip Arrow*/
    toolTipArrowContent: '',
    toolTipArrowPosition: absolute,
    toolTipArrowLeft: 70px,
    toolTipArrowWidth: 0,
    toolTipArrowHeight: 0,
    toolTipArrowBorder: 12px solid transparent,

    toolTipArrowMLDevicesBorderColor:transparent,
    toolTipArrowMLDevicesBottom: 40%,		

    /*before*/
    toolTipArrowBfrBottom: 100%,
    toolTipArrowBfrBorderColor: #BFBFBF,

    /*after*/
    toolTipArrowAftrBottom: 98%,
    toolTipArrowAftrDisplay: block,
    toolTipArrowAftrBorderColor: #fff,

    /*before MLDevices*/
    toolTipArrowBfrMLDevicesLeft: -24px,

    /*after MLDevices*/
    toolTipArrowAftrMLDevicesLeft: -22px,
    )
);
