@import 'components/_fonts';
// @import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/global.scss';
@import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/vendors/bootstrap/bootstrap';
// @import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/vendors/bootstrap/bootstrap/variables';
// @import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/vendors/bootstrap/bootstrap/mixins';
// @import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/vendors/bootstrap/bootstrap/grid';
@import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/variables/colors';
@import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/variables/image-path';
@import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/variables/media-queries';
@import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/variables/typography';
@import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/variables/utility';
@import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/mixins/mixins';
@import '../../../../../../../../../../../../../global/ui.apps/src/main/content/jcr_root/apps/mattel/global/clientlibs/clientlib-base/sass/vendors/fontawesome/variables';

@import 'utils/_variables';
@import 'utils/mixins';

@import 'utils/_personalInfo-variables';
@import 'utils/_my-account-variables';
@import 'utils/_address-info-variables';
@import 'utils/_my-account-nav-variables';
@import 'utils/_myaccount-table-variables';
@import 'utils/_payment-info-variables';
@import 'utils/_signin-variable';
@import 'utils/_form-variables';
@import 'utils/_contact-preferences-variables';
@import 'utils/_order-details-variables';
@import 'utils/_order-history-variables';
@import 'utils/_category-nav-variables';
@import 'utils/_checkbox-filter-variables';
@import 'utils/_sorting-filters-variables';
@import 'utils/bootstrap-select.min';
@import 'utils/_nav-promo-baner-variables.scss';
@import 'utils/_grid-variables';
@import 'utils/_product-category-variables';
@import 'utils/_product-variables.scss';
@import 'utils/_product-slider-comp-variables.scss';
@import 'utils/_logo-giftCard-variables.scss';
@import 'utils/_accordion-comp-variables.scss';
@import 'utils/_product-addOn-variables';
@import 'utils/_search-bar.scss';
@import 'utils/_search-dropdown-variables.scss';

@import 'components/pagination';

//toast
@import 'components/_toast';

//layout
@import 'utils/_layout-variables';
@import 'layout/_layout';
@import 'components/_form';

//Components
@import 'components/_my-account';
@import 'components/_myaccount-table';
@import 'components/_personal-info';
@import 'components/_my-account-nav';
@import 'components/_address-info';
@import 'components/_payment-info';
@import 'components/_contact-preferences';
@import 'components/_signin';
@import 'components/_doll-register';
@import 'components/_order-details';
@import 'components/_order-history';
@import 'components/_plp-banner';
@import 'components/_category-nav';
@import 'components/_checkbox-filter';
@import 'components/_sorting-filter';
@import 'components/_grid';
@import 'components/backToTop';
// @import 'components/_nav-promo-banner.scss';
@import 'components/_product.scss';
@import 'components/_product-slider-comp.scss';
@import 'components/_logo-giftCard.scss';
@import 'components/_grid-articles';
@import 'components/_quick-view';
@import 'components/_accordion-comp.scss';
@import 'components/_marketing-comp';
@import 'components/_product-addOn';
@import 'components/_header';
@import 'components/_gift-trunk.scss';
@import 'components/_ecomm-carousel';
@import 'components/_entry-modal';
@import 'components/_fluid-banner';
@import 'components/_navigation.scss';
@import 'components/_flexible-cta-component';
@import 'components/_flexible-grid';
@import 'components/_search-dropdown.scss';
@import 'components/_email-lightbox.scss';
@import 'components/_thankyou-lightbox.scss';
@import 'components/_return-form.scss';
@import 'components/_iframe-comp.scss';
@import 'components/_doll-hospital.scss';
@import 'components/_crm-header.scss';
@import 'components/_cart-product.scss';
// accessibility
@import 'accessibility/_accessibility';
// mini cart popup message
@import 'components/_mini-cart-popup-msg';
@import 'components/_home-contents';
// recommended products scss
@import 'components/_recommended-products';
//promo header
@import 'components/promo-header';

//promo pencil header
@import 'components/_promo-pencil-header';

// pdp image viewer custom component
@import 'components/_pdp-image-viewer';
@import 'components/_product-carousel';
@import 'components/_card-comp';

// pdp bitty twin section
@import 'components/_bitty-twin';
//affirm
@import 'components/affirm';

/*adding below code as temporary fix for sitespec issue*/
 #headerWrapper{
	height: 100px;
	overflow: hidden;
  }
  .ch3-v1-shop .root.responsivegrid{
	margin-top: 0 !important;
  }
