.accordion-component {
    background-color: mapping($accordion, main, bgndColor);
    padding: mapping($accordion, main, pad);

    @media #{$medium-only} {
        padding: mapping($accordion, main, tabPad);
    }

    @media #{$small-down} {
        padding: mapping($accordion, main, mobPad);
    }

    &.withbg {
        background: mapping($accordion, withbg, bgndImg);
        background-size: mapping($accordion, withbg, bgndSize);

        .accordion {
            .accordion-title {
                font-family: mapping($accordion, withbg, fntFamily);
                font-size: mapping($accordion, withbg, fntSize);
            }
        }
    }

    .title-block {
        padding: mapping($accordion, main, titleBlockPad);
    }

    .media-70-30 {
        &.image-text-container {
            margin: 0;

            .text-component {
                background: mapping($accordion, accMain, bgNone);
                width: mapping($accordion, accMain, compWidth);
                flex: mapping($accordion, accMain, compFlex);
                text-align: mapping($accordion, accMain, compTextAlign);

                p {
                    font-weight: mapping($accordion, accMain, compFontWeight);
                    text-align: mapping($accordion, accMain, compPTextAlign);
                    margin-bottom: mapping($accordion, accMain, compPMarBottom);
                }

                ul {
                    margin: mapping($accordion, accMainUlLi, accUlmar);

                    li {
                        list-style: mapping($accordion, accMainUlLi, accUlLiStyle);
                    }
                }
            }
        }
    }

    .accordion {
        padding: if(mapping($accordion, main, sectionBlockPad), mapping($accordion, main, sectionBlockPad), mapping($accordion, main, pad));

        @media #{$medium-only} {
            padding: mapping($accordion, main, paddingTab);
        }

        @if mapping($accordion, accordionLastBorder, isMattelcom)==true {
            padding: mapping($accordion, accordionLastBorder, padding);
            margin: mapping($accordion, accordionLastBorder, margin);
            border-bottom: mapping($accordion, accordionLastBorder, accordianBottom);
        }

        .accordion-title {
            position: mapping($accordion, title, position);
            margin: mapping($accordion, title, margin);
            padding: mapping($accordion, title, pad);
            font-weight: mapping($accordion, title, fntWeight);
            border-bottom: mapping($accordion, title, borderBottom);
            color: mapping($accordion, title, txtColor);
            font-size: mapping($accordion, title, fntSize);
            border-top: mapping($accordion, title, borderTop);
            font-family: mapping($accordion, title, fntFamily);

            @media #{$small-only} {
                font-size: mapping($accordion, title, fntSizeMob);
                line-height: mapping($accordion, title, lineHeightMob);
                height: mapping($accordion, title, heightMob);
                display: mapping($accordion, title, flexMob);
                align-items: mapping($accordion, title, centerMob);
            }

            @media #{$medium-only} {
                font-size: mapping($accordion, title, fntSizeMob);
                line-height: mapping($accordion, title, lineHeightMob);
                height: mapping($accordion, title, heightMob);
                display: mapping($accordion, title, flexMob);
                align-items: mapping($accordion, title, centerMob);
            }

            .view {
                font-size: mapping($accordion, view, fntSize);
                line-height: mapping($accordion, view, lineHeight);
                font-weight: mapping($accordion, view, fntWeight);
                text-align: mapping($accordion, view, txtAlign);
            }
        }

        .accordion-content {
            display: mapping($accordion, accContent, display);
            padding: mapping($accordion, accContent, pad);
            margin: mapping($accordion, accContent, mgrTopBot);

            @if (mapping($layout, main, isMattelcomNav)==true) {
                margin-top: mapping($accordion, accContent, mgrTop);
                border-top: mapping($accordion, accContent, borderTop);
            }

            &.default {
                display: mapping($accordion, acccontentDefault, display);
            }

            p {
                font-weight: mapping($accordion, accContentP, fntWeight);
                color: mapping($accordion, accContentP, txtColor);
                font-size: mapping($accordion, accContentP, fntSize);
                font-family: mapping($accordion, accContentP, fntFamily);
                padding: mapping($accordion, accContentP, pad);
                margin: mapping($accordion, accContentP, margin);
            }

            h2,
            h3 {
                font-size: mapping($accordion, accContentH, fntSize);
                color: mapping($accordion, accContentH, txtColor);
                margin: mapping($accordion, accContentH, margin);

                @media #{$small-down} {
                    font-size: mapping($accordion, accContentH, mobFntSize);
                }
            }

            #video-player-title {
                margin: mapping($accordion, accContentVideoTitle, margin);
            }

            .videos-gallery-playlist .play-tiles-gallery .gallery-tile ul>li a span {
                font-size: mapping($accordion, accContentH, fntSize);

                @media #{$small-down} {
                    font-size: mapping($accordion, accContentH, mobFntSize);
                }
            }

            // .videos-gallery-playlist .play-tiles-gallery .gallery-tile ul>li a .gallery-image {

            //     &:active,
            //     &:focus,
            //     &:hover {
            //         img {
            //             opacity: mapping($accordion, videoImg, opacity);
            //         }
            //     }
            // }

            .videos-gallery-playlist .play-tiles-gallery .gallery-tile ul>li a .gallery-image {

                &:active,
                &:focus,
                &:hover {
                    img {
                        opacity: mapping($accordion, videoImg, opacity);
                    }
                }

                img {
                    border: mapping($accordion, videoImg, imgBorder);
                    opacity: mapping($accordion, videoImg, opacity);

                    @media #{$small-down} {
                        border: mapping($accordion, videoImg, mobimgBorder);
                    }
                }
            }

            .videos-gallery-playlist .play-tiles-gallery .gallery-tile ul>li.active a .gallery-image {
                img {
                    border: mapping($accordion, videoImg, hoverimgBorder);
                    opacity: mapping($accordion, videoImg, opacity);

                    @media #{$small-down} {
                        border: mapping($accordion, videoImg, mobhoverimgBorder);
                    }
                }
            }

            .show-more {
                margin: mapping($accordion, accContentShowMore, showMoreMargin);
                border-bottom: mapping($accordion, accContentShowMore, showBorder);
                padding-bottom: mapping($accordion, accContentShowMore, showMorePading);

                a {
                    padding: mapping($accordion, accContentShowMore, padding);
                    margin: mapping($accordion, accContentShowMore, margin);
                }
            }

            ol {
                li {
                    list-style-type: inherit;

                    @if (mapping($layout, main, isMattelcomNav)==true) {
                        list-style-type: disc;
                    }

                    font-weight: mapping($accordion, accContentOlLi, fntWeight);
                    color: mapping($accordion, accContentOlLi, txtColor);
                    font-size: mapping($accordion, accContentOlLi, fntSize);
                    font-family: mapping($accordion, accContentOlLi, fntFamily);
                    padding: mapping($accordion, accContentOlLi, pad);
                    margin: mapping($accordion, accContentOlLi, margin);
                    line-height: mapping($accordion, accContentOlLi, lineHeight);
                }
            }

            h2:empty,
            p:empty {
                display: none;
            }

            .image-text-container,
            .text-component {
                padding: 0;
            }

            .text-component {
                h4 {
                    margin: mapping($accordion, accContentHeading, margin);
                }
            }

            .image-text-component {
                padding: mapping($accordion, imgTextComp, padd);
            }

            .download-img-text {
                border-bottom: mapping($accordion, downloadImgText, borderBottom);
                padding: mapping($accordion, downloadImgText, padding);

                @media #{$small-down} {
                    border-bottom: mapping($accordion, downloadImgText, mobborderBottom);
                    padding: mapping($accordion, downloadImgText, mobPad);
                }
            }

            .play-video {
                .video-component {
                    .video-page-title {
                        font-family: mapping($accordion, videoTitle, fontFamily);
                        font-size: mapping($accordion, videoTitle, fontSize);
                        font-weight: mapping($accordion, videoTitle, fontWeight);
                        margin-bottom: mapping($accordion, videoTitle, marginBottom);
                    }
                }

                .videos-gallery-playlist {
                    padding-bottom: mapping($accordion, videoCompPlaylist, paddBottom);

                    .play-tiles-gallery {
                        .gallery-tile {
                            ul {
                                >li {
                                    padding-bottom: mapping($accordion, videoCompLi, paddBottom);
                                }
                            }
                        }
                    }
                }
            }
        }

        .arrow {
            margin-left: mapping($accordion, accArrow, marginLeft);
            display: mapping($accordion, accArrow, display);
            position: mapping($accordion, accArrow, pos);
            right: mapping($accordion, accArrow, posRight);
            border-radius: mapping($accordion, accArrow, brdrRadius);
            width: mapping($accordion, accArrow, iconWidth);
            height: mapping($accordion, accArrow, iconHeight);
            cursor: mapping($accordion, accArrow, cursor);
            top: mapping($accordion, accArrow, arrowTop);
            transform: mapping($accordion, accArrow, translate);
            border: mapping($accordion, accArrow, border);

            &:before,
            &:after {
                content: mapping($accordion, beforeAfter, content);
                display: mapping($accordion, beforeAfter, display);
                border-radius: mapping($accordion, beforeAfter, borderRadius);
                @include transform(translate(-50%, -50%));
                top: mapping($accordion, beforeAfter, beforeAfterTop);
                left: mapping($accordion, beforeAfter, beforeAfterLeft);
                position: mapping($accordion, beforeAfter, position);
                @include transition(all, 350ms, ease-out);
                background: mapping($accordion, accArrow, iconColor);
            }

            &.arrowDown {
                &:before {
                    width: mapping($accordion, beforeAfter, beforeDownWidth);
                    height: mapping($accordion, beforeAfter, beforeDownHeight);
                }

                &:after {
                    width: mapping($accordion, beforeAfter, afterDownWidth);
                    height: mapping($accordion, beforeAfter, afterDownHeight);
                }
            }

            &.arrowUp {
                &:before {
                    width: mapping($accordion, beforeAfter, afterUpWidth);
                    height: mapping($accordion, beforeAfter, afterUpHeight);

                    @if (mapping($layout, main, isMattelcomNav)==true) {
                        height: mapping($accordion, beforeAfter, afterUpHeight);
                    }
                }
            }
        }
    }
}