$banner:(
	main:(
		bgndColor: null //$white-smoke
	),
	heading:(
		font: inherit,
		fontSize: 2em,
		fontSize-T: 1.5em,
		fontSize-M: 1.8em,
		fontWeight: null,
		color: null,
		bgndColor: null
	),
	subHeading:(
		font: inherit,
		fontSize: em(22),
		fontSize-T: 1.3em,
		fontSize-M: null,
		fontWeight: null,
		color: null,
		bgndColor: null
	)
);