
$form:(
	main:(
		// fontFamily: "Arial",
		// fontInheritChildren: false
	),
	heading : (
		color : $light-blue,
		fontSize: em(24),
		fontWeight: $fontBold,
		align: center
	),
	input : (
		color : $light-blue,
		fontSize: em(10),
		fontWeight: $fontBold,
		maxWidth: em(240,10),
		borderRadius: 4px,
		borderColor: $very-light-grey,
		borderErrorColor: null,
		placeholderColor: $dark-grey,
		placeholderFontsize: 11px
		// fontFamily: null,
	),
	select : (
		fontSize: em(10),
		maxWidth: em(240,10),
		arrowWidth: null,
		arrowFontSize: em(16),
		arrowColor: $very-light-grey,
		color : $dark-grey,
		borderColor : $very-light-grey,
		placeholderColor: $dark-grey,
		placeholderFontsize: 11px,
		customCountryColor : em(13)
	),
	radio : (
		bgColor : $white,
		defaultColor: $very-light-grey,
		checkedColor: $navy-blue
	),
	checkbox :(
		checkboxBg: $white,
		checkboxBorderCol:$very-light-grey,
		checkboxW:15px,
		checkboxH:15px,
		checkboxPos:absolute,
		checkboxCont:'',
		checkboxLeft:15px,
		checkboxTop:4px,
		checkOpacity:0
	),
	checkboxCH :(
		checkboxPos: absolute,
		checkboxCont:'\f00c',
		checkboxLeft:17px,
		checkboxTop:3px,
		checkboxFam:Fontawesome,
		checkboxFon:0.8em,
		checkboxCol:$violet,
		checkboxZ:1,
	),
	label : (
		color : $black,
		fontSize: em(12),
		fontWeight: $fontRegular
	),
	error : (
		color : $pure-red,
		borderColor : $pure-red,
		fontSize: em(11),
		fontWeight: $fontRegular
	),
	addChild : (
		color : $light-red,
		fontSize: em(18),
		fontWeight: null
	),
	agree : (
		color: null,
		linkColor: $navy-blue,
		fontSize:em(12),
		linkFontWeight:$fontBold,
		linkUnderline: underline

	),
	legend : (
		color : $black,
		fontSize: em(14),
		fontWeight: $fontBold
	),
	subLegend :(
		fontSize: em(12)
	),
	required :(
		color : $light-pink,
		fontSize : 6px
	),
	cta : (
		align: right,
		fontSize : em(14),
		fontWeight : $fontBold,
		borderSize : 2px,
		submitBgnd : $light-red,
		submitColor : $white,
		submitBorder : $light-red,
		submitColorHover: $light-red,
		submitBgndHover : $white,
		submitBorderHover : $light-red,
		resetBgnd : transparent,
		resetColor : $dim-gray,
		resetBorder : $dim-gray,
		resetBgndHover : transparent,
		resetColorHover : $dim-gray,
		resetBorderHover : $dim-gray
	)
);
