/* BUSINESS WIRE XHTML EXTERNAL CSS STYLES */
.bw-release-table,
.bw-release-table-js {
	width: auto;
	max-width: 100%;
	margin-bottom: 1.5em;
	border-collapse: unset;
	overflow-x: auto;
}
/* Content Photo */
.bwbodyimg {float:left;padding-left:0px;padding-right:20px; padding-top:0px;padding-bottom:0px;}
.bwbodyimgcaption {font-size:85%;}
/*text alignments*/
.bwtextaligncenter, .bwalignc {text-align:center;}
.bwtextalignleft, .bwalignl {text-align:left;}
.bwtextalignright, .bwalignr  {text-align:right;}
.bwverticalaligntop, .bwvertalignt {vertical-align:top;}
.bwverticalalignmiddle, .bwvertalignm {vertical-align:middle;}
.bwverticalalignbottom, .bwvertalignb {vertical-align:bottom;}
.bwtablefigurealign, .bwfigurealign {text-align:right;vertical-align:bottom;}
.bwtabletextalign, .bwtxtalign {text-align:left;vertical-align:bottom;}
.bwwhitespacenowrap, .bwnowrap {white-space:nowrap;}
/*borders*/
.bwsinglebottomborder, .bwsinglebottom {border-bottom:solid #333 1px;}
.bwdoublebottomborder, .bwdoublebottom {border-bottom:double #333 3px;}
.bwsingletopborder, .bwsingletop {border-top:solid #333 1px;}
.bwdoubletopborder, .bwdoubletop {border-top:double #333 3px;}
.bwtopsingle{ border-top: solid black 1.0pt}
.bwtopdouble{ border-top: double black 2.25pt}
.bwbottomsingle{ border-bottom: solid black 1.0pt}
.bwbottomdouble{ border-bottom: double black 2.25pt; }
.bwleftsingle{ border-left: solid black 1.0pt}
.bwleftdouble{ border-left: double black 2.25pt}
.bwrightsingle{ border-right: solid black 1.0pt}
.bwrightdouble{ border-right: double black 2.25pt}
/*table cell paddings*/
.bwcellpaddingleft0, .bwpadl0 {padding-left:0.0px !important;}
.bwcellpaddingleft1, .bwpadl1 {padding-left:5.0px !important;}
.bwcellpaddingleft2, .bwpadl2 {padding-left:10.0px !important;}
.bwcellpaddingleft3, .bwpadl3 {padding-left:15.0px !important;}
.bwcellpaddingleft4, .bwpadl4 {padding-left:20.0px !important;}
.bwcellpaddingleft5, .bwpadl5 {padding-left:25.0px !important;}
.bwcellpaddingleft6, .bwpadl6 {padding-left:30.0px !important;}
.bwcellpaddingleft7, .bwpadl7 {padding-left:35.0px !important;}
.bwcellpaddingleft8, .bwpadl8 {padding-left:40.0px !important;}
.bwcellpaddingleft9, .bwpadl9 {padding-left:45.0px !important;}
.bwcellpaddingleft10, .bwpadl10 {padding-left:50.0px !important;}
.bwcellpaddingleft11, .bwpadl11 {padding-left:55.0px !important;}
.bwcellpaddingleft12, .bwpadl12 {padding-left:60.0px !important;}
.bwcellpaddingleft13, .bwpadl13 {padding-left:65.0px !important;}
.bwcellpaddingleft14, .bwpadl14 {padding-left:70.0px !important;}
.bwcellpaddingleft15, .bwpadl15 {padding-left:75.0px !important;}
.bwcellpaddingleft16, .bwpadl16 {padding-left:80.0px !important;}
.bwcellpaddingleft17, .bwpadl17 {padding-left:85.0px !important;}
.bwcellpaddingleft18, .bwpadl18 {padding-left:90.0px !important;}
.bwcellpaddingleft19, .bwpadl19 {padding-left:95.0px !important;}
.bwcellpaddingleft20, .bwpadl20 {padding-left:100.0px !important;}
/*table cell paddings*/
.bwcellpaddingright0, .bwpadr0 {padding-right:0.0px !important;}
.bwcellpaddingright1, .bwpadr1 {padding-right:5.0px !important;}
.bwcellpaddingright2, .bwpadr2 {padding-right:10.0px !important;}
.bwcellpaddingright3, .bwpadr3 {padding-right:15.0px !important;}
.bwcellpaddingright4, .bwpadr4 {padding-right:20.0px !important;}
.bwcellpaddingright5, .bwpadr5 {padding-right:25.0px !important;}
.bwcellpaddingright6, .bwpadr6 {padding-right:30.0px !important;}
.bwcellpaddingright7, .bwpadr7 {padding-right:35.0px !important;}
.bwcellpaddingright8, .bwpadr8 {padding-right:40.0px !important;}
.bwcellpaddingright9, .bwpadr9 {padding-right:45.0px !important;}
.bwcellpaddingright10, .bwpadr10 {padding-right:50.0px !important;}
.bwcellpaddingtop1, .bwpadt1 {padding-top:10.0px;}
.bwcellpaddingtop2, .bwpadt2  {padding-top:20.0px;}
.bwcellpaddingtop3, .bwpadt3  {padding-top:30.0px;}
.bwcellpaddingtop4, .bwpadt4  {padding-top:40.0px;}
.bwcellpaddingtop5, .bwpadt5  {padding-top:50.0px;}
.bwcellpaddingtop6, .bwpadt6  {padding-top:60.0px;}
.bwcellpaddingtop7, .bwpadt7  {padding-top:70.0px;}
.bwcellpaddingtop8, .bwpadt8  {padding-top:80.0px;}
.bwcellpaddingtop9, .bwpadt9  {padding-top:90.0px;}
.bwcellpaddingtop10, .bwpadt10  {padding-top:100.0px;}
.bwcellpaddingtop11, .bwpadt11 {padding-top:110.0px;}
.bwcellpaddingtop12, .bwpadt12 {padding-top:120.0px;}
.bwcellpaddingtop13, .bwpadt13 {padding-top:130.0px;}
.bwcellpaddingtop14, .bwpadt14 {padding-top:140.0px;}
.bwcellpaddingtop15, .bwpadt15 {padding-top:150.0px;}
.bwcellpaddingtop16, .bwpadt16 {padding-top:160.0px;}
.bwcellpaddingtop17, .bwpadt17 {padding-top:170.0px;}
.bwcellpaddingtop18, .bwpadt18 {padding-top:180.0px;}
.bwcellpaddingtop19, .bwpadt19 {padding-top:190.0px;}
.bwcellpaddingtop20, .bwpadt20 {padding-top:200.0px;}
/*cell bottom padding adjustment styles*/
.bwcellpaddingbottom1, .bwpadb1  {padding-bottom:2.0px;}
.bwcellpaddingbottom2, .bwpadb2 {padding-bottom:3.0px;}
.bwcellpaddingbottom3, .bwpadb3 {padding-bottom:4.0px;}
/*underline style*/
.bwunderlinestyle, .bwuline {text-decoration:underline;}
.bwdoubleunderlinestyle, .bwdbluline {text-decoration:underline;border-bottom:1px solid black;}
/*color style*/
.bwcolorred, .bwred {color:red;}
.bwcolorblack, .bwblack {color:black;}
/*margin left*/
.bwmarginleft1, .bwmarginl1 {margin-left:30.0px;}
.bwmarginleft2, .bwmarginl2 {margin-left:60.0px;}
.bwmarginleft3, .bwmarginl3 {margin-left:90.0px;}
.bwmarginleft4, .bwmarginl4 {margin-left:120.0px;}
.bwmarginleft5, .bwmarginl5 {margin-left:150.0px;}
.bwmarginleft6, .bwmarginl6 {margin-left:180.0px;}
.bwmarginleft7, .bwmarginl7 {margin-left:210.0px;}
.bwmarginleft8, .bwmarginl8 {margin-left:240.0px;}
.bwmarginleft9, .bwmarginl9 {margin-left:270.0px;}
.bwmarginleft10, .bwmarginl10 {margin-left:300.0px;}
/*text indent*/
.bwhangingindent, .bwhangindent {text-indent:-30.0px;}
/*paragraph indent*/
.bwparagraphindent, .bwpindent {text-indent:30.0px;}
/*list styles*/
.bwliststylenone, .bwlistnone {list-style-image:none;list-style-type:none;}
.bwliststyledisc, .bwlistdisc, .bwlistdisc > li {list-style-type:disc;}
.bwliststylesquare, .bwlistsquare, .bwlistsquare > li {list-style-type:square;}
.bwliststylecircle, .bwlistcircle, .bwlistcircle > li  {list-style-type:circle;}
.bwliststyledecimal, .bwlistdecimal {list-style-type:decimal;}
.bwliststyleloweralpha, .bwlistlowalpha {list-style-type:lower-alpha;}
.bwliststyleupperalpha, .bwlistupalpha {list-style-type:upper-alpha;}
.bwliststylelowerroman, .bwlistlowroman {list-style-type:lower-roman;}
.bwliststyleupperroman, .bwlistuproman {list-style-type:upper-roman;}
/*list item spacing*/
.bwlistitemmarginbottom, .bwlistitemmargb {margin-bottom:0px;}
/*pargraph margin inside table cells*/
.bwcellparagraphmargin, .bwcellpmargin {margin-bottom:0px;margin-top:0px;}
/*IE!! specific nowrap hack for table characters*/
_::selection, .bwcellpmargin {min-width: 1em\0;}
/*table bottom margin*/
.bwtablebottommargin, .bwtablemarginb {width:auto; margin-bottom:0px;}
/*horizontal block alignment*/
.bwblockaligncenter, .bwblockalignc {margin-left:auto;margin-right:auto;}
.bwblockalignleft, .bwblockalignl {margin-left:0px;margin-right:auto;}
.bwblockalignright, .bwblockalignr {margin-left:auto;margin-right:0px;}
/*width*/
.bwwidthpercent1, .bwwidth1 {width:1%;}
.bwwidthpercent2, .bwwidth2 {width:2%;}
.bwwidthpercent3, .bwwidth3 {width:3%;}
.bwwidthpercent4, .bwwidth4 {width:4%;}
.bwwidthpercent5, .bwwidth5 {width:5%;}
.bwwidthpercent6, .bwwidth6 {width:6%;}
.bwwidthpercent7, .bwwidth7 {width:7%;}
.bwwidthpercent8, .bwwidth8 {width:8%;}
.bwwidthpercent9, .bwwidth9 {width:9%;}
.bwwidthpercent10, .bwwidth10 {width:10%;}
.bwwidthpercent11, .bwwidth11 {width:11%;}
.bwwidthpercent12, .bwwidth12 {width:12%;}
.bwwidthpercent13, .bwwidth13 {width:13%;}
.bwwidthpercent14, .bwwidth14 {width:14%;}
.bwwidthpercent15, .bwwidth15 {width:15%;}
.bwwidthpercent16, .bwwidth16 {width:16%;}
.bwwidthpercent17, .bwwidth17 {width:17%;}
.bwwidthpercent18, .bwwidth18 {width:18%;}
.bwwidthpercent19, .bwwidth19 {width:19%;}
.bwwidthpercent20, .bwwidth20 {width:20%;}
.bwwidthpercent21, .bwwidth21 {width:21%;}
.bwwidthpercent22, .bwwidth22 {width:22%;}
.bwwidthpercent23, .bwwidth23 {width:23%;}
.bwwidthpercent24, .bwwidth24 {width:24%;}
.bwwidthpercent25, .bwwidth25 {width:25%;}
.bwwidthpercent26, .bwwidth26 {width:26%;}
.bwwidthpercent27, .bwwidth27 {width:27%;}
.bwwidthpercent28, .bwwidth28 {width:28%;}
.bwwidthpercent29, .bwwidth29 {width:29%;}
.bwwidthpercent30, .bwwidth30 {width:30%;}
.bwwidthpercent31, .bwwidth31 {width:31%;}
.bwwidthpercent32, .bwwidth32 {width:32%;}
.bwwidthpercent33, .bwwidth33 {width:33%;}
.bwwidthpercent34, .bwwidth34 {width:34%;}
.bwwidthpercent35, .bwwidth35 {width:35%;}
.bwwidthpercent36, .bwwidth36 {width:36%;}
.bwwidthpercent37, .bwwidth37 {width:37%;}
.bwwidthpercent38, .bwwidth38 {width:38%;}
.bwwidthpercent39, .bwwidth39 {width:39%;}
.bwwidthpercent40, .bwwidth40 {width:40%;}
.bwwidthpercent41, .bwwidth41 {width:41%;}
.bwwidthpercent42, .bwwidth42 {width:42%;}
.bwwidthpercent43, .bwwidth43 {width:43%;}
.bwwidthpercent44, .bwwidth44 {width:44%;}
.bwwidthpercent45, .bwwidth45 {width:45%;}
.bwwidthpercent46, .bwwidth46 {width:46%;}
.bwwidthpercent47, .bwwidth47 {width:47%;}
.bwwidthpercent48, .bwwidth48 {width:48%;}
.bwwidthpercent49, .bwwidth49 {width:49%;}
.bwwidthpercent50, .bwwidth50 {width:50%;}
.bwwidthpercent51, .bwwidth51 {width:51%;}
.bwwidthpercent52, .bwwidth52 {width:52%;}
.bwwidthpercent53, .bwwidth53 {width:53%;}
.bwwidthpercent54, .bwwidth54 {width:54%;}
.bwwidthpercent55, .bwwidth55 {width:55%;}
.bwwidthpercent56, .bwwidth56 {width:56%;}
.bwwidthpercent57, .bwwidth57 {width:57%;}
.bwwidthpercent58, .bwwidth58 {width:58%;}
.bwwidthpercent59, .bwwidth59 {width:59%;}
.bwwidthpercent60, .bwwidth60 {width:60%;}
.bwwidthpercent61, .bwwidth61 {width:61%;}
.bwwidthpercent62, .bwwidth62 {width:62%;}
.bwwidthpercent63, .bwwidth63 {width:63%;}
.bwwidthpercent64, .bwwidth64 {width:64%;}
.bwwidthpercent65, .bwwidth65 {width:65%;}
.bwwidthpercent66, .bwwidth66 {width:66%;}
.bwwidthpercent67, .bwwidth67 {width:67%;}
.bwwidthpercent68, .bwwidth68 {width:68%;}
.bwwidthpercent69, .bwwidth69 {width:69%;}
.bwwidthpercent70, .bwwidth70 {width:70%;}
.bwwidthpercent71, .bwwidth71 {width:71%;}
.bwwidthpercent72, .bwwidth72 {width:72%;}
.bwwidthpercent73, .bwwidth73 {width:73%;}
.bwwidthpercent74, .bwwidth74 {width:74%;}
.bwwidthpercent75, .bwwidth75 {width:75%;}
.bwwidthpercent76, .bwwidth76 {width:76%;}
.bwwidthpercent77, .bwwidth77 {width:77%;}
.bwwidthpercent78, .bwwidth78 {width:78%;}
.bwwidthpercent79, .bwwidth79 {width:79%;}
.bwwidthpercent80, .bwwidth80 {width:80%;}
.bwwidthpercent81, .bwwidth81 {width:81%;}
.bwwidthpercent82, .bwwidth82 {width:82%;}
.bwwidthpercent83, .bwwidth83 {width:83%;}
.bwwidthpercent84, .bwwidth84 {width:84%;}
.bwwidthpercent85, .bwwidth85 {width:85%;}
.bwwidthpercent86, .bwwidth86 {width:86%;}
.bwwidthpercent87, .bwwidth87 {width:87%;}
.bwwidthpercent88, .bwwidth88 {width:88%;}
.bwwidthpercent89, .bwwidth89 {width:89%;}
.bwwidthpercent90, .bwwidth90 {width:90%;}
.bwwidthpercent91, .bwwidth91 {width:91%;}
.bwwidthpercent92, .bwwidth92 {width:92%;}
.bwwidthpercent93, .bwwidth93 {width:93%;}
.bwwidthpercent94, .bwwidth94 {width:94%;}
.bwwidthpercent95, .bwwidth95 {width:95%;}
.bwwidthpercent96, .bwwidth96 {width:96%;}
.bwwidthpercent97, .bwwidth97 {width:97%;}
.bwwidthpercent98, .bwwidth98 {width:98%;}
.bwwidthpercent99, .bwwidth99 {width:99%;}
.bwwidthpercent100, .bwwidth100 {width:100%;}

/*
 * Business Wire XHTML CSS styles
 * Last modified 2017/09/13 10:37:48
 * Copyright 2007 - 2017, Business Wire.
 */
.bwbodyimg {float: left; padding-left:0px; padding-right: 20px;  padding-top: 0px; padding-bottom: 0px; }
.bwbodyimgcaption{font-size: 85%;}

/*text alignments*/
.bwalignc { text-align: center; list-style-position:inside }
.bwalignl { text-align: left }
.bwalignr { text-align: right; list-style-position:inside }
.bwvertalignt{ vertical-align: top }
.bwvertalignm{ vertical-align: middle }
.bwvertalignb{ vertical-align: bottom }
.bwfigurealign{ text-align: right; vertical-align: bottom }
.bwtxtalign{text-align: left; vertical-align: bottom }
.bwnowrap { white-space: nowrap }

/*borders*/
.bwsinglebottom{ border-bottom: solid black 1.0pt}
.bwdoublebottom{ border-bottom: double black 2.25pt}
.bwsingletop{ border-top: solid black 1.0pt}
.bwdoubletop{ border-top: double black 2.25pt}
.bwtopsingle{ border-top: solid black 1.0pt}
.bwtopdouble{ border-top: double black 2.25pt}
.bwbottomsingle{ border-bottom: solid black 1.0pt}
.bwbottomdouble{ border-bottom: double black 2.25pt}
.bwleftsingle{ border-left: solid black 1.0pt}
.bwleftdouble{ border-left: double black 2.25pt}
.bwrightsingle{ border-right: solid black 1.0pt}
.bwrightdouble{ border-right: double black 2.25pt}
.bwbordersingle{ border: solid black 1.0pt}

/*table cell paddings*/
/*table cell padding left*/
.bwpadl0 { padding-left: 0.0px }
.bwpadl1 { padding-left: 5.0px }
.bwpadl2 { padding-left: 10.0px }
.bwpadl3 { padding-left: 15.0px }
.bwpadl4 { padding-left: 20.0px }
.bwpadl5 { padding-left: 25.0px }
.bwpadl6 { padding-left: 30.0px }
.bwpadl7 { padding-left: 35.0px }
.bwpadl8 { padding-left: 40.0px }
.bwpadl9 { padding-left: 45.0px }
.bwpadl10 { padding-left: 50.0px }
.bwpadl11 { padding-left: 55.0px }
.bwpadl12 { padding-left: 60.0px }
.bwpadl13 { padding-left: 65.0px }
.bwpadl14 { padding-left: 70.0px }
.bwpadl15 { padding-left: 75.0px }
.bwpadl16 { padding-left: 80.0px }
.bwpadl17 { padding-left: 85.0px }
.bwpadl18 { padding-left: 90.0px }
.bwpadl19 { padding-left: 95.0px }
.bwpadl20 { padding-left: 100.0px }

/*table cell padding Right*/
.bwpadr0 { padding-right: 0.0px }
.bwpadr1 { padding-right: 5.0px }
.bwpadr2 { padding-right: 10.0px }
.bwpadr3 { padding-right: 15.0px }
.bwpadr4 { padding-right: 20.0px }
.bwpadr5 { padding-right: 25.0px }
.bwpadr6 { padding-right: 30.0px }
.bwpadr7 { padding-right: 35.0px }
.bwpadr8 { padding-right: 40.0px }
.bwpadr9 { padding-right: 45.0px }
.bwpadr10 { padding-right: 50.0px }

/*table cell padding Top*/
.bwpadt1 { padding-top: 10.0px }
.bwpadt2 { padding-top: 20.0px }
.bwpadt3 { padding-top: 30.0px }
.bwpadt4 { padding-top: 40.0px }
.bwpadt5 { padding-top: 50.0px }
.bwpadt6 { padding-top: 60.0px }
.bwpadt7 { padding-top: 70.0px }
.bwpadt8 { padding-top: 80.0px }
.bwpadt9 { padding-top: 90.0px }
.bwpadt10 { padding-top: 100.0px }
.bwpadt11 { padding-top: 110.0px }
.bwpadt12 { padding-top: 120.0px }
.bwpadt13 { padding-top: 130.0px }
.bwpadt14 { padding-top: 140.0px }
.bwpadt15 { padding-top: 150.0px }
.bwpadt16 { padding-top: 160.0px }
.bwpadt17 { padding-top: 170.0px }
.bwpadt18 { padding-top: 180.0px }
.bwpadt19 { padding-top: 190.0px }
.bwpadt20 { padding-top: 200.0px }

/*table cell padding Bottom*/
.bwpadb1 { padding-bottom: 2.0px}
.bwpadb2 { padding-bottom: 3.0px}
.bwpadb3 { padding-bottom: 4.0px}

/*underline style*/
.bwuline{ text-decoration: underline }
.bwdbluline{ text-decoration: underline; border-bottom: 1px solid black}

/*color style*/
.bwred{ color: red }
.bwblack{ color: black }
.bwrowaltcolor0 {background-color: #CCEEFF}
.bwrowaltcolor1 {background-color: #D3D3D3}

/*margin left*/
.bwmarginl1 { margin-left: 30.0px }
.bwmarginl2 { margin-left: 60.0px }
.bwmarginl3 { margin-left: 90.0px }
.bwmarginl4 { margin-left: 120.0px }
.bwmarginl5 { margin-left: 150.0px }
.bwmarginl6 { margin-left: 180.0px }
.bwmarginl7 { margin-left: 210.0px }
.bwmarginl8 { margin-left: 240.0px }
.bwmarginl9 { margin-left: 270.0px }
.bwmarginl10 { margin-left: 300.0px }

/*text indent*/
.bwhangindent { text-indent: -30.0px }

/*paragraph indent*/
.bwpindent { text-indent: 30.0px }

/*list styles*/
.bwlistnone, ul.bwlistnone {list-style-image: none; list-style-type: none }
.bwlistdisc, ul.bwlistdisc { list-style-type: disc }
.bwlistsquare, ul.bwlistsquare { list-style-type: square }
.bwlistcircle, ul.bwlistcircle { list-style-type: circle }
.bwlistdecimal, ul.bwlistdecimal { list-style-type: decimal }
.bwlistlowalpha, ul.bwlistlowalpha { list-style-type: lower-alpha }
.bwlistupalpha, ul.bwlistupalpha { list-style-type: upper-alpha }
.bwlistlowroman, ul.bwlistlowroman { list-style-type: lower-roman }
.bwlistuproman, ul.bwlistuproman { list-style-type: upper-roman }

/*list item spacing*/
.bwlistitemmargb { margin-bottom: 10.0px}
/*paragraph margin inside table cells*/
.bwcellpmargin { margin-bottom: 0px; margin-top: 0px}
/*table bottom margin*/
.bwtablemarginb { margin-bottom: 10.0px }

/*horizontal block alignment*/
.bwblockalignc{ margin-left: auto; margin-right: auto }
.bwblockalignl{ margin-left: 0px; margin-right: auto }
.bwblockalignr{ margin-left: auto; margin-right: 0px }

/*width*/
.bwwidth1 { width: 1% }
.bwwidth2 { width: 2% }
.bwwidth3 { width: 3% }
.bwwidth4 { width: 4% }
.bwwidth5 { width: 5% }
.bwwidth6 { width: 6% }
.bwwidth7 { width: 7% }
.bwwidth8 { width: 8% }
.bwwidth9 { width: 9% }
.bwwidth10 { width: 10% }
.bwwidth11 { width: 11% }
.bwwidth12 { width: 12% }
.bwwidth13 { width: 13% }
.bwwidth14 { width: 14% }
.bwwidth15 { width: 15% }
.bwwidth16 { width: 16% }
.bwwidth17 { width: 17% }
.bwwidth18 { width: 18% }
.bwwidth19 { width: 19% }
.bwwidth20 { width: 20% }
.bwwidth21 { width: 21% }
.bwwidth22 { width: 22% }
.bwwidth23 { width: 23% }
.bwwidth24 { width: 24% }
.bwwidth25 { width: 25% }
.bwwidth26 { width: 26% }
.bwwidth27 { width: 27% }
.bwwidth28 { width: 28% }
.bwwidth29 { width: 29% }
.bwwidth30 { width: 30% }
.bwwidth31 { width: 31% }
.bwwidth32 { width: 32% }
.bwwidth33 { width: 33% }
.bwwidth34 { width: 34% }
.bwwidth35 { width: 35% }
.bwwidth36 { width: 36% }
.bwwidth37 { width: 37% }
.bwwidth38 { width: 38% }
.bwwidth39 { width: 39% }
.bwwidth40 { width: 40% }
.bwwidth41 { width: 41% }
.bwwidth42 { width: 42% }
.bwwidth43 { width: 43% }
.bwwidth44 { width: 44% }
.bwwidth45 { width: 45% }
.bwwidth46 { width: 46% }
.bwwidth47 { width: 47% }
.bwwidth48 { width: 48% }
.bwwidth49 { width: 49% }
.bwwidth50 { width: 50% }
.bwwidth51 { width: 51% }
.bwwidth52 { width: 52% }
.bwwidth53 { width: 53% }
.bwwidth54 { width: 54% }
.bwwidth55 { width: 55% }
.bwwidth56 { width: 56% }
.bwwidth57 { width: 57% }
.bwwidth58 { width: 58% }
.bwwidth59 { width: 59% }
.bwwidth60 { width: 60% }
.bwwidth61 { width: 61% }
.bwwidth62 { width: 62% }
.bwwidth63 { width: 63% }
.bwwidth64 { width: 64% }
.bwwidth65 { width: 65% }
.bwwidth66 { width: 66% }
.bwwidth67 { width: 67% }
.bwwidth68 { width: 68% }
.bwwidth69 { width: 69% }
.bwwidth70 { width: 70% }
.bwwidth71 { width: 71% }
.bwwidth72 { width: 72% }
.bwwidth73 { width: 73% }
.bwwidth74 { width: 74% }
.bwwidth75 { width: 75% }
.bwwidth76 { width: 76% }
.bwwidth77 { width: 77% }
.bwwidth78 { width: 78% }
.bwwidth79 { width: 79% }
.bwwidth80 { width: 80% }
.bwwidth81 { width: 81% }
.bwwidth82 { width: 82% }
.bwwidth83 { width: 83% }
.bwwidth84 { width: 84% }
.bwwidth85 { width: 85% }
.bwwidth86 { width: 86% }
.bwwidth87 { width: 87% }
.bwwidth88 { width: 88% }
.bwwidth89 { width: 89% }
.bwwidth90 { width: 90% }
.bwwidth91 { width: 91% }
.bwwidth92 { width: 92% }
.bwwidth93 { width: 93% }
.bwwidth94 { width: 94% }
.bwwidth95 { width: 95% }
.bwwidth96 { width: 96% }
.bwwidth97 { width: 97% }
.bwwidth98 { width: 98% }
.bwwidth99 { width: 99% }
.bwwidth100 { width: 100% }