<sly data-sly-test="${wcmmode.edit}">${'Footer Container Component' @i18n}</sly>

<div class="socials">
<sly data-sly-resource="${'socialShare' @ resourceType='/apps/mattel/ecomm/ag/components/content/socialShare'}"></sly>
</div>
<div class="footer-links">
<sly data-sly-resource="${'footerLinks' @ resourceType='/apps/mattel/ecomm/ag/components/content/footerLinks'}"></sly>
</div>
<div class="footer-form">
<sly data-sly-resource="${'retailQuestionnaire' @ resourceType='/apps/mattel/ecomm/ag/components/content/retailQuestionnaire'}"></sly>
</div>