<div class="gem-email-sub-container" style="background-color:${properties.backgroundColor @context='html'};">
    <div class="gem-email">
        <div class="thank-msg" style="display:none;">
            <h2>${properties.thankyouTitle}</h2>
            <p>${properties.thankyouSubTitle}</p>
        </div>
        <div class="form-component crmContainer">
            <div class="loading-wrapper">
                <span class="loader-content">Loading...</span>
            </div>
            <h2>${properties.formHeader}</h2>
            <div class="popover_window" style="display:none;" id="email_popup">
                <!---popuptext - start -->

                ${properties.emailBubblePopUpText @context='html'}
                <!--popuptext - end -->

                <div class="popover-close">
                </div>
            </div>
            <form id="crm-form">
                <div class="col-md-3 col-sm-4 col-xs-12 form-group no-padding">
                    <label class="input_label" for="emailId">${properties.emailIdLabel}</label>
                    <input class="input_field email_field" type="email" id="emailId" autocomplete="off" required maxlength="320" placeholder="${properties.emailIdFillText}" aria-describedby="email_popup">
                    <div class="help-block form-error" id="emailValidationError">${properties.emailIdValidationMsg}</div>
                    <div class="help-block api-error"></div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12 form-group no-padding">
                    <div class="sub-fieldset">
                        <label for="child_dob" class="input_label">${properties.childsDobLabel}</label>
                        <div class="input-group child-data child-dob date date-picker" data-date-format="dd/mm/yyyy">
                            <input id="child_dob" class="input_field form-control" type="text" name="month1" required placeholder="DD/MM/YYYY">
                            <div class="input-group-addon">
                                <em class="fa fa-calendar" aria-hidden="true"></em>
                            </div>
                        </div>
                        <div class="help-block form-error" id="childDobValidationError">${properties.dobValidationMsg}</div>
                        <div class="help-block api-error"></div>
                    </div>
                </div>
                <div class="form-group checkbox terms">
                    <label>
                        <sly data-sly-use.customerInfo="com.mattel.global.core.model.CustomerInfoModel">
                            <input type="checkbox" required value="" id="agreeTerms" data-subscription-id="${properties.primarySubscriptionId},${customerInfo.secondarySubscriptionId}">
                        </sly>
                        <span class="cr"></span>
                        <span class="terms" data-href-target="opens a new window">
                                 <p>${properties.checkBoxText @context='html'}</p>
                              </span>
                    </label>
                </div>
                <div class="form-row form-action-btn" data-content="Please try again.">
                    <div class="form-submit">
                        <button class="btn theme-btn btn-arrow-right" id="crm-form-submit">${properties.signUpButtonText}</button>
                    </div>
                </div>
            </form>
           
            <input type="hidden" value="${properties.sourceId}" id="formSourceId">
            <input type="hidden" value="${properties.countryCode}" id="formCountryCode">
            <input type="hidden" value="${properties.locale}" id="formLocale">
            <input type="hidden" value="${currentPage.getLanguage.getLanguage}" id="pageLocale">
            <sly data-sly-use.apiBaseUrlObj="com.mattel.global.core.model.CustomerInfoModel">
                <input type="hidden" id="formApiBaseUrl" class="cm-api-config" data-api-url="${apiBaseUrlObj.APIBaseURL}" data-api-key="${apiBaseUrlObj.CrmformApiKey}"/>
            </sly>
        </div>
    </div>
    <div class="oops-popup">
        <div class="modal" id="errorpopup" tabindex="-1" role="dialog" aria-labelledby="selectLocationModalLabel1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" value="x">
                        </button>
                    </div>
                    <div class="modal-body" id="selectLocationModalLabel1">
                        <h2>${properties.errorTitle}</h2>
                        <p>${properties.errorSubTitle}</p>
                        <a href="#" class="btn btm-default yes-btn retailer-yes-btn">${properties.errorCloseButton}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"></sly>
<sly data-sly-call="${clientlib.js @ categories='crm.gemEmailSubscription'}"></sly>