
<div class="row">
	<div class="form-wrapper col-md-5">
		<sly data-sly-test=${properties.fPasswordTitle}>
		<h1>${properties.fPasswordTitle}</h1>
		</sly>
		<sly data-sly-test="${properties.frstLineDescription}"> <span>${properties.frstLineDescription}</span>
		</sly>
		<sly data-sly-test="${properties.scndLineDescription}">
		<p>${properties.scndLineDescription}</p>
		</sly>
		<form class="forgot-password-form" data-success="${properties.successPath @extension='html'}">
			<div class="input-field required">
				<input class="form-input long-input" type="email" name="emailId"
					value="" id="forgot-password-field" maxlength="" autocomplete="on"
					aria-required="true"  aria-describedby="errormap" />
				<sly data-sly-test=${properties.emailLabel}> <label
					class="placeholder-label" for="forgot-password-field">${properties.emailLabel}</label>
				</sly>
				<div class="help-block form-message" id="errormap"></div>
			</div>
			<input class="theme-btn forgot-password-submit" type="submit"
				value="${properties.sendValidationButtonLabel}">
		</form>

	</div>
</div>



<sly
	data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
<sly data-sly-call="${clientlib.js @ categories='ecomm.forgotPassword'}" />
</sly>
