$accordion:(main: ( //bgndColor: #26282C,
    //pad: em(55) em(40),
    pad: 0,
    tabPad: null,
    mobPad: 0,
    titleBlockPad: 0 em(15) em(15) em(15),
    sectionBlockPad: -2px 200px 0 200px,
    mobMargin: 0),
  withbg: ( //bgndImg: $slateGrey url($accordion-bg) right center no-repeat,
    isAccordionPDP: true,
    fntFamily: 'Noto Sans Bold',
    fntSize: em(22),
    lineHeight: 30px,
    textTransform: uppercase,
  ),
  withbginnerDiv: (padding: 0),
  accordion: (padding: 0 20px,
    tabpadding: 0),
  title:(isAccordionPDP: true,
    margin: 0px,
    pad: 12px 0 12px 0,
    fntWeight: 500,
    borderBottom: null,
    borderTop: null,
    txtColor: #000,
    fntSize: 24px,
    mobFntSize: 18px,
    bgColor: #F8F6F5,
    mrgnBottom: 0,
    mobmrgnBottom: 4px),
  accordionLastBorder: (isAccordionJurrasic: false,
    isAccordionPDP: true,
    borderBottom: none,
    padding: 0,
    margin: 0 em(15),
    accordianBottom: #545454 1px solid,
    accordianBottomBorder:2px solid #e5e0dc,
  ),
  imgTextComp: (padd: 0),

  view: (fntSize: em(1),
    lineHeight: 200%,
    fntWeight: normal,
    txtAlign: left),
  accContent:(display: none,
    pad: 0 0 0,
    mgrTop: 8px,
  ),
  acccontentDefault:(display: block),
  accContentHeading: (margin: 0,
  ),
  accContentP: (fntWeight: 700,
    txtColor: $black,
    fntSize: em(16),
    fntFamily: 'Noto Sans Bold',
    pad: 0 0 em(10),
    margin: 0),
  accContentH: (fntSize: 18px,
    lineHeight: 29px,
    fontWeight: 500,
    padding: 8px 0 7px 0,
    mobPadding: 0 0 0 12px,
    mobFntSize: 16px,
    txtColor: $black,
    margin: 0px 0px 15px 0px),
  accContentVideoTitle: (margin: 0),
  accContentShowMore: (padding: em(12) em(20),
    margin: 0,
    showMoreMargin: 20px 0 0 0,
    showBorder: 1px solid #bfbfbf,
    showMorePading: 30px),
  accContentOlLi: (fntWeight: 400,
    txtColor: #000,
    fntSize: 18px,
    lineHeight: 36px,
    pad: 0,
    margin: 0),
  accArrow:(marginLeft:0,
    display:inline-block,
    pos: absolute,
    posRight: em(10),
    iconColor: $fp-blue,
    cursor: pointer,
    brdr: none,
    brdrRadius: 100%,
    iconWidth: 34px,
    iconHeight: 34px),
  downloadImgText: (borderBottom: 1px solid #BFBFBF,
    padding: 0 20px 30px 20px,
    mobborderBottom: none,
    mobPad: 0 20px 0 20px),
  videoComp: (borderBottom: 1px solid #BFBFBF,
    marginBottom: 10px),
  videoCompLi: (paddBottom: 10px !important),
  videoTitle: (
    fontSize: 16px,
    fontWeight: 700,
    marginBottom: 20px),
  videoImg: (opacity: 1 !important,
    imgBorder: 5px solid transparent,
    hoverimgBorder: 5px solid #147BD1,
    mobimgBorder: 3px solid transparent,
    mobhoverimgBorder: 3px solid $black,
    imgOutline: 5px solid #147BD1,
    imgOutlineOffset: -5px,
  ),
  videoCompPlaylist: (paddBottom: 20px !important),
);