$learnMore: $maaxMedium;
$articleComp: (
  articlecomponent_container: (
    padding: (
      lg: null,
      md: 0,
      sm: 0
    ),
    margin: (
      lg: 0 15px 40px 15px,
      md: 0 9px 40px 9px,
      sm: 0 20px 30px 20px
    )
  ),
  most_recent_article: (
    fontSize: 22px,
    line_height: 26px,
    fontSizemd: 32px,
    line_heightmd: 36px,
    fontSizelg: 32px,
    line_heightlg: 36px,
    textalign: center,
    margin: (
      lg: 0 0 40px 0,
      md: 0 0 40px 0,
      sm: 0 0 30px 0
    )
  ),
  articlecomponent_info: (
    margin: (
      lg: 0,
      md: 0,
      sm: 0
    ),
    display: flex,
    flex_wrap: wrap,
    bfcontent: none
  ),
  articlecomponent_entity: (
    padding: (
      lg: 0 15px 0 15px,
      md: 0 13px 0 13px,
      sm: 0 0 0 0
    ),
    width: 100%,
    float: left
  ),
  articlecomponent_entity_column_two: (
    width: 50%
  ),
  articlecomponent_entity_column_three: (
    width: 33.33%
  ),
  articlecomponent_entity_column_four: (
    width: 25%
  ),
  articlecomponent_entity_column_five: (
    width: 20%
  ),
  articlecomponent_entity_column_six: (
    width: 16.66%
  ),
  article_spacing: (
    padding: (
      lg: 0 0 41px 0,
      md: 0 0 38px 0,
      sm: 0 0 36px 0
    ),
    margin: (
      lg: 0 0 40px 0,
      md: 0 0 40px 0,
      sm: 0 0 30px 0
    ),
    display: flex,
    flex_direction: column,
    height: 100%,
    justify_content: flex-start,
    position: relative
  ),
  img_wrapper: (
    display: block,
    height: em(280)
  ),
  default_img: (
    height: 100%
  ),
  articlecomponent_image: (
    width: 100%,
  ),
  articlecomponent_content: (
    height: auto,
    color: $black
  ),
  articlecomponent_headline: (
    margin: (
      lg: 10px 0 0 0,
      md: 10px 0 0 0,
      sm: 8px 0 0 0
    ),
    font_size: 18px,
    font_size_tablet: 20px,
    font_size_desktop: 24px,
    line_height: 26px,
    line_height_tablet: 28px,
    line_height_desktop: 28px,
    height: auto,
    max_height: calc(26px * 2),
    max_height_tablet: calc(28px * 2),
    max_height_desktop: calc(28px * 2),
    webkit_line_clamp: 2,
    webkit_line_clamp_tablet: 2,
    webkit_line_clamp_desktop: 2,
    display: -webkit-box,
    webkit_box_orient: vertical,
    overflow: hidden,
    font_weight: $fontMedium
  ),
  articlecomponent_category: (
    margin: (
      lg: 24px 0 0 0,
      md: 24px 0 0 0,
      sm: 20px 0 0 0
    ),
    font_size: 14px,
    font_size_tablet: 16px,
    font_size_desktop: 16px,
    line_height: 26px,
    line_height_tablet: 28px,
    line_height_desktop: 28px,
    height: auto,
    max_height: calc(28px * 1),
    max_height_tablet: calc(30px * 1),
    max_height_desktop: calc(30px * 1),
    webkit_line_clamp: 1,
    webkit_line_clamp_tablet: 1,
    webkit_line_clamp_desktop: 1,
    display: -webkit-box,
    webkit_box_orient: vertical,
    overflow: hidden,
    text_transform: uppercase,
    hover_color: #e51c06
  ),
  articlecomponent_category_p: (
    padding: (
      lg: 0 0 0 0,
      md: 0 0 0 0,
      sm: 0 0 0 0
    ),
    width: fit-content,
    position: relative
  ),
  articlecomponent_category_hover: (
    content: "",
    position: absolute,
    bottom: 4px,
    left: 0,
    width: 100%,
    height: 2px,
    background: #e51c06
  ),
  articlecomponent_description: (
    padding: (
      lg: null,
      md: 0,
      sm: 0
    ),
    margin: (
      lg: 10px 0 0 0,
      md: 10px 0 0 0,
      sm: 8px 0 0 0
    ),
    font_size: 16px,
    font_size_tablet: 18px,
    font_size_desktop: 18px,
    line_height: 26px,
    line_height_tablet: 28px,
    line_height_desktop: 28px,
    height: auto,
    max_height: calc(26px * 6),
    max_height_tablet: calc(28px * 5),
    max_height_desktop: calc(28px * 4),
    webkit_line_clamp: 6,
    webkit_line_clamp_tablet: 5,
    webkit_line_clamp_desktop: 4,
    display: -webkit-box,
    webkit_box_orient: vertical,
    overflow: hidden
  ),
  articlecomponent_cta: (
    padding: (
      lg: null,
      md: em(0) em(0) em(0) em(0),
      sm: 0
    ),
    margin: (
      lg: 13px 0 0 0,
      md: 13px 0 0 0,
      sm: 13px 0 0 0
    ),
    display: block,
    height: 28px,
    width: 100%,
    position: absolute,
    bottom: 30px,
    desktop_bottom: 40px,
    tablet_bottom: 40px
  ),
  learnMore_label: (
    font_size: 16px,
    font_size_tablet: 16px,
    font_size_desktop: 16px,
    font_weight: $fontSemiBold,
    color: #000,
    position: relative
  ),
  link_tex: (
    position: relative,
    width: fit-content,
    fontWeight: inherit
  ),
  learnMore_before: (
    padding: (
      lg: null,
      md: 0,
      sm: 0
    ),
    margin: (
      lg: -6px 0 0 0,
      md: -6px 0 0 0,
      sm: -6px 0 0 0
    ),
    content: "",
    float: right,
    cursor: pointer,
    position: absolute,
    top_pos: 50%,
    right_pos: -18px,
    background: url($spriteImgPath),
    backgroundPosition: -202px -79px,
    background_Position_Hover: -220px -79px,
    height: 14px,
    width: 14px
  ),
  link_text_hover: (
    color: #e51c06
  ),
  learnMore_after: (
    content: "",
    position: absolute,
    width: 100%,
    left: 0,
    bottom: 0,
    height: 3px,
    background: #e51c06
  ),
  loader_outer: (
    display: none,
    position: fixed,
    p_top: 0,
    p_bottom: 0,
    p_left: 0,
    p_right: 0,
    z_index: 99999
  ),
  loader: (
    border: 8px solid #f3f3f3,
    border_radius: 50%,
    border_top: 8px solid #3498db,
    width: em(70),
    height: em(70),
    webkit_animation: spin 2s linear infinite,
    animation: spin 2s linear infinite,
    background: none,
    d_none: none
  ),
  loader_spin: (
    zero_deg: rotate(0deg),
    full_deg: rotate(360deg)
  )
);
