$breadCrumb:(breadCrumbProp:(listPadding:22px 40px,
        listMargin: 0,
        fontSize:14px,
        fontColor: #000000,
        contentSymbol: "/\00a0",
        SymbolPosition: 2px,
        elementPosition: relative,
        contentSymbolSize: 15px,
        contentPadding:5px,
        textLine: none,
        hoverTextLine:none,
        borderNone:none,
        hoverBorder:3px solid #F93822,
        defaultBorder:1px solid #000000,
        fontWeight: normal,
        hoverColor:#F93822,
        breadCrumbBG:transparent,
        lineHeightLI:22px,
        listLIHeight:23px,
        // Mobile view
        listPaddingMob:14px 10px 14px 40px,
        mobileTop:14px,
        disPlay: block,
        whiteSpaceDiv: nowrap,
        overFlow: inherit,
        activeColor:#484848,
        overflowSrl: touch,
        hoverLine:underline,
        textDec:none,
        //Center breadcrumb
        centerAlign:center,
    ),
    mobileBreadCrumb: (textAlign: left,
        padding: 10px 10px 18px 10px,
        color: #000,
        hoverColor: #E51C06,
        fontSize: 14px,
        lineHeight: 22px,
        textDecoration: underline,
        fontWeight: normal,
        content:"\f053",
        iconFontSize: 14px,
        marginRight: 5px,
        position: relative,
        marginTop: -2px),
    breadCrumbCenter: (padding: 10px 40px 0px 40px,
        mobPadding: 0px 40px 10px 40px,
        mobMarginTop: 10px,
    ),
);