//CTA Button Container Override Starts
$btn-font-size:16px;
$btn-padding-x:58px;
$btn-padding-y:18px;
$btn-line-height:1.25;
$btn-font-weight:normal;
$cursor-disabled:default;
$btn-border-width: 2px;
$primary-btn-hoverborder-width:3px;
$hover-btn-border-width: 3px;
$primarytext-btn-width: 2px;
$secondarytext-btn-width: 1px;
$text-btn-width: 2px;
$arrow-btn-width:2px;
$btn-border-radius: 0px;

// Button margin
$btn-margin: 0px 30px 0px 0px;
$btn-margin-xl: 0px 30px 0px 0px;
$btn-margin-lg: 0px 30px 0px 0px;
$btn-margin-md: 0px 30px 0px 0px;
$btn-margin-sm: 0px 20px 0px 0px;
$btn-margin-xs: 0px 20px 20px 0px;

// Button padding
$btn-padding-xl: 15px 50px 15px 50px;
$btn-padding-lg: 15px 50px 15px 50px;
$btn-padding-md: 11px 30px 11px 30px;
$btn-padding-sm: 6px 20px 6px 20px;
$btn-padding-xs: 6px 20px 6px 20px;

//Button default bg/color variable
$default-cta:#ccc;
$default-cta-txt:#000000;
$light-btn-default:#ccc;
$light-btn-defaultTxt:#000000;
$dark-btn-default:#ccc;
$dark-btn-defaultTxt:#000000;

//CTA Primary button
$primary-txt-color:#000000;
$primary-txtHover:#E51C06;
$primary-btnBorder:#E51C06;
$primary-btnHoverborder:#E51C06;

$dark-primary-txt-color:#ffffff;
$dark-primary-txtHover:#E51C06;
$dark-primary-btnBorder:#E51C06;
$dark-primary-btnHoverborder:#E51C06;

$darkAlt-primary-txt-color:#ffffff;
$darkAlt-primary-txtHover:#E51C06;
$darkAlt-primary-btnBorder:#E51C06;
$darkAlt-primary-btnHoverborder:#ffffff;

$light-primary-txt-color:#000000;
$light-primary-txtHover:#E51C06;
$light-primary-btnBorder:#F93822;
$light-primary-btnHoverborder:#E51C06;

$lightAlt-primary-txt-color:#000000;
$lightAlt-primary-txtHover:#E51C06;
$lightAlt-primary-btnBorder:#E51C06;
$lightAlt-primary-btnBgHover:#E51C06;
$lightAlt-primary-btnHoverborder:#E51C06;

//CTA Secondary button
$secondary-txt-color:#000000;
$secondary-txtHover:#E51C06;
$secondary-btnBorder:#000000;
$secondary-btnHoverborder:#E51C06;

$dark-secondary-txt-color:#ffffff;
$dark-secondary-txtHover:#E51C06;
$dark-secondary-btnBorder:#ffffff;
$dark-secondary-btnHoverborder:#E51C06;

$darkAlt-secondary-txt-color:#ffffff;
$darkAlt-secondary-txtHover:#ffffff;
$darkAlt-secondary-btnBorder:#ffffff;
$darkAlt-secondary-btnHoverborder:#ffffff;

$light-secondary-txt-color:#000000;
$light-secondary-txtHover:#E51C06;
$light-secondary-btnBorder:#000000;
$light-secondary-btnHoverborder:#E51C06;

$lightAlt-secondary-txt-color:#000000;
$lightAlt-secondary-txtHover:#E51C06;
$lightAlt-secondary-btnBorder:#000000;
$lightAlt-secondary-btnHoverborder:#E51C06;

//CTA Outline Button
$outline-btn-color:#ffffff;
$outline-btnHover:#ffffff;
$outline-btnBg:#1377C9;
$outline-btnBorder:#ffffff;
$outline-btnBgHover:#E51C06;
$outline-btnHoverborder:#ffffff;

$dark-outline-btn-color:#1377C9;
$dark-outline-btnHover:#ffffff;
$dark-outline-btnBg:#ffffff;
$dark-outline-btnBorder:#1377C9;
$dark-outline-btnBgHover:#E51C06;
$dark-outline-btnHoverborder:#E51C06;

$darkAlt-outline-btn-color:#1377C9;
$darkAlt-outline-btnHover:#ffffff;
$darkAlt-outline-btnBg:#ffffff;
$darkAlt-outline-btnBorder:#E51C06;
$darkAlt-outline-btnBgHover:#E51C06;
$darkAlt-outline-btnHoverborder:#E51C06;

$light-outline-btn-color:#ffffff;
$light-outline-btnHover:#ffffff;
$light-outline-btnBg:#1377C9;
$light-outline-btnBorder:#ffffff;
$light-outline-btnBgHover:#E51C06;
$light-outline-btnHoverborder:#ffffff;

$lightAlt-outline-btn-color:#ffffff;
$lightAlt-outline-btnHover:#ffffff;
$lightAlt-outline-btnBg:#1377C9;
$lightAlt-outline-btnBorder:#ffffff;
$lightAlt-outline-btnBgHover:#E51C06;
$lightAlt-outline-btnHoverborder:#ffffff;

//CTA Solid button
$solid-btn-color:#ffffff;
$solid-btnHover:#ffffff;
$solid-btnBg:#1377C9;
$solid-btnBorder:transparent;
$solid-btnBgHover:#E51C06;
$solid-btnHoverborder:transparent;

$dark-solid-btn-color:#1377C9;
$dark-solid-btnHover:#ffffff;
$dark-solid-btnBg:#ffffff;
$dark-solid-btnBorder:transparent;
$dark-solid-btnBgHover:#E51C06;
$dark-solid-btnHoverborder:transparent;

$darkAlt-solid-btn-color:#1377C9;
$darkAlt-solid-btnHover:#ffffff;
$darkAlt-solid-btnBg:#ffffff;
$darkAlt-solid-btnBorder:transparent;
$darkAlt-solid-btnBgHover:#E51C06;
$darkAlt-solid-btnHoverborder:transparent;

$light-solid-btn-color:#ffffff;
$light-solid-btnHover:#ffffff;
$light-solid-btnBg:#1377C9;
$light-solid-btnBorder:transparent;
$light-solid-btnBgHover:#E51C06;
$light-solid-btnHoverborder:transparent;

$lightAlt-solid-btn-color:#ffffff;
$lightAlt-solid-btnHover:#ffffff;
$lightAlt-solid-btnBg:#1377C9;
$lightAlt-solid-btnBorder:transparent;
$lightAlt-solid-btnBgHover:#E51C06;
$lightAlt-solid-btnHoverborder:transparent;
// CTA text-arrow icon position
$arrow-text-iconWidth:17px;
$arrow-text-iconHeight:20px;
$arrow-text-iconPos: -330px -50px;
$arrow-text-iconRight:-15px;
$arrow-text-iconTop: 2px;
$arrow-text-hoverPos:-348px -50px;

$arrow-txt-color:#000000;
$arrow-txtHover:#E51C06;
$arrow-btnBorder:transparent;
$arrow-btnHoverborder:transparent;

$dark-arrow-txt-color:#ffffff;
$dark-arrow-txtHover:#E51C06;
$dark-arrow-btnBorder:transparent;
$dark-arrow-btnHoverborder:transparent;

$darkAlt-arrow-txt-color:#ffffff;
$darkAlt-arrow-txtHover:#ffffff;
$darkAlt-arrow-btnBorder:transparent;
$darkAlt-arrow-btnHoverborder:transparent;

$light-arrow-txt-color:#000000;
$light-arrow-txtHover:#E51C06;
$light-arrow-btnBorder:transparent;
$light-arrow-btnHoverborder:transparent;

$lightAlt-arrow-txt-color:#000000;
$lightAlt-arrow-txtHover:#000000;
$lightAlt-arrow-btnBorder:transparent;
$lightAlt-arrow-btnHoverborder:transparent;
//CTA Button Container Override Ends

// Video Variable Override Starts
$videoLabelBg: rgba(248, 246, 245, 0.7);
$webkitScrollBg: #ebebeb;
$webkitScrollColor: #0078c8;
$activeGalleryImg: #0078c8;
$playText:rgba(0, 0, 0, 0.7);
$videoccordionBg: #147bd1;
$videoAccordionColor: #FFFFFF;
// Video Variable Override End
