$emailpreferences:(main: (marginLeft: 0,
    marginRight: 0),
  imageBlock:(imageBlockPadding: 0,
    display: block,
    mobDisplay:none,
    width: 100%),

  contentBlock:(paddingRight: 0,
    paddingLeft: 0),

  titleBlock:(titleBlockPadding: 35px 30px 20px 30px,
    marginTop:0px,
    tabTitlePadding: 20px 19px 14px,
    tabMarginTop:0px),

  heading:(headingColor: #000000,
    fontSize: 20px,
    fontWeight: 900,
    lineHeight: 24px,
    textAlign: left,
    marginBottom: 23px,
    tabmarginBottom: 19px,
    tabFontSize: 36px,
	mobFontSize: 22px,
    tabLineHeight: 36px),

  emailAddrLabel: (marginBottom: 20px,
	mobMarginBottom: 10px,
    labelPadding: 0,
    labelDisplay: block,
    textAlign: left,
  ),

  emailAddrTitle: (titleColor: #000000,
    fontSize: 18px,
	mobFontSize: 16px,
    fontWeight: 500,
    lineHeight: 26px,
	marginBottomMob: 2px,
  ),

  emailAddrDesc: (descColor: #484848,
    fontSize: 18px,
    lineHeight: 26px,
    mobTabFontSize: 16px,
    mobTabFontColor: #000000,
	displayMob: block,
	lineHeightMob: 26px,

  ),

  description: (descColor: #000000,
    fontSize: 18px,
	mobFontSize: 16px,
    lineHeight: 26px,
    descMargin: 0),

  subscriptionUl: (marginBottom: 0,
    paddingLeft: 30px,
    paddingRight: em(33),
    mobPaddingLeft: 19px,
    mobPaddingRight: 21px,
    mobPaddingbot: 0,
  ),

  subscriptionLi: (liPadding: 20px 0 0 0,
	mobliPadding: 13px 0 0 0,
    borderTop: 2px solid #E5E0DC,
    lastLiBorderBtm: 0,
    margin: 0 0 20px 0,
    PfontFamily: 16px,
	MobPfontSize: 14px,
	MobLineheight: 22px,
	MobMarbottom: 13px,
  ),

  changeEmailPref: (display: none,
    marginBottom: 4px,
  ),

  changeEmailPrefLi: (
	paddingLi: 12px 15px,
    mobpaddingLi: 20px 0 10px 0,
    borderBottom: 0,
	borderTop: 0,
	),

  checkbox: (checkboxMargin: 0),

  emailPrefCheckbox: (padding: 0,
    paddingLeft: 32px,
    display: block,
    position: relative,
    checkboxPaddLeft: 35px,
    cursor: pointer,
    fontSize: 22px,
    webkitSelect: none,
    mozSelect: none,
    msSelect: none,
    userSelect: none,
    border: 1px solid #000000,
    bgColor: #FFFFFF,
    lineHeight:22px,
    margin: 0,
    marginTop: 13px,
    marginP: 0,
    fontSizeP: 16px,
  ),

  emailPrefInput: (position: absolute,
    opacity: 0,
    cursor: pointer,
    height: 0,
    width: 0,
    bgColor: #fff,
    display: block),

  emailPrefCheckmark: (position: absolute,
    top: 3px,
    left: 0,
    height: 24px,
    width: 24px,
    border: 1px solid #000,
    bgColor: #FFFFFF,
    content: "",
    afterContent: "\f00d",
    fontFamily:"Font Awesome",
    afterPosition: absolute,
    display: none,
    //afterLeft: 4px,
    //afterTop: 1px,
    color: #000,
    fontSize: 18px,
    lineHeight: 18px,
    textAlign: center,
    bground: url($spriteImgPath) no-repeat -78px -137px,
    afterwidth: 24px,
    afterHeight: 24px,
    afterLeft: 2.5px,
    afterTop: 2.5px,
    fdisplay: flex,
    alignItems: center,
    justifyContent: center,
  ),

  checkboxLabel: (labelColor: #000000,
    fontSize: 18px,
    fontWeight: 500,
    lineHeight: 26px,
    descMargin: 0,
    descColor: #000000,
    descFontSize: 16px,
    descLineHeight: 26px,
    tabMoblabelColor: #000000),

  checkval: (valColor: #000000,
    fontSize: 18px,
	mobFontSize: 16px,
    fontWeight: 500,
    lineHeight: 26px),

  withAccordion: (accordionPadding: 0,
    paddingTop: 15px),

  accordion: (accPadding: 0,
    accMargin: 0,
    arrowWidth: 24px,
    arrowHeight: 24px,
    arrowTop: 8%,
    arrowRight: 0,
    arrowTabTop: 18%,
    arrowMobTop: 12%,
    accContentPadding: 5px 30px 20px,
    descFontWeight: normal,
    descFontSize: em(14),
    borderBottom: 2px solid #E5E0DC,
    descPadding: 0,
    marginTop: 18px,
    linHeight: 1,
  ),

  accordionTitle: (marginBottom: 0,
    titlePadding: 15px 20px 15px 0px,
    borderBottom: 2px solid #E5E0DC,
    borderTop: 0px solid #E5E0DC,
    descColor: #000000,
    fontSize: 16px,
    lineHeight: 26px,
    descMargin: 0,
    descPadding: 0 30px),

  emailPrefRadio: (display: block,
    position: relative,
    paddingLeft: 35px,
	mobPaddingLeft: 28px,
    cursor: pointer,
    fontSize: 22px,
    webkitSelect: none,
    mozSelect: none,
    msSelect: none,
    userSelect: none,
    bgColor: #ffffff,
  ),
  
  mattelBrandsList: (
	paddingLi: 12px 15px,
	mobPaddingList: 11px,
	paddingLiOdd: 30px,
	mobPaddingLiOdd: 0,
	liFloat: left,
	marginBottomLi: 20px,
	mobMarginBottomLi: 10px,
	widthLi: 48%,
	mobWidthLi: 100%,
	bgLi: #F8F6F5,
  ),

  emailPrefRadioInput: (position: absolute,
    opacity: 0,
    cursor: pointer,
    bgColor: #fff,
    display: block),

  emailPrefRadioCheckMark: (position: absolute,
    top: -1px !important,
    left: 0,
    height: 24px,
    width: 24px,
    bgColor: #fff,
    borderRadius: 50%,
    border:1px solid #000,
    afterContent: "",
    afterPosition: absolute,
    afterDisplay: none,
    afterTop: 5px,
    afterLeft: 5px,
    afterWidth: 24px,
    afterHeight: 24px,
    afterBorderRadius: 50%,
    checkBackground: #000,
  ),

  btnPrimary: (
    margin:0 15px 30px 30px,
    tabMargin:0px 0 0px 20px,
    mobMargin:0px 0 0px 20px,
    bgColor: #1377C9,
    fontSize: 16px,
    lineHeight: 19px,
    tabLineHeight: 13px,
    paddingBtn: 17px 49px 18px 50px,
    tabHeight: 46px,
    fontWeight: 500,
	borderBtn: 0,
    outline: 1px solid $black));
