$errorpagecomponent:(main: (bgImage:#EDE939,
    bgSize:(auto, auto),
    topPad: em(0),
    tabPortraitTopPad: 20px,
    mobTopPad: 20px,
    bgRepeat: (no-repeat, repeat-x),
    bgColor:#674b9e,
    bgPos:(right 0 bottom 45px, left 0 bottom -3px),
    /*brdBottom: 2px solid #f2f3f3,
	btmMargin: em(30)*/
  ),
  imgBlock: (pad: 0 em(40) 0 0,
    tabPortraitPad: 0,
    mobPad: 0,
    imgWidth: 100%),
  txtBlock: (pad: em(20) em(40),
    tabPortraitPad: 0 20px 18px,
    mobPad: 0 20px 18px,
  ),
  txtBlockH2: (fntColor:#000000,
    //fntSize: em(32),
    fntSize: 36px,
    margin: 0,
    letterSpacing:1px,
    lineHeight: 36px,
    mobfontSize:22px,
    mobTabLineHeight:24px,
  ),
  txtBlockP: (fisherPricePara: true,
    fntColor:$black,
    marginTop:20px,
    marginBottom:15px,
    fntSize: 18px,
    lineHeight:26px,
    fntSizeMob: 16px,
    fntSizeTab: 16px,
    lineHeightMob: 26px,
    tabMarginBottom: 10px,
    mobMarginBottom: 10px,
    mobMarginTop: 10px,

  ),
  errorCTA: (marginTop: 0px,
    sameasPrimaryBtn: false,
    sameasSecondaryBtn: true,
    isArrowWithBtn: false,
    isEnchantCTABtn: true,
    padding:17.5px 35px,
    display: 0,
    margin: 0,
    btnBg:#fff !important,
    CTAcolor:#147BD1 !important,
    CTAfontsize: 16px,
    CTAletterspacing: 0.57px,
    CTAtexttransform: inherit,
    CTAfontweight: 500,
    CTAtextalign: center,
    CTApadding: 17.5px 35px,
    CTAminwidth: 187px,
    CTApaddingMob:13px 35px,
    CTAminwidthMob: 157px,

  ),
  errorCTAAnchor: (display: 0,
    fntColor: 0),
  fullWidth: (pad: 0,
    topPad: 0));