$featuresVideo:(featuresVideoProp: (HeaderMarTop:30px,
        videoHeaderSize:22px,
        videoHeaderColor: #000,
        videoHeaderMarBot:10px,
        videoHeaderTrans:uppercase),
    columnGrid:(paddingLeft:40px),
    taglineDiv:(displayElement:none),

    titleHeader:(titleFontSize: 16px,
        titleH2Size:23px));