/* 
AgencyFBBlack : agencyblack-r
AgencyFBBold : agencybold-r
*/

[class^='agencyblack-'],
[class*=' agencyblack-'] {
    font-family: "AgencyFBBlack", sans-serif;
    @include fontVariations('agencyblack-', r);
}