$giftFinder:(giftContainer:(giftContainerFlt: left,
        giftContainerPad: 0 em(0),
        giftContainerWidth: 100%,
        giftContainerDis: flex,

        //Mobile
        MobContainerDis: block,
        MobContainerPad: 0 em(0),
    ),
    giftPara:(giftParaAlign: center,
        giftParaMar: em(11) 0 em(17) 0,
        giftParaFontstyle: italic,
        giftParaColor: #373737,
        giftParaLine: 1.3,
        giftParaSize:em(16),
    ),
    middleContainer:(middleContainerBG: #f8eab3,
        inhiritePad:0,

    ),
    giftHeader:(giftHeaderColor: #373737,
        giftHeaderAlign: center,
        giftHeaderPad: 10px 0 5px 0,
        giftHeaderFont: em(36),
        giftHeaderWeight: 800,
        giftHeaderLine: 72px,

        //ICON
        iconWidth: 60px,
        iconHeight: auto,
        iconMar: 2px,
        iconTexLeft: -10px,
    ),
    columnInput:(leftPad:em(45),

        //Before
        arrowsmb:'\f0dd',
        arrowUp:'\f0de',
        arrowColor: #0078c8,
        arrowTop:em(13),
        arrowRight:em(20),
        arrowHeight: 0,
        arrowWidth: 0,

    ),
    fomContainer:(fomContainerPad: 15px 35px 50px 35px,
        //Label
        lableFloat: left,
        lableAlign: right,
        lableDis: block,
        lableWidth: 40px,
        lableFont: 16px,
        lableMarTop: 10px,
        //SELECT BOX
        selectBoxBg: #ffd200,
        selectBoxWeight: bold,
        selectBoxBorder: 1px solid #fff,
        selectBoxHeight: 48px,
        selectBoxFont: 16px,
        selectBoxMar: 0.5em 0,
        selectBoxText: uppercase,
        selectBoxPad: 0.2em 0.5em 0.2em 1em,
        selectBoxStyle: italic,
        selectBoxSize: border-box,
        selectBoxImage: (linear-gradient(45deg, transparent 50%, #0078c8 50%), linear-gradient(135deg, #0078c8 50%, transparent 50%), linear-gradient(to right, #0078c8, #0078c8)),
        selectBoxPos: (calc(100% - 10px) calc(1em + 5px), calc(100% - 5px) calc(1em + 5px), calc(100% - -2.5em)) 0.5em,
        selectBoxBS: (5px 5px, 5px 5px, 1px 1.5em),
        selectBoxRepeat: no-repeat,
        optionBG:$white,

        //SELECT FOCUS
        selectBoxBorColor:#ccc,
        selectBoxShadow: none,

        //Mobile
        mobFormContainerPad:15px 20px 20px 20px,
        btnFocusBorder: 1px solid #000),

    giftButton:(giftButtonPadleft:0px,
        giftButtonAlign: center,

        giftButtonBG: #0078c8,
        giftButtonColor: #fff,
        giftButtonText: uppercase,
        giftButtonRadius: em(30) !important,
        giftButtonWeight: 700,
        giftButtonFont: 16px,
        giftButtonLine: 1.5em,
        giftButtonWrap: nowrap,
        giftButtonBorder: 2px solid #0078c8,
        giftButtonDis:inline-block,
        giftButtonMar: 0 auto,
        giftButtonWidth: 203px,
        giftButtonPad: .6em,
        giftButtonMarTop: 10px,
        giftButtoSpacing: .5px,

        //HOVER
        hoverColor: #fff,

    ),
    giftContainerA: (cursor: pointer),
);