$imgFacts:(main:(textAlignCenter: center,
        margin: 40px auto,
        maxWidth: 100%,
        tabheadPadding:14px 0,
        headBackground:transparent,
        headPadding:0,
        tabMargin:0 0 12px 0,
        ulMrgin:0,
        containMar:30px,
        floatCon:left,
    ),
    heading: (fontStyle: normal,
        letterSpacing: 0px,
        textIndent: 0px,
        textShadow: none,
        textTransform: none,
        verticalAlign: baseline,
        whiteSpace: normal,
        color:#000000,
        lineHeight: 41px,
        fontSize: 36px,
        margin:0,
        mobfontSize:22px,
        tabLineHeight: 26px,
    ),
    inputSection:(inputPosition: absolute,
        inputTop: 0,
        inputLeft: 0,
        inputRight: 0,
        inputWidth: 100%,
        inputDisplay: block,
        inputBottom: 30px,
        inputCursor: pointer,

    ),
    hoverBorder:(
        display:inline,
        border:2px solid transparent,
        color:#F93822,
        borderHover:2px solid #F93822,
    ),
    colorList: (listStyleType: none,
        displayInline: inline-block,
        textAlign: center,
        width: 15.9%,
        imageMar:0 15px 54px 15px, // 0 16px 40px,
        MobimageMar:0 10px 20px 10px,
        //imagePad:10px,
        widthMobile: 48%,
        widthTab:24%,
        divPosition: relative,

        //Active div
        activeBg: #f9f9f9,
        activeBrd: 1px solid #ddd,
        tabMargin: 0 10px 23px,
        mobileMar:0 10px 15px,
    ),
    faceCaption: (fontColor: #000,
        minHeight: 42px,
        captionDisplay: table,
        captionWidth: 100%,
        captionFontSize: 18px,
        captionLineheight:22px,
        mobFontSize:16px,
        mobcaptionLineheight:22px,

    ),
    facetImg:(marginBottom:0 0 10px 0,
        MobmarginBottom:0 0 7px 0,
    ),
);