$layout:(body:(font: $siteMainFont,
        fontWeight: $fontRegular,
        bgnd: null,
        bgndPosition: null,
        bgndSize: null,
        bodybg:$white-shade),
    pageView:(marginTop:0 !important),
    main: (titleMargin: em(20) em(40),
        tabTitleMargin: 1.875rem,
        mobTitleMargin: 1.25rem,
        sectionMargin: 0rem 3.375rem 0 3.375rem,
        sectionTopPadding:6em,
        tabSectionMargin: 0rem 1.875rem,
        mobSectionMargin: 0rem 1.25rem,
        loadingGIFColor: $white,
        isTransparenGIF:true,
        isFisherPriceNav:true,
        isFisherPrice:true),
    heading:(font: $title-txt-font,
        fontWeight: $fontBold,
        fontSize: em(50),
        color: $title-txt-color,
        align: center,
        fntCase:none,
        transform:none,
        lineHeight:1,
        margin:10px 0 0 0,
        fontSizeh1:4.375rem,
        paddingh1: 20px 0,
        colorh1: #fbd635,
    ),
    description:(font:$desc-txt-font,
        fontWeight:$fontRegular,
        fontSize: em(26),
        color:$desc-txt-color,
        lineHeight:1.42857em,
        margin:35px 0 0 0),
    linkS:(linkColor:inherit,
    ),
    themeBtn:(titlebtnMargin:36px 0 0,
        titlebtnMarginMob:30px 0 0,
        isDefaultHeadingFont: false,
        fontSize: em(14),
        mobFontSize : em(14),
        padding:12px 30px,
        mobPadding:12px 30px,
        fontFamily:"Noto Sans Bold",
        fontWeight:700,
        fontCase:none,
        iscurveShape:false,
        bgndColor:#1a70d3 !important,
        hoverBgndColor:#145eb3 !important,
        clipPath:none, //polygon(10% 0 100% 0 100% 100% 0 100% 0 40%),
        color:$white,
        hoverColor:$white,
        border: 0,
        borderColor:transparent,
        hoverBorderColor:transparent,
        borderRadius: 0,
        letterSpacing: 0.5px,
        lineHeight:19px,
        isnextArrw: false,
        nextContent:"",
        transform:uppercase,
        contentFamily:"",
        contentWeight: "",
        contentMargin: "",
        isPlay:false,
        icnPlaycontent: "\f144",
        icnFntFamily:'Font Awesome',
        icnSize:53px,
        icnMarginRight:7px,
        icnAlign:middle,
        icnPos:relative,
        icnPosTop:-4px,
        btnWidth:auto,
        btnMinWidth:226px,
        btnMaxWidth:100%,
        btnPrimaryMinWidthMob:100%,
        btnPrimaryMinWidth:150px,
        btnPrimaryMargin:20px 0 30px 0),
    secThemeBtn:(isSecondaryBtn: true,
        isFontAwesomeIcon:true,
        iconContent:'\f055',
        iconHoverContent:'\f056',
        bgndColor:$secondary-CTA-bgcolor,
        isArrow: false,
        padding:15px 24px,
        isPlus: true,
        hoverBgndColor:$secondary-CTA-bgcolor-hover,
        color:$secondary-CTA-txt-color,
        hoverColor: $secondary-CTA-txt-color,
        border:0,
        fntSize:26px,
        fntWeight:600,
        ArrowfontSize: 14px,
        ArrowlineHeight: .2,
        ArrowtopVal: 0,
        emLineHeight:19px !important,
        iconPlus:"\f055",
        iconMinus:"\f056",
        iconFontFamily:'Font Awesome'

    ),
    themeBtn3:(fontSize: em(21),
        mobFontSize : em(18),
        padding: em(15, 30) em(45, 30) em(13, 30) em(20, 30),
        //for all buttons Noto Sans Bold should be applicable 
        fontFamily:"Noto Sans Bold",
        fontWeight: null,
        iscurveShape: false,
        bgndColor: null,
        hoverBgndColor: $white,
        clipPath: null,
        color: $white,
        hoverColor: $fp-red,
        borderSize: 0,
        borderRadius: 50px,
        border:0,
        letterSpacing: 0,
        isnextArrw: false,
        transform: none),
    viewAll: (isOverwritePrimaryBtn: true,
        linkcolor:$white,
        fntCase:none,
        bgndColor: null,
        bgndColorHover:null,
        color: $white,
        colorHover:null,
        minWidth:150px),
    dots:(fontSize: 14px,
        opacity:1,
        focusColor:#F93822,
        bgndColor:rgba($fp-cyan, .4),
        activeBgndColor:$fp-cyan,
        margin:0 9px 0 0,
        pos:absolute,
        bottomPositon: 33px,
        posBottomMob:5px,
        posBottomTab:5px,
        zIndex:1,
    ),
    arrow: (bgndColor:$white,
        color:$fp-yellow,
        opacity:1,
        isCircleBgnd: false,
        isSemiCircle:false,
        isRoundedBgnd:false,
        circleBgnd:transparent,
        circleHoverBgnd:transparent,
        arwfntSize:50px),
    gototop: (bgndColor: rgba(0, 116, 217, 0),
        brdrColor: $fp-blue 1px solid,
        fntColor: $black,
        fontColor: #fff,
        fntSize: em(12),
        fntWeight: 500,
        ltSpacing: em(.50),
        lineHeight: em(16.4),
        arrowShape: 0,
        arrowShapeLeft:0,
        arrowShapeRight:0,
        arrowRadius:0,
        arrowMargin: 0 0 5px,
        width:44px,
        height:44px,
        iconContent:'\f106',
        iconDisp:block,
        iconWidth:0,
        iconfntSize:em(16),
        iconlineHeight:0,
        iconOpac:1,
        iconFontFamily:'Font Awesome',
        iconPos:relative,
        iconPosLeft:33%,
        padding: 25.7px 0 0 0,
        fntSize_lg: em(9.34),
        ltSpacing_lg: em(.49),
        lineHeight_lg: em(16.73),
    ),
    grid:(),
    pageTitle:(padding: 0 0 20px 0,
        paddingMob: em(50) em(20),
        paddingTab: 0 em(50) em(20),
        paddingTitleDiv:0,
        paddingPageTitle:em(100),
        pageTitleTopBgndRepeat:repeat-x,
        pageTitleTopBgndsize:auto,
        pageTitleTopPad:30px,
        fontSize:1.6em,
        lineHeight:1.6em,
    ),
    PageBrandIcon:(imgWidth:100%,
        imgWidthTab:80%,
        imgWidthMob:80%,
    ),
    outerWrapper: (maxWidth: 1800px,
        margin: 0px auto),

    breadCrumb:(isFisherPriceBC:true,
        BCmarginBT:14px,
    ),
);