$mainNav:(hamburger: (txtfontfamily:$hamburger-txt-font-family,
    txtColor:$hamburger-btn-color,
    hoverColor:$hamburger-btnfcs-color,
    focusColor:$hamburger-btnhvr-color,
    txtFontSize: em(32),
    margin: 0,
    marginTab: 0,
    floating: right !important,
    tabLandscapeDisplay:block, // none,
    tabDisplay:none,
    desktopDisplay: none,
    openStateIcon: $hamburger-icn-open,
    closeStateIcon:$hamburger-icn-close,
    icnFontFamily:$hamburger-icn-font-family,
    iconFontSize: 1em,
    hamburgerWidth:100%,
    minHeight:62px,
    icnMargin:0 0 5px 9px,
  ),
  primaryNav: (mobPosLeft: 0,
    mobPosTop: em(62),
    tabPosTop: em(62),
    mobWidth: 100%,
    mobHeight: auto,
    mobBgndColor: $mob-nav-bg,
    mobMaxHeight:100%,
    floating: left,
    desktopDisplay: inline-block !important,
    minHeight: 62px,
    bgnd: $nav-bg,
    height:80px,
    textAlign:left,
    overflowscroll: unset),
  primaryNavUL: (fontFamily: 'Noto Sans',
    mobBgndColor:$mob-nav-bg,
    //deskDownBgImage: url('/../../../../../../../../content/dam/mattelweb/playsites/pollypocket/global/en-us/mobile-nav-bg.png'),
    mobMargin: 0,
    tabLandMargin: 0,
    desktopMargin : 0,
    desktopHeight:80px,
    textAlign: center,
    textAlignTab: center,
    highlightParent:#034590,
  ),
  primaryNavUlLi: (mobPad:0,
    deskPad:em(7) 1em),
  primaryNavUlLiA: (fontFamily:$nav-link-font-family,
    mobAnchorColor:$mob-nav-link-color,
    desktopAnchorColor:$nav-link-color,
    desktopAnchorHoverColor: #034590,
    anchorActiveColor:$nav-link-color-hvr,
    borderBottom: $nav-link-border,
    anchActiveBrdrBot: $nav-link-border-active,
    showSubNavColor:$sub-nav-link-color,
    desktopPad: 29px 1.25em,
    textDecoration: none,
    fontSize: em(14),
    fontSizeMob: em(32),
    fontWeight:$fontExtraBold,
    textTransform: none,
    mobPad:em(10) 0,
    letterSpacing:normal,
    linkImgWidthDesk:51px,
    linkImgMargin:0 em(8),
    showSubNavFontSize: em(34),
    showSubNavWidth: 40px,
    showSubNavHeight: 40px,
    showSubNavFloat: right,
    showSubNavPad: 0,
    showSubNavLineHeight: normal,
    showSubNavTextAlign: center,
    showSubNavMarginTop: 0,
    isHideSubnav: false,
    lineHeight:22px),
  headerImage: (width:em(15),
    height:em(15),
    marRight:em(5)),
  primaryNavUlLiUL: (bgndColor: $sub-nav-bg,
    posTop: 100%, //em(92),
    posLeft: 0, //em(10),
    width: 100%, //em(220),
    deskDownBgndColor: transparent,
    deskDownPos: relative,
    deskDownPosTop: 0,
    deskDownPosLeft: 0,
    deskDownWidth: auto),
  primaryNavUlLiUlLi: (fontSize: em(10),
    pad:0 em(20),
    deskDownFontSize: em(12),
    deskDownPad: 0,
    deskDownBrdr: 0,
    deskDownTxtIndent: 1em),
  primaryNavUlLiUlLiA: (txtColor:$sub-nav-link-color,
    borderBottom:none,
    pad:0,
  ));