$myAccountProp:(globalTxtColor:(textClr:#666666,
    ),

    leftNavProp:(mainSectionPad: 0,
        //H2
        HeaderFont:em(16),
        HeaderBorder: 1px solid #cacaca,
        HeaderMar: 0,
        HeaderPad: 0 0 em(14) 0,

        //BUTTON
        buttonWidth: 100%,
        buttonAlign: left,
        buttonBG: transparent,
        buttonPad: 0 0.4em 0 0.2em,
        buttonHover:transparent,

        //SPAN
        spanDis: inline-block,
        spanFloat: right,
        spanPad: 0 0.4em 0 0.2em,
    ),
    navList:(navListText: uppercase,
        navListFont: (italic 400 em(16) "Noto Sans", sans-serif),
        navListMar: 0,
        navListPad: 0,

        //UL LIST
        ulBorbot: 1px solid #cacaca,
        ulPad: 1em 0 15px 47px,
        //LI
        liMargin: 0 0 5px 0,
        //A TAG
        aTagFont:(normal 400 em(16) "Noto Sans", sans-serif),
        // MENU ACTIVE
        activeColor: #0078c8,
        activeFont:("Noto Sans Bold", sans-serif),
        activeWeight: 700,
        //MOBILE ARROW,
        Mobdisplay: inline-block,
    ),

    addressBook:(buttonWidth: 158px,
        buttonPad: 0px,
        buttonMar:1em 0em 1em 0em,
        //CONTAINER
        containMar: 1em 0em 1em 0em,
        containBor: 1px solid #cacaca,
        //FORM
        lableSize:1em,
        labelMar: 0 0 em(11),
        //UL LIST
        ulListDis: inline-block,
        ulListMar: 0 15px 0 0,
        ulListWidth:100%,

        //INPUT
        inputWidth: 276px,
        inputMar: 0,
        inputMaxWidth:40.75em,
        inputFullWidth: 100%,
        //BUTTON
        buttonThemePad: 0.5em 1.5em,

    ),

    addressModal:(modalFont: 15px,
        //HEADER
        headerBor: none,
        headerPadBot: 0,
        //CLOSE BUTTON
        closeOpacity: 1,
        closeTxtcolor: #0078c8,
        //WRAPPER
        wrapperBor: none,
        wrapperPad: 0,
        itemPad:em(10),
        //ADRESS DEATILS
        detailsBor: 1px solid #cacaca,
        detailsPad: 1em,
        detailsHeight: 370px,
        //LINK
        linkPos: absolute,
        linkBot: 15px,
        linkSize: 16px,
        linkWeight: 600,
        linkRight:15px,
        linkMar:50,
        //Hightlight
        hightColor: #0078c8,
        disNone:none,
    ),

    paymentInfoProp:( //H2
        payheaderMar:0,
        //DESKTP H2
        payH2margin: 0 0 0.28571em,
        //UL LIST

        payListDis: inline-block,
        payListMar: 0 17px 0 0,
        //LABLE
        payLableMar: 8px 0 0 16px,
        payLableSize:10px,
        payLableWeight: 700,
        payLableFont:(italic 700 1em "Noto Sans", sans-serif),
        payInputMax: 570px,
        payInputMaxTwo: 340px,
        payInputMaxThree:111px,
        payTextUnderline:underline,
        payLableMarZero:0,
        //DEATILS LIST
        payLiatmargin: 0.57143em 0 0 0,
        paythemeBtnMar: 0.64286em 0 1em 0,
        ulDetailsList: 1em 0 -.5em 0,
        payDetailMar: 8px 0 1em 0,
        paycardMar:9px 0 9px 0,
        paycardPad: 0 10px,
        payNewCardPad:0 48px,
        payNewCardFont: (400 15px "Noto Sans", sans-serif),
        payNewCardMar: 43px 0 0 0,
        payNewCardpadding: 0 22px,

    ),

    contactPreProp:( //ITEM LIST
        itemPreMar: 0 0 15px 0,
        itemPremargin: 15px 0 15px 0,
        itemPreFont:(600 16px "Noto Sans Bold", sans-serif),
        itemPrePad:0,
        itemPremarBot:0,
        itemPreBanBot:10px,
        itemPreBtnMT:10px,

    ),

    transParenBTN:(transparentBtn: transparent,
        transparentBor: none,

        colorBtnBG: #ffffff,
        colorBtnBor: 1.5px solid #cacaca,
    ),

    globalFormProp:(formPad:0,
        globalFormMar: 0.75em 0,
        //Mobile
        mobContainerpadding: 0 20px),

    deskTopProp:( //H1
        dskHeaderFont:(300 1.78571em "Noto Sans", sans-serif),
        dskHeaderMar: 0 auto 0.72em,
        dskHeaderPad: 0.71429em 0 0,

        //H2
        dskHeader2Font:(400 1.5em "Noto Sans", sans-serif),
        dskHeader2Mar: 0 0 1.42857em,
        dskHeader2Pad: 0,
        italicFont:italic,
        headerLabelDis: block,
        headerLabelMar: 0 auto 0.57143em,
        headerLabelPad:1.57143em 0 0 0,


        dskMar: 0.57143em 0 0 0,
        dskDis: inline-block,
        dskColor:#0078c8,
        dskFont: (400 0.92857em "Noto Sans", sans-serif),
        userWrapMar: 0 0 1.42857em,
        userWrapPad: 0,
        userWrapFont: (400 15px "Noto Sans", sans-serif),

        detailDisplay: inline-block,
        detailWidth: 100%,
        detailMargin: 0,
        detailPadding: 0.57143em 0 0 0,
        detailLabelPad: 1.07143em 0,
        detailLabelBor: 1px solid #cacaca,

        summaryPad: 0.92857em 0 0 0,
        selectboxMar: 0 0 0.28571em 0,

    ),
    headreLable:(addfloat: left,
        addmargin: 1.42857em,
    ),
    orderContainer:(orderContainerPos: relative,
        orderContainerTop: 5px,
    ),

    userContainer:(userConMar: 0 1.28571em 0 0,
        userConPad: 0.57143em 3.57143em 1.07143em 0,

        //SPAN
        userSpanColor: #0078c8,
        userSpanFont: (300 1.42857em "Noto Sans", sans-serif),
        userSpanPad: 0 0 0.2em 0,
        userSpanBor: 2px solid #0078c8,
        userSpanDis: inline-block,
        userNoteMar:0 0 1.07143em 0,
        userBtnMar: 0.71429em 0 1.07143em 0,
        userBtnBor: none,

        //FORM
        formPosition: relative,
        formMargin: 15px 0,
        formSelectMax: 19.57143em,
        formSelectPad: 0.35714em 0.71429em,
        formSelectWidth: 100%,

    ),

    rewardModal:(rewardShadow: none,
        rewardPad: 0,
        rewardHeaderBor: 0 solid #cacaca,
        rewardHeaderPad: 0,
        //MODAL HEADER
        closeIcnBg:transparent,
        closeWidth: 1.14286em,
        closeHeight: 1.42857em,
        closeOpacity: 1,
        closeMargin: 1.71429em,
        modalTitle:(300 30px "Noto Sans", sans-serif),
        modalTitlePad:2em 0 1.14286em 1.71429em,

    ),

    modalBody:(modalBodyPad: 0 0 6.42857em 3.64286em,
        modalBodyMax: 100%,
        modalBodyWidth: 13em,
        modalBodyFloat: left,
        modalBodyHeight: auto,

        modalrewardFloat: left,
        modalrewardPad: 1.42857em 3.21429em 0 0,

        modalrewardMax: 33.85em,
        modalrewardMar: 0 0 3em 0,
        modalrewardFont: 400 1.14286em,
        modalrewardLH: 1.35714em,

        //FORM
        modalFormMax: 33.85em,
        modalFieldMar: 0 0 1.92857em 0,
        modalFormFont:(700 0.80714em "Noto Sans", sans-serif),
        modalFormMar: 0.5em 0 0 .7em,
        modalFormPad: 0,
        modalFormTrans: none,
        modalFormBtnPad: 0 1.5em,
    ),

    deskTopHeaderSection:(headerpadding: 1.42857em 0 0 1.42857em,
        headerdisplay: block,
        //H2
        h2margin: 0 0 0.92857em 0,

        //NAV H3
        h3margin: 0 0 1.07143em 0,
        //UL Li
        ulLipadding: 0 0 1.14286em 0,
        //Modal
        ulLiWidth: 800px,
    ),

    mainSection:(h1SectionPad: 0 2.28571em,
        h1SectionBor: 1px solid #cacaca,

        //H1
        h1SectionSize: 2.57143em,
        h1SectionMar: 0 auto 0.5em,
        h2SectionPad: 0,
        //userwrapper
        detailsWidth: 49.7%,
        detailsFloat: none,
        detailsDisplay: inline-block,

        //Username
        userConFloat: left,
        userConBorder: 1px solid #cacaca,
        userConMargin: 0 1.28571em 0 0,
        //userNote
        userNotetop: 1.42857em,
        userNotePos: relative,
        //rewards
        rewardsWidth: 66.75em,
        rewardsPadding: 0 0 0 5.14286em,
    ),

    tabSummary:(accountNavPos: relative,
        accountNavLeft: calc((100% - 100vw) / 2),
        accountNavWidth: 100vw,

        //Headre
        navHeadercursor: pointer,
        navHeaderBG: #ffffff,
        navHeaderColor: #ffffff,
        navHeaderWidth: 100vw,
        navHeaderPos: relative,
        navHeaderLeft: calc((100% - 100vw) / 2),
        navHeaderMar: 0,
        navHeaderPad: 1.07143em 0 1.21429em 1.21429em,
        navHeaderBorBot: 1px solid #cacaca,
        //Button
        navButtonFont:(500 1.57143em "Noto Sans", sans-serif),
        navposition: relative,
        navleft: calc((100% - 100vw) / 2),
        navwidth: 100vw,
        navborderBottom: 1px solid #cacaca,

        //H3
        h3font:(600 1em "Noto Sans", sans-serif),
        h3padding: 1.07143em 1.28571em 0.92857em 1.42857em,
        h3background: #f1f1f1,
        h3bordeTop: 1px solid #ffffff,
        iconFloat:right,
        //ACTIVE
        activeborderLetf: 5px solid #0078c8,
        activeBackground: #ffffff,
        //UL
        uldisplay: none,
        ulborder: none,
        ulmargin: 0,
        ulpadding: 0,
        //LI
        liborderTop: 1px solid #dcdddf,
        //A
        aTagdisplay: block,
        aTagpadding: 1em 0 0.92857em 3.35714em,
        aTagfont: (400 1em "Noto Sans", sans-serif),
    ),

    MobSummaryProp:( //MainSection
        headerTextTrans: capitalize,
        //H1
        mainH2Size: 2.57143em,
        //H2
        mainH2Mar: 0 auto 0.5em,
        mainH2Pad: 0,

        //Li
        liwidth: 100%,
        liMarginTop: 0.71429em,

        inputMaxWidth: auto,
        inputWidth: 100%,
        payInputWidth:7.92857em,

        //SELECT BOX
        selectMaxSidth: 40.75em,
        MobliWidth:50%,

        mobSectionDis: block,
        mobSectionWidth: 100%,
        paymentH2Mar:0 0 0.28571em,
        paymentaTagMar: 0.57143em 0 0 0,
    ),
);