$productFeatures:(productFeaturesProp:(productTitleBg:#f7f7f7,
        productTitleText:center,
        productTitlePadTop: 40px,
        productTitlePadBot: 30px,
        productTitleMarBot: 32px,
        mobProductTitlePadTop: 40px,
        mobProductTitlePadBot: 20px,
        tabProductTitlePadBot: 20px),
    columnGrid:(padding:0,

        //Mobile
        MobpaddingLeft:20px,
        mobPaddingRight: 20px),
    // List Title <H2>
    productH2:(listHeadSize: 16px,
        listHeadMar:18px 0 18px 0,
    ),
    //Features list <LI>
    productHeaderLi:(FeaListPadLeft: 10px,
        FeaListMarBot: 5px,
        liFontSize: 18px,
        lineHeight: 28px,
        liMobileFontSize: 16px,
        mobLineHeight: 26px,
        //List Bullet properties
        ListBulletcontent: '\2022',
        ListBulletPos: absolute,
        ListBulletLeft: -.8em,
        ListBulletSize: 1.1em,
    ),
    // Title <H1>
    productH1:(productHeaderColor: $black,
        productHeaderSize: 32px,
        productHeaderMar: 0,
        productLineHeight: 36px,
        mobProductLineHeight: 26px,
        //productFontFamily: 'Lets Be Glyphs Semi-Bold'
    ),
    // Description Paragraph <p>
    descriptionPara:(descParaMar: 0 0 20px 0,
        descParaLinehight: 28px),
    //Strong Text
    highLightTxt:(textHightSize: 18px,
        mobTextSize: 16px,
        mobMarginBottom: 20px,
        lineHeight: 28px,
        mobLineHeight: 26px));