$promotionalBanner:(container: (width: 99%,
        bgColor: #F7F7F7,
        margin: em(12) 0 em(12) 0,
        float:left,
        tabWidth: 100%,
        tabMargin: em(16) 0 em(16) 0,
        mobWidth: 100%,
        mobMargin: em(16) 0 em(16) 0),

    immediateRow:(marginRight:23px,
    ),

    imageBlock: (width: 12.91%,
        float: left,
        //padding: em(14) 0 em(41) em(1),
        padding:0,
        background: #ffffff,
        margin: 14px,
        tabPadding: em(14) 0 em(33) em(1),
        mobWidth: 28%,
        mobPadding: em(14) 0 em(122) em(1),
        mobPaddingBottom:14px,
        mobPaddingLeft:0px,
        mobTextalign:center),

    textBlock: (paddingTop: em(14),
        float: left,
        width: 49%,
        tabWidth: 45%,
        mobWidth: 50%,
    ),

    heading: (fontSize: 1.14286em,
        color: #000,
        margin: 0,
        lineHeight: 22px,
    ),

    description: (fontFamily: "Noto Sans",
        fontSize: 1em,
        fontWeight: 400,
        color: #000,
        lineHeight: 18px,
        marginTop: 6px,
        marginBottom: 0,
    ),

    ctaBtn: (width:100%,
        textAlign: left !important,
        margin: em(37) em(40) em(40) em(50),
        bgColor: #1A70D3,
        tabMargin: em(43) em(30) em(36) em(115),
        mobMargin: em(10) em(62) em(17) 0,
        height: 32px,
        padding: 6px,
        min-width:128px,
        BtnFloat:left,
        BtnMarginRight:0px,
        BtnMarginLeft:5px,
    ));