$productTilesProp:(gridColum:(gridColumn1:100%,
        gridColumn2:50%,
        gridColumn3: 33.33333%,
        gridColumn4: 25%,
        minHeight:auto,
        gridHeight:410px,
        gridPaddingLeft:0,

        //MOBILE
        mobgridHeight:350px,
        tabgridHeight:410px,
        productListMarBottom:0px,
        mobgridHeightAuto:55%,
    ),

    itemCount:(itemCountDis: none !important,
        itemCountWidth: 74px,
        itemCountBot: -33px,
        itemCountzindex: 200,
        itemCountmargin: 20px,
        itemCountposition: relative,
        itemCountSize: 14px,
        itemCountStyle: italic,

        //Mobile
        mobBottom: inherit,
        mobtextAlign:center,
        mobMargin:0 0 20px 0,
    ),

    sortDropdownGrid: (sortConBG: #f7f7f7,
        sortConPos: relative,
        sortConText: right,
        sortConPad: 0px 0px 9px 0px,
        sortConMar:-10px 0 22px 0,
        sortConFloat: left,
        sortConWidth: 100%,
        tabDropDown:block !important,
        mobDropDown:none !important,
        mobpadDropDown: 15px,
        mobFont:(300 20px "Noto Sans Bold", sans-serif),
        spanMarginRight:5px,
        outline: 0,
        border: 1px solid #0078c8,
        sortOpacity:0,
        activeOpacity:1,

        //DROPDOWN
        dropDownHeight: 40px,
        dropDownWidth: 253px,
        dropDownPos: relative,
        dropDownText: left,
        dropDownlineHeight: 22px,

        //BEFORE
        dDpos: absolute,
        dDContent: "",
        dDRight: 8px,
        dDTop:8px,
        dDDis: inline-block,
        dDBG: #0078c8,
        dDHeight: 40px,
        dDWidth: 40px,
        //AFTER
        arrowContent: "",
        arrowColor: #fff,
        arrowFont: 20px,
        arrowRight:10px,
        arrowTop: 10px,
        //FOCUS
        focusBG: #fff,
        HoverBG: #6AD1E3,

        //TAB
        TabdropDownWidth:200px,
        tabsortConMar:-15px 0 28px 0,
        marginLeft: 5px,
        boxShadow: none),
    dropDownList:(dropDownLeft: inherit,
        dropDownRight: 0px,
        dropDownWidth: 253px,
        dropDownTop: 39px,
        dropDownZindex: 2,
        borderRadius: 0,

        //HREF
        hrefDis: block,
        hrefMar: 5px 10px,
        hrefColor: #000,
    ),

    productTile:(productTilePad: 0px 30px 0px 0,
        productTileFont:(300 36px "Noto Sans Bold", sans-serif),
        productTileMar:-20px 0 0 0,
        productTileDis: inline-block,
        productTileLH:1,
        productTileHeight:47px,
        // productTileMT:-10px 0 0 0,

        MobproductTileMar:-20px 0 0 0,
        MobDisplay: block,
        MobAlign: center,
        MobproductTileLH:0,
    ),
    reviewList: (reviewListWidth:80px,
        reviewListHeight:17px,
        reviewListFloat: left,
        reviewListColor: #6A6A6A,
        reviewListDis:inline-block,
        reviewListFlow: hidden,
        reviewMar:-1px 0 0 5px,
        reviewPos:relative,
        reviewLeft:0px,
        mobreviewLeft:0,
        reviewLine:1,
        mobreviewListFont:16px,
        mobreviewLine:22px,
        countFontSize:14px,
        reviewListMar:0 auto 0 -3px,
        reviewLineHeight: 16px,
        //1.0
        reviewBGPos10: -64px -156px,
        //1.5
        reviewBGPos15: -48px -139px,
        //2.0
        reviewBGPos20: -48px -156px,
        //2.5
        reviewBGPos25: -32px -139px,
        //3.0
        reviewBGPos30: -32px -156px,
        //3.5
        reviewBGPos35: -16px -139px,
        //4.0
        reviewBGPos40: -16px -156px,
        //4.5
        reviewBGPos45: 0px -139px,
        //5.0
        reviewBGPos50: 0px -156px,
        //0.0
        reviewBGPos100: -80px -139px,
    ),
    gridTitle:(
        gridTitleMar:5px 0 0,
        lineHeight:1,
        spanlineHeight: 24px),
    productBadge:(productBadgeDisplay: inline-flex,
        productBadgeAlignItem: center,
        productBadgeSpc: .2px,
        productBadgeHeight: 24px,
        productBadgeColor: #fff,
        productBadgeBG: #de2510,
        productBadgeAlign: center,
        productBadgePad: 0 21px,
        productBadgeLH: 22px,
        productBadgeMar:4px 0 0 0,
        productBadgeMarginTop:0,
        productBadgeBR: 12px,
        productBadgeHD:hidden,

        TabBadgeMarginTop:0,
    ),
    productBadgeImg: (marginRight: 5px,
        bgAlign: top,
    ),
    quickView:(viewDisplay:none),
    productList:(productListWidth: 33.33333%,
        productListPad: 0 16px,
        productListFloat: left,
        productListPos: relative,
        productListMar: 0,

        //PRICE
        priceColor: #000000,
        priceMar:15px 0 0,
        MobpriceMar:10px 0 0,
        pricePad: 0,
        priceDis: inline-block,
        linePricePad:1,
        MobpriceFont:16px,

        //TAB
        productTabWidth:48.5%,
        productMobWidth:100%,
        productTabPadding:0px 10px,
    ),
    productInfo:(productInfoPos: relative,
        productInfoPad: 0,
        mobproductInfoPad:0,
        productInfoDis: none,
        productInfoMin:30px, // em(135)
        productInfoBor:none,
        productInfoMaxheight: 320px,
        imgMargin:0 0 10px,

        //HREF SECTION
        hrefPosition: relative,
        hrefHeight:62%,
        hrefWidth: 100%,
        hrefDisplay: flex,
        hrefAlignitems: center,
        hrefJustify: left,
        imgMaxheight:100%,

        productInfoheight: 100%,
        lineHeight: 20px,
        TabInfoWidth:100%,
        TabInfoMargin:0,
        mobileInfoWidth:100%,
        mobileInfoMargin:0 0 10px 0,
        MobInfoMaxheight:180px,
        TabInfoMaxheight:55%,
    ),
    headerStrip:(headerStripBG: transparent,
        headerStripPad:5px 0 6px,
        headerStripMar:0 0 30px,
        headerStripFont: 20px,
        headerStripTF: uppercase,
        headerStripColor:$black,
        borderStripColor: 2px solid #e5e0dc,

        //MOBILE
        mobheaderStripMar:10px 0 10px -10px,
        mobAlign:center,
        mobFont:18px,
    ),
    seemoreButton:( //CONTAINER
        BtnConWidth: 100%,
        BtnConFloat: left,
        BtnConText: center,
        spContent: " ",
        spLH: 19px,
        spPos: relative,
        spTop: 0,
        spMarg: 7px,
        spFont: 14px,
        outline:1px solid $black,
        BtnMrgnTop: 17px 0 40px 0,
        mobileMarginTop: 0px 0 40px 0px,
    ),
    searchNotFound:(searchNFDis: inline-block,
        fontWight: 400,
        fontSize: 36px,
        mobfontWight: 400,
        mobfontSize: 22px
    ),
    placeholderCon:(phPosition: relative,
        phWidth: 100%,
        phHeight: 325px,
        phBackground: #eef0f5,
        thinHeight: 14px,
        thinMargin:10px 0 0 0,
        thinWidth: 55px,

        //MOBILE & TAB
        MobImgheight: 200px,

        lHbackground: rgba(0, 0, 0, 0.05),
        lHheight:14px,
        lHmargin: 10px 0 0 0,
        lHwidth: 90%,
        lHfloat: left,
        lHclear: both,

        //AVATAR
        avDisplay:none,

        //PRICE CONTAINER
        prDisplay: inline-block,
        prWidth: 60%,
        prVertical: middle,
        //STRIP WIDTH
        secondWidth: 82px,
        thirdWidth: 110px,
        fourWidth: 55px,
    ),
);

