$productImageGallery:(containerSize:(containerWidth: 75%,
        containerHeight: 500px,
        containerMarLeft: 40px,

        // Mobile View
        containerWidthMob: 100%,
        containerHeightMob: 500px,
        containerMarLeftMob: 0,

    ),
    /* stylelint-disable */
    Swatches:(transformDiv: rotate(0),
        positionTop: inherit !important,
        positionLeft: 0 !important,
        thumbCell: rotate(0),
        swatchWidth: 440px !important,
        swatchTransform:rotate(90deg),
        swatchTop: 160px !important,
        swatchLeft:-270px !important,
        imageBorder:3px solid $black !important,
        transformBorder:3px solid transparent !important,
        //Mobile View
        swatchTransformMob: inherit,
        swatchTopMob: 100% !important,
        swatchBtmMob: 0 !important,
        swatchLeftMob: 0 !important,
        swatchMarTopMob: -70px,
        swatchWidthMob: 100% !important,

    ),
    thumbCell:(thumbCellTans: rotate(-90deg),
        //Mobile View
        thumbTransformMob: inherit,

    ),
    arrowIcon:(arrowColor:$fp-blue,
        disabledArColor:#9c9c9c,
        arrowFontSize:24px,

    ),

    ZoomContainer:(ZoomContainerTop:87% !important,
        ZoomContainerWidth:110px !important,
        ZoomContainerRight: 0,

        // Full screen icon hiden
        fullScreenIcon: none,

    )
    /* stylelint-enable */

);