$productCategory:(categoeryAside:(ctyConMar:5px 0 0 25px,

        //Breadcrumb hide
        brdNone:none,
        //item count hide
        itemNone:none,

    ),

    filterHeader:(fHeaderPad:6px,
        fHeaderMar: 0,

        // HEADER H2
        fHeaderTrns: uppercase,
        fHeaderH2mar: 0,
        fHeaderH2color: $black,
    ),
    checkBox:(checkBoxPos: absolute,
        checkCoxContent: "",
        checkeSpritedBG: url($spriteImgPath) no-repeat -77px -137px,
        checkBoxImgWidth: 16px,
        checkBoxImgHeight: 15px,
        checkBoxImgLeft: -27.5px,
        checkBoxImgTop: 4.5px,
        checkBoxLeft:-30px,
        checkBoxWidth: 24px,
        checkBoxHeight: 24px,
        checkBoxBor: 1px solid #000000,
        checkBoxBG: #ffffff,
        checkBoxTop: -2px,
        mobcheckMargin:30px,
        /*checkBoxMT: -11px,*/

        //LABLE 
        labelPos: relative,
        labelCursor: pointer,
        labelPadLeft:0 0 0 30px,
        labelColor: $black,
        labelSize: 14px,
        labelFWeight: normal,
        labelMargin: 0,

        lableLeft: -9999px,
        lableMar: 0,
        lableLH: normal,

        //CHECKBOX CHECKED
        checkedPos: absolute,
        checkedLeft:-30px,
        checkedSize: 17px,
        checkedLH: 21px,
        checkedAlign: center,
        checkedColor: #000000,
        checkedBG: #ffffff,

        //TICK
        tickContent: "\f00d",

    ),
    categoryLi:(liColor: #000000,
        liSize: 16px,
        liMar: 0px 5px 14px 30px,
        liClear: both,
        liWeight: 300,
        liMarBot:10px,
        fieldSet:12px 0px,
        mobFieldSet:12px 0 12px 30px,
        mobMargin:0 5px 14px 17px,
    ),
    liList:( //LI
        liMargin: 18px,
        //HREF
        hrefDisplay: block,
        hrefColor: #000000,
        hrefFont: ("Noto Sans", sans-serif),
        hrefMT: 20px,
        hrefFWeight: normal,
        hrefMleft: 10px,
        marginTop: 20px,
        fontWeight: bold,
        marginLeft: 10px),


    navList:(navListColor: #000000,
        navListSize: 14px,
        navListLH: 20px,
        navListCursor: pointer,
        navListML: 18px,

        navListLess: "\f056",
        navListMore: "\f055",
        beforeColor: #000000,
        beforeSize:16px,
        beforeMR: 5px,

        activeParent: "\f053",
        iconColor: #0078C8,
        cursor: pointer,
        marginLeft: 10px,
        fontSize: 14px,
        color: #000000,
        fontWeight: bold,
        floatLeft:left,
        Iconwidth:17px,
        Iconheight:19px,
        Iconfontsize:15px,
        Iconlineheight:20px,
        spanMarginLeft:0px,
        textDecoration: none,
        fontFamily: 'Noto Sans Bold',
        navPosition: relative,
        navTop: -1px,

    ),

    accordionTab:( //H2
        adH2BG: #F7F7F7,
        adH2Color: #000000,
        adH2Font: ("Noto Sans Bold", sans-serif),
        adH2Pad: 10px 13px 15px 17px,
        adH2Size: 22px,
        adH2Mar: 0,
        adH2MH: 48px,
        adUpperCase:uppercase,


        //LI
        accordionMar:0,
        accordionPos: relative,
        //HREF
        acDis: block,
        acColor: #000000,
        acBG: #F7F7F7,
        mobacBG: #F8F6F5,
        acPad: 8px 0 8px 0,
        acSize: 16px,
        acMH: 47px,
        acTrans: uppercase,
        acFontWeight: 500,
        acLineHeight: 26px,
        acBorderBottom: 2px solid #E5E0DC,

        //BEFORE
        beforePos: absolute,
        beforeRight: 20px,
        beforeTop: 13px,
        beforeWidth: 21px,
        beforeHeight: 23px,
        beforeSize: 22px,
        beforeColor: #0078c8,

        plusContent: '',

        minusContent: '',
        beforeLH: 7px,
    ),
);