    $relatedSearchProp:(relatedCon:(relatedConFloat: left,
            relatedConWidth: 100%,
            relatedConBG:#F7F7F7,
            relatedConPad: em(34) em(43) em(32) em(40),
            //TAB
            tabAlign: center,
            tabPad: em(19) em(40) em(18) em(40),
            //MOBILE
            mobPad: em(25) em(20) em(10) em(20),
        ),
        rsHeader:(rsHeaderFloat: left,
            rsHeaderColor: #000000,
            rsHeaderFont:(700 em(16) "Noto Sans Bold", sans-serif),
            rsMobHeaderFont:(700 em(14) "Noto Sans Bold", sans-serif),
            rsHeaderTrns: uppercase,

            //TAB
            raHeaderTabF: none,
            raHeaderTabMar: 0 0 em(15) 0,

        ),
        rightDiv:(rightDivML: em(207),
            rightDivWidth: 65%,
            //TAb
            tabML:0,
            tabFloat: none,
            tabWidth:100%,
        ),
        ulList:(ulDis: inline-block,
            liMar: 0,
            //HREF
            hrefMarg: 0 em(50) em(8) 0,
            hrefDec: underline,
            hrefDis: block,
            hrefFont: ("Noto Sans", sans-serif),
            hrefFW: 300,
            hrefColor: #444344,
            //TAB
            ulListTabMar: 0 em(25) em(22) 0,
            //MOB
            ulListMobMar: 0 em(25) em(15) 0,
        ),
    );