$replacePart:(replaceProp:(replacePropPad: 0 200px,
        replacePropwidth: 100%,
        replacePropFloat: left,
        replacePropMT:40px,
        //Mobile
        mobilePad:0 em(20),
        mobreplacePropMT: em(7) 0 em(40)),
    replaceSpan:(replaceSpanColor: $black,
        replaceSpanDisplay: block,
        replaceSpanFontSize: 24px,
        replaceSpanLine: 29px,
        replaceSpanMarBot: 29px 0 15px 0,

    ),
    button:(disp: inline-block,
        buttonColor: #147BD1,
        buttonSpacing: 0.5px,
        buttonAlign: center,
        buttonHeight: 46px,
        buttonBG:$white,
        buttonLine: 19px,
        buttonBorder: none,
        buttonPad: 10px 28px 10px 64px,
        mobButtonPad: 10px 6px 11px 45px,
        textUpper:uppercase,
        minWidth:em(199),
        border:2px solid #147BD1,
        fontSize: 16px,
        fontWeight: 500),
    fontIcon:(fontIconColor:#147BD1,
        fontIconFontSize: 16px,
        marginRight: 6px
    ));