$youtubevideosLanding:(main:(isViewAllHide: true,
        isRoundedPlayIcon: true,
        isAlignmentDefined: true,
        isFpVideoGal:true,
        playerBarBgnd: transparent,
        playerBarHeight: 0,
        bgColor: transparent),
    homePage:(pageBgnd: '#{$brandImgPath}/video_bgnd.jpg',
        isBgnd: false,
        playerPadding: 0,
        bgnd: transparent, //$rhStrippedBg center center repeat,
        padding: 0, // 100px 85px 60px,
        paddingMob:0, // 50px 20px,
        paddingTab:0, // 50px 20px,
        backgroundSize: auto,
        isPageBgnd: true,
        vidGalPad:0,
        deskPad:0 15px,
    ),
    videoContainer:(pad:0 em(40) em(20),
        padMob: 0 em(20) em(20)),
    videosDetail: (isclearDiv: false,
        thumbHeadingColor: $white,
        pageBgnd: $white,
        isAfterBgnd: false,
        isAfterMgn: 0 0 20px 0,
        isAfterBgndUrl: url(#{$brandImgPath}/curve_blue_bar.png),
        isAfterBgndHeight: 156px,
        isAfterBgndSize: cover,
        isAfterBgndBtm: -15px,
        isAfterBgndLft: 0,
        isAfterBgndIndx: -1,
        paddingMobBtm: 50px,
        zIndex: 1,
        padFpDesk:20px 40px,
        padFpTab:0 35px,
        padFpMob:0 1.25rem 1.25em,
        padDesk:0 15px,
        padTab:0,
        padMob:0,
        bgImg:none,
        bgColor:transparent),
    categoryFilter:(sameAsThemeBtn3: true,
        pad: em(20) em(40) em(20) em(40),
        padMob:0 em(20),
        padTab:em(20) em(40) em(20) em(40),
        linkPad: 20px 26px,
        linkPadMob: 10px 10px,
        linkMarginRight:15px,
        sliderNavLoadWidth: 100%),
    categoryFilterMobScroll: (mobheight: 230px,
        overflow: hidden,
        overflowy: scroll),
    categoryFilterTitle:(fontSize:26px,
        txtColor:$white,
        txtAlign:left,
        pad:0 0 10px 0,
        margin:0,
        letterSpacing:0.35px,
        lineHeight:28px),
    videoTitle: (
        /* bgColor: #f7f7f7, */
    ),
    videosGallery: (pad:em(20) em(15) em(40),
        mobPad:0 20px,
        mobOnly:8px 0 0 0,
        respFWidth:100%),
    videosPage:(headingColor:$white,
        txtAlgin:center,
        galleryBgnd: transparent,
        pad:20px,
        gallerylistpad:0 15px 30px,
        gallerylistpadMob:15px 0,
        pgBgnd: transparent,
        pgBgndMob: transparent,
        pgBgndsize:null),
    viewAll:(disp: none),
    verticalPlaylist:(headingSize: em(40),
        headingSpacing: 0.35px,
        scrollBarColor:$fp-dim-white,
        scrollThumbColor: $fp-yellow,
        tileMargin: 0 10px 0 0,
        tileTitleMargin:0 0 10px 0,
        playIcon: true,
        contentIcon:"\f04b",
        color: $primaryColor,
        fontWeight:$fontBold,
        txtAlign:left,
        pad:20px 10px 0 26px),
    videoVerticalPlaylist: (bgColor: $white),
    videoVerticalPlaylistGallery: (bgColor: $white,
        color: $fp-blue,
        fontFamily: ("Noto Sans Bold", sans-serif),
        fontSize: 1em,
        txtCase: none,
        letterSpacing:0,
        fontWeight:$fontBold,
        lineHeight:20px,
        txtAlign:left,
    ),
    videoScroll: (bgColor: $fp-yellow),
    playIcon: (isRoundedCircle: true,
        fontSize:35px,
        playerIconFntSize: 56px,
        tabFontSize: 30px,
        mobFontSize: 30px,
        mobFont:24px,
        isTop: true,
        bgnd:$videoPlayer-play-icon-bgColor,
        bgndSize:100%,
        bgndRepeat:no-repeat,
        color:$videoPlayer-play-icon-color,
        topVal: calc(50% - 30px),
        opacityAfter: 1,
        opacityBefore: .7,
        beforeBgColor:transparent,
        content:$videoPlayer-play-icon,
        pad:0.5em 0.5em 0.5em 0.7em,
        contentFntFamily:'Font Awesome',
        pos:absolute,
        posTop:-27px, //-20px,
        mobTop:-17px, //-5PX,
        posLeft:50%,
        bdrRadius:50%,

        isPlayIconSvg:true,
        bgndImg:url('#{$brandImgPath}/icons/Play_Btn_Large.svg'),
        bgndImgMob:url('#{$brandImgPath}/icons/Play_Btn_Small.svg'),
        fntSizeDeskSVG:inherit,
        fntfamilyDeskSVG:none,
        widthLargeSVG:130px,
        heightLargeSVG:130px,
        colorLargeSVG:transparent,
        bgColorLargeSVG:transparent,
        widthLargeSVGMob:72px,
        heightLargeSVGMob:72px,
    ),
    overlayPlaying: (bgColor: transparent,
    ),
    arrows:(color:null,
        mobColor: $white,
        fontSize: 32px,
        background: null,
        isRoundBgnd: false,
        leftPos:20px,
        rightPos: 20px,
        opacity:1,
        sameAsCDAArrow: false,
        isHideMobile: false,
        bgColor: (rgba(0, 0, 0, 0.5)),
        isArrowAfter: true,
        leftBefore:$videoPlayer-arrow-prev,
        RightBefore:$videoPlayer-arrow-next,
        txtAlign:left,
        prevArrowsMob:$videoPlayer-arrow-prev,
        nextArrowsMob:$videoPlayer-arrow-next,
        mobPad:100% 10px,
        posVal: relative,
        posTop: 40%,
    ),
    playerArrows:(bgHeight:141px,
        bgndColor:rgba(0, 0, 0, 0.5),
        hoverBgndColor:rgba(0, 0, 0, 0.5),
        arwbgndColor:rgba(0, 0, 0, 0.5),
        bgndColorMob:transparent,
        pad:0,
        arwColor:$videoPlayer-arrow-color,
        posTop:45%,
        mobPosTop:35%,
        arrowsTransPos:translate(0, -100%),
        arrowBlkBg:$videoPlayer-arrow-bgColor,
        arrowBlkBgMob:transparent,
        arrowBlkBgMobHover:transparent,
        arrowBlkRad:50px,
        arrowBlkPad:15px 23px,
        arrowBlkPadMob:0,
        arrowBlkBgHover:$videoPlayer-arrow-bgColor-hover,
    ),
    owlNavColor: (color:#FFD200,
        dispMob:none),
    nowPlaying: (align:left,
        textTransform: none,
        padding: 5px 10px,
        margin: 0 auto,
        fontSize: em(14),
        letterSpacing: 0,
        backgroundImage: none,
        backgroundColor: $fp-red,
        color: $white,
        borderRadius:25px,
        fontWeight: $fontMedium,
        top: auto,
        left: auto,
        width: auto),
    videoPageTitle:(pad:0,
        padTab:0,
        padMob:0,
    ),
    heading: (isDefaultHeadingFont: true,
        bgColor: transparent,
        color : $videoContainer-title-txt-color,
        fontSize: em(16),
        fontFamily: $videoContainer-title-txt-Font,
        fontWeight: $fontBold,
        align: left,
        margin: 0,
        padding: 10px 30px,
        paddingxs:10px,
        transform: none, //none
        lineHeight:1,
        disp:block),

    headingAfter:(content:"",
        borderBottom:8px solid $black,
        width:98px,
        disp:block,
        margin:16px 0 0 0),
    description : (isDefaultDesFont: true,
        bgColor: transparent,
        fontSize: em(14),
        color : $videoContainer-desc-txt-color,
        fontFamily: $videoContainer-desc-txt-Font,
        fontWeight: null,
        align: center,
        padding: 0,
        margin:em(40, 26) 0 0,
        marginTab:em(30, 26) 0 0,
        marginMob:em(30, 26) 0 0,
        mobilepadding:0,
        lineHeight:1),
    autoPlay: (bgColor: $fp-dim-white,
    ),
    autoPlayCheckBox: (bgColor: $fp-blue,
        isDefaultHeadingFont: true,
        isAbsoluteElem:true,

    ),
    autoPlayLabel: (color: $fp-blue,
        isDefaultHeadingFont: true,
        fontFamily:("Noto Sans Bold", sans-serif),
        padding:0,
        onOffPad:6px,
        fontSize: 9px,
        leftVal: 8px,
        rightVal: 8px,
        topVal: 3px,
        txtFontSize: em(22),
        transform: none,
        letterSpacing:0.35px,
    ),
    autoPlayOnOffButton: (bgColor: $athens-grey,
        activeBgnd: $white),
    autoPlayOnOffTxt: (color: $white),
    ooActionIcon: (playIcon: true),
    ooPlayIcon: (content:"",
    ),
    player:(paddingBottom:64%, //calc(56.25% - 8px),
        border:8px solid $white,
        borderTab:8px solid $white,
        borderMob:8px solid $white,
        borderRadius: null, //4px
        bgndColor:transparent,
        margin:0,
        marginMob:0,
        marginTab:0),
    playerBar:(borderRadius: null, //20px,
        margin: null, //em(20) 0 0
        pad:15px 0 20px,
        mobPad:15px 0),
    playerBarHeading:(isDefaultHeadingFont: false,
        color : $videoPlayer-title-txt-color,
        fontSize: em(14),
        letterSpacing:0.35px,
        fontFamily:$videoPlayer-title-txt-Font,
        fontWeight: $fontBold,
        align: left,
        margin:0,
        padding: 0,
        transform:none,
        mobFontSize: em(14),
        mobLineHeight:em(20),
        lineHeight:em(20)),
    playerBarDescription:(isDefaultDesFont: false,
        fontSize: em(14),
        color : $videoPlayer-desc-txt-color,
        fontFamily:$videoPlayer-desc-txt-Font,
        fontWeight: $fontLight,
        align: left,
        padding: 0,
        mobilepadding:0),
    navSlidesLink: (bgColor: $white,
        border: none,
        color: $black,
        fontFamily: ("Noto Sans Bold", sans-serif),
        transform: none,
        zIndex: 3,
        fontSize: em(28),
        mobFontSize: em(22)),
    navSlidesHover: (color: $black,
        isActiveAfter: true),
    thumbnailHeading: (bgColor: transparent,
        color : $videoGallery-title-txt-color,
        fontSize: em(14),
        fontFamily:$videoGallery-title-txt-font,
        fontWeight: null,
        align: left,
        padding:0,
        tabPadding:0,
        mobPadding:0,
        margin:0 1rem 5px,
        mobMargin:0 0 26px,
        transform: none,
        mobFontSize: em(14),
        mobLineHeight:54px,
        bdrBottom:8px solid $white),
    galleryTile: (tileMargin:em(40) 0 0 0,
        mobTileMargin:em(20) 0 0 0,
        tilePadding: 0 em(40),
        tabTilePadding: 0,
        mobTilePadding: 0,
        tileInnerPadding:0),
    galleryTileList:(listPadding: 0 0 em(25) 0,
    ),
    owlNavButton: (owlNav: true,
        owlNavhiddenHeight:0,
        top: -5px,
        fntSize:52px,
        contentPrev: "\f0a8",
        contentNext: "\f0a9"

    ),
    listOverlay: (isOverlayImgAlone: false,
        backgroundColor: rgba($bay-blue, .7)),

    listTitle : (bgColor: $videoGallery-thumbnail-bgColor,
        color : $videoGallery-thumbnail-txt-color,
        fontSize: em(14),
        fontWeight: $fontBold,
        align: left,
        mobAlign:left,
        margin: null,
        mobPad: 0 0 0 em(12),
        padding: em(16) 0,
        borderRadius: null,
        transform:none,
        mobFontSize: em(14),
        lineHeight: em(22),
        mobLineHeight: em(22),
        letterSpacing:normal),
    showMore: (margin:0,
        disp:none,
        padding: null),
    filterBlock:(pad:0 em(40),
    ),
    filterArrows:(isExtendArrow: true),
    // galleryImage:(
    // 	bgnd:$fp-yellow,
    // 	opac:0.5
    // ),
    rightScrollGallery:(desktopWidth:100%,
        nopad:0,
        containerWidth:50%,
        containerPad:40px 30px,
        fontSize: 18px,
        lineHeight: 29px,
        fontWeight:500,
        //MOBILE WIDTH
        MobContainerWidth:100%,
        TabContainerPad:28px 30px 40px,
        MobContainerPad:28px 20px 40px,
        containerPos:relative,
        // GAlLERY PROP

        //SCROLL BAR
        scrollThumbColor:#0078C8,
        scrollBarWidth: 12px,
        scrollBarBG: #EBEBEB,
        scrollBarHeight: 2px,

        galleryPad:0 0 0 60px,
        galleryWidth: 50%,
        galleryHeight: 500px,
        galleryScroll: scroll,
        galleryPosition: absolute,
        galleryRight: 30px,
        galleryTop: 100px,
        /*galleryBottom: 53px,*/


        //LIST ITEMS
        listBgColor: rgba(248, 246, 245, .7),
        listFloat: left,
        listPad: 10px,
        listPadDesk:0,
        galleryTileDesktop: 0 10px 0 0,
        galleryTilePad: 0 8px 0 0,
        mobGalleryTilePad: 0 0 20px 0,
        galleryTileMobile: 0,
        listMarBot: 10px,
        listMarBotTab:10px,

        playTextTop: 27px,
        //playTop:53%,
        //playTextLeft: 25%,
        playTop: auto,
        playTextLeft:auto,

        textAlign: left,
        textlistWidth: 70%,
        mobTextlistWidth: 50%,
        mobfontSize: 16px,
        textlistFloat: left,
        textlistHgt: auto,
        textColor: #000,
        textlistPad: 20px,
        //MOBILE
        galleryMobPad:0,
        listDIaplay:block,
        //Mobile column show
        itemToShowCol2:4,
        dispNth:none,
        mobileDisplay: none,

        playTextMobTop: 38px,
        playTextMobLeft: 28%,
        playTextMobonlyTop: 10px,
        playTextMobonlyLeft: 15%,
        playMobonlyTop: 70px,
        playMobonlyleft: 19%,
        playMobTop: 28px,
        playMobleft: 27%,
        textlistMobTop: 15px,
        textlistMobPad: 8px,
        textlistMobOnly: 12px,

        //GALLERY IMAGES
        galleryImgWidth: 30%,
        mobGalleryImgWidth:30%,
        galleryImgFloat: left,

        //Uat issues
        display: flex,
        alignItems: center,
        justifyContent: space-between,
        paddingTop:0px,
        newWidth:100%,
        ZeroPadding:0px,
        titleSecfloat: left,
        //TxtTransform:translateY(-50%),
        TxtTransform:inherit,
        rightTitlePos:absolute,
        rightTitleTop:50%,
        rightTitleLeft:30%,
        MobrightTitleLeft:130px,
        MobTitletWidth:50%,
        MobTitletTop:50%,
        MobOnlyTitletWidth:50%,
        MobOnlyTitleTop:30%,
        MobLargeTitletWidth:70%,
        MobLargeTitleTop:50%,
        MobtTitleLeft:50%,
        NewBgRedcolor:rgba(0, 0, 0, 0.6),
        NewPadding: 4px 13px 4px 16px,
        NewLtrSpacing:0.2px,
        NewLineHeight:16px,
        NewDisplay: block,

        glAfterdisplay: block,
        glAfterContent: " ",
        glAfterPosition: absolute,
        glAfterOpacity: 1,
        glAfterLeft: 50%,
        glAfterBorderTop: 21px solid transparent,
        glAfterBorderLeft: 33px solid #fff,
        glAfterBorderBottom: 21px solid transparent,
        glAfterBorderRadius: inherit,
        glAfterPad: inherit,
        galPlayDisplay: none,
        contentArrow:"\f04b"
    ),
    rightScrollGalleryText: (textPadding:12px 20px 16px 20px,
        mobTextPadding:12px 12px 12px 12px,
        bgColor:rgba(248, 246, 245, .7),
        fontSize: 18px,
        mobfontSize: 16px,
        fontWeight: 500,
        praLineHeight: 26px,
        paraMarginTop: 4px,
    ),
);