$reletedArticles:(
    releted_articles_container:(
        padding: (
            lg: null,
            md: 0,
            sm: 0 15px 0 5px
        ),
        margin: (
            lg: 40px 0 40px 0,
            md: 20px 0 40px 0,
            sm: 30px 0px 30px 0px,
        ),
        position: relative,
        float: left,
		width: 100%
    ),
    releted_articles_entity:(
        padding: (
            lg: 0 15px 0 15px,
            md: 0 13px 0 13px,
            sm: 0 0 0 0,
        ),
        margin: (
            lg: 0 0 40px 0,
            md: 0 0 40px 0,
            sm: 0 0 30px 0,
        ),
        float: left
    ),
    releted_grid_list:(
        padding: (
            lg: 0 0 45px 0,
            md: 0 0 45px 0,
            sm: 0 0 45px 0,
        ),
        margin: (
            lg: 0,
            md: 0,
            sm: 0,
        ),
        overflow: hidden,
    ),
    releted_grid_title:(
        margin: (
            lg: 10px 0 0 0,
            md: 10px 0 0 0,
            sm: 8px 0 0 0,
        )
    ),
    releted_grid_category:(
        margin: (
            
            lg: 24px 0 0 0,
            md: 24px 0 0 0,
            sm: 20px 0 0 0,
        ),
    ),
    releted_grid_desc:(
        margin: (
            
            lg: 10px 0 0 0,
            md: 10px 0 0 0,
            sm: 8px 0 0 0,
        ),
    ),
    releted_grid_readMore:(
        margin: (
            lg: 13px 0 0 0,
            md: 10px 0 0 0,
            sm: 10px 0 0 0,
        ),
        height: 20px,
    ),
    releted_articles_product_image:(
        width: 100%,
    ),
    releted_grid_view_all_datas:(
        position: absolute,
        bottom: -11px,
        left: 0,
        right: 0,
        text_align: left,
        text_align_desktop: center,
        height: 46px,
    ),
    releted_grid_view_all_datas_btn:(
        color: #1377C9,
        hover_color: #e51c06,
        bg_color: #fff,
        border: 2px solid #1377C9,
        hover_border: 2px solid #e51c06,
        font_size: 16px,
        line_height: 19px,
        letter_spacing: .57px,
		font_weight: inherit,
        padding: (
            lg: 11px 46px,
            md: 11px 46px,
            sm: 11px 46px,
        ),
    ),
);