#pagename-contact-us {
  .play-page-title {
    .btn.btn-view-all {
      color: #ffffff !important;
      background-color: #ee0024 !important;
      font: 500 18px "Mattel Founders", sans-serif;
      padding: 13px !important;
      min-width: 163px;
      text-align: center;
      border-radius: 25px !important;
    }
    h1 {
      @media #{$tablet-mobile} {
        text-align: left;
      }
    }
  }
  .promoCarousel {
    & + .columnControl {
      .image-text-container {
        .col-2 {
          background: #ee0024;
          overflow: hidden;
          .col-first,
          .col-second {
            & > .title {
              @media #{$desktop} {
                width: 50%;
              }
              .play-page-title {
                  @media #{$tablet-mobile}{
                    padding: 15px;
                    // text-align: left;
                  }
                h1 {
                  font: $fontMedium 24px "Mattel Founders", sans-serif;
                  letter-spacing: 0.24px;
                  color: #ffffff;
                  border: none;
                }
                p {
                  color: #ffffff;
                  padding: 0 10px;
                  @media #{$desktop}{
                      padding: 0;
                  }
                  font: 300 14px "neue-haas-unica", sans-serif;
                  letter-spacing: 0.14px;
                  line-height: 24px;
                }
              }
            }
          }
        }
      }
    }
  }
}
