#pagename-leadership,
#pagename-executive-leadership,
#pagename-corporate-governance,
#pagename-philanthropy {
  .play-download {
    .gallery-tile {
      padding: 0 20px;
      max-width: 1200px;
      margin: auto;

      li {
        @media #{$xsmall-down} {
          padding-top: 0;
        }
      }

      .gallery-image {
        img {
          width: auto;
          margin: auto;
        }
      }

      .tile-content {
        @media #{$xsmall-down} {
          height: auto !important;
        }

        h2 {
          display: block;
          font: $fontMedium 20px "Mattel Founders", sans-serif !important;
          margin-bottom: 10px;

          @media #{$tablet-mobile} {
            font-size: 16px !important;
            letter-spacing: 0.14px !important;
            line-height: 20px !important;
            font-family: "neue-haas-unica", sans-serif !important;
          }
        }

        p {
          font: 300 15px "neue-haas-unica", sans-serif !important;

          &:empty {
            display: none !important;
          }

          &:not(:empty)+p {
            margin-top: -10px;
          }

          min-height: inherit;
          text-align: center;
        }
      }
    }
  }
}

.play-category-details-component {
  @media #{$tablet-mobile} {
    clear: both;
  }

  .char-detials-content {
    margin-bottom: 20px;
    overflow: hidden;

    @media #{$tablet-mobile} {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column-reverse;
    }

    .char-details-image,
    .char-details-description {
      padding: 10px;
    }

    .char-details-description {
      @media #{$desktop} {
        margin-top: -5px;
      }

      @media #{$tablet-mobile} {
        padding: 0;
      }

      h1 {
        margin: 0;
        letter-spacing: 0.14px;
        font: $fontMedium 28px "Mattel Founders", sans-serif;

        @media #{$desktop} {
          display: inline-block;
          border-bottom: 4px solid #ee0024;
          position: relative;
          padding-bottom: 6px;
        }

        @media #{$tablet-mobile} {
          display: inline;
          padding-bottom: 7px;
          position: relative;
          clear: both;

          &::after {
            content: " ";
            position: absolute;
            bottom: 0;
            left: 0;
            border-bottom: 4px solid;
            width: 98%;
            color: #ee0024;
          }
        }
      }

      p {
        font: 300 16px "neue-haas-unica", sans-serif;
        line-height: 35px;
        letter-spacing: 0.14px;
        margin-top: 20px;
        margin-bottom: 4px;

        @media #{$tablet-mobile} {
          line-height: 24px;
          margin-top: 19px;
        }

        span {
          font: inherit;
        }
      }
    }

    .char-details-image {
      margin-right: 15px;

      @media #{$tablet-mobile} {
        margin: 20px 0 0;
        padding: 0;
      }
    }
  }

  .cda-banner {
    margin: 32px 0 19px 0;

    @media #{$tablet-mobile} {
      margin: 20px 0 19px 0;
    }
  }

  .nav-carousel-slides {
    margin-bottom: 0;

    .slick-list {
      max-width: 90%;
      margin: auto;
    }

    li {
      padding: 0 15px;
    }

    .slick-next,
    .slick-prev {
      &:before {
        background: transparent;
        @include font-awesome();
        color: #393939;
      }
    }

    .slick-next {
      &::before {
        content: "\f054";
      }
    }

    .slick-prev {
      &::before {
        content: "\f053";
      }
    }
  }
}

#pagename-philanthropy {
  .title+.downloadImageGallery {
    .gallery-title {
      h2 {
        border-top: 1px solid #979797;

        @media #{$tablet-mobile} {
          border: 0;
          padding-bottom: 0;
        }

        &+p {
          @media #{$tablet-mobile} {
            padding: 0;
            margin: 0;
            margin-top: 12px;
          }
        }

        .tile-content {
          h2 {
            @media #{$tablet-mobile} {
              border: 0;
            }
          }
        }
      }

      @media #{$tablet-mobile} {
        border-top: 1px solid #979797;
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  .downloadImageGallery {
    .play-tiles-gallery {
      .gallery-tile {
        .column-4 {
          @media #{$tablet-mobile} {
            padding: 0;
            margin-top: 20px;
          }
        }
      }
    }

    &+.downloadImageGallery {
      @media #{$tablet-mobile} {
        margin-bottom: 30px;
      }
    }
  }

  .accordion-component {
    @media #{$tablet-mobile} {
      padding-left: 0;
      padding-right: 0;
      border-top: 1px solid #979797;
    }

    .title-block {
      @media #{$tablet-mobile} {
        padding-left: 20px;
        padding-right: 20px;

        h2 {
          border: 0;
          margin-bottom: 12px;
        }
      }

      div {
        @media #{$tablet-mobile} {
          text-align: left !important;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }

    .accordion {
      @media #{$tablet-mobile} {
        padding-left: 0;
        padding-right: 0;

        &>div {
          padding-left: 20px;
          padding-right: 20px;

          .accordion-title {
            font-size: 20px;
            letter-spacing: 0.17px;
            line-height: 23px;
            padding-right: 20px;
            position: relative;

            a {
              position: absolute;
              top: 0;
              right: 0;
            }
          }
        }
      }

      @media #{$desktop} {
        &>div {
          .accordion-title {
            a {
              top: -3px;
            }
          }
        }
      }
    }
  }
}