footer {
    background-color: mapping($footer, main, bgndColor);
    border-top: mapping($footer, main, borderTop);
    background-size: mapping($footer, main, bgndSize);
    padding: mapping($footer, main, pad);
    position: mapping($footer, main, pos);

    >div {
        @extend .container;

        @media #{$tablet-mobile} {
            padding-top: mapping($footer, mainDiv, tabpaddingTop);
        }

        >div {
            @extend .row;

            .play-footer-mattel-logo {
                @extend .col-md-1;
                @extend .col-sm-6;
                @extend .col-xs-6;

                @media #{$tablet-mobile} {
                    text-align: mapping($footer, playmattelLogo, tabtxtAlign);
                    padding: if(mapping($footer, playmattelLogo, tabPad), mapping($footer, playmattelLogo, tabPad), 0);

                    img {
                        margin-right: mapping($footer, playmattelLogo, tabmarginRight);

                        @if mapping($layout, main, isfisherprice)==true {
                            margin-top: mapping($footer, playmattelLogo, tabMarginTop);
                            max-width: mapping($footer, playmattelLogo, tabMaxWidth);
                        }
                    }
                }

                @if mapping($layout, main, isfisherprice)==true {
                    @extend .col-md-2;
                    @extend .col-sm-6;
                    @extend .col-xs-6;

                    @media #{$tablet-mobile} {
                        img {
                            margin-top: mapping($footer, playmattelLogo, mobMarginTop);
                            max-width: mapping($footer, playmattelLogo, mobMaxWidth);
                        }
                    }
                }
            }

            .play-esrb-logo {
                @extend .col-md-1;
                @extend .col-sm-6;
                @extend .col-xs-6;
                @extend .pull-right;

                @media #{$large-only} {
                    right: mapping($footer, playesrbLogo, labposRight);
                    bottom: mapping($footer, playesrbLogo, labposBottom);
                    z-index: mapping($footer, playesrbLogo, labposzindex);
                }

                @media #{$tablet-mobile} {
                    text-align: mapping($footer, playesrbLogo, tabtxtAlign);

                    img {
                        margin-left: mapping($footer, playesrbLogo, tabmarginLeft);
                    }
                }

                a {
                    img {
                        height: mapping($footer, playesrblogoLink, height);
                    }
                }

                @if mapping($layout, main, isfisherprice)==true {
                    @extend .col-md-1;
                    @extend .col-sm-6;
                    @extend .col-xs-6;
                }
            }

            .play-footer-link {
                @extend .col-md-9;

                @if mapping($layout, main, isfisherprice)==true {
                    @extend .col-md-7;
                }

                padding-top: mapping($footer, playfooterLink, paddingTop);
                text-align: mapping($footer, playfooterLink, txtAlign);

                @media #{$tablet-mobile} {
                    clear: mapping($footer, playfooterLink, tabClear);
                    padding-left: mapping($footer, playfooterLink, tabpaddingLeft);
                    padding-right: mapping($footer, playfooterLink, tabpaddingRight);
                }

                ul {
                    text-align: mapping($footer, playfooterUL, txtAlign);
                    display: mapping($footer, playfooterUL, display);

                    @media #{$tablet-mobile} {
                        margin-bottom: mapping($footer, playfooterUL, tabmarginBottom);
                    }

                    li {
                        display: mapping($footer, playfooterulList, display);
                        font-size: mapping($footer, playfooterulList, fntSize);
                        padding: mapping($footer, playfooterulList, pad);

                        @media #{$desktop} {
                            padding: mapping($footer, playfooterulList, mobPadding);
                            display: mapping($footer, playfooterulList, mobDisplay);
                        }

                        a {
                            color: mapping($footer, playfooterulLink, txtColor);
                            font-family: mapping($footer, playfooterulLink, fntFamily), Sans-serif;
                            font-weight: mapping($footer, playfooterulLink, fntWeight);
                        }
                    }
                }

                span {
                    font-family: mapping($footer, playfooterSpan, fntFamily), Sans-serif;
                    font-weight: mapping($footer, playfooterSpan, fntWeight);
                    font-size: mapping($footer, playfooterSpan, fntSize);
                    padding: mapping($footer, playfooterSpan, pad);
                    display: mapping($footer, playfooterSpan, display);
                    padding-top: mapping($footer, playfooterSpan, paddingTop);

                    @media #{$desktop} {
                        display: mapping($footer, playfooterSpan, tabDisplay);
                        padding-top: mapping($footer, playfooterSpan, tabpaddingTop);
                    }
                }
            }
        }
    }
}

.footer,
.parentFooter,
.richText {
    &.aem-GridColumn {
        padding: 0;
    }
}

// why play footer

@if mapping($layout, main, isWhyPlay)==true {
    .footer {
        margin-top: 0px !important;
    }

}

// why play footer and FisherPrice New
.footer-links-accordion {
    background-color: mapping($footer, footerLinkAccordion, bgColor);
    background-size: mapping($footer, footerLinkAccordion, bgSize);
    padding: mapping($footer, footerLinkAccordion, padding);

    @media #{$desktop} {
        padding-left: 5.139%;
        padding-right: 8.889%;
    }

    text-align: mapping($footer, footerLinkAccordion, textAlign);

    @media #{$tablet-mobile} {
        padding: mapping($footer, footerLinkAccordion, tabPadding);
    }

    h4 {
        margin: mapping($footer, footerLinkAccordionH4, margin);
    }

    .footer-links {
        width: mapping($footer, footerLinks, width);
        display: mapping($footer, footerLinks, display);
        text-align: mapping($footer, footerLinks, textAlign);
        vertical-align: mapping($footer, footerLinks, verticalAlign);
        margin-right: mapping($footer, footerLinks, marginRight);

        @media #{$tablet-mobile} {
            width: mapping($footer, footerLinks, tabWidth);
        }

        h4 {
            font-size: mapping($footer, footerLinksH4, fontSize);
            font-weight: mapping($footer, footerLinksH4, fontWeight);
            text-align: mapping($footer, footerLinksH4, alignLeft);
            padding-bottom: mapping($footer, footerLinksH4, paddBottom);

            @media #{$tablet-mobile} {
                padding-bottom: mapping($footer, footerLinksH4, tabpaddBottom);
            }
            &.expand-in{
                @media #{$tablet-mobile} {
                    border: 0;
                    margin-bottom: 0;
                }
            }
        }

        &.footer-social {
            width: mapping($footer, footerSocial, width);
            vertical-align: mapping($footer, footerSocial, verticalAlign);

            @media #{$desktop} {
                margin-left: mapping($footer, footerSocial, marginLeft);
            }

            @media #{$tablet-mobile} {
                width: mapping($footer, footerSocial, deviceWidth);
            }

            @media #{$tablet-mobile} {
                width: mapping($footer, footerSocial, tabWidth);
                text-align: mapping($footer, footerSocial, tabTextAlign);
            }

            a {

                font-weight: mapping($footer, footerSocialLink, fontWeight);
                color: mapping($footer, footerActionLink, txt1color);
                font-family: mapping($footer, footerActionLink, fontFamily);
                letter-spacing: mapping($footer, footerActionLink, letterSpacing);
                line-height: mapping($footer, footerActionLink, lineHeight);
                font-size: mapping($footer, footerActionLink, fontSize);
            }

            img {
                width: mapping($footer, footerSocialImg, tabWidth);
                height: mapping($footer, footerSocialImg, tabHeight);
                // width:43px;
                // height: 43px;
            }

            ul {
                margin-top: mapping($footer, footerSocialUl, marginTop);
            }

            li {
                float: mapping($footer, footerSocialLi, float);
                margin-right: mapping($footer, footerSocialLi, marginRight);

                @media #{$tablet-mobile} {
                    float: mapping($footer, footerSocialLi, tabFloat);
                    display: mapping($footer, footerSocialLi, tabDisplay);
                    text-align: mapping($footer, footerSocialLi, tabtextAlign);
                }
            }
        }

        &.footer-esrblogo {

            @media #{$desktop} {
                width: auto;
                margin: 0;
                float: right;
            }
        }

    }

    .accordion-action {
        pointer-events: mapping($footer, footerAccordionAction, pointerEvents);

        @media #{$tablet-mobile} {
            cursor: mapping($footer, footerAccordionAction, tabcursor);
            pointer-events: mapping($footer, footerAccordionAction, tabpointerEvents);
            font-size: mapping($footer, footerAccordionAction, tabfontSize);
            border-bottom: mapping($footer, footerAccordionAction, tabborderBottom);
            margin-bottom: mapping($footer, footerAccordionAction, tabmarginBottom);
            padding-bottom: mapping($footer, footerAccordionAction, tabpaddBottom);

            &:after {
                content: mapping($footer, footerActionAfter, content);
                font-family: mapping($footer, footerActionAfter, fontFamily);
                font-weight: mapping($footer, footerActionAfter, fontWeight);
                -webkit-font-smoothing: mapping($footer, footerActionAfter, webkit);
                display: mapping($footer, footerActionAfter, display);
                font-style: mapping($footer, footerActionAfter, fontStyle);
                font-variant: mapping($footer, footerActionAfter, fontVariant);
                text-rendering: mapping($footer, footerActionAfter, textRendering);
                line-height: mapping($footer, footerActionAfter, lineHeight);
                vertical-align: mapping($footer, footerActionAfter, vericalAlign);
                color: mapping($footer, footerActionAfter, color);
                float: mapping($footer, footerActionAfter, float);
                font-size: 35px;
            }

            &.expand-in {
                &:after {
                    content: mapping($footer, footerActionAfter, expandContent);
                }
            }
        }

        a {
            font-size: mapping($footer, footerActionLink, fontSize);
            font-weight: mapping($footer, footerActionLink, fontWeight);
            padding-bottom: mapping($footer, footerActionLink, paddBottom);
            color: mapping($footer, footerActionLink, txt1color);
            font-family: mapping($footer, footerActionLink, fontFamily);
            letter-spacing: mapping($footer, footerActionLink, letterSpacing);
            line-height: mapping($footer, footerActionLink, lineHeight);
        }

    }

    .accordion-container {
        @media #{$large-only} {
            display: mapping($footer, footerAccordionContainer, display);
        }

        @media #{$tablet-mobile} {
            display: mapping($footer, footerAccordionContainer, tabDisplay);
        }

        ul {
            padding: mapping($footer, footerActionLinkul, padding);

            li {
                font-size: mapping($footer, footerActionLinkli, fontSize);
                margin-top: mapping($footer, footerActionLinkli, marginTop);
                a {
                    font-family: mapping($footer, footerActionliLink, fontFamily);
                    font-weight: mapping($footer, footerActionliLink, fontWeight);
                    font-size: mapping($footer, footerActionliLink, fontSize);
                    line-height: mapping($footer, footerActionliLink, lineHeight);
                    letter-spacing: mapping($footer, footerActionliLink, letterSpacing);

                    @media #{$tablet-mobile} {
                        padding: mapping($footer, footerActionliLink, tabPadding);
                    }
                }

                &:first-child {
                    margin-top: mapping($footer, footerActionLinkli, marginTopfirstchild);
                }
            }
        }
    }


}

.footer-links:nth-child(3) {
    .accordion-container {
        ul {
            li:nth-child(3) {
                a {
                    line-height: mapping($footer, footerActionLinkli, lineHeightAlign);
                }
            }
        }
    }
}


.go-back-btn {
    color: black;
    background-color: #652f93;
    padding: 6px;
    border-radius: 4px;
}

.continue-btn {
    color: black;
    background-color: #652f93;
    padding: 6px;
    border-radius: 4px;
} 
.aem-GridColumn{
    &.retailer{
        &.family-brands{
            padding: 0;
        }
    }
}
