#pagename-sustainability,
#pagename-corporate-social-responsibility,
#pagename-corporate-social-responsibility,
#pagename-contact-us,
div[id*='-social-responsibility'] {
  .downloadImageGallery {
    .character-label {
      height: auto !important;

      h1,
      h2 {
        display: block;
        font: $fontMedium 28px "Mattel Founders", sans-serif !important;
        text-align: left;
        letter-spacing: 0.24px;
        margin: 12px 0;
        color: $black;

        &+p {
          margin-top: 10px;
          padding-top: 10px;
        }
      }

      p,
      div>span,
      div>div {
        &:empty {
          display: none;
        }

        font: 300 16px "neue-haas-unica",
        sans-serif !important;
        letter-spacing: 0.14px;
        line-height: 26px;
        padding: 10px;
        margin-top: 0;
        padding-top: 0;
        text-align: left;

        span,
        p,
        a {
          color: inherit;
          font: inherit;

          &[href] {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#pagename-corporate-social-responsibility,
#pagename-corporate-responsibility,
div[id*='-social-responsibility'],
#pagename-about,
#pagename-contact-us {
  .downloadImageGallery {
    li a {
      text-align: center;

      .btn.btn-primary {
        color: #ffffff !important;
        background-color: #ee0024 !important;
        font: 500 18px "Mattel Founders", sans-serif;
        padding: 13px !important;
        min-width: 210px;
        text-align: center;
        border-radius: 25px !important;
        height: 50px;
      }
    }

    .character-label {
      h2 {
        display: block;
        text-align: center;
      }

      p {
        &:empty {
          display: none !important;
        }
      }

      .character-hint {
        &>div {
          font: 300 16px "neue-haas-unica", sans-serif !important;
          letter-spacing: 0.14px;
          line-height: 26px;
          padding: 10px;
          margin-top: 0;
          padding-top: 0;
          color: $black;
        }
      }
    }
  }
}

#pagename-corporate-social-responsibility,
#pagename-corporate-responsibility,
div[id*='-social-responsibility'] {
  .play-container {
    .carousel-slides {
      .banner-copy.middle-left {
        text-align: left;
        padding: 20px !important;
        background-color: #652F93;

        .middle-div {
          width: auto;
          position: relative;
          display: block;
          top: 50% !important;
          text-align: left;

          h2.module-title,
          .module-description h1,
          .module-description h2 {
            // margin-left: 70px;
            // text-align: left;
            // display: block;
            color: $white;

            // font-family: "Mattel Founders";
            // font-weight: 300;
            // line-height: 48px;
            // border-bottom: 3px solid $white;
            // font-size: 48px !important;
            // width: 340px;
            @media #{$tablet-mobile} {
              //margin: 10px 0 10px 20px;
              // line-height: 35px;
              // border-bottom: 3px solid $white;
              // font-size: 35px !important;
              // width: 253px;
              // text-align: left;
            }
          }
        }
      }
    }
  }

  .downloadImageGallery {
    .play-download .gallery-tile ul>li a {
      .character-label {
        h2 {
          margin-bottom: 0;
        }

        .character-hint {
          p {
            &:first-child {
              padding-top: 6px;

              @media #{$desktop} {
                text-align: center;
              }
            }
          }
        }
      }

      span.btn-primary {
        &:hover {
          background-color: rgba(238, 0, 36, .8) !important;
          color: white !important;
        }
      }
    }
  }

  margin-bottom:14px;
}

#pagename-philanthropy {
  .play-container {
    .carousel-slides {
      .banner-copy.middle-left {
        background-color: #12753A;
      }
    }
  }
}
