.play-page-title.no-image {
  @extend .container;
  padding: 25px 15px;
  @media #{$tablet-mobile} {
    text-align: left;
    padding-top: 32px;
  }
  & > div{
    p{
      @media #{$tablet-mobile} {
        padding: 0;
      }
    }
    h1{
      & + p{
        padding-top: 0;
        margin-top: 12px;
      }
    }
  }
}
.play-download.others,
.play-page-title.no-image,
.accordion-component {
  > div,
  .gallery-title,
  .title-block {
    background: inherit;
    h1,
    h2 {
      font: $fontMedium 48px "Mattel Founders", sans-serif;
      letter-spacing: 0.41px;
      margin: 0;
      color: $black;
      & + p {
        margin-top: 10px;
        padding-top: 10px;
      }
      @media #{$tablet-mobile} {
        text-align: left;
      }
    }
    p,
    div > span,
    div > div {
      &:empty {
        display: none;
      }
      font: 300 16px "neue-haas-unica", sans-serif;
      letter-spacing: 0.14px;
      line-height: 26px;
      padding: 10px;
      margin-top: 0;
      padding-top: 0;
      text-align: center;
      @media #{$tablet-mobile} {
        text-align: left;
      }
      span,
      p,
      a {
        color: inherit;
        font: inherit;
        &[href] {
          text-decoration: underline;
        }
      }
      strong {
        font-family: inherit;
        font-size: inherit;
      }
    }
  }
}

#pagename-about {
  .play-container {
    .banner-copy {
      .About_Promo {
        color: #000000;
        font-family: "Mattel Founders", sans-serif;
        font-size: 48px;
        font-weight: 300;
        letter-spacing: 0.41px;
        line-height: 56px;
        border-bottom: 4px solid #000000;
      }
      .middle-div{
        @media #{$tablet-mobile} {
          padding-bottom: 4px;
          h2,h1{
            padding-bottom: 0;
            &::after{
              bottom: -4px;
            }
          }
        }
        h2,h1{
          color: black;
        }
      }
    }
  }
  .play-page-title {
    .OurMission_Title,
    .OurMission_Desc {
      color: #000000;
      font-family: "Mattel Founders", sans-serif;
      font-size: 48px;
      font-weight: 300;
      letter-spacing: 0.41px;
      line-height: 56px;
      text-align: center;
      @media #{$tablet-mobile} {
        text-align: left;
        font-size: 36px;
        font-weight: 300;
        letter-spacing: 0.32px;
        line-height: 39px;
        display: inline-block;
      }
    }
  }
  .imageAndText {
    .image-text-component {
      .image-text-container {
        .title {
          font-family: "Mattel Founders", sans-serif;
          font-size: 48px;
          font-weight: 300;
          letter-spacing: 0.41px;
          line-height: 56px;
          padding: 0 0 5px 0;
          display: inline-block;
          margin-bottom: 15px;
          color: #000000;
          border-bottom: 4px solid #000000;
        }
        .description {
          font: 300 16px "neue-haas-unica", sans-serif;
          letter-spacing: 0.14px;
          line-height: 24px;
          display: inline-block;
          color: #000000;
        }
        .Leadership_Title,
        .ProductSafety_Title {
          color: #ffffff;
          border-bottom: 4px solid #ffffff;
        }
        .Leadership_Desc,
        .ProductSafety_Desc {
          color: #ffffff;
        }
        .text-block{
            h2{
              &.red{
                &:after{
                  color: #EE0024;
                }
              }
            }
        }
      }
    }
    &+.title{
      background-color:#EBEBEB;
      @media #{$desktop} {
        padding-top: 15px;
      }
       .play-page-title.no-image{
         & > div{
          p{
            span{
              strong{
                color: $black;
                font-family: "Mattel Founders", sans-serif;		
                font-weight: 500;	
                @media #{$desktop} {
                  font-size: 28px;
                  letter-spacing: 0.24px;	
                  line-height: 39px;
                }
                @media #{$tablet-mobile} {
                  font-size: 20px;
                  letter-spacing: 0.17px;
                  line-height: 32px;
                }
              }
            }
          }
         } 
       } 
      &+.imageAndText{
        .image-text-component{
          margin-top: 0;
        }
      }
    }
  }
  .title {
    .RuthHandler_Desc {
      color: #000000;
      font-family: "Mattel Founders", sans-serif;
      font-size: 28px;
      font-weight: 500;
      letter-spacing: 0.24px;
      line-height: 39px;
    }
    hr.RuthHandler_Linestart {
      border-top: 2px solid #ee0024;
      &+p{
        @media #{$desktop} {
          padding-top: 13px;
          padding-bottom: 13px;
         }
        & + div{
          color: #000000;	
          font-family: "neue-haas-unica",sans-serif;	
          font-size: 16px;
          letter-spacing: 0.14px;	
          line-height: 21px;
          @media #{$desktop} {
            float: right;
            margin-top: -32px;
            margin-right: 15px;
           }
           @media #{$tablet-mobile} {
            text-align: left !important;
            line-height: 24px;
            margin-top: 8px;
            margin-bottom: 20px;
          }
        }
      }
    }
  }
  .promoCarousel{
    & + .title{
      .play-page-title{
        &.no-image{
          h1{
            @media #{$tablet-mobile} {
              font-size: 36px;	
              letter-spacing: 0.31px;	
              line-height: 38px;
            }
            & + p{
              font: 300 48px "Mattel Founders", sans-serif;
              letter-spacing: 0.41px;
              line-height: 56px;
              color: #000000;
              @media #{$tablet-mobile} {
                font-size: 36px;	
                letter-spacing: 0.31px;	
                line-height: 38px;
                margin-top: 14px;
                padding: 0;
              }
            }
          }
          @media #{$tablet-mobile} {
            padding-top: 20px;
          }
        }
      }  
    }
  }
  .downloadImageGallery{
    .play-tiles-gallery{
      .gallery-tile {
        @media #{$desktop} {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 44px;
        margin-bottom: 44px;
        }
        @media #{$tablet-mobile} {
          margin-top: 20px;
        }
        ul{
          li{
            @media #{$tablet-mobile} {
              padding: 0;
              margin-bottom: 44px;
            }
             &:nth-child(odd){
               a{
                @media #{$desktop} {
                 margin: 0 15px 0 0;
                }
               }
             }
             &:nth-child(even){
               a{
                @media #{$desktop} {
                 margin: 0 0 0 15px;
                }
               }
             }
             .character-label{
              &.tile-content{
                h2{
                  @media #{$desktop} {
                  margin-top: 20px;
                  margin-bottom: 0;
                  }
                  @media #{$tablet-mobile} {
                    margin-top: 13px;
                    text-align: left;
                    margin-bottom: 0;
                  }
                }
              }
             } 
             .btn{
              &.btn-primary{
                margin-top: 28px;
                margin-bottom: 0;
                @media #{$tablet-mobile} {
                  margin-top: 20px;
                  margin-bottom: 0;
                  padding: 13px 37.5px 13px 43.5px !important;
                }
              }
             }
             a{
              @media #{$tablet-mobile} {
                text-align: left;
              }
             }
          }
        }
      }
    }
  }
  .image-text-container{
    &.media-50-50{
      .text-block{
        .btn-view-all{
           @media #{$tablet-mobile} {
             margin-top: 20px;
          }
        }
      } 
    } 
  }
  .cda-banner{
    .play-container{
      .banner-copy{
        .middle-div{
          h2,h1{
              @media #{$tablet-mobile} {
                line-height: 35px;
             }
          }
        } 
      } 
    } 
  }

}
#pagename-philanthropy{
  .downloadImageGallery{
    .play-tiles-gallery{
      .gallery-tile {
        a{
          .gallery-image{
            img{
              @media #{$desktop} {
               opacity: .8 !important;
              }
            }
          } 
          &:hover{
            .gallery-image{
              img{
                @media #{$desktop} {
                 opacity: 1 !important;
                }
              }
            }
          }
        }
      }
    }
  }
}
//global banner spacing for mobile
.promoCarousel{
  .cda-banner{
    .play-container{
      .banner-copy{
        @media #{$tablet-mobile} {
          padding: 31px 10px 36px 20px;
        }
      }
    } 
  } 
}
.image-text-container{
  &.media-50-50{
    .text-block{
      @media #{$tablet-mobile} {
        padding: 32px 20px 44px !important;
      }
      @media #{$desktop} {
        padding-top: 40px !important;
        display: flex !important;
      }
      p{
        @media #{$desktop} {
          margin-top: 0 !important;
        }
      }
      h2{
          padding-bottom: 0;
        & + p{
          @media #{$tablet-mobile} {
            //margin-top: 20px !important;
            margin-top: 12px !important;
          }
          @media #{$desktop} {
            //margin-top: 23px !important;
            margin-top: 15px !important;
          }
        }
        @media #{$desktop} {
         max-width: max-content;
        }
      }
      div:first-of-type{
        & + p{
          @media #{$tablet-mobile} {
             //margin-top: 20px !important;
             margin-top: 12px !important;
          }
          @media #{$desktop} {
            //margin-top: 23px !important;
            margin-top: 15px !important;
          }
        }
      }
      .cta-btn{
        @media #{$tablet-mobile} {
          text-align: left;
        }
      } 
    }
  } 
}
  
#pagename-news{
  .image-text-container{
    &.media-50-50{
      .text-block{
        .btn-view-all{
            background-color: transparent !important;
            color: white !important;
            padding-left: 0 !important;
        }
        h1{
          color: #FFFFFF;
          font-family: "Mattel Founders",sans-serif;
          font-size: 48px;
          font-weight: 300;
          letter-spacing: 0.41px;
          line-height: 56px;
          margin: 0;
          @media #{$tablet-mobile} {
            font-size: 28px;
            letter-spacing: 0.24px;
            line-height: 33px;
          }
        }
      }
      h2{
        & + p{
          margin-top: 15px !important;
        }
        &::after{
          border: 0;
        }
      }
    } 
  }
  &.page-view {
    @media (min-width: 1025px){
      margin-top: 80px !important;
    }
  }
}
.play-page-title{
  &> div {
    p {
      & > a#Home_ViewAll{
        border-radius: 30px;
        &:hover{
          background-color: rgba(238, 0, 36, 0.8);
          transition: background-color .3s;
        }
      }
    }
  }
} 
.characterLandingGrid{
  .play-list{
    & > .column-4{
      @media #{$tablet-mobile} {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 49.7%;
        margin-bottom: 20px;
      }
      @media #{$medium-up} {
        width: 24.7% !important;
      }
      & > section{
        @media #{$tablet-mobile} {
         margin: 0 !important;
         a{
          img{
            margin: 0;
           }
           span{
            padding-left: 0;
            padding-right: 0;
           }
         }
        }
      }
    }
    & > .column-4:nth-child(odd){
      & > section{
        @media #{$tablet-mobile} {
         margin-right: 8px !important;
        }
      }
    }
    & > .column-4:nth-child(even){
      & > section{
        @media #{$tablet-mobile} {
         margin-left: 8px !important;
        }
      }
    }
  }
}
.cda-banner{
  &.enable-carousel{
    .play-container{
    .banner-copy{
       @media #{$tablet-mobile} {
          background-color: #92ccd9;
        }
    }
  } 
 }
} 
.outer-wrapper{
  .inner-wrapper{
    #pagename-director-nomination-policy,
    #pagename-golden-parachute-policy,
    #pagename-policy-on-adoption-of-a-shareholder-rights-plan,
    #pagename-modern-slavery,
    #pagename-terms-and-conditions,
    #pagename-other-legal-information
    {
      .richText{
        & > .rich-text{
          padding-top: 82px;
          @media #{$tablet-mobile} {
            padding-top: 0;
          }
          .static_div_block{
            padding-top: 0;
            & > h1:first-of-type{
              margin-top: 32px;
              @media #{$tablet-mobile} {
                margin-top: 20px;
              }
            }
          }
        }
      }
      @media #{$desktop} {
        &::after {
          content: " ";
          height: 1px;
          width: 100%;
          background: #979797;
          position: fixed;
          top: 80px;
          left: 0;
      }
      }
    }
  }
}
.outer-wrapper{
  .inner-wrapper{
    h1{
      font-weight: 500;
      font-family: "Mattel Founders",sans-serif;
    }
  }
}
.article-component-outerWrapper{
  .content-wrapper .content-inner-wrapper{
    .right-wrapper {
      @media #{$medium-up} {
        padding: 0 0 0 8.5em;
      }
    }
  }
}
.at-style-responsive{
  .at-share-btn-elements{
    a{
      &.at-share-btn{
        padding: 0 !important;
        .at-icon-wrapper,.at-icon{
          width: 50px !important;
          height: 50px !important;
        }
      }
    }
  }
}