<sly data-sly-test="${wcmmode.edit}">${'Left Promo' @i18n}</sly>

<div class="nav-promo-banner ${properties.textSectionAlignment} hidden-xs" data-banner-detail="${properties.bannerDetail}" data-banner-subdetail="${properties.bannerSubDetail}">
    <a href="${properties.hyperlink}" target="_blank">
    	<sly data-sly-test="${properties.imageTextReferenceMainImage}">
        	<img src="${properties.imageTextReferenceMainImage}" alt="${properties.imageTextmainImageAlt}">
        </sly>
        ${properties.leftpromotext @context='html'}
    </a>     
</div>