/* 
DecoturaICG : decto-r
*/

[class^='decto-'],
[class*=' decto-'] {
    font-family: "DecoturaICG", sans-serif;
    @include fontVariations('decto-', r);
}

/* 
Sunflower Light : sunflower-l
Sunflower Medium : sunflower-m
Sunflower Bold : sunflower-b
*/

[class^='sunflower-'],
[class*=' sunflower-'] {
    font-family: "Sunflower", sans-serif;
    @include fontVariations('sunflower-', l m b);
}