<div class="grid-module grid-social-share">
    <div class="container">  

    <div>
        <ul class="col-2">
             <li class="list">

           <div data-sly-resource="${'columnOne' @ resourceType='/apps/mattel/ecomm/ag/components/content/socialShareTile'}"></div>

           </li>

            <li class="list">

           <div data-sly-resource="${'columnTwo' @ resourceType='/apps/mattel/ecomm/ag/components/content/socialShareTile'}"></div>

           </li>
            </ul>
        </div>
         </div>
    </div>