$imagePath: '../resources/img/';
$color-dark-grey: #333333;
$color-grey: #cacaca;
$color-medium-grey: #666666;
$color-light-grey: #f1f1f1;
$color-extra-light-grey : #f7f7f7;
$color-extra-dark-grey : #949494;
$color-light-fade-grey: #CCCCCC;
$orange: #DD2403;
$green2: #33812C;
$venetianRed: #BF0043;
$light-sky-blue: #E4F2FF;
$errorRed: #E62605;
$hoverColor: #9ECAED;
$gtErrorRed: #DC2504;
$disable-grey: #949494;
$lightGrey1: #5c5c5c;
$lightGrey2: #404040;
$lightGrey3: #444444;
$lightGrey4: #737373;
$lightGrey5: #555A6A;
$lightGrey6: #5c5c5c;
$lightGrey7: #A4A4A4;
$lightGrey8: #777777;
$lightGrey9: #7F7F7F;
$lightGrey10: #666666;
$orderDetails:#514F50;
$pinkFooter: #FFEFF8;
$green3: #35852E;
//Brand color codes
$theme-color: $light-pink;
$primary-color: $color-medium-grey;
$secondary-color:  $color-medium-grey;
$background-color: $white;
$theme-btn-border-color: #B2053F;


// color definitions
$headingColor: $color-dark-grey;
$headerHoverColor: $color-extra-dark-grey;
$descriptionColor: $secondary-color;
$anchorColor: $theme-color;
$buttonBackground: $theme-color;
$buttonText: $background-color;
$borderColor: $color-grey;
$errorColor: $errorRed;
$SuccessColor: $green2;
$btndisableColor: $color-grey;
$availabilityColor: $green3;

// Media Queries

$screen-tab-min: "(min-width: 641px)";
$xlarge-between: "(min-width: 1400px) and (max-width: 1600px)"; 
