.backToTop {
  .play-backtotop {
    width: auto;
    height: auto;
    background: none;
    right: 25px;
    font: 400 30px "Love Ya Like A Sister", cursive;
    color: $black;
    text-transform: none;
    opacity: 0.5;
    @media #{$small-down} {
      right: 2%;
      bottom: 10px;
      font-size: 0px;
    }
    &:before {
      @include font-awesome();
      display: block;
      content: "\f0aa";
      border: none;
      font-size: 40px;
      width: auto;
    }
  }
}
