$errorpagecomponent:(
  main: (
    bgImage: $productsbg 0 0 repeat,
    bgSize:cover,
    topPad: em(70),
    tabPortraitTopPad: 0,
    mobTopPad: em(50)
  ),
  imgBlock: (
    pad: 0 em(50) 0 0,
    tabPortraitPad: 0 em(100) 0 0,
    mobPad: 0 em(40) 0 0
  ),
  txtBlock: (
    pad: em(20) em(40),
    tabPortraitPad: em(40) em(30),
    mobPad: 0 em(20) em(40)
  ),
  txtBlockH2: (
    fntColor: $enchanpurple,
    fntSize: em(45),
    margin: 0
  ),
  txtBlockP: (
    fntColor: $enchanpurple,
    fntFamily: ('ArialRoundedMTBold',Arial),
    isEnchantTxt: true
  ),
  errorCTA: (
    marginTop: em(20),
    sameasPrimaryBtn: false,
    sameasSecondaryBtn: true,
    isArrowWithBtn: false,
    isEnchantCTABtn: true,
    padding: em(15) em(35) em(15) em(35),
    display: 0
  ),
  errorCTAAnchor: (
    display: 0,
    fntColor: 0
  ),
  fullWidth: (
    pad: 0,
    topPad: 0
  )
);
