@import url("//hello.myfonts.net/count/270017");

/*
  Agency Fonts Usage
-------------------
 Light - 300
 Regular - 400
 Medium - 500
 Semi bold - 600
 Bold - 700
*/
//$fontPath : "../resources/fonts"; // AEM font path
$fontPath : "../resources/fonts";

/* Webfont: ArialMT */
@font-face {
    font-family: 'ArialMT';
    src: url('#{$fontPath}/ArialMT.eot'); /* IE9 Compat Modes */
    src: url('#{$fontPath}/ArialMT.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$fontPath}/ArialMT.woff') format('woff'), /* Modern Browsers */
         url('#{$fontPath}/ArialMT.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$fontPath}/ArialMT.svg#ArialMT') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: $fontRegular;
    text-rendering: optimizeLegibility;
}

/* Webfont: ArialRoundedMTBold */
@font-face {
    font-family: 'ArialRoundedMTBold';
    src: url('#{$fontPath}/ArialRoundedMTBold.eot'); /* IE9 Compat Modes */
    src: url('#{$fontPath}/ArialRoundedMTBold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$fontPath}/ArialRoundedMTBold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('#{$fontPath}/ArialRoundedMTBold.svg#ArialRoundedMTBold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: $fontRegular;
    text-rendering: optimizeLegibility;
}
/* Webfont: YellowBalloon */
@font-face {font-family: 'YellowBalloon';src: url('#{$fontPath}/yellowballoon/270017_0_0.eot');src: url('#{$fontPath}/yellowballoon/270017_0_0.eot?#iefix') format('embedded-opentype'),url('#{$fontPath}/yellowballoon/270017_0_0.woff') format('woff'),url('#{$fontPath}/yellowballoon/270017_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'YellowBalloon-Italic';src: url('#{$fontPath}/yellowballoon/270017_1_0.eot');src: url('#{$fontPath}/yellowballoon/270017_1_0.eot?#iefix') format('embedded-opentype'),url('#{$fontPath}/yellowballoon/270017_1_0.woff') format('woff'),url('#{$fontPath}/yellowballoon/270017_1_0.ttf') format('truetype');}


/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ff-duper-web-pro:
 *   - http://typekit.com/eulas/00000000000000003b9b0537
 *   - http://typekit.com/eulas/00000000000000003b9b0536
 *   - http://typekit.com/eulas/00000000000000003b9b0538
 *   - http://typekit.com/eulas/00000000000000003b9b0535
 *
 * � 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2019-12-11 16:55:06 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=yzg8skv&ht=tk&f=4593.4748.4960.4961&a=3330798&app=typekit&e=css");

@font-face {
font-family:"ff-duper-web-pro";
src:url("https://use.typekit.net/af/e89ad6/00000000000000003b9b0537/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/e89ad6/00000000000000003b9b0537/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/e89ad6/00000000000000003b9b0537/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"ff-duper-web-pro";
src:url("https://use.typekit.net/af/5f567c/00000000000000003b9b0536/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/5f567c/00000000000000003b9b0536/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/5f567c/00000000000000003b9b0536/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"ff-duper-web-pro";
src:url("https://use.typekit.net/af/a79abb/00000000000000003b9b0538/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/a79abb/00000000000000003b9b0538/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/a79abb/00000000000000003b9b0538/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;
}

@font-face {
font-family:"ff-duper-web-pro";
src:url("https://use.typekit.net/af/3e23d0/00000000000000003b9b0535/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3e23d0/00000000000000003b9b0535/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3e23d0/00000000000000003b9b0535/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

.tk-ff-duper-web-pro { font-family: "ff-duper-web-pro",sans-serif; }