
$productLanding:(
	main:(
		
        bgnd: null,
		isEnchantProductPage:true,
		pagebgnd: $productsbg $enchanblue no-repeat top left,
		
		
		// fontFamily: "Arial-Rounded"
	),
	heading : (
        bgColor: transparent,
	),
    description : (
        bgColor: transparent,
        fontSize: em(20),
        color : #dcdcdc,
        fontFamily: "Sunflower",
		fontWeight: $fontMedium,
		align: left,
		padding: 0,
	    mobilepadding:0
	),
	tileListImg:(
		pad: 0
	),
	tileListLabel:(
		disp: block,
		bdrRadius:0,
		margin:0,
		txtColor:$enchangrey,
		txtAlign:left,
		fntFamily: "Arial",
		fntWt: $fontBold
	),
	playProductsHp:(
		mainBgnd:$productsbg,
		bgndColor:#83c9ed,
		bgndRepeat:no-repeat,
        bgndSize:auto,
		bgndPos: top,
	),
);