$videosLanding:(
	main:(
		isViewAllHide: true,
		isRoundedPlayIcon: true,
		playerBarBgnd: $white,
		playerBarHeight: 0, 
		bgColor: transparent
	),
	homePage:(
		pageBgnd: '#{$brandImgPath}/video_bgnd.jpg',
		isBgnd: false,
		playerPadding: 0,
		bgnd: url('#{$brandImgPath}/video-bg.jpg') center center repeat,
		padding: 0,
		backgroundSize: cover,
		isPageBgnd: true,	
		vidGalPad:0,	
	),
	videoConatiner:(
		pad:0 3.375rem 3.375rem,
		margin: 0
	),
	videosDetail: (
		isclearDiv: true,
		thumbHeadingColor: $enchanpurple,
		thumbHeadingColorDetail: $white,
		pageBgnd: $enchanlightblue,
		isAfterBgnd: true,
		isAfterMgn: 0 0 20px 0,
		//isAfterBgndUrl: url(#{$brandImgPath}/curve_blue_bar.png),
		isAfterBgndHeight: 156px,
		isAfterBgndSize: cover,
		isAfterBgndBtm: -15px,
		isAfterBgndLft: 0,
		isAfterBgndIndx: -1,
		paddingMobBtm: 50px,
		zIndex: 1
	),
	categoryFilter:(
		sameAsThemeBtn3: true,
		sliderNavLoadWidth: 100%
	),
	videoTitle: (
		bgColor: transparent,
		//pgBgnd: $othercharbg repeat,
	),
	videosGallery: (
		//bgColor: $othercharbg repeat,
		pad:35px 39px 55px,
		tabpad:0 0 55px,

	),
	videosPage:(
		headingColor:$white,
		txtAlgin:center,
		galleryBgnd: $othercharbg repeat,
		pad:20px,
		gallerylistpad:15px,
		gallerylistpadMob:.71429em 1.42857em!important,
		pgBgnd: $productsbg no-repeat,
		pgBgndMob: $productsbgmobile no-repeat,
		pgBgndsize:cover,
		bgndPos: bottom
	),
	viewAll:(
		disp: none
	),
	verticalPlaylist:(
		headingSize: em(24),
		headingSpacing: 0,
		scrollBarColor:$enchanblue,
		scrollThumbColor: $enchanpurple,
		tileMargin: 0 20px 0 0,
		playIcon: true,
		color: $enchanpurple,
		txtAlign:left
	),
	videoVerticalPlaylist: (
		bgColor: $white
	),
	videoVerticalPlaylistGallery: (
		bgColor: $white,
		color: #535353,
		fontFamily: ('ArialRoundedMTBold',Arial),
		fontSize: em(15),
		txtCase: none,
		lineHeight: normal

	),
	videoScroll: (
		bgColor: $yellow
	),
	playIcon: (
		isRoundedCircle: true,
        fontSize:40px,
		playerIconFntSize: 90px,
		tabFontSize: 30px,
		mobFontSize: 30px,
		isTop: true,
        bgnd:transparent,
		bgndImg:url('#{$brandImgPath}/play icon_S.png'),
		bgndSize:100%,
		bgndRepeat:no-repeat,
		color:transparent,
		topVal: calc(50% - 30px),
		opacityAfter: 1,
		opacityBefore: .7,
		beforeBgColor:transparent,
		content:"",
		pad:0.6em,
		contentFntFamily:'Font Awesome',
		pos:absolute,
		posTop:-10px,
		posLeft:50%,
		bdrRadius:0
    ),
	overlayPlaying: (
		bgColor: transparent,
	),
	arrows:(
		color:null,
		mobColor: $enchangreen,
		fontSize: null,
		background: null,
		isRoundBgnd: false,
		leftPos:20px,
		rightPos: 20px,
		opacity:1,
		sameAsCDAArrow: true,
		isHideMobile: true,
		bgColor: transparent,
		isArrowAfter: true,
		leftBefore:"\f359",
		RightBefore:"\f35a"
	),
	owlNavbtn:(
		posTop:-4px
	),
	owlNavColor: (
		color:$enchangreen
	),
	nowPlaying: (
		align: center,
		textTransform: none,
		padding: 4px 7px,
		margin: 0 auto,
		fontSize: em(16),
		letterSpacing: 0,
		backgroundImage: none,
		backgroundColor: $enchanpurple,
		backgroundColorDetail: #F9475B,
		color: $white,
		borderRadius:5px,
		fontFamily: ('ArialRoundedMTBold',Arial),
		fontWeight: $fontMedium
	),
	heading : (
		isDefaultHeadingFont: true,
        bgColor: transparent,
		color : $enchanpurple,
        fontSize: null,
        fontFamily: ('ArialRoundedMTBold',Arial),
		fontWeight: null,
		align: center,
		margin:0,
		padding: 0,
		transform: capitalize //none
	),
    description : (
		isDefaultDesFont: true,
        bgColor: transparent,
        fontSize: em(20),
        color : $enchanred,
        fontFamily: ('ArialRoundedMTBold',Arial),
		fontWeight: null,
		align: center,
		padding: 0,
		margin:em(5,20) 0 0,
	    mobilepadding:0
	),
	autoPlay: (
		bgColor: $enchanblue
	),
	autoPlayCheckBox: (
		bgColor: $enchanpurple,
		isDefaultHeadingFont: true,
		isAbsoluteElem: true
	),
	autoPlayLabel: (
		color: $enchanpurple,
		isDefaultHeadingFont: true,
		fontFamily: ('ArialRoundedMTBold',Arial),
		padding: 0,
		fontSize: 12px,
		leftVal: 8px,
		rightVal: 8px,
		topVal: 3px,
		txtFontSize: em(20),
		transform: none,
		lineHeight: normal,
		isEnchantVideoLbl: true
	),
	autoPlayOnOffButton: (
		bgColor: $litviolet,
		activeBgnd: $white
	),
	autoPlayOnOffTxt: (
		color: $white,
		padding:5px 0 0 0,
	),
	ooActionIcon: (
		playIcon: true
	),
	ooPlayIcon: (
		content:"",
	),
	player:(
		paddingBottom:null, //calc(56.25% - 8px),
		border:null, //7px solid $violerRed,
		borderRadius: null,//4px
	),
	playerBar:(
		borderRadius: null, //20px,
		margin: null, //em(20) 0 0
	),
	playerBarHeading:(
		isDefaultHeadingFont: false,
		color : #CD25B0,
        fontSize: em(24),
		letterSpacing:normal,
        fontFamily: ('ArialRoundedMTBold',Arial),
		fontWeight: $fontBold,
		align: left,
		margin:0 0 0 0,
		padding: 0,
		transform:none,
		mobFontSize: em(22)
	),
	playerBarDescription:(
		isDefaultDesFont: true,
	  	fontSize: em(15),
        color : $enchanpurple,
		fontWeight: $fontLight,
		align: left,
		padding: 0,
	    mobilepadding:0,
		fontFamily: ('ArialRoundedMTBold',Arial),
	),
	navSlidesLink: (
		bgColor: $white,
		border: none,
		color: $black,
		fontFamily: ('ArialRoundedMTBold',Arial),
		transform: none,
		zIndex: 0,
		zIndexmob:2,
		fontSize: em(28),
		mobFontSize: em(22),
		bgndPos: top
	),
	navSlidesHover: (
		color: $black,
		isActiveAfter: true
	),
	filterArrows: (
		isExtendArrow: true
	),
    thumbnailHeading: (
		bgColor: transparent,
		color : $enchanpurple,
        fontSize: em(21),
        fontFamily: ('ArialRoundedMTBold',Arial),
		fontWeight: null,
		align: left,
		padding: 10px 1rem .5rem, //1rem 1em .5rem 3.375rem,
		tabPadding: 0 1em 0 1.42857em,
		mobPadding: 0 em(20,40),
		margin:0,
		transform: none,
		mobFontSize: em(36)
	),
	galleryTile: (
		tileMargin:em(40) 0 0 0,
		mobTileMargin:em(20) 0 0 0,
		tilePadding: 0 em(40),
		tabTilePadding:0 em(20), 
		mobTilePadding: 0 em(10), 
		tileInnerPadding:0
	),
	galleryTileList:(
		listPadding: 0 0 em(25) 0,
	),
	owlNavButton: (
		owlNav: true
	),
	listOverlay: (
		isOverlayImgAlone: false,
		backgroundColor: rgba($bay-blue, .7)
	),
	
	listTitle : (
		bgColor: $white,
		color : $enchangrey,
        fontSize: em(16),
        fontFamily: ('ArialRoundedMTBold',Arial),
		fontWeight: $fontBold,
		align: left,
		margin: null, //em(15,28) 0 0 ,
		padding: em(15,28) em(20,28),
		borderRadius: null, //4px
		transform:none,		
		mobFontSize: 1.2em,
		lineHeight: normal,
		letterSpacing:normal
	),
	showMore: (
		margin:0,
		padding: null
	),
	videoCategoryFilter:(
		wrapPad:2.5em 2.5em 0 2.5em,
		sliderPad:0 2.5em
	)
);
